Repository apache/incubator-kie-tools, pull requests merged in 2022-11, with the labels that each got.

#1304 KOGITO-7448: Manage SWF dependencies, avoiding circular dependencies
  packages/serverless-logic-sandbox/src/editor/Deploy/DeployDropdownItems.tsx
  packages/serverless-logic-sandbox/src/editor/KieSandboxExtendedServices/KieSandboxExtendedServicesButtons.tsx
  packages/serverless-logic-sandbox/src/editor/KieSandboxExtendedServices/KieSandboxExtendedServicesDropdownGroup.tsx
  packages/serverless-logic-sandbox/src/editor/api/SwfServiceCatalogStore.ts
  packages/serverless-logic-sandbox/src/i18n/AppI18n.ts
  packages/serverless-logic-sandbox/src/i18n/locales/en.ts
  packages/serverless-logic-sandbox/src/virtualServiceRegistry/VirtualServiceRegistryContext.tsx
  packages/serverless-logic-sandbox/src/virtualServiceRegistry/VirtualServiceRegistryContextProvider.tsx
  packages/serverless-logic-sandbox/src/virtualServiceRegistry/VirtualServiceRegistryPathConverter.ts
  packages/serverless-logic-sandbox/src/virtualServiceRegistry/hooks/useUpdateVirtualServiceRegistry.tsx
  packages/serverless-logic-sandbox/src/virtualServiceRegistry/hooks/useVirtualServiceRegistryDependencies.tsx
  packages/serverless-logic-sandbox/src/virtualServiceRegistry/models/VirtualServiceRegistryFunction.ts
Labels: Serverless Workflow

#1309 Replace deprecated `set-output` command on GitHub Actions
  .github/actions/checkout-pr/action.yml
  .github/actions/deploy-openshift/action.yml
  .github/workflows/ci_build.yml
  .github/workflows/ci_check_code_formatting.yml
  .github/workflows/ci_check_dependencies_consistency.yaml
  .github/workflows/daily_dev_publish.yml
  .github/workflows/release_build.yml
  .github/workflows/release_dry_run.yml
  .github/workflows/release_publish.yml
  .github/workflows/staging_dry_run.yml
  .github/workflows/staging_publish.yml
Labels: Foundation

#1306 Update selenium-webdriver to the latest version 4.5.0
  packages/chrome-extension-pack-kogito-kie-editors/package.json
  packages/vscode-extension-serverless-workflow-editor/package.json
  packages/vscode-extension-yard-editor/package.json
  pnpm-lock.yaml
Labels: waiting-for-review

#1307 KOGITO-7898: Upgrade KIE Sandbox Runtime
  packages/dmn-dev-sandbox-quarkus/pom.xml
  packages/dmn-dev-sandbox-quarkus/src/test/resources/schema/loan.json
  packages/dmn-dev-sandbox-quarkus/src/test/resources/schema/traffic.json
  packages/extended-services/package.json
  packages/root-env/env/index.js
  pnpm-lock.yaml
Labels: DMN/SceSim, Foundation, dependencies

#1261 KOGITO-7954 : SWF Editor - Some basic automated integration tests
  packages/serverless-workflow-diagram-editor/lienzo-core/src/main/java/com/ait/lienzo/client/core/types/JsCanvas.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/java/org/kie/workbench/common/stunner/sw/client/selenium/JsCanvasHelper.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/java/org/kie/workbench/common/stunner/sw/client/selenium/SWAPITests.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/java/org/kie/workbench/common/stunner/sw/client/selenium/SWEditorSeleniumBase.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/java/org/kie/workbench/common/stunner/sw/client/selenium/SWEditorSeleniumIT.java
Labels: Serverless Workflow

#1315 KOGITO-8166: Enable major browsers on Serverless Logic Web Tools
  packages/serverless-logic-sandbox/package.json
  packages/serverless-logic-sandbox/src/__tests__/workspace/startupBrockers/SupportedBrowsers.test.ts
  packages/serverless-logic-sandbox/src/workspace/startupBlockers/IncompatibleBrowser.tsx
  packages/serverless-logic-sandbox/src/workspace/startupBlockers/SupportedBrowsers.ts
  pnpm-lock.yaml
Labels: Serverless Workflow

#1316 Bump `mikepenz/action-junit-report` and `pnpm/action-setup` to remove deprecated warnings
  .github/actions/setup-env/action.yml
  .github/workflows/ci_build.yml
Labels: Foundation

#1317 NO ISSUE: Check for workflow file contents before searching for vsr functions
  packages/serverless-logic-sandbox/src/virtualServiceRegistry/hooks/useVirtualServiceRegistryDependencies.tsx
  packages/serverless-logic-sandbox/src/virtualServiceRegistry/models/VirtualServiceRegistryFunction.ts
Labels: Serverless Workflow

#1321 KOGITO-6634: Starting KIE Tools Extended Services for the first time doesn't render the DMN Runner Form or Table
  packages/extended-services/go.mod
  packages/extended-services/go.sum
  packages/extended-services/pkg/config/config.go
  packages/extended-services/pkg/config/config.yaml
  packages/extended-services/pkg/kogito/server.go
  packages/online-editor/package.json
  packages/online-editor/src/dmnRunnerInputs/DmnRunnerInputsDispatchContextProvider.tsx
  packages/online-editor/src/editor/DmnRunner/DmnRunnerContext.tsx
  packages/online-editor/src/editor/DmnRunner/DmnRunnerProvider.tsx
  packages/online-editor/src/kieSandboxExtendedServices/KieSandboxExtendedServicesBridge.tsx
  packages/online-editor/src/kieSandboxExtendedServices/KieSandboxExtendedServicesContextProvider.tsx
  pnpm-lock.yaml
  repo/graph.dot
  repo/graph.json
Labels: DMN/SceSim, Foundation

#1329 KOGITO-8227: [SWF Editor] Add comma automatically after completions
  packages/serverless-workflow-language-service/src/channel/SwfJsonLanguageService.ts
  packages/serverless-workflow-language-service/src/channel/SwfLanguageService.ts
  packages/serverless-workflow-language-service/src/channel/SwfLanguageServiceCodeCompletion.ts
  packages/serverless-workflow-language-service/src/channel/types.ts
  packages/serverless-workflow-language-service/tests/SwfJsonLanguageService.test.ts
  packages/serverless-workflow-language-service/tests/__snapshots__/SwfJsonLanguageService.test.ts.snap
Labels: Serverless Workflow

#1300 KOGITO-7963: Configure integration tests of cypress packages to run tests twice in case of fails
  packages/boxed-expression-component/it-tests/cypress.config.ts
  packages/kie-editors-standalone/it-tests/cypress.config.ts
  packages/online-editor/it-tests/cypress.config.ts
  packages/online-editor/package.json
  packages/pmml-editor/it-tests/cypress.config.ts
  packages/serverless-logic-sandbox/it-tests/cypress.config.ts
  pnpm-lock.yaml
  repo/graph.dot
  repo/graph.json
Labels: Foundation

#1334 NO ISSUE: Remove outdated references to outdated package cors-proxy-image
  packages/online-editor/package.json
  pnpm-lock.yaml
Labels: Foundation

#1336 NO ISSUE: Improve Extended Services code
  .github/workflows/daily_dev_publish.yml
  .github/workflows/release_build.yml
  .github/workflows/staging_build.yml
  packages/extended-services/Makefile
  packages/extended-services/README.md
  packages/extended-services/env/index.js
  packages/extended-services/go.mod
  packages/extended-services/go.sum
  packages/extended-services/install.js
  packages/extended-services/main.go
  packages/extended-services/package.json
  packages/extended-services/pkg/config/config.go
  packages/extended-services/pkg/config/config.yaml
  packages/extended-services/pkg/kogito/server.go
  packages/extended-services/pkg/kogito/systray.go
  packages/extended-services/pkg/metadata/config.go
  packages/extended-services/pkg/metadata/constants.go
  packages/extended-services/pkg/ping.go
  packages/extended-services/pkg/server.go
  packages/extended-services/pkg/systray.go
  packages/extended-services/pkg/systray_headless.go
  packages/extended-services/pkg/utils/utils.go
  packages/online-editor/env/index.js
  packages/online-editor/package.json
  packages/online-editor/src/kieSandboxExtendedServices/KieSandboxExtendedServicesBridge.tsx
  packages/online-editor/src/kieSandboxExtendedServices/KieSandboxExtendedServicesContextProvider.tsx
  packages/online-editor/src/settings/SettingsContext.tsx
  packages/serverless-logic-sandbox/src/editor/api/SwfServiceCatalogStore.ts
  packages/serverless-logic-sandbox/src/settings/SettingsContext.tsx
Labels: Foundation

#1339 Fix ping response from Extended Services
  packages/serverless-logic-sandbox/src/kieSandboxExtendedServices/KieSandboxExtendedServicesBridge.tsx
  packages/serverless-logic-sandbox/src/kieSandboxExtendedServices/KieSandboxExtendedServicesContextProvider.tsx
Labels: Serverless Workflow

#1323 DROOLS-3703: Disable Enumeration and Range constraint for Any DataType
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/types/listview/constraint/DataTypeConstraint.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/types/listview/constraint/DataTypeConstraintModal.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/types/listview/constraint/DataTypeConstraintModalView.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/test/java/org/kie/workbench/common/dmn/client/editors/types/listview/constraint/DataTypeConstraintModalTest.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/test/java/org/kie/workbench/common/dmn/client/editors/types/listview/constraint/DataTypeConstraintModalViewTest.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/test/java/org/kie/workbench/common/dmn/client/editors/types/listview/constraint/DataTypeConstraintTest.java
Labels: DMN/SceSim

#1340 Bump `actions/setup-java` and `actions/cache` to remove deprecated warnings
  .github/actions/setup-env/action.yml
  .github/workflows/ci_sonar_analysis_stunner_editors.yml
  .github/workflows/daily_dev_publish.yml
  .github/workflows/publish_jitexecutor_native.yml
  .github/workflows/release_build.yml
  .github/workflows/staging_build.yml
Labels: Foundation

#1343 KOGITO-8231: Incorporate Kogito unified builder images into Serverless Logic Web Tools
  .github/workflows/daily_dev_publish.yml
  .github/workflows/release_build.yml
  .github/workflows/release_dry_run.yml
  .github/workflows/release_publish.yml
  .github/workflows/staging_build.yml
  packages/openjdk11-mvn-image/env/index.js
  packages/openjdk11-mvn-image/package.json
  packages/openjdk11-mvn-image/pom.xml
  packages/serverless-logic-sandbox-base-image/Containerfile
  packages/serverless-logic-sandbox-base-image/package.json
  packages/serverless-logic-sandbox-base-image/pom.xml
  packages/serverless-logic-sandbox/env/index.js
  packages/serverless-logic-sandbox/package.json
  packages/serverless-logic-sandbox/src/openshift/deploy/BaseContainerImages.ts
  packages/serverless-logic-sandbox/src/openshift/deploy/strategies/KogitoProjectDeployment.ts
  packages/serverless-logic-sandbox/src/openshift/deploy/strategies/KogitoSwfModelDeployment.ts
  packages/serverless-logic-sandbox/src/project/index.ts
  packages/serverless-logic-sandbox/webpack.config.js
  packages/serverless-logic-web-tools-base-builder-image-env/env/index.js
  packages/serverless-logic-web-tools-base-builder-image-env/package.json
  packages/serverless-logic-web-tools-base-builder-image/Containerfile
  packages/serverless-logic-web-tools-base-builder-image/Dockerfile
  packages/serverless-logic-web-tools-base-builder-image/env/index.js
  packages/serverless-logic-web-tools-base-builder-image/package.json
  packages/serverless-logic-web-tools-swf-builder-image-env/env/index.js
  packages/serverless-logic-web-tools-swf-builder-image-env/package.json
  packages/serverless-logic-web-tools-swf-builder-image/Containerfile
  packages/serverless-logic-web-tools-swf-builder-image/Dockerfile
  packages/serverless-logic-web-tools-swf-builder-image/env/index.js
  packages/serverless-logic-web-tools-swf-builder-image/package.json
  packages/serverless-logic-web-tools-swf-deployment-webapp/LICENSE
  packages/serverless-logic-web-tools-swf-deployment-webapp/__mocks__/styleMock.js
  packages/serverless-logic-web-tools-swf-deployment-webapp/env/index.js
  packages/serverless-logic-web-tools-swf-deployment-webapp/jest.config.js
  packages/serverless-logic-web-tools-swf-deployment-webapp/package.json
  packages/serverless-logic-web-tools-swf-deployment-webapp/src/App.tsx
  packages/serverless-logic-web-tools-swf-deployment-webapp/src/__tests__/jest.setup.ts
  packages/serverless-logic-web-tools-swf-deployment-webapp/src/context/AppContext.tsx
  packages/serverless-logic-web-tools-swf-deployment-webapp/src/context/AppContextProvider.tsx
  packages/serverless-logic-web-tools-swf-deployment-webapp/src/i18n/AppI18n.ts
  packages/serverless-logic-web-tools-swf-deployment-webapp/src/i18n/index.ts
  packages/serverless-logic-web-tools-swf-deployment-webapp/src/i18n/locales/en.ts
  packages/serverless-logic-web-tools-swf-deployment-webapp/src/i18n/locales/index.ts
  packages/serverless-logic-web-tools-swf-deployment-webapp/src/i18n/setup.ts
  packages/serverless-logic-web-tools-swf-deployment-webapp/src/index.tsx
  packages/serverless-logic-web-tools-swf-deployment-webapp/src/pages/BasePage.tsx
  packages/serverless-logic-web-tools-swf-deployment-webapp/src/pages/HomePage.tsx
  packages/serverless-logic-web-tools-swf-deployment-webapp/src/pages/NoMatchPage.tsx
  packages/serverless-logic-web-tools-swf-deployment-webapp/src/routes/index.ts
  packages/serverless-logic-web-tools-swf-deployment-webapp/static/favicon.svg
  packages/serverless-logic-web-tools-swf-deployment-webapp/static/index.html
  packages/serverless-logic-web-tools-swf-deployment-webapp/static/resources/style.css
  packages/serverless-logic-web-tools-swf-deployment-webapp/tsconfig.json
  packages/serverless-logic-web-tools-swf-deployment-webapp/webpack.config.js
  pnpm-lock.yaml
  repo/graph.dot
  repo/graph.json
Labels: Serverless Workflow

#1342 kie-issues#28: DMN Editor - Three undos are required to remove a newly added node
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/canvas/controls/actions/DRGElementTextPropertyProviderImpl.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/canvas/controls/actions/TextAnnotationTextPropertyProviderImpl.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/test/java/org/kie/workbench/common/dmn/client/canvas/controls/actions/DRGElementTextPropertyProviderImplTest.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/test/java/org/kie/workbench/common/dmn/client/canvas/controls/actions/TextAnnotationTextPropertyProviderImplTest.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/main/java/org/kie/workbench/common/stunner/core/client/canvas/controls/actions/TextPropertyProviderFactoryImpl.java
Labels: DMN/SceSim, java

#1345 KOGITO-8280: preserve JSON properties that aren't defined as target for marshalling
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/marshall/Marshaller.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/marshall/MarshallerUtils.java
Labels: Serverless Workflow

#1346 Embed locally-built native image JIT Executor binary on Extended Services
  packages/extended-services/Makefile
  packages/extended-services/env/index.js
  packages/extended-services/package.json
Labels: Foundation

#1348 kie-issues#38: Download .HTML file Button in Documentation doesn't work
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/documentation/DMNDocumentationView.html
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/documentation/DMNDocumentationView.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/documentation/DMNDocumentationView.less
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/documentation/common/DMNDocumentation.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/documentation/common/DMNDocumentationFactory.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/documentation/common/HTMLDownloadHelper.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/documentation/template/dmn-documentation-template.html
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/test/java/org/kie/workbench/common/dmn/client/editors/documentation/DMNDocumentationViewTest.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/test/java/org/kie/workbench/common/dmn/client/editors/documentation/common/DMNDocumentationFactoryTest.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-common/src/main/java/org/kie/workbench/common/dmn/webapp/kogito/common/client/editors/documentation/common/DMNDocumentationFactory.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-common/src/main/resources/META-INF/ErraiApp.properties
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-common/src/test/java/org/kie/workbench/common/dmn/webapp/kogito/common/client/editors/documentation/common/DMNDocumentationFactoryTest.java
Labels: DMN/SceSim, java
