Repository apache/incubator-kie-tools, pull requests merged in 2022-07, with the labels that each got.

#1049 KOGITO-7089: [yard Editor] Create VSCode Extension for yard
  .syncpackrc.json
  packages/build-env/graph.dot
  packages/vscode-extension-yard-editor/CHANGELOG.md
  packages/vscode-extension-yard-editor/LICENSE
  packages/vscode-extension-yard-editor/README.md
  packages/vscode-extension-yard-editor/icon.png
  packages/vscode-extension-yard-editor/languageConfiguration/jsonLanguageConfiguration.json
  packages/vscode-extension-yard-editor/languageConfiguration/yamlLanguageConfiguration.json
  packages/vscode-extension-yard-editor/package.json
  packages/vscode-extension-yard-editor/src/extension/commandIds.ts
  packages/vscode-extension-yard-editor/src/extension/configuration.ts
  packages/vscode-extension-yard-editor/src/extension/extension.ts
  packages/vscode-extension-yard-editor/src/extension/setupDiagramEditorControls.ts
  packages/vscode-extension-yard-editor/src/webview/YardEditorEnvelopeApp.ts
  packages/vscode-extension-yard-editor/syntaxes/JSON.tmLanguage.json
  packages/vscode-extension-yard-editor/syntaxes/YAML.tmLanguage.json
  packages/vscode-extension-yard-editor/tsconfig.json
  packages/vscode-extension-yard-editor/webpack.config.js
  packages/yard-editor/package.json
  pnpm-lock.yaml
Labels: yard

#1062 KOGITO-7500: [SWF Editor] Enable integrations tests for SWF editor extension
  packages/vscode-extension-serverless-workflow-editor/package.json
Labels: Serverless Workflow

#1058 KOGITO-7476: [yard Editor] Setup Tests for yard VSCode extension
  packages/vscode-extension-yard-editor/.mocharc.json
  packages/vscode-extension-yard-editor/.vscodeignore
  packages/vscode-extension-yard-editor/CHANGELOG.md
  packages/vscode-extension-yard-editor/it-tests/helpers/CommonAsserts.ts
  packages/vscode-extension-yard-editor/it-tests/helpers/VSCodeTestHelper.ts
  packages/vscode-extension-yard-editor/it-tests/helpers/yard/YardEditorTestHelper.ts
  packages/vscode-extension-yard-editor/it-tests/helpers/yard/YardTextEditorTestHelper.ts
  packages/vscode-extension-yard-editor/it-tests/resources/empty.yard.json
  packages/vscode-extension-yard-editor/it-tests/resources/empty.yard.yaml
  packages/vscode-extension-yard-editor/it-tests/resources/empty.yard.yml
  packages/vscode-extension-yard-editor/it-tests/settings.json
  packages/vscode-extension-yard-editor/it-tests/yard-editor.test.ts
  packages/vscode-extension-yard-editor/jest.config.js
  packages/vscode-extension-yard-editor/mocha-reporter-config.json
  packages/vscode-extension-yard-editor/package.json
  packages/vscode-extension-yard-editor/tsconfig.it-tests.json
Labels: yard

#1065 Update GHA DSL check to use composite action
  .github/workflows/jenkins-tests-PR.yml
Labels: Foundation

#1063 KOGITO-7491: Setting SVG commands ID as optional at Editor creation
  packages/vscode-extension-pmml-editor/src/extension/extension.ts
  packages/vscode-extension-yard-editor/src/extension/commandIds.ts
  packages/vscode-extension-yard-editor/src/extension/extension.ts
  packages/vscode-extension/src/index.ts
Labels: Foundation, yard

#1078 VS Code Extension name update for Kogito Serverless Workflow
  packages/vscode-extension-serverless-workflow-editor/README.md
  packages/vscode-extension-serverless-workflow-editor/package.json
Labels: Serverless Workflow

#1079 Move graph.dot file to the top-level 'repo' directory
  package.json
  packages/build-env/README.md
  packages/build-env/cli.js
  packages/build-env/package.json
  repo/graph.dot
  scripts/generate_packages_graph.js
  scripts/link_packages_with_self.js
  scripts/unpack-maven-packages.js
Labels: Foundation

#1082 Use our deployed cors-proxy as default value
  packages/kie-sandbox-image/README.md
  packages/online-editor/src/env/EnvContext.tsx
Labels: Foundation

#1081 Daily dev workflow: Create `dev` folder for serverless-logic-sandbox-deployment
  .github/workflows/publish_daily_dev_version.yml
Labels: Foundation

#1085 Fix deploy to staging for SWF Sandbox
  .github/workflows/staging_build.yml
Labels: Foundation

#1064 KOGITO-7501: [SWF Editor] replicate the JSON functionalities to YAML in serverless-workflow-language-service
  packages/serverless-workflow-language-service/src/api/index.ts
  packages/serverless-workflow-language-service/src/channel/SwfJsonLanguageService.ts
  packages/serverless-workflow-language-service/src/channel/SwfLanguageService.ts
  packages/serverless-workflow-language-service/src/channel/SwfYamlLanguageService.ts
  packages/serverless-workflow-language-service/src/channel/index.ts
  packages/serverless-workflow-language-service/src/editor/index.ts
  packages/serverless-workflow-language-service/tests/SwfJsonLanguageService.test.ts
  packages/serverless-workflow-language-service/tests/SwfYamlLanguageService.test.ts
  packages/serverless-workflow-language-service/tests/getFileLanguage.test.ts
  packages/serverless-workflow-language-service/tests/testUtils.ts
  packages/serverless-workflow-text-editor/src/editor/textEditor/SwfTextEditor.tsx
  packages/serverless-workflow-text-editor/src/editor/textEditor/SwfTextEditorController.ts
  packages/serverless-workflow-text-editor/src/editor/textEditor/augmentation/language/yaml/index.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/ServerlessWorkflowEditorChannelApiProducer.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/builtInVsCodeEditorSwfContributions.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/extension.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/languageService/SwfLanguageServiceChannelApiImpl.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/languageService/VsCodeSwfLanguageService.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/setupDiagramEditorControls.ts
Labels: Serverless Workflow

#985 KOGITO-7133: Extend MultipleInstanceSubprocess IT test vscode-extension BPMN editor
  packages/vscode-extension-pack-kogito-kie-editors/it-tests/extension-editors.test.ts
  packages/vscode-extension-pack-kogito-kie-editors/it-tests/helpers/bpmn/BpmnLocators.ts
  packages/vscode-extension-pack-kogito-kie-editors/it-tests/helpers/bpmn/ImplementationExecutionHelper.ts
  packages/vscode-extension-pack-kogito-kie-editors/it-tests/helpers/bpmn/PropertiesPanelHelper.ts
  packages/vscode-extension-pack-kogito-kie-editors/it-tests/resources/MultipleInstanceSubprocess.bpmn
  packages/vscode-extension-pack-kogito-kie-editors/it-tests/resources/UserTask.bpmn
Labels: BPMN/Stunner, Foundation, javascript

#1088 [main] KOGITO-7563: Workspaces not being fully deleted from IndexedDB
  packages/serverless-logic-sandbox/src/workspace/commonServices/BaseService.ts
  packages/serverless-logic-sandbox/src/workspace/services/virtualServiceRegistry/VirtualServiceRegistryContextProvider.tsx
  packages/serverless-logic-sandbox/src/workspace/services/virtualServiceRegistry/hooks/useUpdateWorkspaceRegistryGroupFile.tsx
  packages/serverless-logic-sandbox/src/workspace/services/virtualServiceRegistry/models/VirtualServiceRegistry.ts
  packages/serverless-logic-sandbox/src/workspace/services/virtualServiceRegistry/services/VirtualServiceRegistryGroupService.ts
Labels: Foundation, Serverless Workflow

#1096 Configure concurrency for Staging Publish workflow
  .github/workflows/staging_publish.yml
Labels: Foundation

#1100 Prevent the `swf-chrome-extension` folder from being deleted during releases
  .github/workflows/release_build.yml
Labels: Foundation, Serverless Workflow

#1083 0.21.0 CHANGELOGs
  packages/vscode-extension-bpmn-editor/CHANGELOG.md
  packages/vscode-extension-dmn-editor/CHANGELOG.md
  packages/vscode-extension-kie-ba-bundle/CHANGELOG.md
  packages/vscode-extension-kogito-bundle/CHANGELOG.md
  packages/vscode-extension-pmml-editor/CHANGELOG.md
  packages/vscode-extension-red-hat-business-automation-bundle/CHANGELOG.md
  packages/vscode-extension-serverless-workflow-editor/CHANGELOG.md
Labels: Foundation

#1101 KOGITO-7567 - SWF Editor is duplicating actions in worklow after getContent()
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/marshall/Parser.java
Labels: order: 1

#1092 [main] Fix Serverless Workflow VSCode Extension not saving SVG files on Windows
  packages/vscode-extension/src/ConfigurationInterpolation.tsx
  packages/vscode-extension/src/generateSvg.ts
Labels: waiting-for-qe, Foundation, Serverless Workflow

#1097 KOGITO-7125: QE serverless logic - examples verification - iteraton 1
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/pom.xml
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/java/org/kie/workbench/common/stunner/sw/client/selenium/SWEditorSeleniumIT.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/resources/org/kie/workbench/common/stunner/sw/client/selenium/AsyncFunctionInvocationExample.sw.json
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/resources/org/kie/workbench/common/stunner/sw/client/selenium/AsyncSubFlowInvocationExample.sw.json
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/resources/org/kie/workbench/common/stunner/sw/client/selenium/EventBasedGreetingExample.sw.json
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/resources/org/kie/workbench/common/stunner/sw/client/selenium/ParallelExecutionExample.sw.json
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/resources/org/kie/workbench/common/stunner/sw/client/selenium/SolveMathProblemsExample.sw.json
Labels: order: 2, Serverless Workflow, java

#1103 KOGITO-7586: Replace MAS SSO with RH SSO in the Service Registry authentication
  packages/vscode-extension-serverless-workflow-editor/src/extension/serviceCatalog/serviceRegistry/auth/RhhccAuthProvider.ts
Labels: Foundation, Serverless Workflow

#1104 0.21.1 CHANGELOGs
  packages/vscode-extension-serverless-workflow-editor/CHANGELOG.md
Labels: Foundation

#1095 BAQE-1669: Include BPMN Kogito runtime selenium tests in default build
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-runtime/src/test/java/org/kie/workbench/common/dmn/showcase/client/common/DMNDesignerBaseIT.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-runtime/src/test/java/org/kie/workbench/common/dmn/showcase/client/selenium/DMNDesignerKogitoSeleniumIT.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-runtime/src/test/resources/org/kie/workbench/common/dmn/showcase/client/selenium/KOGITO-404 (Payment Date).xml
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-kogito-runtime/pom.xml
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-kogito-runtime/src/test/java/org/kie/workbench/common/stunner/kogito/client/selenium/BPMNDesignerKogitoSeleniumIT.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-kogito-runtime/src/test/resources/org/kie/workbench/common/stunner/kogito/client/selenium/basic-process.bpmn2
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-kogito-runtime/src/test/resources/org/kie/workbench/common/stunner/kogito/client/selenium/new-diagram.bpmn2
  packages/stunner-editors/package.json
Labels: BPMN/Stunner, java

#1110 KOGITO-7587: [SWF Editor] Code lenses stop working on a specific scenario
  packages/serverless-workflow-language-service/src/channel/SwfLanguageService.ts
  packages/serverless-workflow-language-service/tests/SwfJsonLanguageService.test.ts
  packages/serverless-workflow-language-service/tests/SwfYamlLanguageService.test.ts
Labels: waiting-for-qe, Serverless Workflow

#1090 Fix deploy without kogito.yml file
  .github/workflows/staging_build.yml
  packages/kn-plugin-workflow/pkg/command/build.go
  packages/kn-plugin-workflow/pkg/command/deploy.go
  packages/kn-plugin-workflow/pkg/common/helper.go
Labels: waiting-for-qe, Foundation, Serverless Workflow

#1109 KOGITO-7532: SWF Viewer - States colouring
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/resources/org/kie/workbench/common/stunner/sw/client/resources/images/shapes/shapes.css
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/resources/org/kie/workbench/common/stunner/sw/client/resources/images/shapes/state.svg
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/main/webapp/test.html
Labels: Serverless Workflow

#1111 KOGITO-7615: Bump `webdriver` to `5.2.1` and always using mirror site for `geckodriver`
  packages/serverless-workflow-diagram-editor/lienzo-webapp/src/test/java/org/kie/lienzo/client/selenium/JsCanvasDriver.java
  packages/serverless-workflow-diagram-editor/pom.xml
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/java/org/kie/workbench/common/stunner/sw/client/selenium/SWEditorSeleniumIT.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-runtime/src/test/java/org/kie/workbench/common/dmn/showcase/client/common/DMNDesignerBaseIT.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-kogito-runtime/src/test/java/org/kie/workbench/common/stunner/kogito/client/selenium/BPMNDesignerKogitoSeleniumIT.java
  packages/stunner-editors/lienzo-webapp/src/test/java/org/kie/lienzo/client/selenium/JsCanvasDriver.java
  packages/stunner-editors/pom.xml
Labels: BPMN/Stunner, DMN/SceSim, Serverless Workflow

#1117 KOGITO-7545: SWF Viewer - Blurry fonts
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/AnyStateShapeDef.java
Labels: Serverless Workflow

#1112 KOGITO-7577: SWF Editor - Parameter named 'uuid' should be not null
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/definition/Workflow.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/marshall/Marshaller.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/marshall/WorkflowMarshalling.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/test/java/org/kie/workbench/common/stunner/sw/marshall/EmptyWorkflowNameTest.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/test/java/org/kie/workbench/common/stunner/sw/marshall/FilledKeyNullIdWorkflowTest.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/test/java/org/kie/workbench/common/stunner/sw/marshall/NullKeyNullIdWorkflowTest.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/test/java/org/kie/workbench/common/stunner/sw/marshall/OperationStateMarshallingTest.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/test/java/org/kie/workbench/common/stunner/sw/marshall/StateMarshallingTest.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/test/java/org/kie/workbench/common/stunner/sw/marshall/StatesFlowMarshallingTest.java
Labels: Serverless Workflow

#1115 KOGITO-7623: Specs folder is not detected in Windows on SWF VSCode Extension
  packages/vscode-extension-serverless-workflow-editor/src/extension/configuration.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/languageService/VsCodeSwfLanguageService.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/serviceCatalog/fs/FsWatchingServiceCatalogRelativeStore.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/setupDiagramEditorControls.ts
  packages/vscode-extension-yard-editor/.vscode/launch.json
  packages/vscode-extension-yard-editor/.vscode/settings.json
  packages/vscode-extension-yard-editor/.vscode/tasks.json
  packages/vscode-extension-yard-editor/src/extension/configuration.ts
  packages/vscode-extension-yard-editor/src/extension/setupDiagramEditorControls.ts
  packages/vscode-extension/src/ConfigurationInterpolation.tsx
  packages/vscode-extension/src/generateSvg.ts
Labels: Serverless Workflow, yard

#1120 RHPAM-4448: Upgrade `moment` to 2.29.4
  packages/online-editor/package.json
  packages/serverless-logic-sandbox/package.json
  pnpm-lock.yaml
Labels: Foundation

#1118 KOGITO-7576: [yard Editor] First draft of General and Decision Inputs tabs
  packages/vscode-extension-yard-editor/CHANGELOG.md
  packages/yard-editor/src/i18n/YardEditorI18n.ts
  packages/yard-editor/src/i18n/locales/en.ts
  packages/yard-editor/src/uiEditor/YardUIEditor.css
  packages/yard-editor/src/uiEditor/YardUIEditor.tsx
Labels: yard

#1125 KOGITO-7648: KIE Tools - Integration tests intermittent faillure (Disable)
  packages/vscode-extension-pack-kogito-kie-editors/it-tests/extension-editors.test.ts
Labels: Foundation

#1127 SWF Sandbox: Bump Quarkus platform version to `2.11.1.Final`
  packages/serverless-logic-sandbox-base-image/env/index.js
Labels: Serverless Workflow

#1129 Save storage space on GitHub Actions workflows and other minor improvements
  .github/actions/merge-pr-changes/action.yml
  .github/actions/setup-env/action.yml
  .github/workflows/monorepo_pr_ci.yml
  .github/workflows/monorepo_pr_ci_full.yml
  .github/workflows/publish_jitexecutor_native.yml
  scripts/link_packages_with_self.js
Labels: Foundation

#1134 KOGITO-7672: Update extended-services Golang version
  packages/extended-services/go.mod
  packages/extended-services/go.sum
  packages/extended-services/package.json
Labels: DMN/SceSim, Foundation

#1133 Ignoring non-source paths on CI
  .github/supporting-files/ci/non-source-paths.txt
  .github/workflows/monorepo_pr_ci.yml
  .github/workflows/monorepo_pr_ci_full.yml
Labels: Foundation

#1131 KOGITO-7560: Bump all `monaco-editor` dependencies version to 0.33.0
  .syncpackrc.json
  examples/webapp/package.json
  package.json
  packages/boxed-expression-component/it-tests/integration/literal_expression_spec.ts
  packages/feel-input-component/package.json
  packages/monaco-editor/package.json
  packages/monaco-editor/src/monaco.min.ts
  packages/pmml-editor/it-tests/integration/predicate.ts
  packages/pmml-editor/package.json
  packages/stunner-editors-dmn-loader/package.json
  packages/vscode-extension-pack-kogito-kie-editors/package.json
  pnpm-lock.yaml
  repo/graph.dot
Labels: BPMN/Stunner, DMN/SceSim, Foundation, yard
