Repository apache/incubator-kie-tools, pull requests merged in 2022-05, with the labels that each got.

#953 Update test dependencies in `stunner-editors`
  packages/serverless-workflow-diagram-editor/pom.xml
  packages/stunner-editors/pom.xml
Labels: Tools, java

#930 KOGITO-6210: BPMN editor loses data assignment
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-client/src/main/java/org/kie/workbench/common/stunner/bpmn/client/forms/fields/i18n/StunnerFormsClientFieldsConstants.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-client/src/main/java/org/kie/workbench/common/stunner/bpmn/client/forms/fields/variablesEditor/VariableListItemWidgetViewImpl.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-client/src/main/java/org/kie/workbench/common/stunner/bpmn/client/forms/fields/variablesEditor/VariablesEditorFieldRenderer.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-client/src/main/java/org/kie/workbench/common/stunner/bpmn/client/forms/fields/variablesEditor/VariablesEditorWidgetView.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-client/src/main/java/org/kie/workbench/common/stunner/bpmn/client/util/VariableUtils.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-client/src/main/resources/org/kie/workbench/common/stunner/bpmn/client/forms/fields/i18n/StunnerFormsClientFieldsConstants.properties
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-client/src/test/java/org/kie/workbench/common/stunner/bpmn/client/forms/fields/variablesEditor/VariableListItemWidgetViewImplTest.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-client/src/test/java/org/kie/workbench/common/stunner/bpmn/client/forms/fields/variablesEditor/VariablesEditorFieldRendererTest.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-client/src/test/java/org/kie/workbench/common/stunner/bpmn/client/util/VariableUtilsTest.java
Labels: waiting-for-review, BPMN/Stunner

#941 KOGITO-6962: Nightlies: Reorganize folder struct and job generation
  .ci/jenkins/dsl/jobs.groovy
  .ci/jenkins/dsl/test.sh
  .github/workflows/jenkins-tests-PR.yml
Labels: wip, Tools, dsl-test

#977 [0.19.0-prerelease] Improvements on GitHub workflows for Chrome extensions
  .github/workflows/publish_daily_dev_version.yml
  .github/workflows/release_build.yml
  .github/workflows/release_dry_run.yml
  .github/workflows/release_publish.yml
  .github/workflows/staging_build.yml
Labels: Tools

#964 KOGITO-4172: [DMN Designer] New Boxed Expression editor - User must be able to create new lines by using shortcuts
  packages/boxed-expression-component/it-tests/integration/decision_table_expression_spec.ts
  packages/boxed-expression-component/src/components/Table/EditableCell.tsx
  packages/feel-input-component/src/FeelInput/FeelInput.tsx
  packages/feel-input-component/src/Monaco/FeelEditorService.ts
  packages/feel-input-component/tests/FeelInput/FeelInput.test.tsx
Labels: waiting-for-qe, DMN/SceSim, Foundation

#969 0.19.0 CHANGELOGs
  packages/vscode-extension-bpmn-editor/CHANGELOG.md
  packages/vscode-extension-dmn-editor/CHANGELOG.md
  packages/vscode-extension-kogito-bundle/CHANGELOG.md
  packages/vscode-extension-pmml-editor/CHANGELOG.md
  packages/vscode-extension-red-hat-business-automation-bundle/CHANGELOG.md
  packages/vscode-extension-serverless-workflow-editor/CHANGELOG.md
Labels: Foundation

#979 KOGITO-6981: SWF Editor - Viewer Look&Feel
  packages/serverless-workflow-diagram-editor/lienzo-tests/src/main/java/com/ait/lienzo/test/stub/overlays/JsArray.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/pom.xml
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/autolayout/AutoLayout.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/autolayout/elkjs/ELKEdge.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/autolayout/elkjs/ELKLayoutProperties.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/autolayout/elkjs/ELKNode.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/autolayout/elkjs/ELKUtils.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/definition/End.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/definition/Start.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/marshall/BuilderContext.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/test/java/org/kie/workbench/common/stunner/sw/autolayout/AutoLayoutTest.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/ShapeFactory.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/resources/ShapeViewFactory.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/AnyStateShapeDef.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/TransitionShapeDef.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/resources/org/kie/workbench/common/stunner/sw/client/resources/images/shapes/end.svg
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/resources/org/kie/workbench/common/stunner/sw/client/resources/images/shapes/shapes.css
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/resources/org/kie/workbench/common/stunner/sw/client/resources/images/shapes/start.svg
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/resources/org/kie/workbench/common/stunner/sw/client/resources/images/shapes/state.svg
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/main/java/org/kie/workbench/common/stunner/sw/client/editor/DiagramEditor.java
Labels: Serverless Workflow

#973 KOGITO-7097: [DMN Designer] Disabling new Boxed Expression editor in Embedded and Chrome Extension channels
  packages/chrome-extension-pack-kogito-kie-editors/it-tests/tests/DmnExpressionEditorTest.ts
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/expressions/ExpressionEditor.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/expressions/ExpressionEditorControlImpl.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/expressions/ExpressionEditorView.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/expressions/ExpressionEditorViewImpl.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/test/java/org/kie/workbench/common/dmn/client/editors/expressions/ExpressionEditorControlImplTest.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/test/java/org/kie/workbench/common/dmn/client/editors/expressions/ExpressionEditorTest.java
Labels: DMN/SceSim

#966 KOGITO-6934: Modify Dashbuilder Runtime to support client deployments
  packages/dashbuilder/appformer/uberfire-extensions/uberfire-widgets/uberfire-widgets-commons/src/main/java/org/uberfire/ext/widgets/common/client/diff2html/Diff2Html.java
  packages/dashbuilder/appformer/uberfire-extensions/uberfire-widgets/uberfire-widgets-commons/src/main/java/org/uberfire/ext/widgets/common/client/diff2html/DiffOutputFormat.java
  packages/dashbuilder/appformer/uberfire-extensions/uberfire-widgets/uberfire-widgets-commons/src/main/resources/org/uberfire/ext/widgets/common/public/diff2html/diff2html-ui.min.js
  packages/dashbuilder/appformer/uberfire-extensions/uberfire-widgets/uberfire-widgets-commons/src/main/resources/org/uberfire/ext/widgets/common/public/diff2html/diff2html.min.css
  packages/dashbuilder/appformer/uberfire-extensions/uberfire-widgets/uberfire-widgets-commons/src/main/resources/org/uberfire/ext/widgets/common/public/diff2html/diff2html.min.js
  packages/dashbuilder/dashbuilder-authoring/src/main/webapp/index.html
  packages/dashbuilder/dashbuilder-client/dashbuilder-displayer-client/src/main/java/org/dashbuilder/displayer/client/widgets/ExternalComponentEditor.java
  packages/dashbuilder/dashbuilder-client/dashbuilder-displayer-client/src/main/java/org/dashbuilder/displayer/client/widgets/ExternalComponentPresenter.java
  packages/dashbuilder/dashbuilder-client/dashbuilder-displayer-client/src/test/java/org/dashbuilder/displayer/client/widgets/ExternalComponentPresenterTest.java
  packages/dashbuilder/dashbuilder-client/dashbuilder-displayer-editor/src/main/java/org/dashbuilder/client/editor/external/ExternalDragComponent.java
  packages/dashbuilder/dashbuilder-client/dashbuilder-renderers/dashbuilder-renderer-default/src/main/java/org/dashbuilder/renderer/client/external/ExternalComponentDisplayer.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/RuntimeClientLoader.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/RuntimeModelBackendAppLoader.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/channel/RuntimeChannelClient.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/navbar/AppNavBar.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/parser/JSONRuntimeModelClientParser.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/parser/PropertyReplacementService.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/parser/YAMLRuntimeModelClientParser.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/screens/EmptyScreen.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/screens/RouterScreen.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/services/RuntimeBackendComponentFunctionService.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/services/RuntimeDataSetClientServices.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/setup/RuntimeClientMode.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/setup/RuntimeClientSetup.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/widgets/UploadWidget.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/webapp/index.html
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/webapp/setup.js
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/test/java/org/dashbuilder/client/RuntimeClientLoaderTest.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/test/java/org/dashbuilder/client/parser/JSONRuntimeModelClientParserTest.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/test/java/org/dashbuilder/client/parser/PropertyReplacementServiceTest.java
  packages/dashbuilder/dashbuilder-shared/dashbuilder-displayer-api/src/main/java/org/dashbuilder/displayer/DisplayerAttributeDef.java
  packages/dashbuilder/dashbuilder-shared/dashbuilder-displayer-api/src/main/java/org/dashbuilder/displayer/DisplayerSettings.java
  packages/dashbuilder/dashbuilder-shared/dashbuilder-services-api/src/main/java/org/dashbuilder/external/model/ExternalComponent.java
Labels: waiting-for-qe, waiting-for-review, Foundation, DashBuilder

#988 Build dependencies of dependents on `Monorepo CI`
  .github/workflows/monorepo_pr_ci.yml
Labels: Foundation

#990 Optimize pnpm filters on Monorepo CI
  .github/workflows/monorepo_pr_ci.yml
Labels: Foundation

#992 KOGITO-7155: Update Chrome Extension manifest version
  packages/chrome-extension-pack-kogito-kie-editors/manifest.dev.json
  packages/chrome-extension-pack-kogito-kie-editors/manifest.prod.json
  packages/chrome-extension-pack-kogito-kie-editors/rules.json
  packages/chrome-extension-pack-kogito-kie-editors/src/background.ts
  packages/chrome-extension-pack-kogito-kie-editors/src/github-content-script.ts
  packages/chrome-extension-pack-kogito-kie-editors/static/scripts/check_url_change.js
  packages/chrome-extension-pack-kogito-kie-editors/static/scripts/update_content.js
  packages/chrome-extension-pack-kogito-kie-editors/webpack.config.js
  packages/chrome-extension-serverless-workflow-editor/manifest.dev.json
  packages/chrome-extension-serverless-workflow-editor/manifest.prod.json
  packages/chrome-extension-serverless-workflow-editor/rules.json
  packages/chrome-extension-serverless-workflow-editor/src/background.ts
  packages/chrome-extension-serverless-workflow-editor/src/github-content-script.ts
  packages/chrome-extension-serverless-workflow-editor/static/scripts/check_url_change.js
  packages/chrome-extension-serverless-workflow-editor/static/scripts/update_content.js
  packages/chrome-extension-serverless-workflow-editor/webpack.config.js
  packages/chrome-extension/src/app/components/common/KogitoEditorIframe.tsx
  packages/chrome-extension/src/app/utils.ts
Labels: Foundation

#995 KOGITO-7156 : SWF Viewer - Enable SVG generation
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/README.md
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/pom.xml
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/main/java/org/kie/workbench/common/stunner/sw/client/editor/DiagramEditor.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/java/org/kie/workbench/common/stunner/sw/client/editor/DiagramEditorTest.java
Labels: Serverless Workflow

#994 KOGITO-7109: [DMN Designer] New Boxed Expression editor - Copy & paste values with newline
  packages/boxed-expression-component/package.json
  packages/boxed-expression-component/src/components/SelectionBox/CellSelectionBox.tsx
  packages/boxed-expression-component/src/components/Table/common/CopyAndPasteUtils.ts
  packages/boxed-expression-component/tests/components/SelectionBox/CellSelectionBox.test.tsx
  packages/boxed-expression-component/tests/components/Table/common/CopyAndPasteUtils.test.tsx
  pnpm-lock.yaml
Labels: DMN/SceSim, Foundation

#1000 KOGITO-7210: Fix swf editor missing module error
  packages/build-env/graph.dot
  packages/serverless-workflow-editor/package.json
  pnpm-lock.yaml
Labels: Foundation, Serverless Workflow

#1008 KOGITO-7237: Fix Chrome Extensions permissions
  packages/chrome-extension-pack-kogito-kie-editors/manifest.dev.json
  packages/chrome-extension-pack-kogito-kie-editors/manifest.prod.json
  packages/chrome-extension-serverless-workflow-editor/manifest.dev.json
  packages/chrome-extension-serverless-workflow-editor/manifest.prod.json
Labels: Foundation

#1009 KOGITO-7224: Dashbuilder Kitchensink Example
  examples/dashbuilder/kitchensink/Kitchensink.dash.yml
  packages/dashbuilder-component-svg-heatmap/src/SVGHeatmapComponent.tsx
  packages/dashbuilder-editor/src/editor/DashbuilderEditor.tsx
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/RuntimeClientLoader.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/perspective/generator/RuntimePerspectiveGenerator.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/services/RuntimeDataSetClientServices.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-shared/src/main/java/org/dashbuilder/shared/marshalling/LayoutTemplateJSONMarshaller.java
  packages/dashbuilder/dashbuilder-shared/dashbuilder-displayer-api/src/main/java/org/dashbuilder/displayer/json/DisplayerSettingsJSONMarshaller.java
  packages/dashbuilder/dashbuilder-shared/dashbuilder-navigation-api/src/main/java/org/dashbuilder/navigation/json/NavTreeJSONMarshaller.java
Labels: DashBuilder

#1003 KOGITO-7230: Upgrade dependencies with reported vulnerabilities
  packages/serverless-workflow-diagram-editor/errai-bom/pom.xml
Labels: Serverless Workflow, dependencies
