Repository apache/incubator-kie-tools, pull requests merged in 2022-12, with the labels that each got.

#1352 kie-issues#46: Disable OK button properly in DMN Data Type Constraint modal
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/types/listview/constraint/DataTypeConstraintModalView.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/test/java/org/kie/workbench/common/dmn/client/editors/types/listview/constraint/DataTypeConstraintModalViewTest.java
Labels: DMN/SceSim

#1353 KOGITO-8258: [SWF Editor] Implement click action over an error
  packages/editor/src/envelope/KogitoEditorEnvelopeApiImpl.ts
  packages/serverless-logic-sandbox/src/editor/EditorPage.tsx
  packages/serverless-logic-sandbox/src/editor/EditorPageDockDrawer.tsx
  packages/serverless-logic-sandbox/src/editor/NotificationsPanel/NotificationsPanel.tsx
  packages/serverless-logic-sandbox/src/editor/NotificationsPanel/NotificationsPanelTabContent.tsx
  packages/serverless-workflow-combined-editor/src/api/ServerlessWorkflowCombinedEditorChannelApi.ts
  packages/serverless-workflow-combined-editor/src/editor/ServerlessWorkflowCombinedEditor.tsx
  packages/serverless-workflow-combined-editor/src/impl/SwfCombinedEditorChannelApiImpl.ts
  packages/serverless-workflow-diagram-editor-envelope/src/envelope/ServerlessWorkflowDiagramEditorEnvelopeApiImpl.ts
  packages/serverless-workflow-standalone-editor/src/swf/channel/StandaloneServerlessWorkflowCombinedEditorChannelApi.ts
  packages/serverless-workflow-text-editor/src/api/ServerlessWorkflowTextEditorEnvelopeApi.ts
  packages/serverless-workflow-text-editor/src/editor/ServerlessWorkflowTextEditor.tsx
  packages/serverless-workflow-text-editor/src/editor/ServerlessWorkflowTextEditorView.tsx
  packages/serverless-workflow-text-editor/src/editor/textEditor/SwfTextEditorController.ts
  packages/serverless-workflow-text-editor/src/envelope/ServerlessWorkflowTextEditorEnvelopeApiImpl.ts
Labels: waiting-for-ci, Serverless Workflow

#1318 KOGITO-8236: SWF Viewer - Fixing layers for Auto-layout
  packages/serverless-workflow-diagram-editor/lienzo-core/src/main/java/com/ait/lienzo/client/core/layout/sugiyama/LayeredGraph.java
  packages/serverless-workflow-diagram-editor/lienzo-core/src/main/java/com/ait/lienzo/client/core/layout/sugiyama/step02/LongestPathVertexLayerer.java
  packages/serverless-workflow-diagram-editor/lienzo-core/src/main/java/com/ait/lienzo/client/core/layout/sugiyama/step03/DefaultVertexOrdering.java
  packages/serverless-workflow-diagram-editor/lienzo-core/src/main/java/com/ait/lienzo/client/core/layout/sugiyama/step04/DefaultVertexPositioning.java
  packages/serverless-workflow-diagram-editor/lienzo-core/src/test/java/com/ait/lienzo/client/core/layout/sugiyama/step02/LongestPathVertexLayererTest.java
  packages/serverless-workflow-diagram-editor/lienzo-core/src/test/java/com/ait/lienzo/client/core/layout/sugiyama/step04/DefaultVertexPositioningTest.java
Labels: Serverless Workflow

#1347 kie-issues#37: Exclude 'WEB-INF' folder and html files of gwt-editors from 'dist' folder
  packages/chrome-extension-pack-kogito-kie-editors/webpack.config.js
  packages/chrome-extension-serverless-workflow-editor/webpack.config.js
  packages/dashbuilder-viewer-deployment-webapp/webpack.config.js
  packages/desktop/webpack.config.js
  packages/online-editor/webpack.config.ts
  packages/serverless-logic-sandbox/webpack.config.js
  packages/serverless-workflow-combined-editor/dev-webapp/webpack.config.js
  packages/vscode-extension-bpmn-editor/webpack.config.js
  packages/vscode-extension-dashbuilder-editor/webpack.config.js
  packages/vscode-extension-dmn-editor/webpack.config.js
  packages/vscode-extension-pack-kogito-kie-editors/webpack.config.js
  packages/vscode-extension-serverless-workflow-editor/webpack.config.js
Labels: Foundation

#1322 KOGITO-7078: SWF Viewer - Connector labels
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/shape/view/wires/ext/WiresConnectorViewExt.java
  packages/serverless-workflow-diagram-editor/lienzo-core/src/main/java/com/ait/lienzo/client/core/shape/wires/util/WiresConnectorLabel.java
Labels: Serverless Workflow

#1349 KOGITO-8293: Add tests for basic functions of SWF Web Tools
  packages/serverless-logic-sandbox/it-tests/e2e/CreateNewFile.cy.ts
  packages/serverless-logic-sandbox/it-tests/e2e/RecentModel.cy.ts
  packages/serverless-logic-sandbox/it-tests/e2e/UploadFiles.cy.ts
  packages/serverless-logic-sandbox/it-tests/fixtures/uploadFile/helloDashbuilder.dash.yaml
  packages/serverless-logic-sandbox/it-tests/fixtures/uploadFile/helloJsonWorkflow.sw.json
  packages/serverless-logic-sandbox/it-tests/fixtures/uploadFile/helloYamlWorkflow.sw.yaml
  packages/serverless-logic-sandbox/it-tests/support/e2e.ts
  packages/serverless-logic-sandbox/it-tests/tsconfig.json
  packages/serverless-logic-sandbox/package.json
  packages/serverless-logic-sandbox/src/editor/EditorToolbar.tsx
  packages/serverless-logic-sandbox/src/home/HomePage.tsx
  packages/serverless-logic-sandbox/src/pageTemplate/OnlineEditorPage.tsx
  pnpm-lock.yaml
Labels: waiting-for-ci, Serverless Workflow

#1124 KOGITO-7633: SWF Viewer - Usability improvements for mediators (Preview Window)
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/StunnerLienzoCore.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/components/mediators/LienzoCanvasMediators.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/components/mediators/ZoomLevelSelector.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/components/mediators/ZoomLevelSelectorPresenter.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/components/mediators/ZoomLevelSelectorView.html
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/components/mediators/ZoomLevelSelectorView.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/components/mediators/preview/TogglePreviewEvent.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/components/mediators/preview/TogglePreviewUtils.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/resources/org/kie/workbench/common/stunner/client/lienzo.resources.i18n/StunnerLienzoConstants.properties
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/resources/org/kie/workbench/common/stunner/client/lienzo/resources/i18n/StunnerLienzoConstants.properties
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/test/java/org/kie/workbench/common/stunner/client/lienzo/components/mediators/LienzoCanvasMediatorsTest.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/test/java/org/kie/workbench/common/stunner/client/lienzo/components/mediators/ZoomLevelSelectorPresenterTest.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/test/java/org/kie/workbench/common/stunner/client/lienzo/components/mediators/ZoomLevelSelectorViewTest.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-widgets/src/main/java/org/kie/workbench/common/stunner/client/widgets/canvas/PreviewLienzoPanel.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-widgets/src/main/java/org/kie/workbench/common/stunner/client/widgets/editor/PreviewWindow.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-widgets/src/test/java/org/kie/workbench/common/stunner/client/widgets/canvas/PreviewLienzoPanelTest.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-core-common/src/main/java/org/kie/workbench/common/stunner/core/i18n/CoreTranslationMessages.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-core-common/src/main/resources/org/kie/workbench/common/stunner/core/resources/i18n/StunnerCoreConstants.properties
  packages/serverless-workflow-diagram-editor/lienzo-core/src/main/java/com/ait/lienzo/client/core/mediator/MouseWheelZoomMediator.java
  packages/serverless-workflow-diagram-editor/lienzo-core/src/main/java/com/ait/lienzo/client/widget/panel/impl/PreviewPanel.java
  packages/serverless-workflow-diagram-editor/lienzo-core/src/main/java/com/ait/lienzo/client/widget/panel/impl/ScrollablePanel.java
  packages/serverless-workflow-diagram-editor/lienzo-core/src/main/java/com/ait/lienzo/client/widget/panel/mediators/PanelMediators.java
  packages/serverless-workflow-diagram-editor/lienzo-tests/src/test/java/com/ait/lienzo/client/widget/panel/mediators/PanelMediatorsTest.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/main/java/org/kie/workbench/common/stunner/sw/client/editor/DiagramEditor.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/java/org/kie/workbench/common/stunner/sw/client/editor/DiagramEditorTest.java
Labels: waiting-for-review, Serverless Workflow

#1331 KOGITO-8104: SWF Viewer - Ability to customize the states icon (json)
  packages/serverless-workflow-diagram-editor/lienzo-core/src/main/java/com/ait/lienzo/client/core/shape/AbstractImageShape.java
  packages/serverless-workflow-diagram-editor/lienzo-core/src/main/java/com/ait/lienzo/client/core/shape/Circle.java
  packages/serverless-workflow-diagram-editor/lienzo-core/src/main/java/com/ait/lienzo/client/widget/panel/impl/LienzoFixedPanel.java
  packages/serverless-workflow-diagram-editor/lienzo-core/src/main/java/com/ait/lienzo/client/widget/panel/impl/ScrollablePanel.java
  packages/serverless-workflow-diagram-editor/lienzo-webapp/src/main/java/org/kie/lienzo/client/AutomaticLayoutExample.java
  packages/serverless-workflow-diagram-editor/lienzo-webapp/src/main/java/org/kie/lienzo/client/BaseLienzoExamples.java
  packages/serverless-workflow-diagram-editor/lienzo-webapp/src/main/java/org/kie/lienzo/client/LionExample.java
  packages/serverless-workflow-diagram-editor/lienzo-webapp/src/main/webapp/LienzoShowcase.html
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/definition/Metadata.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/pom.xml
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/ShapeFactory.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/EndShapeView.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/ServerlessWorkflowBasicShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/StartShapeView.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/StateShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/StateShapeView.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/TransitionShape.java
Labels: waiting-for-qe, Serverless Workflow

#1365 KOGITO-8317: Show condition names, instead of expressions, when possible
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/TransitionShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/TransitionView.java
Labels: waiting-for-qe, Serverless Workflow

#1361 Remove dead code of linked grid columns on Stunner Editors
  packages/stunner-editors/drools-wb-screens/drools-wb-scenario-simulation-editor/drools-wb-scenario-simulation-editor-client/src/main/java/org/drools/workbench/screens/scenariosimulation/client/renderers/BaseExpressionGridTheme.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/widgets/grid/BaseExpressionGridTheme.java
  packages/stunner-editors/uberfire-extensions/uberfire-wires/uberfire-wires-core/uberfire-wires-core-grids/src/main/java/org/uberfire/ext/wires/core/grids/client/model/GridColumn.java
  packages/stunner-editors/uberfire-extensions/uberfire-wires/uberfire-wires-core/uberfire-wires-core-grids/src/main/java/org/uberfire/ext/wires/core/grids/client/model/impl/BaseGridColumn.java
  packages/stunner-editors/uberfire-extensions/uberfire-wires/uberfire-wires-core/uberfire-wires-core-grids/src/main/java/org/uberfire/ext/wires/core/grids/client/widget/grid/animation/GridWidgetEnterPinnedModeAnimation.java
  packages/stunner-editors/uberfire-extensions/uberfire-wires/uberfire-wires-core/uberfire-wires-core-grids/src/main/java/org/uberfire/ext/wires/core/grids/client/widget/grid/animation/GridWidgetExitPinnedModeAnimation.java
  packages/stunner-editors/uberfire-extensions/uberfire-wires/uberfire-wires-core/uberfire-wires-core-grids/src/main/java/org/uberfire/ext/wires/core/grids/client/widget/grid/impl/BaseGridWidget.java
  packages/stunner-editors/uberfire-extensions/uberfire-wires/uberfire-wires-core/uberfire-wires-core-grids/src/main/java/org/uberfire/ext/wires/core/grids/client/widget/grid/impl/DefaultGridWidgetLinkedColumnMouseEventHandler.java
  packages/stunner-editors/uberfire-extensions/uberfire-wires/uberfire-wires-core/uberfire-wires-core-grids/src/main/java/org/uberfire/ext/wires/core/grids/client/widget/grid/renderers/grids/impl/BaseGridRenderer.java
  packages/stunner-editors/uberfire-extensions/uberfire-wires/uberfire-wires-core/uberfire-wires-core-grids/src/main/java/org/uberfire/ext/wires/core/grids/client/widget/grid/renderers/themes/GridRendererTheme.java
  packages/stunner-editors/uberfire-extensions/uberfire-wires/uberfire-wires-core/uberfire-wires-core-grids/src/main/java/org/uberfire/ext/wires/core/grids/client/widget/grid/renderers/themes/impl/BlueTheme.java
  packages/stunner-editors/uberfire-extensions/uberfire-wires/uberfire-wires-core/uberfire-wires-core-grids/src/main/java/org/uberfire/ext/wires/core/grids/client/widget/grid/renderers/themes/impl/GreenTheme.java
  packages/stunner-editors/uberfire-extensions/uberfire-wires/uberfire-wires-core/uberfire-wires-core-grids/src/main/java/org/uberfire/ext/wires/core/grids/client/widget/grid/renderers/themes/impl/MultiColouredTheme.java
  packages/stunner-editors/uberfire-extensions/uberfire-wires/uberfire-wires-core/uberfire-wires-core-grids/src/main/java/org/uberfire/ext/wires/core/grids/client/widget/grid/renderers/themes/impl/RedTheme.java
  packages/stunner-editors/uberfire-extensions/uberfire-wires/uberfire-wires-core/uberfire-wires-core-grids/src/main/java/org/uberfire/ext/wires/core/grids/client/widget/layer/GridLayer.java
  packages/stunner-editors/uberfire-extensions/uberfire-wires/uberfire-wires-core/uberfire-wires-core-grids/src/main/java/org/uberfire/ext/wires/core/grids/client/widget/layer/GridSelectionManager.java
  packages/stunner-editors/uberfire-extensions/uberfire-wires/uberfire-wires-core/uberfire-wires-core-grids/src/main/java/org/uberfire/ext/wires/core/grids/client/widget/layer/impl/DefaultGridLayer.java
  packages/stunner-editors/uberfire-extensions/uberfire-wires/uberfire-wires-core/uberfire-wires-core-grids/src/main/java/org/uberfire/ext/wires/core/grids/client/widget/layer/pinning/impl/DefaultPinnedModeManager.java
  packages/stunner-editors/uberfire-extensions/uberfire-wires/uberfire-wires-core/uberfire-wires-core-grids/src/test/java/org/uberfire/ext/wires/core/grids/client/widget/grid/animation/GridWidgetEnterPinnedModeAnimationTest.java
  packages/stunner-editors/uberfire-extensions/uberfire-wires/uberfire-wires-core/uberfire-wires-core-grids/src/test/java/org/uberfire/ext/wires/core/grids/client/widget/grid/animation/GridWidgetExitPinnedModeAnimationTest.java
  packages/stunner-editors/uberfire-extensions/uberfire-wires/uberfire-wires-core/uberfire-wires-core-grids/src/test/java/org/uberfire/ext/wires/core/grids/client/widget/grid/impl/BaseGridWidgetTest.java
  packages/stunner-editors/uberfire-extensions/uberfire-wires/uberfire-wires-core/uberfire-wires-core-grids/src/test/java/org/uberfire/ext/wires/core/grids/client/widget/grid/impl/DefaultGridWidgetLinkedColumnMouseEventHandlerTest.java
  packages/stunner-editors/uberfire-extensions/uberfire-wires/uberfire-wires-core/uberfire-wires-core-grids/src/test/java/org/uberfire/ext/wires/core/grids/client/widget/layer/impl/DefaultGridLayerTest.java
  packages/stunner-editors/uberfire-extensions/uberfire-wires/uberfire-wires-core/uberfire-wires-core-grids/src/test/java/org/uberfire/ext/wires/core/grids/client/widget/layer/pinning/impl/DefaultPinnedModeManagerTest.java
Labels: BPMN/Stunner, DMN/SceSim

#1362 kie-issues#45: DMN Editor: Expression Editor context menu not visible in corner cases
  packages/stunner-editors/drools-wb-screens/drools-wb-scenario-simulation-editor/drools-wb-scenario-simulation-editor-client/src/main/java/org/drools/workbench/screens/scenariosimulation/client/menu/ScenarioContextMenuRegistry.java
  packages/stunner-editors/drools-wb-screens/drools-wb-scenario-simulation-editor/drools-wb-scenario-simulation-editor-client/src/test/java/org/drools/workbench/screens/scenariosimulation/client/TestProperties.java
  packages/stunner-editors/drools-wb-screens/drools-wb-scenario-simulation-editor/drools-wb-scenario-simulation-editor-client/src/test/java/org/drools/workbench/screens/scenariosimulation/client/handlers/AbstractScenarioSimulationGridHandlerTest.java
  packages/stunner-editors/drools-wb-screens/drools-wb-scenario-simulation-editor/drools-wb-scenario-simulation-editor-client/src/test/java/org/drools/workbench/screens/scenariosimulation/client/menu/ScenarioContextMenuRegistryTest.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/widgets/grid/controls/container/CellEditorControls.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/test/java/org/kie/workbench/common/dmn/client/widgets/grid/controls/CellEditorControlsTest.java
Labels: DMN/SceSim

#1359 KOGITO-8071: Flaky test - serverless-workflow-editor-extension-autocompletion.test.ts
  packages/vscode-extension-serverless-workflow-editor/it-tests/helpers/VSCodeTestHelper.ts
  packages/vscode-extension-serverless-workflow-editor/it-tests/resources/autocompletion/emptyfile_autocompletion.sw.yaml.result
  packages/vscode-extension-serverless-workflow-editor/it-tests/serverless-workflow-editor-extension-autocompletion.test.ts
  packages/vscode-extension-serverless-workflow-editor/it-tests/serverless-workflow-editor-extension-syntax-highlight.test.ts
Labels: Serverless Workflow

#1358 KOGITO-8307: SWF Editor - States without incoming transition are shown in top left corner
  packages/serverless-workflow-diagram-editor/lienzo-core/src/main/java/com/ait/lienzo/client/core/layout/sugiyama/SugiyamaLayoutService.java
  packages/serverless-workflow-diagram-editor/lienzo-core/src/main/java/com/ait/lienzo/client/core/layout/sugiyama/step04/DefaultVertexPositioning.java
  packages/serverless-workflow-diagram-editor/lienzo-core/src/test/java/com/ait/lienzo/client/core/layout/sugiyama/step04/DefaultVertexPositioningTest.java
Labels: Serverless Workflow

#1378 [0.26.0-prerelease] Upgrade kn-plugin-workflow Quarkus version to 2.15.0.Final
  packages/kn-plugin-workflow/env/index.js
Labels: Serverless Workflow

#1374 Upgrade kn-plugin-workflow Quarkus version to 2.15.0.Final
  packages/kn-plugin-workflow/env/index.js
Labels: Serverless Workflow

#1371 Add SWF standalone editor to the release build
  .github/workflows/release_build.yml
Labels: Foundation

#1279 KOGITO-8062: DSL: Refactor environments
  .ci/jenkins/dsl/jobs.groovy
Labels: Foundation

#1356 kie-issues#43: Update logic for headers group indexes computing
  packages/stunner-editors/drools-wb-screens/drools-wb-scenario-simulation-editor/drools-wb-scenario-simulation-editor-client/src/main/java/org/drools/workbench/screens/scenariosimulation/client/utils/ScenarioSimulationUtils.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/expressions/types/dtable/DecisionTableGrid.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/expressions/types/dtable/OutputClauseColumnHeaderMetaData.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/test/java/org/kie/workbench/common/dmn/client/editors/expressions/types/dtable/DecisionTableGridTest.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/test/java/org/kie/workbench/common/dmn/client/editors/expressions/types/dtable/OutputClauseColumnHeaderMetaDataTest.java
  packages/stunner-editors/uberfire-extensions/uberfire-wires/uberfire-wires-core/uberfire-wires-core-grids/src/main/java/org/uberfire/ext/wires/core/grids/client/util/ColumnIndexUtilities.java
  packages/stunner-editors/uberfire-extensions/uberfire-wires/uberfire-wires-core/uberfire-wires-core-grids/src/test/java/org/uberfire/ext/wires/core/grids/client/util/CellContextUtilitiesTest.java
Labels: DMN/SceSim

#1381 Regression on kie-issues#46: Disable/Enable Constraint modal OK button properly
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/types/listview/constraint/DataTypeConstraintModalView.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/test/java/org/kie/workbench/common/dmn/client/editors/types/listview/constraint/DataTypeConstraintModalViewTest.java
Labels: DMN/SceSim

#1369 KOGITO-8032: Bump `vscode-extension-tester` version to 5.2
  examples/base64png-editor-vscode-extension/package.json
  examples/todo-list-view-vscode-extension/package.json
  packages/vscode-extension-backend/package.json
  packages/vscode-extension-bpmn-editor/package.json
  packages/vscode-extension-dashbuilder-editor/package.json
  packages/vscode-extension-dmn-editor/package.json
  packages/vscode-extension-kie-ba-bundle/package.json
  packages/vscode-extension-kogito-bundle/package.json
  packages/vscode-extension-pack-kogito-kie-editors/package.json
  packages/vscode-extension-pmml-editor/package.json
  packages/vscode-extension-red-hat-business-automation-bundle/package.json
  packages/vscode-extension-serverless-workflow-editor/package.json
  packages/vscode-extension-yard-editor/package.json
  pnpm-lock.yaml
Labels: Foundation

#1379 0.26.0 CHANGELOGs
  packages/vscode-extension-bpmn-editor/CHANGELOG.md
  packages/vscode-extension-dashbuilder-editor/CHANGELOG.md
  packages/vscode-extension-dmn-editor/CHANGELOG.md
  packages/vscode-extension-kie-ba-bundle/CHANGELOG.md
  packages/vscode-extension-kogito-bundle/CHANGELOG.md
  packages/vscode-extension-pmml-editor/CHANGELOG.md
  packages/vscode-extension-red-hat-business-automation-bundle/CHANGELOG.md
  packages/vscode-extension-serverless-workflow-editor/CHANGELOG.md
Labels: DO NOT MERGE, Foundation

#1380 KOGITO-7122: QE serverless logic - basic use cases verification
  packages/vscode-extension-serverless-workflow-editor/it-tests/helpers/VSCodeTestHelper.ts
  packages/vscode-extension-serverless-workflow-editor/it-tests/resources/basic-operations/greet.sw.json
  packages/vscode-extension-serverless-workflow-editor/it-tests/resources/basic-operations/hello-world.sw.json
  packages/vscode-extension-serverless-workflow-editor/it-tests/serverless-workflow-editor-extension-basic-operations.test.ts
Labels: waiting-for-qe, waiting-for-review, Serverless Workflow

#1387 KOGITO-8295: Rename Sandbox -> Web Tools on env vars and GH workflows
  .github/workflows/daily_dev_publish.yml
  .github/workflows/release_build.yml
  .github/workflows/release_dry_run.yml
  .github/workflows/release_publish.yml
  .github/workflows/staging_build.yml
  packages/serverless-logic-sandbox/env/index.js
  packages/serverless-logic-sandbox/package.json
  packages/serverless-logic-sandbox/src/env/EnvContext.tsx
  packages/serverless-logic-sandbox/src/workspace/worker/sharedWorker.ts
  packages/serverless-logic-sandbox/webpack.config.js
  packages/serverless-logic-web-tools-swf-deployment-webapp/env/index.js
  packages/serverless-logic-web-tools-swf-deployment-webapp/webpack.config.js
Labels: Foundation, Serverless Workflow

#1389 kie-issue#74: DMN Runner dropdown can't select an option for number datatype
  packages/dashbuilder-component-uniforms/package.json
  packages/form-dmn/package.json
  packages/form/package.json
  packages/unitables-dmn/package.json
  packages/unitables/package.json
  packages/unitables/src/uniforms/UnitablesJsonSchemaBridge.ts
  pnpm-lock.yaml
Labels: DMN/SceSim

#1394 Bump `postgresql` and `xstream` versions
  packages/dashbuilder/appformer/pom.xml
  packages/serverless-workflow-diagram-editor/pom.xml
Labels: dependencies

#1395 Fix Knative name occurrences
  packages/openshift/src/api/ApiConstants.ts
  packages/openshift/src/api/knative/KafkaSource.ts
  packages/openshift/src/api/knative/KnativeService.ts
  packages/openshift/src/api/types.ts
  packages/openshift/src/service/KnativeService.ts
  packages/openshift/src/service/OpenShiftService.ts
  packages/openshift/src/template/ResourceTemplates.ts
  packages/openshift/src/template/types.ts
  packages/serverless-logic-web-tools/src/openshift/OpenShiftContextProvider.tsx
  packages/serverless-logic-web-tools/src/openshift/deploy/strategies/DashboardSingleModelDeployment.ts
  packages/serverless-logic-web-tools/src/openshift/deploy/strategies/DashboardWorkspaceDeployment.ts
  packages/serverless-logic-web-tools/src/openshift/deploy/strategies/KogitoProjectDeployment.ts
  packages/serverless-logic-web-tools/src/openshift/deploy/strategies/KogitoSwfModelDeployment.ts
  packages/serverless-logic-web-tools/src/openshift/pipelines/KnativeBuilderPipeline.ts
  packages/serverless-logic-web-tools/src/openshift/pipelines/KnativeDeploymentLoaderPipeline.ts
Labels: Serverless Workflow
