Repository apache/incubator-kie-tools, pull requests merged in 2022-06, with the labels that each got.

#1004 KOGITO-7231: Add download SVG button to sw-editor-app test.html
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/main/webapp/test.html
Labels: waiting-for-review, Serverless Workflow

#1020 Upgrade selenium assets
  package.json
  pnpm-lock.yaml
Labels: Foundation

#1021 KOGITO-7356: Do not use master node in pipelines
  .ci/jenkins/Jenkinsfile
  .ci/jenkins/dsl/Jenkinsfile.seed
Labels: Foundation

#1001 KOGITO-7220: [yard Editor] Editor Creation
  .syncpackrc.json
  packages/build-env/graph.dot
  packages/build-env/index.js
  packages/yard-editor/LICENSE
  packages/yard-editor/README.md
  packages/yard-editor/dev-webapp/App.scss
  packages/yard-editor/dev-webapp/App.tsx
  packages/yard-editor/dev-webapp/EmptyState.tsx
  packages/yard-editor/dev-webapp/MenuButtons.scss
  packages/yard-editor/dev-webapp/MenuButtons.tsx
  packages/yard-editor/dev-webapp/envelope/YardEditorEnvelopeApp.ts
  packages/yard-editor/dev-webapp/index.tsx
  packages/yard-editor/dev-webapp/static/envelope/yard-editor-envelope.html
  packages/yard-editor/dev-webapp/static/favicon.ico
  packages/yard-editor/dev-webapp/static/index.html
  packages/yard-editor/dev-webapp/static/resources/style.css
  packages/yard-editor/dev-webapp/tsconfig.json
  packages/yard-editor/dev-webapp/webpack.config.js
  packages/yard-editor/package.json
  packages/yard-editor/src/api/YardEditorChannelApi.ts
  packages/yard-editor/src/api/index.ts
  packages/yard-editor/src/editor/YardEditor.tsx
  packages/yard-editor/src/editor/YardEditorFactory.ts
  packages/yard-editor/src/editor/YardEditorView.tsx
  packages/yard-editor/src/editor/index.ts
  packages/yard-editor/src/editor/style.css
  packages/yard-editor/src/index.ts
  packages/yard-editor/src/textEditor/YardTextEditor.tsx
  packages/yard-editor/src/textEditor/YardTextEditorController.ts
  packages/yard-editor/tests/__mocks__/monacoMock.js
  packages/yard-editor/tests/__mocks__/styleMock.js
  packages/yard-editor/tests/jest.setup.ts
  packages/yard-editor/tsconfig.json
  packages/yard-editor/tsconfig.prod.json
  pnpm-lock.yaml
Labels: waiting-for-review, yard

#1002 KOGITO-6975: Additional JSON marshalling tasks
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/definition/CompensationTransition.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/definition/DataConditionTransition.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/definition/DefaultConditionTransition.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/definition/ErrorTransition.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/definition/EventConditionTransition.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/definition/StartTransition.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/definition/State.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/definition/Workflow.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/marshall/DefinitionTypeUtils.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/marshall/Marshaller.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/marshall/StateMarshalling.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/marshall/TransitionMarshalling.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/marshall/WorkflowMarshalling.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/test/java/org/kie/workbench/common/stunner/sw/marshall/StateMarshallingTest.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/main/webapp/test.html
Labels: Serverless Workflow

#1016 KOGITO-7195: SWF Viewer - Fix issue with empty Json
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/main/java/org/kie/workbench/common/stunner/sw/client/services/ClientDiagramService.java
Labels: waiting-for-qe, Serverless Workflow

#1007 KOGITO-7196: SWF Viewer - Replace reset viewport button by autofit
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/components/mediators/ZoomLevelSelector.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/components/mediators/ZoomLevelSelectorPresenter.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/components/mediators/ZoomLevelSelectorView.html
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/components/mediators/ZoomLevelSelectorView.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/test/java/org/kie/workbench/common/stunner/client/lienzo/components/mediators/ZoomLevelSelectorPresenterTest.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/test/java/org/kie/workbench/common/stunner/client/lienzo/components/mediators/ZoomLevelSelectorTest.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/test/java/org/kie/workbench/common/stunner/client/lienzo/components/mediators/ZoomLevelSelectorViewTest.java
  packages/serverless-workflow-diagram-editor/lienzo-core/src/main/java/com/ait/lienzo/client/widget/panel/impl/ScrollablePanel.java
  packages/serverless-workflow-diagram-editor/lienzo-core/src/main/java/com/ait/lienzo/client/widget/panel/util/PanelTransformUtils.java
  packages/serverless-workflow-diagram-editor/lienzo-tests/src/test/java/com/ait/lienzo/client/widget/panel/util/PanelTransformUtilsTests.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/main/java/org/kie/workbench/common/stunner/sw/client/editor/DiagramEditor.java
Labels: Serverless Workflow

#1032 KOGITO-7385: Implement acceptance tests for message collaboration in BPMN editor
  packages/vscode-extension-pack-kogito-kie-editors/it-tests/extension-editors.test.ts
  packages/vscode-extension-pack-kogito-kie-editors/it-tests/helpers/bpmn/Correlation.ts
  packages/vscode-extension-pack-kogito-kie-editors/it-tests/helpers/bpmn/CorrelationModalHelper.ts
  packages/vscode-extension-pack-kogito-kie-editors/it-tests/helpers/bpmn/PropertiesPanelHelper.ts
  packages/vscode-extension-pack-kogito-kie-editors/it-tests/resources/ProcessWithCollaboration.bpmn
Labels: BPMN/Stunner, javascript

#1018 KOGITO-7227: SWF Viewer - Error Handling
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-widgets/src/main/java/org/kie/workbench/common/stunner/client/widgets/editor/StunnerEditor.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/marshall/Marshaller.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/main/java/org/kie/workbench/common/stunner/sw/client/editor/DiagramEditor.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/main/java/org/kie/workbench/common/stunner/sw/client/services/ClientDiagramService.java
Labels: waiting-for-review, Serverless Workflow

#1013 KOGITO-6994: Improve Dashbuilder External CSV parser tests coverage
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/external/CSVParser.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/test/java/org/dashbuilder/client/external/CSVParserTest.java
Labels: DashBuilder

#1026 KOGITO-6747: support to multiple apicurio registries
  packages/serverless-workflow-editor/src/textEditor/SwfTextEditor.tsx
  packages/serverless-workflow-editor/src/textEditor/augmentation/commands/index.tsx
  packages/serverless-workflow-language-service/src/api/SwfLanguageServiceChannelApi.ts
  packages/serverless-workflow-language-service/src/channel/SwfJsonLanguageService.ts
  packages/serverless-workflow-language-service/tests/SwfLanguageService.test.ts
  packages/serverless-workflow-service-catalog/package.json
  packages/serverless-workflow-service-catalog/src/api/SwfServiceCatalogChannelApi.ts
  packages/serverless-workflow-service-catalog/src/api/types.ts
  packages/serverless-workflow-service-catalog/src/channel/parsers/openapi.ts
  packages/serverless-workflow-service-catalog/tests/channel/parsers/examples/greeting.yaml
  packages/serverless-workflow-service-catalog/tests/channel/parsers/examples/hiring.yaml
  packages/serverless-workflow-service-catalog/tests/channel/parsers/openapi.test.ts
  packages/serverless-workflow-service-catalog/tsconfig.dev.json
  packages/serverless-workflow-service-catalog/tsconfig.prod.json
  packages/vscode-extension-serverless-workflow-editor/README.md
  packages/vscode-extension-serverless-workflow-editor/package.json
  packages/vscode-extension-serverless-workflow-editor/src/extension/ServerlessWorkflowEditorChannelApiImpl.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/ServerlessWorkflowEditorChannelApiProducer.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/builtInVsCodeEditorSwfContributions.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/commandIds.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/configuration.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/extension.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/languageService/VsCodeSwfLanguageService.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/rhhcc/RhhccAuthenticationStore.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/rhhcc/setupRhhccAuthenticationStore.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/serviceCatalog/SwfServiceCatalogChannelApiImpl.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/serviceCatalog/SwfServiceCatalogStore.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/serviceCatalog/SwfServiceCatalogSupportActions.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/serviceCatalog/rhhccServiceRegistry/RhhccServiceRegistryServiceCatalogStore.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/serviceCatalog/rhhccServiceRegistry/index.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/serviceCatalog/serviceRegistry/ServiceRegistriesStore.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/serviceCatalog/serviceRegistry/ServiceRegistryInstanceClient.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/serviceCatalog/serviceRegistry/auth/AuthProvider.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/serviceCatalog/serviceRegistry/auth/NoOpAuthProvider.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/serviceCatalog/serviceRegistry/auth/RHCCAuthProvider.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/serviceCatalog/serviceRegistry/auth/index.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/serviceCatalog/serviceRegistry/auth/lookupAuthProvider.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/serviceCatalog/serviceRegistry/index.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/serviceCatalog/serviceRegistryCommands.ts
  pnpm-lock.yaml
Labels: waiting-for-qe, Serverless Workflow

#1038 Fix onSave hook for SWF VS Code Extension
  packages/vscode-extension-serverless-workflow-editor/README.md
  packages/vscode-extension-serverless-workflow-editor/package.json
  packages/vscode-extension-serverless-workflow-editor/src/extension/configuration.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/extension.ts
  packages/vscode-extension/src/KogitoEditableDocument.ts
  packages/vscode-extension/src/generateSvg.ts
  packages/vscode-extension/src/index.ts
  packages/vscode-extension/src/onSaveHook.ts
Labels: Foundation, Serverless Workflow

#1033 [0.19.2-prerelease] KOGITO-7386: implement acceptance tests for collection with generics in BPMN editor
  packages/vscode-extension-pack-kogito-kie-editors/it-tests/extension-editors.test.ts
  packages/vscode-extension-pack-kogito-kie-editors/it-tests/helpers/bpmn/DataAssignmentsModalHelper.ts
  packages/vscode-extension-pack-kogito-kie-editors/it-tests/helpers/bpmn/DataInputAssignment.ts
  packages/vscode-extension-pack-kogito-kie-editors/it-tests/helpers/bpmn/ProcessVariable.ts
  packages/vscode-extension-pack-kogito-kie-editors/it-tests/helpers/bpmn/ProcessVariablesWidgetHelper.ts
  packages/vscode-extension-pack-kogito-kie-editors/it-tests/helpers/bpmn/PropertiesPanelHelper.ts
  packages/vscode-extension-pack-kogito-kie-editors/it-tests/resources/ProcessWithGenerics.bpmn
Labels: BPMN/Stunner

#1035 KOGITO-7375: [DMN Designer] Import Java Classes Fix cases with special characters in PATH
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/pom.xml
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/main/java/org/kogito/core/internal/engine/ActivationChecker.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/test/java/org/kogito/core/internal/engine/ActivationCheckerTest.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/test/resources/test projéct/Activator.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/test/resources/test projéct/RandomClass.java
Labels: DMN/SceSim

#1048 KOGITO-7119: Establish test runner for serverless tooling in vscode
  packages/vscode-extension-serverless-workflow-editor/.mocharc.json
  packages/vscode-extension-serverless-workflow-editor/it-tests/helpers/CommonAsserts.ts
  packages/vscode-extension-serverless-workflow-editor/it-tests/helpers/VSCodeTestHelper.ts
  packages/vscode-extension-serverless-workflow-editor/it-tests/helpers/swf/SwfEditorTestHelper.ts
  packages/vscode-extension-serverless-workflow-editor/it-tests/helpers/swf/SwfTextEditorTestHelper.ts
  packages/vscode-extension-serverless-workflow-editor/it-tests/resources/greeting-flow/.dockerignore
  packages/vscode-extension-serverless-workflow-editor/it-tests/resources/greeting-flow/.gitignore
  packages/vscode-extension-serverless-workflow-editor/it-tests/resources/greeting-flow/pom.xml
  packages/vscode-extension-serverless-workflow-editor/it-tests/resources/greeting-flow/src/main/java/org/kie/tools/it/tests/GreetingResource.java
  packages/vscode-extension-serverless-workflow-editor/it-tests/resources/greeting-flow/src/main/resources/application.properties
  packages/vscode-extension-serverless-workflow-editor/it-tests/resources/greeting-flow/src/main/resources/greetings.sw.json
  packages/vscode-extension-serverless-workflow-editor/it-tests/resources/greeting-flow/src/main/resources/openapi.yaml
  packages/vscode-extension-serverless-workflow-editor/it-tests/resources/greeting-flow/src/test/java/org/kie/tools/it/tests/GreetingResourceIT.java
  packages/vscode-extension-serverless-workflow-editor/it-tests/resources/greeting-flow/src/test/java/org/kie/tools/it/tests/GreetingResourceTest.java
  packages/vscode-extension-serverless-workflow-editor/it-tests/serverless-workflow-editor-extension-smoke.test.ts
  packages/vscode-extension-serverless-workflow-editor/it-tests/settings.json
  packages/vscode-extension-serverless-workflow-editor/mocha-reporter-config.json
  packages/vscode-extension-serverless-workflow-editor/package.json
  packages/vscode-extension-serverless-workflow-editor/tsconfig.it-tests.json
Labels: waiting-for-review, Serverless Workflow

#1051 KOGITO-7211: KN CLI workflow plugin
  .github/workflows/release_build.yml
  .github/workflows/release_dry_run.yml
  .github/workflows/release_publish.yml
  .github/workflows/staging_build.yml
  packages/build-env/graph.dot
  packages/build-env/index.js
  packages/kn-plugin-workflow/.gitignore
  packages/kn-plugin-workflow/LICENSE
  packages/kn-plugin-workflow/Makefile
  packages/kn-plugin-workflow/README.md
  packages/kn-plugin-workflow/cmd/main.go
  packages/kn-plugin-workflow/go.mod
  packages/kn-plugin-workflow/go.sum
  packages/kn-plugin-workflow/package.json
  packages/kn-plugin-workflow/pkg/command/build.go
  packages/kn-plugin-workflow/pkg/command/create.go
  packages/kn-plugin-workflow/pkg/command/create_workflow.go
  packages/kn-plugin-workflow/pkg/command/deploy.go
  packages/kn-plugin-workflow/pkg/common/bind.go
  packages/kn-plugin-workflow/pkg/common/checks.go
  packages/kn-plugin-workflow/pkg/common/constants.go
  packages/kn-plugin-workflow/pkg/common/helper.go
  packages/kn-plugin-workflow/pkg/common/verbose.go
  packages/kn-plugin-workflow/pkg/root/root.go
  pnpm-lock.yaml
Labels: Serverless Workflow

#1056 RHPAM-4421: VS Code Bundle Extension for IBAMOE
  .ci/jenkins/Jenkinsfile.vscode
  .github/workflows/release_build.yml
  packages/build-env/graph.dot
  packages/vscode-extension-kie-ba-bundle/CHANGELOG.md
  packages/vscode-extension-kie-ba-bundle/LICENSE
  packages/vscode-extension-kie-ba-bundle/README.md
  packages/vscode-extension-kie-ba-bundle/gifs/bpmn.gif
  packages/vscode-extension-kie-ba-bundle/gifs/dmn.gif
  packages/vscode-extension-kie-ba-bundle/icon.png
  packages/vscode-extension-kie-ba-bundle/package.json
  packages/vscode-extension-kie-ba-bundle/src/extension/extension.ts
  packages/vscode-extension-kie-ba-bundle/tsconfig.json
  packages/vscode-extension-kie-ba-bundle/webpack.config.js
  pnpm-lock.yaml
Labels: Foundation
