Repository apache/incubator-kie-tools, pull requests merged in 2022-09, with the labels that each got.

#1211 Merge `CI :: Build` and `CI :: Build (full)`
  .github/workflows/ci_build.yml
  .github/workflows/ci_check_code_formatting.yml
  .github/workflows/ci_check_dependencies_consistency.yaml
  .github/workflows/ci_codeql.yml
  .github/workflows/ci_sonar_analysis_stunner_editors.yml
  .github/workflows/daily_cleanup.yml
  .github/workflows/daily_dev_publish.yml
  .github/workflows/monorepo_pr_ci.yml
  packages/dashbuilder-editor/package.json
  packages/kie-sandbox-fs/package.json
Labels: Foundation

#1202 KOGITO-7775: Add integration test for json syntax highlighting for SWF editor in VS Code
  packages/vscode-extension-serverless-workflow-editor/it-tests/resources/syntax-highlight/syntax-highlight-hello-world.sw.json
  packages/vscode-extension-serverless-workflow-editor/it-tests/serverless-workflow-editor-extension-syntax-highlight.test.ts
Labels: Serverless Workflow

#1216 Bump kie version to ’8.27.0.Beta’
  packages/stunner-editors/pom.xml
Labels: Foundation

#1217 Bump jsoup to 1.15.3 version
  packages/serverless-workflow-diagram-editor/pom.xml
  packages/stunner-editors/pom.xml
Labels: Foundation

#1196 Marshalling Issues - Multiple Issues related to problems with marshallers.
  packages/serverless-workflow-diagram-editor/package.json
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/definition/CallEventAction.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/definition/ModelUtils.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/definition/State.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/marshall/DefinitionTypeUtils.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/marshall/Parser.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/marshall/StateMarshalling.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/marshall/TransitionMarshalling.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/marshall/WorkflowMarshalling.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/test/java/org/kie/workbench/common/stunner/sw/marshall/StateMarshallingTest.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/java/org/kie/workbench/common/stunner/sw/client/selenium/SWEditorSeleniumIT.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/resources/org/kie/workbench/common/stunner/sw/client/selenium/BookLendingExample.sw.json
Labels: Serverless Workflow

#1221 KOGITO-7893: Stunner should now be the default workflow viewer
  packages/serverless-logic-sandbox/src/__tests__/settings/featurePreview/FeaturePreviewConfig.test.tsx
  packages/serverless-logic-sandbox/src/settings/featurePreview/FeaturePreviewConfig.tsx
  packages/serverless-workflow-combined-editor/src/impl/SwfCombinedEditorChannelApiImpl.ts
  packages/serverless-workflow-combined-editor/src/impl/SwfFeatureToggleChannelApiImpl.ts
  packages/vscode-extension-serverless-workflow-editor/it-tests/settings.json
  packages/vscode-extension-serverless-workflow-editor/package.json
Labels: DO NOT MERGE, Serverless Workflow

#1223 0.23.0 CHANGELOGs
  packages/vscode-extension-bpmn-editor/CHANGELOG.md
  packages/vscode-extension-dmn-editor/CHANGELOG.md
  packages/vscode-extension-kie-ba-bundle/CHANGELOG.md
  packages/vscode-extension-kogito-bundle/CHANGELOG.md
  packages/vscode-extension-pmml-editor/CHANGELOG.md
  packages/vscode-extension-red-hat-business-automation-bundle/CHANGELOG.md
  packages/vscode-extension-serverless-workflow-editor/CHANGELOG.md
Labels: Foundation

#1242 KOGITO-7978: Fix Serverless Workflow samples validation issues
  packages/serverless-logic-sandbox/static/samples/compensation/compensation.sw.json
  packages/serverless-logic-sandbox/static/samples/greetings-kafka/greetings-kafka.sw.json
  packages/serverless-logic-sandbox/static/samples/greetings/greetings.sw.json
Labels: Serverless Workflow

#1245 Format pnpm-lock.yaml with prettier after bootstrap
  package.json
Labels: Foundation

#1239 Add basic tests for SWF logic sandbox
  packages/editor/src/envelope/KeyBindingsHelpOverlay/KeyBindingsHelpOverlay.tsx
  packages/editor/tests/envelope/KeyBindingHelpOverlay/__snapshots__/KeyBindingsHelpOverlay.test.tsx.snap
  packages/editor/tests/envelope/__snapshots__/EditorEnvelopeView.test.tsx.snap
  packages/serverless-logic-sandbox/env/index.js
  packages/serverless-logic-sandbox/it-tests/cypress.config.ts
  packages/serverless-logic-sandbox/it-tests/e2e/TrySample.cy.ts
  packages/serverless-logic-sandbox/it-tests/support/commands.ts
  packages/serverless-logic-sandbox/it-tests/support/e2e.ts
  packages/serverless-logic-sandbox/it-tests/tsconfig.json
  packages/serverless-logic-sandbox/package.json
  packages/serverless-logic-sandbox/src/editor/FileSwitcher.tsx
  packages/serverless-logic-sandbox/src/home/SampleCard.tsx
  packages/serverless-logic-sandbox/src/workspace/components/FileLabel.tsx
  packages/serverless-logic-sandbox/tsconfig.json
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/components/mediators/ZoomLevelSelectorView.html
  pnpm-lock.yaml
Labels: Serverless Workflow

#1243 KOGITO-8002: Serverless Workflow Chrome extension should use Stunner visualization
  packages/serverless-workflow-combined-editor/src/editor/ServerlessWorkflowCombinedEditor.tsx
Labels: Serverless Workflow

#1246 Build `dashbuilder-runtime-client` on `build:dev` as well
  packages/dashbuilder/package.json
Labels: DashBuilder

#1240 KOGITO-7912: [SWF Editor] Add YAML autocompletion to Serverless Logic Web Tools
  packages/serverless-logic-sandbox/src/editor/EditorPage.tsx
  packages/serverless-logic-sandbox/src/editor/api/SwfLanguageServiceChannelApiImpl.ts
  packages/serverless-logic-sandbox/src/editor/api/WebToolsSwfLanguageService.ts
  packages/serverless-workflow-language-service/src/channel/SwfYamlLanguageService.ts
  packages/serverless-workflow-language-service/tests/SwfYamlLanguageService.test.ts
  packages/serverless-workflow-text-editor/src/editor/textEditor/SwfTextEditor.tsx
  packages/serverless-workflow-text-editor/src/editor/textEditor/augmentation/codeLenses/index.ts
  packages/serverless-workflow-text-editor/src/editor/textEditor/augmentation/completion/index.ts
Labels: Serverless Workflow

#1250 KOGITO-8045: Move cors-proxy of sandboxes during cluster transition
  .github/workflows/daily_dev_publish.yml
  .github/workflows/release_build.yml
  .github/workflows/staging_build.yml
  packages/kie-sandbox-image/README.md
  packages/online-editor/env/index.js
  packages/online-editor/src/env/EnvContext.tsx
  packages/online-editor/src/workspace/WorkspacesContextProvider.tsx
  packages/serverless-logic-sandbox/env/index.js
  packages/serverless-logic-sandbox/src/env/EnvContext.tsx
  packages/serverless-logic-sandbox/src/workspace/WorkspacesContextProvider.tsx
Labels: Foundation
