Repository apache/incubator-kie-tools, pull requests merged in 2022-03, with the labels that each got.

#870 KOGITO-3665: Cypress test to check expresison editor and properties panel integration
  packages/online-editor/it-tests/integration/DMNExpressionEditor.ts
  packages/online-editor/it-tests/support/commands.ts
Labels: DMN/SceSim

#865 KOGITO-6808: Create a basic mechanism to open/close Widgets on top of the Monaco Editor for the Serverless Workflow Editor
  packages/build-env/graph.dot
  packages/online-editor/package.json
  packages/serverless-workflow-editor/dev-webapp/App.tsx
  packages/serverless-workflow-editor/src/editor/ServerlessWorkflowEditor.tsx
  packages/serverless-workflow-editor/src/editor/ServerlessWorkflowEditorFactory.ts
  packages/serverless-workflow-editor/src/editor/ServerlessWorkflowEditorView.tsx
  packages/serverless-workflow-editor/src/editor/index.ts
  packages/serverless-workflow-editor/src/monaco/MonacoEditor.tsx
  packages/serverless-workflow-editor/src/monaco/SwfMonacoEditor.tsx
  packages/serverless-workflow-editor/src/monaco/SwfMonacoEditorApi.ts
  packages/serverless-workflow-editor/src/monaco/augmentation/MonacoAugmentation.ts
  packages/serverless-workflow-editor/src/monaco/augmentation/codeLenses/index.ts
  packages/serverless-workflow-editor/src/monaco/augmentation/commands/index.tsx
  packages/serverless-workflow-editor/src/monaco/augmentation/completion/helpers/CompletionHelper.ts
  packages/serverless-workflow-editor/src/monaco/augmentation/completion/helpers/FunctionsNodeCompletionHelpers.ts
  packages/serverless-workflow-editor/src/monaco/augmentation/completion/helpers/MonacoCompletionHelper.ts
  packages/serverless-workflow-editor/src/monaco/augmentation/completion/helpers/index.ts
  packages/serverless-workflow-editor/src/monaco/augmentation/completion/index.ts
  packages/serverless-workflow-editor/src/monaco/augmentation/index.ts
  packages/serverless-workflow-editor/src/monaco/augmentation/language/MonacoLanguage.ts
  packages/serverless-workflow-editor/src/monaco/augmentation/language/index.ts
  packages/serverless-workflow-editor/src/monaco/augmentation/language/json/index.ts
  packages/serverless-workflow-editor/src/monaco/augmentation/language/parser/ASTContentParser.ts
  packages/serverless-workflow-editor/src/monaco/augmentation/language/parser/ASTTypes.ts
  packages/serverless-workflow-editor/src/monaco/augmentation/language/parser/index.ts
  packages/serverless-workflow-editor/src/monaco/augmentation/language/yaml/index.ts
  packages/serverless-workflow-editor/src/monaco/augmentation/widgets/index.tsx
Labels: Tools, SWF

#825 KOGITO-3655: Implement cells keyboard navigation and editing
  packages/boxed-expression-component/it-tests/integration/context_expression_spec.ts
  packages/boxed-expression-component/it-tests/integration/decision_table_expression.ts
  packages/boxed-expression-component/it-tests/integration/decision_table_expression_spec.ts
  packages/boxed-expression-component/it-tests/integration/relation_expression_spec.ts
  packages/boxed-expression-component/src/api/Table.ts
  packages/boxed-expression-component/src/components/BoxedExpressionEditor/BoxedExpressionEditor.tsx
  packages/boxed-expression-component/src/components/BoxedExpressionEditor/BoxedExpressionProvider.tsx
  packages/boxed-expression-component/src/components/LiteralExpression/PMMLLiteralExpression.tsx
  packages/boxed-expression-component/src/components/LogicTypeSelector/LogicTypeSelector.tsx
  packages/boxed-expression-component/src/components/PopoverMenu/PopoverMenu.tsx
  packages/boxed-expression-component/src/components/Table/EditableCell.tsx
  packages/boxed-expression-component/src/components/Table/Table.css
  packages/boxed-expression-component/src/components/Table/Table.tsx
  packages/boxed-expression-component/src/components/Table/TableBody.tsx
  packages/boxed-expression-component/src/components/Table/TableHandler.tsx
  packages/boxed-expression-component/src/components/Table/common/FocusUtils.ts
  packages/boxed-expression-component/src/context/BoxedExpressionGlobalContext.tsx
  packages/boxed-expression-component/src/hooks/Hooks.ts
  packages/boxed-expression-component/tests/components/Table/common/FocusUtils.test.ts
  packages/boxed-expression-component/tests/components/test-utils.tsx
  packages/keyboard-shortcuts/src/channel/Hooks.tsx
  packages/stunner-editors-dmn-loader/src/index.tsx
  packages/unitables/src/boxed/DmnRunnerTable.tsx
Labels: DMN/SceSim, Tools

#876 0.17.0 `CHANGELOG`s
  packages/vscode-extension-bpmn-editor/CHANGELOG.md
  packages/vscode-extension-dmn-editor/CHANGELOG.md
  packages/vscode-extension-kogito-bundle/CHANGELOG.md
  packages/vscode-extension-pmml-editor/CHANGELOG.md
  packages/vscode-extension-red-hat-business-automation-bundle/CHANGELOG.md
  packages/vscode-extension-serverless-workflow-editor/CHANGELOG.md
Labels: Tools

#867 KOGITO-6698: [DMN Editor] input and select boxes in header cells popups errors with esc key
  packages/boxed-expression-component/it-tests/integration/context_expression_spec.ts
  packages/boxed-expression-component/it-tests/integration/popover.spec.ts
  packages/boxed-expression-component/src/components/EditExpressionMenu/DataTypeSelector.tsx
  packages/boxed-expression-component/src/components/EditExpressionMenu/EditExpressionMenu.tsx
  packages/boxed-expression-component/src/components/PopoverMenu/PopoverMenu.tsx
  packages/boxed-expression-component/tests/components/EditExpressionMenu/EditExpressionMenu.test.tsx
  packages/boxed-expression-component/tests/components/test-utils.tsx
  packages/online-editor/it-tests/integration/DMNExpressionEditor.ts
Labels: DMN/SceSim, Tools

#877 KOGITO-6841: Remove `kie-parent` from the `stunner-editors` package
  packages/stunner-editors/appformer-bom/pom.xml
  packages/stunner-editors/drools-wb-screens/drools-wb-scenario-simulation-editor/drools-wb-scenario-simulation-editor-kogito-marshaller/pom.xml
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-marshaller/pom.xml
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-testing/pom.xml
  packages/stunner-editors/kie-wb-common-kogito/kie-wb-common-kogito-webapp-base/pom.xml
  packages/stunner-editors/pom.xml
Labels: BPMN/Stunner, DMN/SceSim

#892 KOGITO-6830: Remove kie-soup-bom dependency from the stunner-editors package (Additional dependencies clean-up)
  packages/stunner-editors/drools-wb-screens/drools-wb-scenario-simulation-editor/drools-wb-scenario-simulation-editor-kogito-runtime/src/main/resources/org/drools/workbench/screens/scenariosimulation/webapp/DroolsWorkbenchScenarioSimulationKogitoRuntime.gwt.xml
  packages/stunner-editors/drools-wb-screens/drools-wb-scenario-simulation-editor/drools-wb-scenario-simulation-editor-kogito-testing/src/main/resources/org/drools/workbench/screens/scenariosimulation/webapp/DroolsWorkbenchScenarioSimulationKogitoTesting.gwt.xml
  packages/stunner-editors/errai-cdi/errai-cdi-client/src/main/java/org/jboss/errai/enterprise/CDI.gwt.xml
  packages/stunner-editors/kie-wb-common-forms/kie-wb-common-forms-core/kie-wb-common-forms-adf/kie-wb-common-forms-adf-engine/kie-wb-common-forms-adf-engine-client/pom.xml
  packages/stunner-editors/kie-wb-common-forms/kie-wb-common-forms-core/kie-wb-common-forms-api/pom.xml
  packages/stunner-editors/kie-wb-common-forms/kie-wb-common-forms-core/kie-wb-common-forms-api/src/main/resources/org/kie/workbench/common/forms/FormsAPI.gwt.xml
  packages/stunner-editors/kie-wb-common-kogito/kie-wb-common-kogito-webapp-base/pom.xml
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-shapes/kie-wb-common-stunner-shapes-api/pom.xml
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-shapes/kie-wb-common-stunner-shapes-api/src/main/resources/org/kie/workbench/common/stunner/shapes/StunnerShapesApi.gwt.xml
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-shapes/kie-wb-common-stunner-shapes-client/pom.xml
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-api/kie-wb-common-stunner-backend-api/pom.xml
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-api/kie-wb-common-stunner-client-api/src/main/resources/org/kie/workbench/common/stunner/core/StunnerClientApi.gwt.xml
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-api/kie-wb-common-stunner-core-api/pom.xml
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-core-common/pom.xml
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-processors/pom.xml
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-extensions/kie-wb-common-stunner-kogito/kie-wb-common-stunner-kogito-client/pom.xml
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-extensions/kie-wb-common-stunner-kogito/kie-wb-common-stunner-kogito-client/src/main/resources/org/kie/workbench/common/stunner/kogito/StunnerKogitoClient.gwt.xml
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-extensions/kie-wb-common-stunner-svg/kie-wb-common-stunner-svg-client/pom.xml
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-api/pom.xml
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-api/src/main/resources/org/kie/workbench/common/stunner/bpmn/StunnerBpmnApi.gwt.xml
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-kogito-runtime/pom.xml
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-kogito-runtime/src/main/resources/org/kie/workbench/common/stunner/kogito/KogitoBPMNEditor.gwt.xml
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-marshalling/pom.xml
  packages/stunner-editors/uberfire-api/pom.xml
  packages/stunner-editors/uberfire-client-api/pom.xml
  packages/stunner-editors/uberfire-extensions/uberfire-commons-editor/uberfire-commons-editor-client/pom.xml
  packages/stunner-editors/uberfire-extensions/uberfire-layout-editor/uberfire-layout-editor-client/pom.xml
  packages/stunner-editors/uberfire-extensions/uberfire-layout-editor/uberfire-layout-editor-client/src/main/resources/org/uberfire/ext/layout/editor/UberfireLayoutEditorClient.gwt.xml
  packages/stunner-editors/uberfire-extensions/uberfire-widgets/uberfire-widgets-core/uberfire-widgets-core-client/pom.xml
  packages/stunner-editors/uberfire-extensions/uberfire-widgets/uberfire-widgets-core/uberfire-widgets-core-client/src/main/resources/org/uberfire/ext/widgets/core/UberfireWidgetsCore.gwt.xml
  packages/stunner-editors/uberfire-workbench/uberfire-workbench-client/pom.xml
  packages/stunner-editors/uberfire-workbench/uberfire-workbench-client/src/main/resources/org/uberfire/UberfireWorkbench.gwt.xml
Labels: BPMN/Stunner, DMN/SceSim

#905 KOGITO-6911: Adding a new DMN Runner input row using the Form '+' button is broken
  packages/form/src/dmn/DmnForm.tsx
  packages/online-editor/src/editor/DmnRunner/DmnRunnerDrawerPanelContent.tsx
Labels: Tools

#902 0.18.0 CHANGELOGs and fixes
  packages/stunner-editors/appformer-client-api/src/main/java/org/appformer/client/context/Channel.java
  packages/stunner-editors/appformer-kogito-bridge/src/test/java/org/appformer/kogito/bridge/client/context/ChannelTest.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/common/KogitoChannelHelper.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/types/listview/DataTypeList.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/test/java/org/kie/workbench/common/dmn/client/common/KogitoChannelHelperTest.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/test/java/org/kie/workbench/common/dmn/client/editors/types/listview/DataTypeListTest.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-common/src/main/java/org/kie/workbench/common/dmn/webapp/kogito/common/client/docks/KogitoDecisionNavigatorDock.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-common/src/main/java/org/kie/workbench/common/dmn/webapp/kogito/common/client/editors/documentation/DMNDocumentationViewButtonsVisibilitySupplier.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-common/src/test/java/org/kie/workbench/common/dmn/webapp/kogito/common/client/docks/KogitoDecisionNavigatorDockTest.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-common/src/test/java/org/kie/workbench/common/dmn/webapp/kogito/common/client/editors/documentation/DMNDocumentationViewButtonsVisibilitySupplierTest.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/test/java/org/kie/workbench/common/stunner/core/client/api/EditorReadOnlyProviderTest.java
  packages/vscode-extension-bpmn-editor/CHANGELOG.md
  packages/vscode-extension-dmn-editor/CHANGELOG.md
  packages/vscode-extension-kogito-bundle/CHANGELOG.md
  packages/vscode-extension-pmml-editor/CHANGELOG.md
  packages/vscode-extension-red-hat-business-automation-bundle/CHANGELOG.md
  packages/vscode-extension-serverless-workflow-editor/CHANGELOG.md
  scripts/update_version.js
Labels: Tools
