Repository apache/incubator-kie-tools, pull requests merged in 2022-08, with the labels that each got.

#1151 Improve `EnvelopeMapping`
  examples/base64png-editor-chrome-extension/src/contentscript.ts
  examples/base64png-editor-vscode-extension/src/extension.ts
  examples/webapp/src/Pages/Base64Png/Base64PngGallery.tsx
  examples/webapp/src/Pages/Base64Png/Base64PngPage.tsx
  examples/webapp/src/Pages/KogitoEditors/BpmnPage.tsx
  examples/webapp/src/Pages/KogitoEditors/DmnPage.tsx
  examples/webapp/src/Pages/KogitoEditors/Sidebar.tsx
  packages/chrome-extension-pack-kogito-kie-editors/src/github-content-script.ts
  packages/chrome-extension-serverless-workflow-editor/src/github-content-script.ts
  packages/chrome-extension/tests/testing_utils.tsx
  packages/dashbuilder-editor/dev-webapp/App.tsx
  packages/desktop/src/__tests__/testing_utils.tsx
  packages/desktop/src/webview/App.tsx
  packages/editor/src/api/EditorEnvelopeLocator.ts
  packages/editor/tests/embedded/embedded/EmbeddedEditor.test.tsx
  packages/editor/tests/embedded/embedded/EmbeddedViewer.test.tsx
  packages/online-editor/src/envelopeLocator/EditorEnvelopeLocatorContext.tsx
  packages/serverless-logic-sandbox/src/envelopeLocator/EditorEnvelopeLocatorContext.tsx
  packages/serverless-workflow-combined-editor/dev-webapp/App.tsx
  packages/serverless-workflow-combined-editor/src/editor/ServerlessWorkflowCombinedEditor.tsx
  packages/serverless-workflow-mermaid-viewer/dev-webapp/App.tsx
  packages/serverless-workflow-text-editor/dev-webapp/App.tsx
  packages/vscode-extension-bpmn-editor/src/extension/extension.ts
  packages/vscode-extension-dmn-editor/src/extension/extension.ts
  packages/vscode-extension-pack-kogito-kie-editors/src/extension/extension.ts
  packages/vscode-extension-pmml-editor/src/extension/extension.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/extension.ts
  packages/vscode-extension-yard-editor/src/extension/extension.ts
  packages/vscode-extension/src/VsCodeKieEditorControllerFactory.ts
  packages/yard-editor/dev-webapp/App.tsx
Labels: Foundation

#1149 KOGITO-7714: Dashbuilder: Cache Enabled on Datasets break when millis is not present
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/external/ExternalDataSetClientProvider.java
Labels: DashBuilder

#1150 Knative Workflow plugin: Remove Makefile `pnpm` dependency and update README
  README.md
  packages/extended-services/package.json
  packages/kn-plugin-workflow/Makefile
  packages/kn-plugin-workflow/README.md
  packages/kn-plugin-workflow/go.mod
  packages/kn-plugin-workflow/go.sum
  packages/kn-plugin-workflow/package.json
  pnpm-lock.yaml
Labels: Serverless Workflow

#1132 KOGITO-7123: Add integration test for autocompletion on SWF Editor VS Code Extension
  packages/vscode-extension-serverless-workflow-editor/it-tests/resources/autocompletion/autocompletion.sw.json
  packages/vscode-extension-serverless-workflow-editor/it-tests/resources/autocompletion/autocompletion.sw.json.result
  packages/vscode-extension-serverless-workflow-editor/it-tests/resources/autocompletion/specs/api.yaml
  packages/vscode-extension-serverless-workflow-editor/it-tests/serverless-workflow-editor-extension-autocompletion.test.ts
Labels: Serverless Workflow

#1159 Bring back JSON Schema to SWF Editor VS Code Extension
  packages/serverless-logic-sandbox/src/editor/api/SandboxSwfJsonLanguageService.ts
  packages/serverless-workflow-language-service/src/channel/SwfLanguageService.ts
  packages/serverless-workflow-language-service/tests/SwfJsonLanguageService.test.ts
  packages/serverless-workflow-language-service/tests/SwfYamlLanguageService.test.ts
  packages/serverless-workflow-language-service/tests/refValidations.test.ts
  packages/vscode-extension-serverless-workflow-editor/package.json
  packages/vscode-extension-serverless-workflow-editor/src/extension/ServerlessWorkflowEditorChannelApiProducer.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/builtInVsCodeEditorSwfContributions.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/languageService/VsCodeSwfLanguageService.ts
Labels: Serverless Workflow

#1121 KOGITO-7530: SWF Viewer can't visualize the workflow when transition is broken
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/autolayout/AutoLayout.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/marshall/Context.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/marshall/Marshaller.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/marshall/Message.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/marshall/MessageCode.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/marshall/ParseResult.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/marshall/TransitionMarshalling.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/test/java/org/kie/workbench/common/stunner/sw/autolayout/AutoLayoutBrokenTransitionTest.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/main/java/org/kie/workbench/common/stunner/sw/client/editor/DiagramEditor.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/main/java/org/kie/workbench/common/stunner/sw/client/services/ClientDiagramService.java
Labels: Serverless Workflow

#1158 Bump up Golang version to 1.19
  .github/actions/setup-env/action.yml
  README.md
  packages/extended-services/go.mod
  packages/extended-services/package.json
  packages/kn-plugin-workflow/README.md
  packages/kn-plugin-workflow/go.mod
Labels: Foundation

#1168 Improving `scripts/update_version.js` and create `scripts/bootstrap.js`
  .github/actions/setup-env/action.yml
  .github/workflows/monorepo_pr_ci.yml
  package.json
  packages/chrome-extension-pack-kogito-kie-editors/env/index.js
  packages/chrome-extension-pack-kogito-kie-editors/install.js
  packages/chrome-extension-pack-kogito-kie-editors/package.json
  packages/chrome-extension-serverless-workflow-editor/env/index.js
  packages/chrome-extension-serverless-workflow-editor/install.js
  packages/chrome-extension-serverless-workflow-editor/package.json
  packages/extended-services/env/index.js
  packages/extended-services/install.js
  packages/extended-services/package.json
  packages/kie-sandbox-extended-services-image/env/index.js
  packages/kie-sandbox-extended-services-image/package.json
  packages/kn-plugin-workflow/README.md
  packages/maven-config-setup-helper/index.js
  packages/vscode-java-code-completion-extension-plugin/install.js
  scripts/bootstrap.js
  scripts/sparse_checkout.sh
  scripts/update_version.js
Labels: Foundation

#1169 Fix staging `kn-plugin-workflow` artifacts upload
  .github/workflows/staging_build.yml
Labels: Foundation, Serverless Workflow

#1170 KOGITO-7670: Impossible to set image-registry and image-name in kn workflow build
  packages/kn-plugin-workflow/pkg/command/build.go
Labels: Serverless Workflow

#1174 Improve required preinstalled CLI commands checks and add `build-env` reports
  .github/actions/setup-env/action.yml
  package.json
  packages/backend-extended-services/package.json
  packages/build-env/env/index.js
  packages/build-env/src/bin.ts
  packages/build-env/src/index.ts
  packages/dashbuilder/package.json
  packages/dmn-dev-sandbox-quarkus/package.json
  packages/extended-services/package.json
  packages/kn-plugin-workflow/README.md
  packages/kn-plugin-workflow/package.json
  packages/serverless-workflow-diagram-editor/package.json
  packages/stunner-editors/package.json
  packages/vscode-java-code-completion-extension-plugin/package.json
  packages/webpack-base/env/index.js
  pnpm-lock.yaml
  scripts/bootstrap.js
  scripts/check_cli_tools.js
  scripts/check_required_preinstalled_cli_commands.mjs
  scripts/generate_build_env_report.mjs
  scripts/pnpm_filter.js
  scripts/sparse_checkout.sh
  scripts/update_version.js
Labels: Foundation

#1175 KOGITO-7740: KN Workflow plugin does not allow to use RHBQ version
  packages/kn-plugin-workflow/Makefile
  packages/kn-plugin-workflow/cmd/main.go
  packages/kn-plugin-workflow/env/index.js
  packages/kn-plugin-workflow/go.mod
  packages/kn-plugin-workflow/go.sum
  packages/kn-plugin-workflow/package.json
  packages/kn-plugin-workflow/pkg/command/build.go
  packages/kn-plugin-workflow/pkg/command/config.go
  packages/kn-plugin-workflow/pkg/command/config_workflow.go
  packages/kn-plugin-workflow/pkg/command/create.go
  packages/kn-plugin-workflow/pkg/common/constants.go
  packages/kn-plugin-workflow/pkg/common/helper.go
  packages/kn-plugin-workflow/pkg/root/root.go
Labels: Serverless Workflow

#1153 Remove all yarn remaining references
  .github/actions/setup-env/action.yml
  examples/base64png-editor-vscode-extension/package.json
  examples/todo-list-view-vscode-extension/package.json
  packages/backend-extended-services/package.json
  packages/dashbuilder/package.json
  packages/dmn-dev-sandbox-quarkus/package.json
  packages/kie-editors-standalone/package.json
  packages/serverless-workflow-diagram-editor/package.json
  packages/stunner-editors/package.json
  packages/vscode-extension-backend/package.json
  packages/vscode-extension-bpmn-editor/package.json
  packages/vscode-extension-dmn-editor/package.json
  packages/vscode-extension-kie-ba-bundle/package.json
  packages/vscode-extension-kogito-bundle/package.json
  packages/vscode-extension-pack-kogito-kie-editors/package.json
  packages/vscode-extension-pmml-editor/package.json
  packages/vscode-extension-red-hat-business-automation-bundle/package.json
  packages/vscode-extension-serverless-workflow-editor/package.json
  packages/vscode-extension-yard-editor/package.json
  packages/vscode-java-code-completion-extension-plugin/package.json
Labels: Foundation

#1106 KOGITO-7125: QE serverless logic - examples verification - Iteration 1
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/java/org/kie/workbench/common/stunner/sw/client/selenium/SWEditorSeleniumIT.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/resources/org/kie/workbench/common/stunner/sw/client/selenium/AccumulateRoomReadingsExample.sw.json
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/resources/org/kie/workbench/common/stunner/sw/client/selenium/ApplicantRequestDecisionExample.sw.json
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/resources/org/kie/workbench/common/stunner/sw/client/selenium/BookLendingExample.sw.json
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/resources/org/kie/workbench/common/stunner/sw/client/selenium/CarVitalsCheckExample.sw.json
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/resources/org/kie/workbench/common/stunner/sw/client/selenium/CheckInboxPeriodicallyExample.sw.json
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/resources/org/kie/workbench/common/stunner/sw/client/selenium/CustomerCreditCheckExample.sw.json
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/resources/org/kie/workbench/common/stunner/sw/client/selenium/EventBasedServiceInvocationExample.sw.json
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/resources/org/kie/workbench/common/stunner/sw/client/selenium/EventBasedSwitchStateExample.sw.json
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/resources/org/kie/workbench/common/stunner/sw/client/selenium/FillGlassOfWaterExample.sw.json
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/resources/org/kie/workbench/common/stunner/sw/client/selenium/FinalizeCollegeApplicationExample.sw.json
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/resources/org/kie/workbench/common/stunner/sw/client/selenium/HandleCarAuctionBidExample.sw.json
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/resources/org/kie/workbench/common/stunner/sw/client/selenium/JobMonitoringExample.sw.json
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/resources/org/kie/workbench/common/stunner/sw/client/selenium/MonitorPatientVitalSignsExample.sw.json
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/resources/org/kie/workbench/common/stunner/sw/client/selenium/NewPatientOnboardingExample.sw.json
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/resources/org/kie/workbench/common/stunner/sw/client/selenium/NotifyCustomerWorkflowExample.sw.json
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/resources/org/kie/workbench/common/stunner/sw/client/selenium/ProcessTransactionsExample.sw.json
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/resources/org/kie/workbench/common/stunner/sw/client/selenium/ProvisionOrdersExample.sw.json
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/resources/org/kie/workbench/common/stunner/sw/client/selenium/PurchaseOrderDeadlineExample.sw.json
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/resources/org/kie/workbench/common/stunner/sw/client/selenium/SendCloudEventOnProvisionExample.sw.json
Labels: Serverless Workflow, java

#1176 KOGITO-7748: Integration tests of `stunner-editors` are not parametrized to `build-env` settings
  packages/stunner-editors/package.json
Labels: BPMN/Stunner

#1180 Separating `CI :: Code formatting` and `CI :: Dependency consistency` checks for PRs
  .github/actions/bootstrap/action.yml
  .github/actions/setup-env/action.yml
  .github/workflows/check_code_formatting.yml
  .github/workflows/check_dependencies_consistency.yaml
  .github/workflows/monorepo_pr_ci.yml
  .github/workflows/monorepo_pr_ci_full.yml
  .github/workflows/publish_daily_dev_version.yml
  .github/workflows/release_build.yml
  .github/workflows/staging_build.yml
Labels: Foundation

#1140 KOGITO-7629: SWF Viewer - Exception is thrown when an arrow is selected
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/main/java/org/kie/workbench/common/stunner/sw/client/editor/ShapeEventsHandler.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/java/org/kie/workbench/common/stunner/sw/client/editor/ShapeEventsHandlerTest.java
Labels: Serverless Workflow

#1164 KOGITO-7679: SW Stunner Editor changes user's cursor if node is selected making it impossible to edit the file
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-api/kie-wb-common-stunner-client-api/src/main/java/org/kie/workbench/common/stunner/core/client/canvas/controls/SelectionControl.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/main/java/org/kie/workbench/common/stunner/core/client/canvas/controls/select/AbstractSelectionControl.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/main/java/org/kie/workbench/common/stunner/core/client/canvas/controls/select/MapSelectionControl.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/test/java/org/kie/workbench/common/stunner/core/client/canvas/controls/select/MapSelectionControlTest.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/main/java/org/kie/workbench/common/stunner/sw/client/editor/DiagramEditor.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/java/org/kie/workbench/common/stunner/sw/client/editor/DiagramEditorTest.java
Labels: Serverless Workflow

#1177 KOGITO-7731: [SWF Editor] LS auto-completion for full functionRef object does not work
  packages/serverless-workflow-language-service/src/channel/SwfJsonLanguageService.ts
  packages/serverless-workflow-language-service/src/channel/SwfLanguageService.ts
  packages/serverless-workflow-language-service/src/channel/SwfYamlLanguageService.ts
  packages/serverless-workflow-language-service/src/channel/findNodesAtLocation.ts
  packages/serverless-workflow-language-service/src/channel/matchNodeWithLocation.ts
  packages/serverless-workflow-language-service/src/channel/types.ts
  packages/serverless-workflow-language-service/tests/SwfJsonLanguageService.test.ts
  packages/serverless-workflow-language-service/tests/SwfLanguageService.test.ts
  packages/serverless-workflow-language-service/tests/SwfLanguageServiceConfigs.ts
  packages/serverless-workflow-language-service/tests/SwfYamlLanguageService.test.ts
  packages/serverless-workflow-language-service/tests/findNodesAtLocation.test.ts
  packages/serverless-workflow-language-service/tests/matchNodeWithLocation.test.ts
  packages/serverless-workflow-language-service/tests/nodeUpUntilType.test.ts
Labels: Serverless Workflow

#1187 Bump `flatten-maven-plugin` to `1.3.0`
  packages/backend-extended-services/pom.xml
  packages/dashbuilder/pom.xml
  packages/dmn-dev-sandbox-quarkus/pom.xml
  packages/serverless-workflow-diagram-editor/pom.xml
  packages/stunner-editors/pom.xml
  packages/vscode-java-code-completion-extension-plugin/pom.xml
Labels: Foundation

#1188 Remove private flag and symlink in dist from serverless-workflow-diagram-editor package
  packages/serverless-workflow-diagram-editor/package.json
  repo/graph.dot
Labels: Serverless Workflow

#1185 KOGITO-7230: Upgrade dependencies with reported vulnerabilities
  packages/stunner-editors/errai-bom/pom.xml
Labels: BPMN/Stunner, dependencies

#1193 Upload VS Code extensions bundles in staging
  .github/workflows/staging_build.yml
Labels: Foundation

#1191 0.22.0 CHANGELOGs
  packages/vscode-extension-bpmn-editor/CHANGELOG.md
  packages/vscode-extension-dmn-editor/CHANGELOG.md
  packages/vscode-extension-kie-ba-bundle/CHANGELOG.md
  packages/vscode-extension-kogito-bundle/CHANGELOG.md
  packages/vscode-extension-pmml-editor/CHANGELOG.md
  packages/vscode-extension-red-hat-business-automation-bundle/CHANGELOG.md
  packages/vscode-extension-serverless-workflow-editor/CHANGELOG.md
Labels: Foundation

#1198 KOGITO-7799: Lock dependencies for `@isomorphic-git/cors-proxy`
  packages/cors-proxy-image/assets/npm-shrinkwrap.json
  packages/cors-proxy-image/package.json
Labels: Foundation

#1197 Add --no-git-checks to release pnpm publish command
  .github/workflows/release_build.yml
Labels: Foundation

#1126 KOGITO-7663: Fix inconsistency in filename template description and default value
  packages/vscode-extension-serverless-workflow-editor/README.md
  packages/vscode-extension-serverless-workflow-editor/package.json
Labels: Serverless Workflow

#1200 Make default cors-proxy URL configurable through env var
  .github/workflows/publish_daily_dev_version.yml
  .github/workflows/release_build.yml
  .github/workflows/staging_build.yml
  packages/online-editor/env/index.js
  packages/online-editor/src/env/EnvContext.tsx
  packages/online-editor/webpack.config.js
  packages/serverless-logic-sandbox/env/index.js
  packages/serverless-logic-sandbox/src/env/EnvContext.tsx
  packages/serverless-logic-sandbox/webpack.config.js
Labels: Foundation

#1178 KOGITO-7648: KIE Tools - Integration tests intermittent faillure
  packages/boxed-expression-component/it-tests/integration/context_expression_spec.ts
  packages/boxed-expression-component/it-tests/integration/popover.spec.ts
  packages/vscode-extension-pack-kogito-kie-editors/.mocharc.json
  packages/vscode-extension-pack-kogito-kie-editors/it-tests/extension-editors-bpmn.test.ts
  packages/vscode-extension-pack-kogito-kie-editors/it-tests/extension-editors-dmn.test.ts
  packages/vscode-extension-pack-kogito-kie-editors/it-tests/extension-editors-scesim.test.ts
  packages/vscode-extension-pack-kogito-kie-editors/it-tests/extension-editors-smoke.test.ts
  packages/vscode-extension-pack-kogito-kie-editors/it-tests/helpers/VSCodeTestHelper.ts
  packages/vscode-extension-pack-kogito-kie-editors/package.json
  packages/vscode-extension-serverless-workflow-editor/package.json
  packages/vscode-extension-yard-editor/package.json
  pnpm-lock.yaml
Labels: BPMN/Stunner, DMN/SceSim, Serverless Workflow, yard

#1194 KOGITO-6427, KOGITO-7372 : Improvements on Generics
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-client/src/main/java/org/kie/workbench/common/stunner/bpmn/client/forms/fields/model/AssignmentData.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-client/src/main/java/org/kie/workbench/common/stunner/bpmn/client/forms/util/StringUtils.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-client/src/test/java/org/kie/workbench/common/stunner/bpmn/client/forms/util/StringUtilsTest.java
Labels: BPMN/Stunner

#1208 Configure Buildkite to keep track of our Integration Tests results
  .github/actions/setup-ci-patterns/action.yml
  .github/workflows/monorepo_pr_ci.yml
  .github/workflows/monorepo_pr_ci_full.yml
  .github/workflows/release_build.yml
  .github/workflows/staging_build.yml
Labels: Foundation

#1212 Update README logos and names, and improve 'Build from source' instructions
  README.md
  docs/kie.svg
Labels: Foundation
