Repository apache/incubator-kie-tools, pull requests merged in 2023-08, with the labels that each got.

#1872 KOGITO-9617: Remove the Extended Services from Serverless Logic Web Tools
  .github/workflows/daily_dev_publish.yml
  .github/workflows/release_build.yml
  .github/workflows/staging_build.yml
  packages/serverless-logic-web-tools/build/defaultEnvJson.ts
  packages/serverless-logic-web-tools/env/index.js
  packages/serverless-logic-web-tools/package.json
  packages/serverless-logic-web-tools/src/App.tsx
  packages/serverless-logic-web-tools/src/editor/Deploy/DeployButtons.tsx
  packages/serverless-logic-web-tools/src/editor/Deploy/DeployDropdownGroup.tsx
  packages/serverless-logic-web-tools/src/editor/EditorToolbar.tsx
  packages/serverless-logic-web-tools/src/editor/api/SwfServiceCatalogStore.ts
  packages/serverless-logic-web-tools/src/editor/hooks/useDeployDropdownItems.tsx
  packages/serverless-logic-web-tools/src/env/EnvJson.ts
  packages/serverless-logic-web-tools/src/extendedServices/AnimatedTripleDotLabel.tsx
  packages/serverless-logic-web-tools/src/extendedServices/ExtendedServicesBridge.tsx
  packages/serverless-logic-web-tools/src/extendedServices/ExtendedServicesContext.tsx
  packages/serverless-logic-web-tools/src/extendedServices/ExtendedServicesContextProvider.tsx
  packages/serverless-logic-web-tools/src/extendedServices/ExtendedServicesIcon.tsx
  packages/serverless-logic-web-tools/src/extendedServices/ExtendedServicesModal.tsx
  packages/serverless-logic-web-tools/src/extendedServices/ExtendedServicesStatus.tsx
  packages/serverless-logic-web-tools/src/extendedServices/FeatureDependentOnExtendedServices.tsx
  packages/serverless-logic-web-tools/src/homepage/pageTemplate/OnlineEditorPage.tsx
  packages/serverless-logic-web-tools/src/i18n/AppI18n.ts
  packages/serverless-logic-web-tools/src/i18n/locales/de.ts
  packages/serverless-logic-web-tools/src/i18n/locales/en.ts
  packages/serverless-logic-web-tools/src/navigation/Routes.ts
  packages/serverless-logic-web-tools/src/openshift/OpenShiftContextProvider.tsx
  packages/serverless-logic-web-tools/src/quickstarts-data/OpenShiftIntegrationQuickStart.ts
  packages/serverless-logic-web-tools/src/settings/SettingsContext.tsx
  packages/serverless-logic-web-tools/src/settings/extendedServices/ExtendedServicesSettings.tsx
  packages/serverless-logic-web-tools/src/settings/openshift/OpenShiftSettings.tsx
  packages/serverless-logic-web-tools/src/settings/openshift/OpenShiftSettingsSimpleConfig.tsx
  packages/serverless-logic-web-tools/src/settings/routes/SettingsPageRoutes.tsx
  packages/serverless-logic-web-tools/src/settings/serviceAccount/ServiceAccountSettings.tsx
  packages/serverless-logic-web-tools/src/settings/serviceRegistry/ServiceRegistrySettings.tsx
  packages/serverless-logic-web-tools/src/settings/uiNav/SettingsPageNav.tsx
  packages/serverless-logic-web-tools/static/resources/style.css
  packages/serverless-logic-web-tools/webpack.config.ts
  pnpm-lock.yaml
  repo/graph.dot
  repo/graph.json
Labels: Serverless Workflow

#1876 KOGITO-9645: Create basic integration tests for SWF Chrome extension
  packages/chrome-extension-pack-kogito-kie-editors/it-tests/README.md
  packages/chrome-extension-serverless-workflow-editor/it-tests/tests/SwfFullScreenTest.ts
  packages/chrome-extension-serverless-workflow-editor/it-tests/tests/SwfTest.ts
  packages/chrome-extension-serverless-workflow-editor/jest.it.config.js
  packages/chrome-extension-serverless-workflow-editor/package.json
  packages/chrome-extension-test-helper/src/framework/editor/Editor.ts
  packages/chrome-extension-test-helper/src/framework/editor/EditorPage.ts
  packages/chrome-extension-test-helper/src/framework/editor/swf/SwfEditor.ts
  packages/serverless-logic-web-tools/it-tests/cypress.config.ts
  pnpm-lock.yaml
  repo/graph.dot
  repo/graph.json
Labels: Serverless Workflow

#1883 KOGITO-8952: SWF Viewer - Unskip basic operation tests for VSCode SWF Extension
  packages/serverless-workflow-vscode-extension/it-tests/serverless-workflow-editor-extension-basic-operations.test.ts
Labels: Serverless Workflow

#1885 [0.31.0] KOGITO-9480: Temporary fix accessing the root path does not redirect to `index.html`
  packages/serverless-logic-web-tools/src/openshift/dropdown/OpenShiftDeploymentDropdownItem.tsx
Labels: waiting-for-ci, Serverless Workflow

#1887 [0.31.0] KOGITO-9668: SWF Editor - In VSCode the diagram reloads if a user clicks on any area of the canvas
  examples/base64png-editor-vscode-extension/package.json
  examples/todo-list-view-vscode-extension/package.json
  examples/todo-list-view/package.json
  packages/backend/package.json
  packages/bpmn-vscode-extension/README.md
  packages/bpmn-vscode-extension/package.json
  packages/dmn-vscode-extension/README.md
  packages/dmn-vscode-extension/package.json
  packages/kie-editors-dev-vscode-extension/package.json
  packages/notifications/package.json
  packages/pmml-vscode-extension/README.md
  packages/pmml-vscode-extension/package.json
  packages/serverless-workflow-vscode-extension/README.md
  packages/serverless-workflow-vscode-extension/package.json
  packages/serverless-workflow-vscode-extension/src/extension/setupDiagramEditorCompanionTab.ts
  packages/vscode-extension-dashbuilder-editor/README.md
  packages/vscode-extension-dashbuilder-editor/package.json
  packages/vscode-extension-kie-ba-bundle/README.md
  packages/vscode-extension-kie-ba-bundle/package.json
  packages/vscode-extension-kogito-bundle/README.md
  packages/vscode-extension-kogito-bundle/package.json
  packages/vscode-extension/package.json
  packages/vscode-java-code-completion/package.json
  packages/workspace/package.json
  packages/yard-vscode-extension/README.md
  packages/yard-vscode-extension/package.json
  pnpm-lock.yaml
Labels: waiting-for-ci, Serverless Workflow

#1886 KOGITO-9668: SWF Editor - In VSCode the diagram reloads if a user clicks on any area of the canvas
  examples/base64png-editor-vscode-extension/package.json
  examples/todo-list-view-vscode-extension/package.json
  examples/todo-list-view/package.json
  packages/backend/package.json
  packages/bpmn-vscode-extension/README.md
  packages/bpmn-vscode-extension/package.json
  packages/dmn-vscode-extension/README.md
  packages/dmn-vscode-extension/package.json
  packages/kie-editors-dev-vscode-extension/package.json
  packages/notifications/package.json
  packages/pmml-vscode-extension/README.md
  packages/pmml-vscode-extension/package.json
  packages/serverless-workflow-vscode-extension/README.md
  packages/serverless-workflow-vscode-extension/package.json
  packages/serverless-workflow-vscode-extension/src/extension/setupDiagramEditorCompanionTab.ts
  packages/vscode-extension-dashbuilder-editor/README.md
  packages/vscode-extension-dashbuilder-editor/package.json
  packages/vscode-extension-kie-ba-bundle/README.md
  packages/vscode-extension-kie-ba-bundle/package.json
  packages/vscode-extension-kogito-bundle/README.md
  packages/vscode-extension-kogito-bundle/package.json
  packages/vscode-extension/package.json
  packages/vscode-java-code-completion/package.json
  packages/workspace/package.json
  packages/yard-vscode-extension/README.md
  packages/yard-vscode-extension/package.json
  pnpm-lock.yaml
Labels: Serverless Workflow

#1889 [0.31.0] kie-issues#400: kie-sandbox: Models shared by embed code are not loaded
  packages/online-editor/src/editor/Toolbar/Share/EmbedModal.tsx
Labels: waiting-for-review, cherry-pick 🍒

#1893 KOGITO-9677: SWF Chrome Extension - Add token button missing
  packages/chrome-extension/src/app/Dependencies.ts
Labels: Foundation

#1894 [0.31.0] KOGITO-9677: SWF Chrome Extension - Add token button missing
  packages/chrome-extension/src/app/Dependencies.ts
Labels: Foundation

#1892 KOGITO-9036: SWF Editor - Fix IT tests failing in CI only
  packages/serverless-workflow-vscode-extension/it-tests/serverless-workflow-editor-extension-diagram-navigation.test.ts
Labels: Serverless Workflow

#1902 [0.31.0] KOGITO-9597: Broken error page layout
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/StunnerLienzoCore.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/canvas/patternfly/patternfly-additions.min.css
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/canvas/patternfly/patternfly.min.css
  packages/serverless-workflow-diagram-editor/kie-wb-common-widgets/kie-wb-common-ui/src/main/java/org/kie/workbench/common/widgets/client/errorpage/ErrorPage.css
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/main/webapp/index.html
Labels: Serverless Workflow

#1896 KOGITO-9597: Broken error page layout
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/StunnerLienzoCore.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/canvas/patternfly/patternfly-additions.min.css
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/canvas/patternfly/patternfly.min.css
  packages/serverless-workflow-diagram-editor/kie-wb-common-widgets/kie-wb-common-ui/src/main/java/org/kie/workbench/common/widgets/client/errorpage/ErrorPage.css
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/main/webapp/index.html
Labels: waiting-for-review, Serverless Workflow

#1904 NO-ISSUE: Bump `serverless-logic-web-tools-*-image` versions
  packages/serverless-logic-web-tools-base-builder-image/env/index.js
  packages/serverless-logic-web-tools-swf-builder-image/env/index.js
  packages/serverless-logic-web-tools-swf-deployment-quarkus-app/env/index.js
  packages/serverless-logic-web-tools-swf-deployment-quarkus-app/pom.xml
  packages/serverless-logic-web-tools-swf-dev-mode-image/env/index.js
Labels: Serverless Workflow

#1879 NO-ISSUE: 0.31.0 CHANGELOGs
  packages/bpmn-vscode-extension/CHANGELOG.md
  packages/dmn-vscode-extension/CHANGELOG.md
  packages/pmml-vscode-extension/CHANGELOG.md
  packages/serverless-workflow-vscode-extension/CHANGELOG.md
  packages/vscode-extension-dashbuilder-editor/CHANGELOG.md
  packages/vscode-extension-kie-ba-bundle/CHANGELOG.md
  packages/vscode-extension-kogito-bundle/CHANGELOG.md
Labels: DO NOT MERGE, waiting-for-review

#1900 NO-ISSUE: Hide Apache server version on kie-sandbox-image
  packages/kie-sandbox-image/Containerfile
Labels: Foundation

#1888 kie-issues#400: kie-sandbox: Models shared by embed code are not loaded
  packages/online-editor/src/editor/Toolbar/Share/EmbedModal.tsx
Labels: waiting-for-review

#1908 KOGITO-9685: Fix dirty state on SWF combined editor
  packages/serverless-logic-web-tools/src/editor/channel/SwfChannelComponent.tsx
  packages/serverless-workflow-combined-editor/dev-webapp/App.tsx
  packages/serverless-workflow-combined-editor/dev-webapp/HistoryButtons.scss
  packages/serverless-workflow-combined-editor/dev-webapp/HistoryButtons.tsx
  packages/serverless-workflow-combined-editor/dev-webapp/envelope/ServerlessWorkflowCombinedEditorEnvelopeApp.ts
  packages/serverless-workflow-combined-editor/src/channel/NoOpSwfServiceCatalogChannelApiImpl.ts
  packages/serverless-workflow-combined-editor/src/channel/ServerlessWorkflowDiagramEditorChannelApiImpl.ts
  packages/serverless-workflow-combined-editor/src/channel/ServerlessWorkflowTextEditorChannelApiImpl.ts
  packages/serverless-workflow-combined-editor/src/channel/SwfCombinedEditorChannelApiImpl.ts
  packages/serverless-workflow-combined-editor/src/channel/SwfServiceCatalogChannelApiImpl.ts
  packages/serverless-workflow-combined-editor/src/editor/ServerlessWorkflowCombinedEditor.tsx
  packages/serverless-workflow-combined-editor/src/editor/ServerlessWorkflowCombinedEditorView.tsx
  packages/serverless-workflow-combined-editor/src/editor/hooks/useSwfDiagramEditorChannelApi.tsx
  packages/serverless-workflow-combined-editor/src/editor/hooks/useSwfTextEditorChannelApi.tsx
  packages/serverless-workflow-standalone-editor/src/common/Editor.ts
  packages/serverless-workflow-text-editor/dev-webapp/App.tsx
  packages/serverless-workflow-text-editor/dev-webapp/HistoryButtons.scss
  packages/serverless-workflow-text-editor/dev-webapp/HistoryButtons.tsx
  packages/serverless-workflow-text-editor/src/editor/ServerlessWorkflowTextEditor.tsx
  packages/serverless-workflow-text-editor/src/editor/textEditor/SwfTextEditor.tsx
  packages/serverless-workflow-text-editor/src/editor/textEditor/SwfTextEditorController.ts
Labels: Serverless Workflow

#1898 NO-ISSUE: removed unused dependency in json yaml language service
  packages/json-yaml-language-service/package.json
  pnpm-lock.yaml
Labels: Foundation, Serverless Workflow

#1909 KOGITO-9539 - remove of IsWidget and other GWT modules from InlineEditor
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/pom.xml
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/main/java/org/kie/workbench/common/stunner/core/client/canvas/controls/inlineeditor/AbstractCanvasInlineTextEditorControl.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/main/java/org/kie/workbench/common/stunner/core/client/canvas/controls/inlineeditor/CanvasInlineTextEditorControl.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/main/java/org/kie/workbench/common/stunner/core/client/canvas/controls/inlineeditor/FloatingWidgetView.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/main/java/org/kie/workbench/common/stunner/core/client/canvas/controls/inlineeditor/FlowPanel.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/main/java/org/kie/workbench/common/stunner/core/client/canvas/controls/inlineeditor/TextEditorBox.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/test/java/org/kie/workbench/common/stunner/core/client/canvas/controls/inlineeditor/AbstractCanvasInlineTextEditorControlTest.java
Labels: waiting-for-review, Serverless Workflow, java

#1810 kie-issues#180: On DMN Editor's Boxed Expression Editor, when resizing Context/Invocation entry info cells, minWidths are getting messy
  packages/boxed-expression-component/src/expressions/ContextExpression/ContextExpression.tsx
  packages/boxed-expression-component/src/expressions/InvocationExpression/InvocationExpression.tsx
  packages/boxed-expression-component/src/resizing/WidthMaths.ts
Labels: DMN

#1906 NO-ISSUE: Minor fixes in the DMN Runner with Included Models
  packages/dmn-language-service/src/index.ts
  packages/dmn-runner/src/jsonSchema.ts
  packages/online-editor/src/dmnRunner/DmnRunnerContextProvider.tsx
  packages/online-editor/src/editor/EditorPage.tsx
  packages/online-editor/src/extendedServices/ExtendedServicesClient.ts
Labels: DMN

#1907 KOGITO-9680: Bump `vscode-extension-tester` version to 5.9.0
  examples/base64png-editor-vscode-extension/package.json
  examples/todo-list-view-vscode-extension/package.json
  packages/bpmn-vscode-extension/package.json
  packages/dmn-vscode-extension/package.json
  packages/kie-editors-dev-vscode-extension/package.json
  packages/pmml-vscode-extension/package.json
  packages/serverless-workflow-vscode-extension/package.json
  packages/vscode-extension-common-test-helpers/package.json
  packages/vscode-extension-dashbuilder-editor/package.json
  packages/vscode-extension-kie-ba-bundle/package.json
  packages/vscode-extension-kogito-bundle/package.json
  packages/yard-vscode-extension/package.json
  pnpm-lock.yaml
Labels: Serverless Workflow

#1918 KOGITO-9239: Add VS code integration tests with event autocompletion
  packages/serverless-workflow-vscode-extension/it-tests/resources/functions-events/event.sw.json
  packages/serverless-workflow-vscode-extension/it-tests/resources/functions-events/event.sw.json.result
  packages/serverless-workflow-vscode-extension/it-tests/resources/functions-events/event.sw.yaml
  packages/serverless-workflow-vscode-extension/it-tests/resources/functions-events/event.sw.yaml.result
  packages/serverless-workflow-vscode-extension/it-tests/resources/functions-events/function.sw.json
  packages/serverless-workflow-vscode-extension/it-tests/resources/functions-events/function.sw.json.result
  packages/serverless-workflow-vscode-extension/it-tests/resources/functions-events/function.sw.yaml
  packages/serverless-workflow-vscode-extension/it-tests/resources/functions-events/function.sw.yaml.result
  packages/serverless-workflow-vscode-extension/it-tests/resources/functions-events/routes/camel.json
  packages/serverless-workflow-vscode-extension/it-tests/resources/functions-events/routes/camel.yaml
  packages/serverless-workflow-vscode-extension/it-tests/resources/functions-events/specs/asyncapi.json
  packages/serverless-workflow-vscode-extension/it-tests/resources/functions-events/specs/asyncapi.yaml
  packages/serverless-workflow-vscode-extension/it-tests/resources/functions-events/specs/openapi.json
  packages/serverless-workflow-vscode-extension/it-tests/resources/functions-events/specs/openapi.yaml
  packages/serverless-workflow-vscode-extension/it-tests/serverless-workflow-editor-extension-events.test.ts
  packages/serverless-workflow-vscode-extension/it-tests/serverless-workflow-editor-extension-functions.test.ts
Labels: Serverless Workflow

#1911 KOGITO-8328: SWF Editor - Upgrade stream to GWT 2.10
  packages/serverless-workflow-diagram-editor/appformer-bom/pom.xml
  packages/serverless-workflow-diagram-editor/appformer-client-api/pom.xml
  packages/serverless-workflow-diagram-editor/appformer-kogito-bridge/pom.xml
  packages/serverless-workflow-diagram-editor/errai-bom/pom.xml
  packages/serverless-workflow-diagram-editor/errai-cdi/errai-cdi-client/pom.xml
  packages/serverless-workflow-diagram-editor/errai-cdi/errai-cdi-shared/pom.xml
  packages/serverless-workflow-diagram-editor/errai-codegen-gwt/pom.xml
  packages/serverless-workflow-diagram-editor/errai-codegen/pom.xml
  packages/serverless-workflow-diagram-editor/errai-common/pom.xml
  packages/serverless-workflow-diagram-editor/errai-config/pom.xml
  packages/serverless-workflow-diagram-editor/errai-ioc/pom.xml
  packages/serverless-workflow-diagram-editor/errai-ui/pom.xml
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-shapes/kie-wb-common-stunner-shapes-api/pom.xml
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-shapes/kie-wb-common-stunner-shapes-client/pom.xml
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-widgets/pom.xml
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-api/kie-wb-common-stunner-core-api/pom.xml
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-core-common/pom.xml
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-extensions/kie-wb-common-stunner-lienzo-extensions/pom.xml
  packages/serverless-workflow-diagram-editor/kie-wb-common-widgets/kie-wb-common-ui/pom.xml
  packages/serverless-workflow-diagram-editor/lienzo-core/pom.xml
  packages/serverless-workflow-diagram-editor/lienzo-tests/pom.xml
  packages/serverless-workflow-diagram-editor/lienzo-webapp/pom.xml
  packages/serverless-workflow-diagram-editor/pom.xml
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/pom.xml
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/pom.xml
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/pom.xml
  packages/serverless-workflow-diagram-editor/third_party/gwtbootstrap3/core/pom.xml
  packages/serverless-workflow-diagram-editor/uberfire-api/pom.xml
  packages/serverless-workflow-diagram-editor/uberfire-client-api/pom.xml
  packages/serverless-workflow-diagram-editor/uberfire-extensions/uberfire-commons-editor/uberfire-commons-editor-client/pom.xml
  packages/serverless-workflow-diagram-editor/uberfire-workbench/uberfire-workbench-client-views-patternfly/pom.xml
  packages/serverless-workflow-diagram-editor/uberfire-workbench/uberfire-workbench-client/pom.xml
Labels: Serverless Workflow

#1915 NO-ISSUE: Bump up the Golang version 1.20.7
  .github/actions/setup-env/action.yml
  README.md
  packages/kn-plugin-workflow/README.md
Labels: Foundation

#1916 KOGITO-9704: [yard Editor] Add diagram to YaRD editor
  packages/yard-editor/package.json
  packages/yard-editor/src/decision/DecisionExpressionDefinitions.ts
  packages/yard-editor/src/decision/index.ts
  packages/yard-editor/src/editor/YardEditor.tsx
  packages/yard-editor/src/model/YardModel.ts
  packages/yard-editor/src/model/YardSerializer.ts
  packages/yard-editor/src/uiEditor/YardUIEditor.css
  packages/yard-editor/src/uiEditor/YardUIEditor.tsx
  pnpm-lock.yaml
  repo/graph.dot
  repo/graph.json
Labels: yard

#1923 NO-ISSUE: Fix DSL check
  .github/workflows/jenkins-tests-PR.yml
Labels: waiting-for-ci, Foundation

#1928 KOGITO-9733: Fix broken QEMU (homebrew) on MacOS GH Actions
  .github/actions/setup-env/action.yml
Labels: waiting-for-ci, Foundation

#1926 KOGITO-9585: Resume executing all it tests
  packages/kn-plugin-workflow/it-tests/quarkus_run_test.go
  packages/kn-plugin-workflow/it-tests/run_test.go
Labels: waiting-for-qe, waiting-for-review, waiting-for-ci, Serverless Workflow, go

#1925 KOGITO-9730: Bump `vscode-extension-tester` version to 5.9.1
  packages/kie-editors-dev-vscode-extension/package.json
  packages/serverless-workflow-vscode-extension/package.json
  packages/vscode-extension-common-test-helpers/package.json
  packages/vscode-extension-dashbuilder-editor/package.json
  packages/yard-vscode-extension/package.json
  pnpm-lock.yaml
Labels: Foundation

#1882 KOGITO-9365 VsCode setup
  packages/kn-plugin-workflow/.vscode/launch.json
  packages/kn-plugin-workflow/.vscode/tasks.json
Labels: waiting-for-review, Serverless Workflow

#1914 KOGITO-9538: SWF Editor - Get rid of HandlerRegistration and MouseUpHandler
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/components/glyph/ShapeGlyphDragHandler.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/test/java/org/kie/workbench/common/stunner/client/lienzo/components/glyph/ShapeGlyphDragHandlerTest.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/test/java/org/kie/workbench/common/stunner/client/lienzo/components/mediators/ZoomLevelSelectorPresenterTest.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-widgets/src/main/java/org/kie/workbench/common/stunner/client/widgets/presenters/session/impl/SessionPresenterView.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/main/java/org/kie/workbench/common/stunner/core/client/canvas/controls/inlineeditor/AbstractCanvasInlineTextEditorControl.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/main/java/org/kie/workbench/common/stunner/core/client/components/views/FloatingWidgetView.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/main/java/org/kie/workbench/common/stunner/core/client/shape/view/event/GWTHandlerRegistration.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/main/java/org/kie/workbench/common/stunner/core/client/shape/view/event/NativeHandler.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/main/java/org/kie/workbench/common/stunner/core/client/shape/view/event/NativeHandlerRegistration.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-extensions/kie-wb-common-stunner-lienzo-extensions/src/main/java/org/kie/workbench/common/stunner/lienzo/primitive/AbstractDragProxy.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-extensions/kie-wb-common-stunner-lienzo-extensions/src/test/java/org/kie/workbench/common/stunner/lienzo/primitive/AbstractDragProxyTest.java
  packages/serverless-workflow-diagram-editor/lienzo-tests/src/test/java/com/ait/lienzo/client/core/shape/wires/WiresShapeTest.java
Labels: Serverless Workflow

#1933 kie-issues#488: Upgrade `pnpm` from `7.x.x` to `8.x.x` on `kie-tools`
  .github/actions/setup-env/action.yml
  README.md
  package.json
  packages/kn-plugin-workflow/README.md
  scripts/bootstrap/bootstrap.js
Labels: Foundation, dependencies

#1939 NO-ISSUE: Bump guava to 32.0.1 (SWF stunner-editors)
  packages/serverless-workflow-diagram-editor/pom.xml
Labels: dependencies

#1940 NO-ISSUE: Bump `webpack` to `5.88.2`
  README.md
  examples/base64png-editor-chrome-extension/package.json
  examples/base64png-editor-vscode-extension/package.json
  examples/todo-list-view-vscode-extension/package.json
  examples/uniforms-patternfly/package.json
  examples/webapp/package.json
  packages/boxed-expression-component/package.json
  packages/bpmn-vscode-extension/package.json
  packages/chrome-extension-pack-kogito-kie-editors/package.json
  packages/chrome-extension-serverless-workflow-editor/package.json
  packages/cors-proxy/package.json
  packages/dashbuilder-component-assembler/package.json
  packages/dashbuilder-component-echarts/package.json
  packages/dashbuilder-component-map/package.json
  packages/dashbuilder-component-svg-heatmap/package.json
  packages/dashbuilder-component-table/package.json
  packages/dashbuilder-component-timeseries/package.json
  packages/dashbuilder-component-uniforms/package.json
  packages/dashbuilder-component-victory-charts/package.json
  packages/dashbuilder-editor/package.json
  packages/dashbuilder-viewer-deployment-webapp/package.json
  packages/dashbuilder-viewer/package.json
  packages/dmn-dev-deployment-form-webapp/package.json
  packages/dmn-vscode-extension/package.json
  packages/feel-input-component/package.json
  packages/form-generation-tool/package.json
  packages/image-env-to-json/package.json
  packages/import-java-classes-component/package.json
  packages/kie-editors-dev-vscode-extension/package.json
  packages/kie-editors-standalone/package.json
  packages/monaco-editor/package.json
  packages/online-editor/package.json
  packages/patternfly-base/package.json
  packages/pmml-editor/package.json
  packages/pmml-vscode-extension/package.json
  packages/scesim-editor/package.json
  packages/serverless-logic-web-tools-swf-deployment-webapp/package.json
  packages/serverless-logic-web-tools/package.json
  packages/serverless-workflow-combined-editor/package.json
  packages/serverless-workflow-standalone-editor/package.json
  packages/serverless-workflow-text-editor/package.json
  packages/serverless-workflow-vscode-extension/package.json
  packages/stunner-editors-dmn-loader/package.json
  packages/uniforms-bootstrap4-codegen/package.json
  packages/uniforms-patternfly-codegen/package.json
  packages/uniforms-patternfly/package.json
  packages/vscode-extension-dashbuilder-editor/package.json
  packages/vscode-extension-kie-ba-bundle/package.json
  packages/vscode-extension-kogito-bundle/package.json
  packages/webpack-base/package.json
  packages/yard-editor/package.json
  packages/yard-vscode-extension/package.json
  pnpm-lock.yaml
Labels: dependencies

#1941 KOGITO-9768: SWF Chrome Extension - The node selection on Diagram doesn't move the cursor on the editor
  packages/chrome-extension-serverless-workflow-editor/src/envelope/ServerlessWorkflowTextEditorEnvelopeApp.ts
Labels: Serverless Workflow
