Repository apache/incubator-kie-tools, pull requests merged in 2023-12, with the labels that each got.

#2068 KOGITO-9964: Yard Validation: Masked rows check the mask wrong way around
  packages/yard-validator-worker/src/main/java/org/yard/validator/Parser.java
  packages/yard-validator-worker/src/main/java/org/yard/validator/checks/CheckProducer.java
  packages/yard-validator-worker/src/main/java/org/yard/validator/checks/SubsumptionCheck.java
  packages/yard-validator-worker/src/main/java/org/yard/validator/checks/Util.java
  packages/yard-validator-worker/src/test/java/org/yard/validator/YardValidatorTest.java
  packages/yard-validator-worker/src/test/resources/org/yard/validator/package-prices.yml
  packages/yard-validator-worker/src/test/resources/org/yard/validator/when-then-redundancy.yml
Labels: yard

#2065 KOGITO-9961: Node coloring stopped working on runtime tools
  packages/serverless-workflow-diagram-editor/appformer-kogito-bridge/src/main/java/org/appformer/kogito/bridge/client/diagramApi/DiagramApiService.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-widgets/src/main/java/org/kie/workbench/common/stunner/client/widgets/editor/StunnerEditor.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/main/java/org/kie/workbench/common/stunner/core/client/api/JsCanvasWrapper.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/main/java/org/kie/workbench/common/stunner/core/client/api/JsStunnerSession.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-core-common/pom.xml
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-core-common/src/main/java/org/kie/workbench/common/stunner/core/graph/content/view/ViewConnectorImpl.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-core-common/src/main/java/org/kie/workbench/common/stunner/core/graph/content/view/ViewImpl.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-core-common/src/main/java/org/kie/workbench/common/stunner/core/graph/impl/AbstractElement.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-core-common/src/main/java/org/kie/workbench/common/stunner/core/graph/impl/EdgeImpl.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-core-common/src/main/java/org/kie/workbench/common/stunner/core/graph/impl/NodeImpl.java
  packages/serverless-workflow-diagram-editor/lienzo-core/src/main/java/com/ait/lienzo/client/core/types/JsCanvas.java
  packages/serverless-workflow-diagram-editor/pom.xml
Labels: Serverless Workflow

#2089 NO-ISSUE: ASF CI Migration - Update Jenkins jobs repository names and credentials
  .ci/jenkins/Jenkinsfile.daily-dev-publish
  .ci/jenkins/Jenkinsfile.staging-build
  .ci/jenkins/release-jobs/Jenkinsfile.chrome-extensions
  .ci/jenkins/release-jobs/Jenkinsfile.online-editor
  .ci/jenkins/release-jobs/Jenkinsfile.serverless-logic-web-tools
  .ci/jenkins/release-jobs/Jenkinsfile.standalone-editors-cdn
  .ci/jenkins/shared-scripts/githubUtils.groovy
  .ci/jenkins/shared-scripts/pipelineVars.groovy
Labels: Foundation

#2096 NO-ISSUE: Remove duplicated version of `@patternfly/react-core` from the lock file
  pnpm-lock.yaml
Labels: waiting-for-ci, Foundation

#2092 kie-issues#2091: Subflow support on CLI
  packages/kn-plugin-workflow/e2e-tests/create_test.go
  packages/kn-plugin-workflow/e2e-tests/quarkus_convert_test.go
  packages/kn-plugin-workflow/e2e-tests/quarkus_create_test.go
  packages/kn-plugin-workflow/env/index.js
  packages/kn-plugin-workflow/pkg/command/create.go
  packages/kn-plugin-workflow/pkg/command/deploy.go
  packages/kn-plugin-workflow/pkg/command/deploy_undeploy_common.go
  packages/kn-plugin-workflow/pkg/command/gen_manifest.go
  packages/kn-plugin-workflow/pkg/command/quarkus/convert.go
  packages/kn-plugin-workflow/pkg/command/quarkus/create.go
  packages/kn-plugin-workflow/pkg/command/run.go
  packages/kn-plugin-workflow/pkg/command/undeploy.go
  packages/kn-plugin-workflow/pkg/common/create_workflow.go
  packages/kn-plugin-workflow/pkg/common/create_workflow_test.go
  packages/kn-plugin-workflow/pkg/common/io.go
  packages/kn-plugin-workflow/pkg/metadata/constants.go
  packages/kn-plugin-workflow/pkg/root/root.go
Labels: Serverless Workflow
