Repository apache/incubator-kie-tools, pull requests merged in 2023-09, with the labels that each got.

#1811 kie-issues#101: OpenShift AuthSession always shows 0 usages on KIE Sandbox
  packages/online-editor/src/authSessions/AuthSessionsList.tsx
Labels: Foundation

#1934 KOGITO-9724: Move selectFromContentAssist to SwfTextEditor class
  packages/serverless-workflow-vscode-extension/it-tests/helpers/swf/SwfTextEditor.ts
  packages/serverless-workflow-vscode-extension/it-tests/helpers/swf/SwfTextEditorTestHelper.ts
  packages/serverless-workflow-vscode-extension/it-tests/serverless-workflow-editor-extension-autocompletion.test.ts
  packages/serverless-workflow-vscode-extension/it-tests/serverless-workflow-editor-extension-events.test.ts
  packages/serverless-workflow-vscode-extension/it-tests/serverless-workflow-editor-extension-functions.test.ts
  packages/serverless-workflow-vscode-extension/tsconfig.it-tests.json
Labels: Serverless Workflow

#1937 KOGITO-9728: (Apache) SWF Editor - Remove Patternfly files from stunner source code
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/README.md
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/pom.xml
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/StunnerLienzoCore.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/canvas/patternfly/PatternFlyBundle.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/canvas/patternfly/bootstrap-select.min.css
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/canvas/patternfly/patternfly-additions.min.css
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/canvas/patternfly/patternfly.min.js
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/canvas/patternfly/uberfire-patternfly.css
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/resources/org/kie/workbench/common/stunner/client/lienzo/canvas/patternfly/animate-3.5.2.min.cache.css
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/resources/org/kie/workbench/common/stunner/client/lienzo/canvas/patternfly/bootstrap-3.4.1.min.cache.css
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/resources/org/kie/workbench/common/stunner/client/lienzo/canvas/patternfly/bootstrap-3.4.1.min.cache.js
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/resources/org/kie/workbench/common/stunner/client/lienzo/canvas/patternfly/font-awesome-4.7.0.min.cache.css
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/resources/org/kie/workbench/common/stunner/client/lienzo/canvas/patternfly/fonts.css
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/resources/org/kie/workbench/common/stunner/client/lienzo/canvas/patternfly/gwtbootstrap3.js
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/resources/org/kie/workbench/common/stunner/client/lienzo/canvas/patternfly/jquery-1.12.4.min.cache.js
  packages/serverless-workflow-diagram-editor/pom.xml
Labels: Serverless Workflow

#1932 kie-issues#385: Test Scenario Editor: Integration with scesim marshaller
  packages/scesim-editor/dev-webapp/src/DevWebApp.tsx
  packages/scesim-editor/package.json
  packages/scesim-editor/src/TestScenarioEditor.css
  packages/scesim-editor/src/TestScenarioEditor.tsx
  packages/scesim-editor/src/editor/TestScenarioEditor.tsx
  packages/scesim-editor/src/index.ts
  packages/scesim-editor/src/panels/TestToolsPanel.tsx
  packages/scesim-editor/src/reactExt/ErrorBoundary.tsx
  packages/scesim-editor/src/resources/EmptyScesimFile.ts
  packages/scesim-editor/src/resources/index.ts
  pnpm-lock.yaml
  repo/graph.dot
  repo/graph.json
Labels: Test Scenario

#1890 NO-ISSUE: Improved localization for Stunner BPMN Editor
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-api/src/main/resources/org/kie/workbench/common/stunner/bpmn/resources/i18n/StunnerBPMNConstants.properties
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-client/src/main/java/org/kie/workbench/common/stunner/bpmn/client/forms/fields/collaborationEditor/popup/editor/CorrelationsEditorWidgetViewImpl.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-client/src/main/java/org/kie/workbench/common/stunner/bpmn/client/forms/fields/metaDataEditor/MetaDataEditorWidget.html
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-client/src/main/java/org/kie/workbench/common/stunner/bpmn/client/forms/fields/metaDataEditor/MetaDataEditorWidgetViewImpl.java
Labels: BPMN, i18n

#1947 KOGITO-9646: cli kn workflow output is missing workflow string in output
  packages/kn-plugin-workflow/cmd/main.go
  packages/kn-plugin-workflow/go.mod
  packages/kn-plugin-workflow/go.sum
  packages/kn-plugin-workflow/go.work.sum
  packages/kn-plugin-workflow/pkg/root/root.go
  packages/kn-plugin-workflow/pkg/root/root_test.go
  packages/kn-plugin-workflow/plugin/plugin.go
Labels: waiting-for-qe, Serverless Workflow, go

#1950 kie-issues#510: Content assist in DMN Editor doesn't allow true/false without major changes
  packages/feel-input-component/src/FeelConfigs.ts
Labels: DMN

#1954 kie-issues#500: Replace copyright headers/comments. More leftovers
  packages/dashbuilder/appformer/uberfire-extensions/uberfire-widgets/uberfire-widgets-commons/src/main/java/org/uberfire/ext/widgets/common/client/tables/PopoverTextCell.java
  packages/serverless-workflow-diagram-editor/pom.xml
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/types/DataTypePickerWidget.html
  packages/stunner-editors/pom.xml
  packages/stunner-editors/uberfire-extensions/uberfire-widgets/uberfire-widgets-commons/src/main/java/org/uberfire/ext/widgets/common/client/tables/PopoverTextCell.java
Labels: Foundation

#1952 kie-issues#518: PMML Editor development mode is partially broken
  packages/pmml-editor/package.json
  pnpm-lock.yaml
Labels: PMML

#1959 NO-ISSUE: Bump `JDT.LS` to `1.28`
  packages/vscode-java-code-completion-extension-plugin/pom.xml
Labels: Foundation, dependencies

#1960 KOGITO-9088: Add VSCode extension tests for Serverless Workflow YAML files
  packages/serverless-workflow-vscode-extension/it-tests/resources/basic-operations/greet.sw.yaml
  packages/serverless-workflow-vscode-extension/it-tests/resources/basic-operations/hello-world.sw.yaml
  packages/serverless-workflow-vscode-extension/it-tests/resources/diagram-navigation/applicant-request-decision.sw.yaml
  packages/serverless-workflow-vscode-extension/it-tests/resources/syntax-highlight/syntax-highlight-hello-world.sw.yaml
  packages/serverless-workflow-vscode-extension/it-tests/serverless-workflow-editor-extension-basic-operations.test.ts
  packages/serverless-workflow-vscode-extension/it-tests/serverless-workflow-editor-extension-diagram-navigation.test.ts
  packages/serverless-workflow-vscode-extension/it-tests/serverless-workflow-editor-extension-syntax-highlight.test.ts
  packages/vscode-extension-common-test-helpers/src/KieFileExtensions.ts
  packages/vscode-extension-common-test-helpers/src/index.ts
Labels: waiting-for-ci, Serverless Workflow

#1955 KOGITO-9798: KN CLI - test separation, `test:it` and optional logs
  packages/kn-plugin-workflow/it-tests/helper_test.go
  packages/kn-plugin-workflow/it-tests/main_test.go
  packages/kn-plugin-workflow/it-tests/test_env.go
  packages/kn-plugin-workflow/package.json
Labels: waiting-for-qe, waiting-for-review, Foundation, go

#1956 KOGITO-9799: Update Go and KN-CLI modules
  .github/actions/setup-env/action.yml
  README.md
  packages/kn-plugin-workflow/README.md
  packages/kn-plugin-workflow/go.mod
  packages/kn-plugin-workflow/go.sum
  packages/kn-plugin-workflow/go.work.sum
  packages/kn-plugin-workflow/pkg/common/containers.go
Labels: waiting-for-qe, waiting-for-review, waiting-for-ci, Foundation, Serverless Workflow

#1962 kid-issues#358: CDN URL to latest Standalone Editors does not point to latest DMN Editor
  .github/workflows/release_build.yml
Labels: Foundation

#1958 NO-ISSUE: Removing unused `bootstrap` and `jquery` `js` assets
  packages/dashbuilder/appformer/uberfire-workbench/uberfire-workbench-client-views-patternfly/src/test/java/org/uberfire/client/views/pfly/PatternFlyTabTests.gwt.xml
  packages/dashbuilder/appformer/uberfire-workbench/uberfire-workbench-client-views-patternfly/src/test/java/org/uberfire/client/views/pfly/js/bootstrap-3.4.1.min.js
  packages/dashbuilder/appformer/uberfire-workbench/uberfire-workbench-client-views-patternfly/src/test/java/org/uberfire/client/views/pfly/js/jquery-1.12.4.min.js
  packages/stunner-editors/uberfire-workbench/uberfire-workbench-client-views-patternfly/src/test/java/org/uberfire/client/views/pfly/PatternFlyTabTests.gwt.xml
  packages/stunner-editors/uberfire-workbench/uberfire-workbench-client-views-patternfly/src/test/java/org/uberfire/client/views/pfly/js/bootstrap-3.4.1.min.js
  packages/stunner-editors/uberfire-workbench/uberfire-workbench-client-views-patternfly/src/test/java/org/uberfire/client/views/pfly/js/jquery-1.12.4.min.js
Labels: waiting-for-review, Foundation, dependencies

#1965 NO-ISSUE: Bump `commons-codec` to `1.16.0` version
  packages/dashbuilder/pom.xml
Labels: waiting-for-review, dependencies, java, DashBuilder

#1969 KOGITO-9693: Fix to hide codelens in read-only mode
  packages/serverless-workflow-text-editor/src/editor/textEditor/SwfTextEditor.tsx
  packages/serverless-workflow-text-editor/src/editor/textEditor/augmentation/codeLenses/index.ts
Labels: Serverless Workflow

#1967 NO-ISSUE: Bump `semver` to `7.5.4` version
  packages/backend/package.json
  pnpm-lock.yaml
Labels: Foundation, dependencies, javascript

#1968 NO-ISSUE: Bump `karma` to `6.7.4` version
  packages/kie-sandbox-fs/package.json
  pnpm-lock.yaml
Labels: Foundation, dependencies, javascript

#1966 NO-ISSUE: Update `go` to `1.21.1` follow-up
  examples/commit-message-validation-service/go.mod
  examples/commit-message-validation-service/go.sum
  packages/extended-services/go.mod
  packages/kn-plugin-workflow/go.mod
  packages/kn-plugin-workflow/go.sum
  packages/kn-plugin-workflow/go.work
Labels: Foundation, Serverless Workflow, go

#1971 NO-ISSUE: `jQuery` CVE resolution
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/test/java/org/kie/workbench/common/dmn/client/resources/images/dmn-shapes-tester.html
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-client/src/test/java/org/kie/workbench/common/stunner/bpmn/client/resources/images/bpmn-shapes-tester.html
  packages/stunner-editors/uberfire-workbench/uberfire-workbench-client-views-patternfly/pom.xml
Labels: dependencies

#1972 Bump `yaml` to version `2.3.2`
  packages/serverless-logic-web-tools/package.json
  packages/serverless-workflow-vscode-extension/package.json
  packages/yard-vscode-extension/package.json
  pnpm-lock.yaml
Labels: Serverless Workflow, dependencies, yard

#1957 kie-issues#538: Test Scenario Editor: i18n
  packages/scesim-editor/package.json
  packages/scesim-editor/src/TestScenarioEditor.tsx
  packages/scesim-editor/src/drawer/TestScenarioDrawerPanel.tsx
  packages/scesim-editor/src/drawer/TestScenarioDrawerSettingsPanel.tsx
  packages/scesim-editor/src/i18n/TestScenarioEditorI18n.ts
  packages/scesim-editor/src/i18n/index.ts
  packages/scesim-editor/src/i18n/locales/en.ts
  packages/scesim-editor/src/i18n/locales/index.ts
  packages/scesim-editor/src/i18n/setup.ts
  pnpm-lock.yaml
  repo/graph.dot
  repo/graph.json
Labels: waiting-for-review, i18n, Test Scenario

#1963 kie-issue#420: Boxed expression component context menu renders both selected and the chosen cell menu
  packages/boxed-expression-component/src/contextMenu/PopoverMenu/PopoverMenu.tsx
  packages/boxed-expression-component/src/expressions/BoxedExpressionEditor/BoxedExpressionEditorContext.tsx
  packages/boxed-expression-component/src/selection/BeeTableSelectionContext.tsx
  packages/boxed-expression-component/src/table/BeeTable/BeeTableContextMenuHandler.tsx
Labels: waiting-for-review, DMN

#1973 kie-issues#575: standalone-editors doesn't load the new Boxed Expression Editor
  packages/stunner-editors-dmn-loader/webpack.config.js
Labels: DMN

#1970 KOGITO-9824: Update Cypress version to 13.2.0
  packages/boxed-expression-component/package.json
  packages/kie-editors-standalone/package.json
  packages/online-editor/package.json
  packages/pmml-editor/package.json
  packages/serverless-logic-web-tools/package.json
  pnpm-lock.yaml
Labels: Foundation

#1983 NO-ISSUE: Fix lock file after two subsequent merges
  pnpm-lock.yaml
Labels: order: 1, waiting-for-ci, Foundation

#1980 NO-ISSUE: Bump `fast-xml-parser` to `4.3.1`
  packages/backend/package.json
  pnpm-lock.yaml
  scripts/check-junit-report-results/package.json
Labels: Foundation, dependencies

#1979 kie-issues#588: Add `NOTICE` file with findings in KIE Tools repository
  NOTICE
  packages/dashbuilder/appformer/uberfire-extensions/uberfire-widgets/uberfire-widgets-commons/src/test/java/org/uberfire/ext/widgets/common/client/tables/ColumnPickerTest.java
  packages/dashbuilder/appformer/uberfire-workbench/uberfire-workbench-processors-tests/src/test/resources/org/uberfire/annotations/processors/WorkbenchPopupTest13.java
  packages/stunner-editors/uberfire-extensions/uberfire-widgets/uberfire-widgets-commons/src/test/java/org/uberfire/ext/widgets/common/client/tables/ColumnPickerTest.java
Labels: Foundation

#1985 KOGITO-9823: Generate the CRs without need to deploy
  packages/kn-plugin-workflow/pkg/command/deploy.go
  packages/kn-plugin-workflow/pkg/command/gen_manifest.go
  packages/kn-plugin-workflow/pkg/root/root.go
  packages/kn-plugin-workflow/pkg/root/root_test.go
Labels: Serverless Workflow, go

#1987 KOGITO-9756: SWF Editor - Re-enable tests
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/components/glyph/ShapeGlyphDragHandler.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/test/java/org/kie/workbench/common/stunner/client/lienzo/canvas/LienzoCanvasViewTest.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/test/java/org/kie/workbench/common/stunner/client/lienzo/components/glyph/ShapeGlyphDragHandlerTest.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/test/java/org/kie/workbench/common/stunner/client/lienzo/components/mediators/ZoomLevelSelectorPresenterTest.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-widgets/src/main/java/org/kie/workbench/common/stunner/client/widgets/editor/StunnerEditor.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-widgets/src/test/java/org/kie/workbench/common/stunner/client/widgets/canvas/DelegateLienzoPanelTest.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-widgets/src/test/java/org/kie/workbench/common/stunner/client/widgets/components/glyph/ImageStripDOMGlyphRendererTest.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-widgets/src/test/java/org/kie/workbench/common/stunner/client/widgets/editor/StunnerEditorTest.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/pom.xml
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-extensions/kie-wb-common-stunner-lienzo-extensions/src/test/java/org/kie/workbench/common/stunner/lienzo/primitive/AbstractDragProxyTest.java
  packages/serverless-workflow-diagram-editor/lienzo-tests/src/main/java/com/ait/lienzo/test/stub/overlays/DomGlobal.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/java/org/kie/workbench/common/stunner/sw/client/editor/DiagramEditorTest.java
Labels: Serverless Workflow
