Repository apache/incubator-kie-tools, pull requests merged in 2023-03, with the labels that each got.

#1491 KOGITO-8750: Bump `vscode-extension-tester` version to 5.4.0
  examples/base64png-editor-vscode-extension/package.json
  examples/todo-list-view-vscode-extension/package.json
  packages/vscode-extension-backend/package.json
  packages/vscode-extension-bpmn-editor/package.json
  packages/vscode-extension-dashbuilder-editor/package.json
  packages/vscode-extension-dmn-editor/package.json
  packages/vscode-extension-kie-ba-bundle/package.json
  packages/vscode-extension-kogito-bundle/package.json
  packages/vscode-extension-pack-kogito-kie-editors/package.json
  packages/vscode-extension-pmml-editor/package.json
  packages/vscode-extension-red-hat-business-automation-bundle/package.json
  packages/vscode-extension-serverless-workflow-editor/package.json
  packages/vscode-extension-yard-editor/package.json
  pnpm-lock.yaml
Labels: waiting-for-review, waiting-for-ci, Foundation

#1493 [0.27.0-prerelease] KOGITO-8716: [SWF Viewer] Backward orthogonal Lines should not overlap states
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/autolayout/AutoLayout.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/test/java/org/kie/workbench/common/stunner/sw/autolayout/AutoLayoutTest.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/java/org/kie/workbench/common/stunner/sw/client/selenium/SWEditorSeleniumIT.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/resources/org/kie/workbench/common/stunner/sw/client/selenium/LoanBroker.sw.json
  packages/vscode-extension-serverless-workflow-editor/it-tests/serverless-workflow-editor-extension-diagram-navigation.test.ts
Labels: waiting-for-review

#1474 KOGITO-8714: SWF Viewer - display stateDataFilter parameter with icon
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/CallbackStateShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/EventStateShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/ForEachStateShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/InjectStateShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/OperationStateShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/ParallelStateShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/StateShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/StateShapeView.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/SwitchStateShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/TextUtils.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/icons/IconPath.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/icons/IconPosition.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/test/java/org/kie/workbench/common/stunner/sw/client/shapes/TextUtilsTest.java
Labels: waiting-for-review, Serverless Workflow, java

#1500 [0.27.0-prerelease] KOGITO-8782: Upgrade kn-plugin-workflow Quarkus version to 2.16.0.Final
  packages/kn-plugin-workflow/env/index.js
Labels: waiting-for-ci, Serverless Workflow

#1499 KOGITO-8782: Upgrade kn-plugin-workflow Quarkus version to 2.16.0.Final
  packages/kn-plugin-workflow/env/index.js
Labels: waiting-for-ci, Serverless Workflow

#1498 KOGITO-8776: [SWF Diagram Editor] VsCode Plugin is being updated during the IT tests execution
  packages/vscode-extension-pack-kogito-kie-editors/it-tests/settings.json
  packages/vscode-extension-serverless-workflow-editor/it-tests/serverless-workflow-editor-extension-diagram-navigation.test.ts
  packages/vscode-extension-serverless-workflow-editor/it-tests/settings.json
  packages/vscode-extension-yard-editor/it-tests/settings.json
Labels: waiting-for-review, Foundation

#1504 [0.27.0-prerelease] kie-issues#120: Fix DMN Dev deployments after kie-issues#26
  packages/form-dmn/src/DmnFormResult.tsx
  packages/form-dmn/tests/DmnForm.test.tsx
  packages/form-dmn/tests/__snapshots__/DmnForm.test.tsx.snap
  packages/form/src/FormBase.tsx
  packages/form/src/FormComponent.tsx
  packages/form/src/FormHook.tsx
  packages/online-editor/src/dmnRunnerInputs/DmnRunnerInputsDispatchContext.tsx
  packages/online-editor/src/dmnRunnerInputs/DmnRunnerInputsDispatchContextProvider.tsx
  packages/online-editor/src/dmnRunnerInputs/DmnRunnerInputsHook.tsx
  packages/online-editor/src/dmnRunnerInputs/DmnRunnerInputsService.tsx
  packages/online-editor/src/editor/DmnRunner/DmnRunnerDrawerPanelContent.tsx
  packages/online-editor/src/editor/KieSandboxExtendedServices/KieSandboxExtendedServicesButtons.tsx
Labels: Foundation

#1502 kie-issues#42: DMN Editor: Repetitive opening of properties panel for List expression
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/commands/expressions/types/list/AddListRowCommand.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/test/java/org/kie/workbench/common/dmn/client/commands/expressions/types/list/AddListRowCommandTest.java
Labels: DMN/SceSim

#1503 KOGITO-8765 Include index.css in the final bundle
  packages/dashbuilder-component-victory-charts/webpack.config.js
Labels: DashBuilder

#1511 KOGITO-8802: SWF Diagram Editor - depiction of actionMode parameter
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/OperationStateShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/StateShapeView.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/icons/BottomDepiction.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/icons/IconPath.java
Labels: waiting-for-review, Serverless Workflow, java

#1514 Fix dev-webapp of `serverless-workflow-text-editor`
  packages/serverless-workflow-text-editor/package.json
  pnpm-lock.yaml
Labels: Serverless Workflow

#1465 NO-ISSUE: Split EditorToolbar component for better dev experience and maintainability (KIE Sandbox)
  packages/online-editor/src/editor/EditorPage.tsx
  packages/online-editor/src/editor/EditorToolbar.tsx
  packages/online-editor/src/editor/Toolbar/EditorToolbar.tsx
  packages/online-editor/src/editor/Toolbar/EditorToolbarContextProvider.tsx
  packages/online-editor/src/editor/Toolbar/FileStatus.tsx
  packages/online-editor/src/editor/Toolbar/FileSwitcher.tsx
  packages/online-editor/src/editor/Toolbar/GitIntegration/CreateGistOrSnippetModal.tsx
  packages/online-editor/src/editor/Toolbar/GitIntegration/CreateGitRepositoryModal.tsx
  packages/online-editor/src/editor/Toolbar/GitIntegration/GitIntegrationAlerts.tsx
  packages/online-editor/src/editor/Toolbar/GitIntegration/GitIntegrationContextProvider.tsx
  packages/online-editor/src/editor/Toolbar/GitIntegration/LoadOrganizationsSelect.tsx
  packages/online-editor/src/editor/Toolbar/GitIntegration/PushToGitAlertActionLinks.tsx
  packages/online-editor/src/editor/Toolbar/KebabDropdown.tsx
  packages/online-editor/src/editor/Toolbar/NewFileDropdownMenu.tsx
  packages/online-editor/src/editor/Toolbar/Share/DownloadDropdownGroup.tsx
  packages/online-editor/src/editor/Toolbar/Share/EmbedDropdownGroup.tsx
  packages/online-editor/src/editor/Toolbar/Share/EmbedModal.tsx
  packages/online-editor/src/editor/Toolbar/Share/GitDropdownGroup.tsx
  packages/online-editor/src/editor/Toolbar/SyncDropdownMenu.tsx
  packages/online-editor/src/editor/Toolbar/VsCodeDropdownMenu.tsx
  packages/online-editor/src/editor/Toolbar/Workspace/Hooks.tsx
  packages/online-editor/src/editor/Toolbar/Workspace/WorkspaceToolbar.tsx
  packages/online-editor/src/home/HomePage.tsx
Labels: order: 1, Foundation

#1516 Improvements to the dev-webapp of `serverless-workflow-text-editor`
  packages/serverless-workflow-text-editor/dev-webapp/App.tsx
  packages/serverless-workflow-text-editor/dev-webapp/HistoryButtons.tsx
  packages/serverless-workflow-text-editor/dev-webapp/channel/DevWebAppSwfLanguageService.ts
  packages/serverless-workflow-text-editor/dev-webapp/channel/SwfLanguageServiceChannelApiImpl.ts
  packages/serverless-workflow-text-editor/dev-webapp/channel/SwfTextEditorChannelApiImpl.ts
Labels: waiting-for-review, Serverless Workflow

#1458 KOGITO-8335: [SWF Editor] Provide feedback when operationId is missing from Open API spec
  packages/serverless-logic-web-tools/src/editor/EditorPage.tsx
  packages/serverless-workflow-language-service/src/channel/SwfLanguageService.ts
  packages/serverless-workflow-language-service/src/channel/SwfLanguageServiceCodeCompletion.ts
  packages/serverless-workflow-service-catalog/src/channel/parsers/impl/openapi/openapi.ts
  packages/serverless-workflow-service-catalog/tests/channel/parsers/openapi/openapi.test.ts
Labels: waiting-for-qe, Serverless Workflow

#1519 KOGITO-8810: Improve Dashbuilder Error Message
  packages/dashbuilder/kie-soup-dataset/kie-soup-dataset-api/src/main/java/org/dashbuilder/dataset/json/ExternalDataSetJSONParser.java
Labels: DashBuilder

#1472 KOGITO-8624: Provide autocomplete support for JQ expressions
  packages/serverless-logic-web-tools/package.json
  packages/serverless-logic-web-tools/src/editor/api/WebToolsSwfLanguageService.ts
  packages/serverless-workflow-jq-expressions/README.md
  packages/serverless-workflow-jq-expressions/env/index.js
  packages/serverless-workflow-jq-expressions/jest.config.js
  packages/serverless-workflow-jq-expressions/package.json
  packages/serverless-workflow-jq-expressions/src/api/JqExpressionReadSchemas.ts
  packages/serverless-workflow-jq-expressions/src/api/index.ts
  packages/serverless-workflow-jq-expressions/src/api/types.ts
  packages/serverless-workflow-jq-expressions/src/impl/JqExpressionReadSchemasImpl.ts
  packages/serverless-workflow-jq-expressions/src/impl/index.ts
  packages/serverless-workflow-jq-expressions/src/utils/JqBuiltInFunctions.ts
  packages/serverless-workflow-jq-expressions/src/utils/index.ts
  packages/serverless-workflow-jq-expressions/src/utils/utils.ts
  packages/serverless-workflow-jq-expressions/tests/JqExpressionReadSchemasImpl.test.ts
  packages/serverless-workflow-jq-expressions/tests/mockSchema.ts
  packages/serverless-workflow-jq-expressions/tests/utils.test.ts
  packages/serverless-workflow-jq-expressions/tsconfig.json
  packages/serverless-workflow-language-service/package.json
  packages/serverless-workflow-language-service/src/channel/SwfLanguageService.ts
  packages/serverless-workflow-language-service/src/channel/SwfLanguageServiceCodeCompletion.ts
  packages/serverless-workflow-language-service/src/channel/SwfYamlLanguageService.ts
  packages/serverless-workflow-language-service/src/channel/types.ts
  packages/serverless-workflow-language-service/tests/SwfJqExpressionTestUtils.ts
  packages/serverless-workflow-language-service/tests/SwfJsonLanguageService.test.ts
  packages/serverless-workflow-language-service/tests/SwfLanguageServiceConfigs.ts
  packages/serverless-workflow-language-service/tests/SwfYamlLanguageService.test.ts
  packages/serverless-workflow-language-service/tests/__snapshots__/SwfJsonLanguageService.test.ts.snap
  packages/serverless-workflow-language-service/tests/__snapshots__/SwfYamlLanguageService.test.ts.snap
  packages/serverless-workflow-language-service/tests/findNodesAtLocation.test.ts
  packages/serverless-workflow-language-service/tests/getNodeFormat.test.ts
  packages/serverless-workflow-language-service/tests/matchNodeWithLocation.test.ts
  packages/serverless-workflow-language-service/tests/nodeUpUntilType.test.ts
  packages/serverless-workflow-language-service/tests/refValidations.test.ts
  packages/serverless-workflow-language-service/tests/testUtils.ts
  packages/serverless-workflow-service-catalog/package.json
  packages/serverless-workflow-service-catalog/src/channel/parsers/impl/jsonschema/JsonSchemaParser.ts
  packages/serverless-workflow-service-catalog/src/channel/parsers/impl/jsonschema/jsonschema.ts
  packages/serverless-workflow-service-catalog/src/channel/parsers/impl/openapi/openapi.ts
  packages/serverless-workflow-service-catalog/src/channel/parsers/index.ts
  packages/serverless-workflow-service-catalog/src/channel/parsers/parseApiContent.ts
  packages/serverless-workflow-service-catalog/tests/channel/parsers/examples/expression.json
  packages/serverless-workflow-service-catalog/tests/channel/parsers/jsonschema/jsonschema.test.ts
  packages/serverless-workflow-service-catalog/tests/channel/parsers/openapi/openapi.test.ts
  packages/serverless-workflow-service-catalog/tests/channel/parsers/parseApiContent.test.ts
  packages/serverless-workflow-standalone-editor/package.json
  packages/serverless-workflow-standalone-editor/src/swf/languageService/getLanguageServiceChannelApi.ts
  packages/serverless-workflow-text-editor/dev-webapp/channel/DevWebAppSwfLanguageService.ts
  packages/serverless-workflow-text-editor/src/editor/textEditor/augmentation/completion/index.ts
  packages/vscode-extension-serverless-workflow-editor/package.json
  packages/vscode-extension-serverless-workflow-editor/src/extension/builtInVsCodeEditorSwfContributions.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/configuration.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/jqExpressionCompletion/fs/JqExpressionsReadSchemaFromFs.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/languageService/VsCodeSwfLanguageService.ts
  pnpm-lock.yaml
  repo/graph.dot
  repo/graph.json
Labels: waiting-for-ci, Serverless Workflow

#1515 KOGITO-8793: BoudingBox values of states with tooltip boxes are wrong
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/icons/BottomDepiction.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/icons/CornerIcon.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/java/org/kie/workbench/common/stunner/sw/client/selenium/SWEditorSeleniumIT.java
  packages/vscode-extension-serverless-workflow-editor/it-tests/serverless-workflow-editor-extension-diagram-navigation.test.ts
Labels: Serverless Workflow, java

#1523 kie-issues#139: BPMN Editor breaking if `bpmn2` file lacks `id`
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-marshalling/src/main/java/org/kie/workbench/common/stunner/bpmn/client/marshall/converters/tostunner/DefinitionResolver.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-marshalling/src/main/java/org/kie/workbench/common/stunner/bpmn/client/marshall/converters/tostunner/processes/BaseRootProcessConverter.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-marshalling/src/main/java/org/kie/workbench/common/stunner/bpmn/client/marshall/service/BPMNClientMarshalling.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-marshalling/src/test/java/org/kie/workbench/common/stunner/bpmn/client/marshall/converters/tostunner/DefinitionResolverTest.java
Labels: BPMN/Stunner

#1481 kie-issues#85: Add more Git operations on KIE Sandbox
  packages/online-editor/src/editor/Toolbar/EditorToolbar.tsx
  packages/online-editor/src/editor/Toolbar/FileSwitcher.tsx
  packages/online-editor/src/editor/Toolbar/Workspace/WorkspaceToolbar.tsx
  packages/online-editor/src/filesList/FileDataList.tsx
  packages/online-editor/src/home/HomePage.tsx
  packages/online-editor/src/i18n/OnlineI18n.ts
  packages/online-editor/src/i18n/locales/en.ts
  packages/online-editor/src/workspace/components/GitStatusIndicatorActions.tsx
  packages/online-editor/src/workspace/components/WorkspaceStatusIndicator.tsx
  packages/online-editor/static/resources/style.css
  packages/serverless-logic-web-tools/src/workspace/components/WorkspaceStatusIndicator.tsx
  packages/workspaces-git-fs/src/context/WorkspacesContext.tsx
  packages/workspaces-git-fs/src/context/WorkspacesContextProvider.tsx
  packages/workspaces-git-fs/src/hooks/WorkspaceFileHooks.tsx
  packages/workspaces-git-fs/src/hooks/WorkspaceHooks.tsx
  packages/workspaces-git-fs/src/services/GitService.tsx
  packages/workspaces-git-fs/src/services/WorkspaceDescriptorService.tsx
  packages/workspaces-git-fs/src/worker/WorkspacesWorkerApiImpl.ts
  packages/workspaces-git-fs/src/worker/api/WorkspaceBroadcastEvents.ts
  packages/workspaces-git-fs/src/worker/api/WorkspacesWorkerGitApi.ts
Labels: Foundation

#1526 KOGITO-8873: Bump `vscode-extension-tester` version to 5.5.1
  packages/vscode-extension-dashbuilder-editor/package.json
  packages/vscode-extension-pack-kogito-kie-editors/package.json
  packages/vscode-extension-serverless-workflow-editor/package.json
  packages/vscode-extension-yard-editor/package.json
  pnpm-lock.yaml
Labels: Foundation

#1530 KOGITO-8728: Enable the Problems tab for Dashboards
  packages/dashbuilder-editor/src/api/DashbuilderEditorChannelApi.ts
  packages/dashbuilder-editor/src/editor/DashbuilderEditor.tsx
  packages/dashbuilder-editor/src/impl/DashbuilderEditorChannelApiImpl.ts
  packages/dashbuilder-editor/src/monaco/DashbuilderMonacoEditorApi.ts
  packages/serverless-logic-web-tools/package.json
  packages/serverless-logic-web-tools/src/editor/EditorPage.tsx
  packages/serverless-logic-web-tools/src/editor/EditorPageDockDrawer.tsx
  packages/serverless-logic-web-tools/src/editor/WebToolsEmbeddedEditor.tsx
  packages/serverless-logic-web-tools/src/editor/channel/DashChannelComponent.tsx
  packages/serverless-logic-web-tools/src/editor/channel/SwfChannelComponent.tsx
  packages/serverless-logic-web-tools/src/editor/hooks/useEditorNotifications.tsx
  packages/serverless-logic-web-tools/src/virtualServiceRegistry/hooks/useUpdateVirtualServiceRegistry.tsx
  packages/serverless-workflow-language-service/src/channel/SwfLanguageServiceCodeCompletion.ts
  packages/serverless-workflow-service-catalog/src/channel/parsers/impl/openapi/openapi.ts
  packages/serverless-workflow-service-catalog/tests/channel/parsers/openapi/openapi.test.ts
  pnpm-lock.yaml
Labels: Serverless Workflow, DashBuilder

#1534 KOGITO-8900: Update Cypress version to 12.8.1
  packages/boxed-expression-component/package.json
  packages/kie-editors-standalone/package.json
  packages/online-editor/package.json
  packages/pmml-editor/package.json
  packages/serverless-logic-web-tools/package.json
  pnpm-lock.yaml
Labels: Foundation

#1528 KOGITO-8659: Add functions and routes test for VS Code extension
  packages/vscode-extension-serverless-workflow-editor/it-tests/resources/functions/function.sw.json
  packages/vscode-extension-serverless-workflow-editor/it-tests/resources/functions/function.sw.json.result
  packages/vscode-extension-serverless-workflow-editor/it-tests/resources/functions/function.sw.yaml
  packages/vscode-extension-serverless-workflow-editor/it-tests/resources/functions/function.sw.yaml.result
  packages/vscode-extension-serverless-workflow-editor/it-tests/resources/functions/routes/camel.json
  packages/vscode-extension-serverless-workflow-editor/it-tests/resources/functions/routes/camel.yaml
  packages/vscode-extension-serverless-workflow-editor/it-tests/resources/functions/specs/asyncapi.json
  packages/vscode-extension-serverless-workflow-editor/it-tests/resources/functions/specs/asyncapi.yaml
  packages/vscode-extension-serverless-workflow-editor/it-tests/resources/functions/specs/openapi.json
  packages/vscode-extension-serverless-workflow-editor/it-tests/resources/functions/specs/openapi.yaml
  packages/vscode-extension-serverless-workflow-editor/it-tests/serverless-workflow-editor-extension-functions.test.ts
Labels: Serverless Workflow

#1532 KOGITO-8844: SWF Viewer - Preserve background color of a node in stunner diagram
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/shape/impl/LienzoShape.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/shape/impl/ShapeStateAttributeAnimationHandler.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/shape/impl/ShapeStateDefaultHandler.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/shape/view/MultipleAnimationHandle.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/shape/view/wires/WiresNoneLayoutContainer.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/shape/view/wires/WiresScalableContainer.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/shape/view/wires/ext/DecoratedShapeView.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/util/LienzoPictureUtils.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/util/LienzoSvgPaths.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/util/ShapeViewUserDataEncoder.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/test/java/org/kie/workbench/common/stunner/client/lienzo/shape/impl/ShapeStateAttributeAnimationHandlerTest.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/test/java/org/kie/workbench/common/stunner/client/lienzo/shape/impl/ShapeStateDefaultHandlerTest.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/test/java/org/kie/workbench/common/stunner/client/lienzo/shape/view/MultipleAnimationHandleTest.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/test/java/org/kie/workbench/common/stunner/client/lienzo/shape/view/wires/WiresScalableContainerTest.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/test/java/org/kie/workbench/common/stunner/client/lienzo/shape/view/wires/ext/DecoratedShapeViewTest.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/test/java/org/kie/workbench/common/stunner/client/lienzo/util/LienzoPictureUtilsTest.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-shapes/kie-wb-common-stunner-shapes-client/src/main/java/org/kie/workbench/common/stunner/shapes/client/BasicConnectorShape.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-shapes/kie-wb-common-stunner-shapes-client/src/main/java/org/kie/workbench/common/stunner/shapes/client/BasicContainerShape.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-shapes/kie-wb-common-stunner-shapes-client/src/main/java/org/kie/workbench/common/stunner/shapes/client/RingShape.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-shapes/kie-wb-common-stunner-shapes-client/src/main/java/org/kie/workbench/common/stunner/shapes/client/view/PictureShapeView.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-shapes/kie-wb-common-stunner-shapes-client/src/main/java/org/kie/workbench/common/stunner/shapes/client/view/ShapeViewFactory.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/main/java/org/kie/workbench/common/stunner/core/client/shape/impl/AbstractElementShape.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/main/java/org/kie/workbench/common/stunner/core/client/shape/impl/ShapeStateAttributesFactory.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/test/java/org/kie/workbench/common/stunner/core/client/shape/impl/NodeShapeImplTest.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/ServerlessWorkflowShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/ServerlessWorkflowShapeView.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/StateShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/TransitionShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/test/java/org/kie/workbench/common/stunner/sw/client/shapes/StateShapeTest.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/java/org/kie/workbench/common/stunner/sw/client/selenium/JsCanvasHelper.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/java/org/kie/workbench/common/stunner/sw/client/selenium/SWEditorSeleniumIT.java
Labels: Serverless Workflow, java

#1539 KOGITO-8912: Bump selenium-webdriver version to 4.8.1
  package.json
  packages/chrome-extension-pack-kogito-kie-editors/package.json
  packages/vscode-extension-dashbuilder-editor/it-tests/dashbuilder-editor-extension-smoke.test.ts
  packages/vscode-extension-dashbuilder-editor/package.json
  packages/vscode-extension-serverless-workflow-editor/package.json
  packages/vscode-extension-yard-editor/package.json
  patches/selenium-webdriver@4.8.1.patch
  pnpm-lock.yaml
Labels: Foundation

#1463 KOGITO-8151: Refactor file listing according to UX redesign
  packages/serverless-logic-web-tools/package.json
  packages/serverless-logic-web-tools/src/editor/EditorToolbar.tsx
  packages/serverless-logic-web-tools/src/homepage/pageTemplate/OnlineEditorPage.tsx
  packages/serverless-logic-web-tools/src/homepage/recentModels/ConfirmDeleteModal.tsx
  packages/serverless-logic-web-tools/src/homepage/recentModels/RecentModels.tsx
  packages/serverless-logic-web-tools/src/homepage/recentModels/WorkspacesTable.tsx
  packages/serverless-logic-web-tools/src/homepage/recentModels/WorkspacesTableRow.tsx
  packages/serverless-logic-web-tools/src/homepage/routes/HomePageRoutes.tsx
  packages/serverless-logic-web-tools/src/homepage/serverlessModels/ServerlessModels.tsx
  packages/serverless-logic-web-tools/src/homepage/uiNav/HomePageNav.tsx
  packages/serverless-logic-web-tools/src/navigation/Routes.ts
  packages/serverless-logic-web-tools/src/table/Table.css
  packages/serverless-logic-web-tools/src/table/TablePagination.tsx
  packages/serverless-logic-web-tools/src/table/TableToolbar.tsx
  pnpm-lock.yaml
Labels: Serverless Workflow, DashBuilder

#1536 KOGITO-8907: [SWF Editor] Highlight selected node after setContent in VS Code extension
  packages/editor/src/api/Editor.ts
  packages/kie-bc-editors/src/common/GwtEditorWrapper.tsx
  packages/kie-bc-editors/src/common/consumedInteropApi/GwtAppFormerConsumedInteropApi.ts
  packages/kie-bc-editors/tests/DummyEditor.tsx
  packages/kie-bc-editors/tests/GwtEditorWrapper.test.ts
  packages/serverless-workflow-combined-editor/src/impl/ServerlessWorkflowDiagramEditorChannelApiImpl.ts
  packages/serverless-workflow-diagram-editor-envelope/src/api/DiagramExposedInteropApi.ts
  packages/serverless-workflow-diagram-editor-envelope/src/api/DiagramService.ts
  packages/serverless-workflow-diagram-editor-envelope/src/api/ServerlessWorkflowDiagramEditorChannelApi.ts
  packages/serverless-workflow-diagram-editor-envelope/src/api/ServerlessWorkflowDiagramEditorEnvelopeApi.ts
  packages/serverless-workflow-diagram-editor-envelope/src/envelope/ServerlessWorkflowDiagramEditorEnvelopeApiImpl.ts
  packages/serverless-workflow-diagram-editor/appformer-kogito-bridge/src/main/java/org/appformer/kogito/bridge/client/diagramApi/DiagramApi.java
  packages/serverless-workflow-diagram-editor/appformer-kogito-bridge/src/main/java/org/appformer/kogito/bridge/client/diagramApi/DiagramApiInteropWrapper.java
  packages/serverless-workflow-diagram-editor/appformer-kogito-bridge/src/main/java/org/appformer/kogito/bridge/client/diagramApi/DiagramApiService.java
  packages/serverless-workflow-diagram-editor/appformer-kogito-bridge/src/main/java/org/appformer/kogito/bridge/client/diagramApi/NoOpDiagramApiService.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-widgets/src/main/java/org/kie/workbench/common/stunner/client/widgets/editor/StunnerEditor.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-widgets/src/main/java/org/kie/workbench/common/stunner/client/widgets/presenters/session/impl/AbstractSessionPresenter.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-widgets/src/test/java/org/kie/workbench/common/stunner/client/widgets/editor/StunnerEditorTest.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/main/java/org/kie/workbench/common/stunner/sw/client/editor/DiagramEditor.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/java/org/kie/workbench/common/stunner/sw/client/editor/DiagramEditorTest.java
  packages/vscode-extension-serverless-workflow-editor/src/extension/ServerlessWorkflowDiagramEditorChannelApiImpl.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/builtInVsCodeEditorSwfContributions.ts
Labels: BPMN/Stunner

#1525 kie-issues#91: An overhaul of how we handle extensions both in KIE Sandbox and Serverless Logic Web Tools
  packages/online-editor/src/accelerators/AcceleratorsHooks.tsx
  packages/online-editor/src/envelopeLocator/EditorEnvelopeLocatorFactory.ts
  packages/serverless-logic-web-tools/src/editor/Deploy/ConfirmDeployModal.tsx
  packages/serverless-logic-web-tools/src/editor/EditorToolbar.tsx
  packages/serverless-logic-web-tools/src/editor/NewFileDropdownMenu.tsx
  packages/serverless-logic-web-tools/src/editor/WebToolsEmbeddedEditor.tsx
  packages/serverless-logic-web-tools/src/editor/api/SwfServiceCatalogStore.ts
  packages/serverless-logic-web-tools/src/extension/index.ts
  packages/serverless-logic-web-tools/src/home/HomePage.tsx
  packages/serverless-logic-web-tools/src/home/SampleCard.tsx
  packages/serverless-logic-web-tools/src/openshift/deploy/strategies/DashboardWorkspaceDeployment.ts
  packages/serverless-logic-web-tools/src/virtualServiceRegistry/hooks/useVirtualServiceRegistryDependencies.tsx
  packages/serverless-logic-web-tools/src/virtualServiceRegistry/models/VirtualServiceRegistryFunction.ts
  packages/serverless-logic-web-tools/src/workspace/components/FileLabel.tsx
  packages/workspaces-git-fs/src/constants/ExtensionHelper.ts
  packages/workspaces-git-fs/src/relativePath/WorkspaceFileRelativePathParser.ts
Labels: Foundation

#1541 KOGITO-8316: SWF Viewer - Parallel state requires more details
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/definition/ParallelState.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/definition/custom/NumCompletedJsonTypeDeserializer.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/definition/custom/NumCompletedJsonTypeSerializer.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/resources/i18n/SWConstants.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/resources/org/kie/workbench/common/stunner/sw/resources/i18n/SWConstants.properties
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/HasActions.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/HasBranches.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/ParallelStateShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/icons/BottomText.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/icons/IconPath.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/test/java/org/kie/workbench/common/stunner/sw/client/shapes/HasActionsTest.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/test/java/org/kie/workbench/common/stunner/sw/client/shapes/HasBranchesTest.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/test/java/org/kie/workbench/common/stunner/sw/client/shapes/HasTranslationGeneralTest.java
Labels: waiting-for-qe, waiting-for-review, Serverless Workflow, java
