Repository apache/incubator-kie-tools, pull requests merged in 2023-07, with the labels that each got.

#1822 KOGITO-9332: Title name is shortened when it contains sequence of letters i,j or l
  packages/serverless-logic-web-tools/src/editor/FileSwitcher.tsx
Labels: Serverless Workflow

#1828 NO-ISSUE: Bump JDT.LS to 1.26
  packages/vscode-java-code-completion-extension-plugin/pom.xml
Labels: Foundation

#1826 KOGITO-9496: SWF Standalone Editor is not opening after added Firefox support
  packages/serverless-workflow-standalone-editor/resources/swf/swfDiagramEditorEnvelopeIndex.template
  packages/serverless-workflow-standalone-editor/src/common/EditorResources.ts
  packages/serverless-workflow-standalone-editor/src/swf/resources/SwfDiagramEditorResources.ts
Labels: Serverless Workflow

#1829 KOGITO-9423: Searching inside directories uses file extensions
  packages/serverless-logic-web-tools/src/homepage/recentModels/RecentModels.tsx
  packages/serverless-logic-web-tools/src/homepage/recentModels/workspaceFiles/WorkspaceFiles.tsx
  packages/serverless-logic-web-tools/src/regex/index.ts
Labels: Serverless Workflow

#1814 KOGITO-9062: Update Dashbuilder Editor Schema with latest fields
  packages/dashbuilder-editor/src/monaco/augmentation/language/schemas/dashbuilderSchema.ts
Labels: DashBuilder

#1823 NO-ISSUE: Proposal to prevent errors when an API is unsupported
  packages/envelope-bus/src/common/EnvelopeBusMessageManager.ts
Labels: Foundation

#1835 NO-ISSUE: Dashbuilder Editor Schema Fix
  packages/dashbuilder-editor/src/monaco/augmentation/language/schemas/dashbuilderSchema.ts
  packages/dashbuilder-editor/src/monaco/augmentation/language/schemas/index.ts
  packages/dashbuilder-editor/src/monaco/augmentation/language/yaml/index.ts
  packages/dashbuilder-language-service/src/assets/schemas/dashbuilder.ts
Labels: waiting-for-ci, DashBuilder

#1837 NO-ISSUE: Fixing Dashbuilder auto complete IT test
  packages/dashbuilder-language-service/src/assets/schemas/dashbuilder.ts
  packages/vscode-extension-dashbuilder-editor/it-tests/dashbuilder-editor-extension-autocompletion.test.ts
Labels: waiting-for-ci

#1841 NO-ISSUE: Temporarily disable `chrome-extensions-pack-kogito-kie-editors` integration tests
  packages/chrome-extension-pack-kogito-kie-editors/package.json
Labels: Foundation

#1838 KOGITO-9499: Support POST for Dashbuilder external DataSets
  packages/dashbuilder-language-service/src/assets/schemas/dashbuilder.ts
  packages/dashbuilder/dashbuilder-client/dashbuilder-dataset-client/src/main/java/org/dashbuilder/dataset/client/ExternalDataSetParserProvider.java
  packages/dashbuilder/dashbuilder-client/dashbuilder-displayer-editor/src/main/java/org/dashbuilder/client/editor/DisplayerDragComponent.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/external/ExternalDataSetClientProvider.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/external/ExternalDataSetParserProviderImpl.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/services/JoinDataSetsService.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/test/java/org/dashbuilder/client/services/JoinDataSetsServiceTest.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-shared/src/main/java/org/dashbuilder/shared/marshalling/GlobalSettingsJSONMarshaller.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-shared/src/main/java/org/dashbuilder/shared/marshalling/LayoutTemplateJSONMarshaller.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-shared/src/main/java/org/dashbuilder/shared/marshalling/RuntimeModelJSONMarshaller.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-shared/src/test/java/org/dashbuilder/shared/marshalling/RuntimeModelJSONMarshallerTest.java
  packages/dashbuilder/dashbuilder-shared/dashbuilder-displayer-api/src/main/java/org/dashbuilder/displayer/GlobalDisplayerSettings.java
  packages/dashbuilder/dashbuilder-shared/dashbuilder-displayer-api/src/main/java/org/dashbuilder/displayer/json/DisplayerSettingsJSONMarshaller.java
  packages/dashbuilder/dashbuilder-shared/dashbuilder-displayer-api/src/test/java/org/dashbuilder/displayer/GlobalDisplayerSettingsTest.java
  packages/dashbuilder/kie-soup-dataset/kie-soup-dataset-api/src/main/java/org/dashbuilder/dataset/def/ExternalDataSetDef.java
  packages/dashbuilder/kie-soup-dataset/kie-soup-dataset-api/src/main/java/org/dashbuilder/dataset/def/HttpMethod.java
  packages/dashbuilder/kie-soup-dataset/kie-soup-dataset-api/src/main/java/org/dashbuilder/dataset/json/ExternalDefJSONMarshaller.java
Labels: DashBuilder

#1832 KOGITO-9422: Uploading second non editable file will cause error
  packages/workspaces-git-fs/src/worker/WorkspacesWorkerApiImpl.ts
Labels: Foundation, Serverless Workflow

#1842 NO-ISSUE: Temporarily disable `serverless-logic-web-tools-swf-dev-mode-image` build due to lack of space
  packages/serverless-logic-web-tools-swf-dev-mode-image/package.json
Labels: Foundation

#1831 kie-issues#376: DMN Runner context menu options are not appropriate regarding the selected cell
  packages/boxed-expression-component/src/expressions/ContextExpression/ContextExpression.tsx
  packages/boxed-expression-component/src/expressions/DecisionTableExpression/DecisionTableExpression.tsx
  packages/boxed-expression-component/src/expressions/FunctionExpression/FeelFunctionExpression.tsx
  packages/boxed-expression-component/src/expressions/FunctionExpression/JavaFunctionExpression.tsx
  packages/boxed-expression-component/src/expressions/FunctionExpression/PmmlFunctionExpression.tsx
  packages/boxed-expression-component/src/expressions/InvocationExpression/InvocationExpression.tsx
  packages/boxed-expression-component/src/expressions/ListExpression/ListExpression.tsx
  packages/boxed-expression-component/src/expressions/LiteralExpression/LiteralExpression.tsx
  packages/boxed-expression-component/src/expressions/RelationExpression/RelationExpression.tsx
  packages/unitables-dmn/src/DmnRunnerOutputsTable.tsx
  packages/unitables/src/bee/UnitablesBeeTable.tsx
Labels: DMN/SceSim

#1846 KOGITO-9571: "quarkus convert" command is broken on KN CLI due to KogitoDataIndexInMemory not being part of RHBQ registry
  packages/kn-plugin-workflow/pkg/command/quarkus/convert.go
Labels: Serverless Workflow, go

#1848 NO-ISSUE: Use fyne.io/systray fork on extended-services, removing libappindicator dependencies
  README.md
  packages/extended-services/README.md
  packages/extended-services/go.mod
  packages/extended-services/go.sum
  packages/extended-services/package.json
  packages/extended-services/pkg/systray.go
Labels: Foundation

#1849 NO-ISSUE: Build `serverless-logic-web-tools-swf-dev-mode-image` separately on CI Build workflow
  .github/workflows/ci_build.yml
  packages/serverless-logic-web-tools-swf-dev-mode-image/package.json
Labels: Foundation

#1836 KOGITO-9250: Add details panel to samples
  packages/serverless-logic-web-tools/src/homepage/overView/Overview.tsx
  packages/serverless-logic-web-tools/src/homepage/recentModels/workspaceFiles/WorkspaceFiles.tsx
  packages/serverless-logic-web-tools/src/samples/ExpandableAuthor.tsx
  packages/serverless-logic-web-tools/src/samples/SampleCard.tsx
  packages/serverless-logic-web-tools/src/samples/SampleCategoryComponent.tsx
  packages/serverless-logic-web-tools/src/samples/SamplePanelContent.tsx
  packages/serverless-logic-web-tools/src/samples/SamplesCatalog.tsx
  packages/serverless-logic-web-tools/src/settings/storage/StorageSettings.tsx
  packages/serverless-logic-web-tools/src/table/ConfirmDeleteModal.tsx
  packages/serverless-logic-web-tools/src/workspace/components/FileLabel.tsx
  packages/serverless-logic-web-tools/src/workspace/components/ServerlessCategoryMap.tsx
Labels: Serverless Workflow

#1840 KOGITO-9553: Replace docker commands with docker go client
  packages/kn-plugin-workflow/go.mod
  packages/kn-plugin-workflow/pkg/command/run.go
  packages/kn-plugin-workflow/pkg/common/checks.go
  packages/kn-plugin-workflow/pkg/common/containers.go
  packages/kn-plugin-workflow/pkg/metadata/constants.go
Labels: Serverless Workflow, go

#1720 KOGITO-9245: Chrome Extension is not properly working with the "New Code Search and Code View" GitHub Feature Preview
  packages/chrome-extension-pack-kogito-kie-editors/it-tests/framework/github-editor/GitHubEditorPage.ts
  packages/chrome-extension-pack-kogito-kie-editors/it-tests/framework/github-file-list/GitHubListItem.ts
  packages/chrome-extension-pack-kogito-kie-editors/it-tests/framework/github-file-list/GitHubListPage.ts
  packages/chrome-extension-pack-kogito-kie-editors/package.json
  packages/chrome-extension-pack-kogito-kie-editors/static/scripts/set_content.js
  packages/chrome-extension-pack-kogito-kie-editors/static/scripts/update_content.js
  packages/chrome-extension-serverless-workflow-editor/static/scripts/set_content.js
  packages/chrome-extension-serverless-workflow-editor/static/scripts/update_content.js
  packages/chrome-extension-serverless-workflow-editor/webpack.config.js
  packages/chrome-extension/src/app/Dependencies.ts
  packages/chrome-extension/src/app/components/pr/IsolatedPrEditor.tsx
  packages/chrome-extension/src/app/components/pr/prEditors.tsx
  packages/chrome-extension/src/app/components/single/SingleEditorApp.tsx
  packages/chrome-extension/src/app/components/single/singleEditorEdit.tsx
  packages/chrome-extension/src/app/components/single/singleEditorView.tsx
  packages/chrome-extension/src/app/github/api.ts
  packages/chrome-extension/src/app/utils.ts
  packages/chrome-extension/src/index.ts
  packages/chrome-extension/tests/app/components/single/SingleEditorApp.test.tsx
  packages/chrome-extension/tests/app/components/single/__snapshots__/SingleEditorApp.test.tsx.snap
Labels: waiting-for-ci, Foundation, Serverless Workflow

#1850 kie-issues#382: [DMN Editor] Superfluous newline in multi-cell copy/paste
  packages/boxed-expression-component/src/selection/BeeTableSelectionContext.tsx
Labels: DMN, Foundation

#1847 NO-ISSUE: Don't build container images on windows CI (daily-dev)
  .github/workflows/daily_dev_publish.yml
Labels: Foundation

#1844 kie-issues#384: Test Scenario Editor: Package and Dev webapp creation
  packages/scesim-editor/LICENSE
  packages/scesim-editor/README.md
  packages/scesim-editor/dev-webapp/src/DevWebApp.tsx
  packages/scesim-editor/dev-webapp/src/index.css
  packages/scesim-editor/dev-webapp/src/index.tsx
  packages/scesim-editor/dev-webapp/static/favicon.ico
  packages/scesim-editor/dev-webapp/static/index.html
  packages/scesim-editor/dev-webapp/tsconfig.json
  packages/scesim-editor/dev-webapp/webpack.config.js
  packages/scesim-editor/env/index.js
  packages/scesim-editor/package.json
  packages/scesim-editor/src/editor/TestScenarioEditor.css
  packages/scesim-editor/src/editor/TestScenarioEditor.tsx
  packages/scesim-editor/src/editor/index.ts
  packages/scesim-editor/src/index.ts
  packages/scesim-editor/src/panels/TestToolsPanel.tsx
  packages/scesim-editor/tsconfig.json
  pnpm-lock.yaml
  repo/graph.dot
  repo/graph.json
Labels: Foundation, Test Scenario

#1860 KOGITO-9424: No popup in the recent models filesAdd Tooltip to WorkspacesTableRow
  packages/serverless-logic-web-tools/src/homepage/recentModels/WorkspacesTableRow.tsx
Labels: Serverless Workflow

#1861 NO-ISSUE: Fix dmn-dev-deployment-form-webapp dev server for windows
  packages/dmn-dev-deployment-base-image/package.json
  packages/dmn-dev-deployment-form-webapp/dev-webapp/start.js
  packages/dmn-dev-deployment-form-webapp/dev-webapp/webapp/static/data.json
  packages/dmn-dev-deployment-form-webapp/dev-webapp/webapp/webpack.config.js
  packages/dmn-dev-deployment-form-webapp/env/index.js
  packages/dmn-dev-deployment-form-webapp/package.json
  packages/dmn-dev-deployment-form-webapp/src/DmnDevDeploymentRuntimeApi.tsx
  packages/dmn-dev-deployment-form-webapp/src/DmnFormApp.tsx
  packages/dmn-dev-deployment-form-webapp/src/DmnFormPage.tsx
  packages/dmn-dev-deployment-form-webapp/src/DmnFormToolbar.tsx
  packages/dmn-dev-deployment-form-webapp/src/Routes.tsx
  packages/dmn-dev-deployment-form-webapp/static/data.json
  packages/dmn-dev-deployment-form-webapp/webpack.config.js
Labels: DMN

#1866 NO-ISSUE: Update versions on `serverless-logic-web-tools-*-image`
  packages/serverless-logic-web-tools-base-builder-image/env/index.js
  packages/serverless-logic-web-tools-swf-builder-image/env/index.js
  packages/serverless-logic-web-tools-swf-deployment-quarkus-app/env/index.js
  packages/serverless-logic-web-tools-swf-deployment-quarkus-app/install.js
  packages/serverless-logic-web-tools-swf-deployment-quarkus-app/pom.xml
  packages/serverless-logic-web-tools-swf-dev-mode-image/env/index.js
Labels: Serverless Workflow

#1853 KOGITO-9581: cli run is not showing dev mode image logs
  packages/kn-plugin-workflow/pkg/common/containers.go
Labels: waiting-for-qe, Serverless Workflow, go

#1852 KOGITO-9580: cli run is not opening browser window with dev ui
  packages/kn-plugin-workflow/.gitignore
  packages/kn-plugin-workflow/README.md
  packages/kn-plugin-workflow/env/index.js
  packages/kn-plugin-workflow/it-tests/helper_test.go
  packages/kn-plugin-workflow/it-tests/quarkus_build_test.go
  packages/kn-plugin-workflow/it-tests/quarkus_run_test.go
  packages/kn-plugin-workflow/it-tests/run_test.go
  packages/kn-plugin-workflow/it-tests/test_env.go
  packages/kn-plugin-workflow/pkg/command/quarkus/run.go
  packages/kn-plugin-workflow/pkg/command/run.go
  packages/kn-plugin-workflow/pkg/common/readyCheck.go
Labels: waiting-for-qe, Serverless Workflow, go

#1862 KOGITO-9596: Remove the need for polyfill on serverless workflow core packages
  .vscode/settings.json
  packages/eslint/eslint.js
  packages/eslint/package.json
  packages/serverless-workflow-combined-editor/.eslintrc.js
  packages/serverless-workflow-combined-editor/package.json
  packages/serverless-workflow-combined-editor/src/editor/ServerlessWorkflowCombinedEditor.tsx
  packages/serverless-workflow-language-service/.eslintrc.js
  packages/serverless-workflow-language-service/package.json
  packages/serverless-workflow-language-service/src/channel/SwfLanguageService.ts
  packages/serverless-workflow-service-catalog/.eslintrc.js
  packages/serverless-workflow-service-catalog/package.json
  packages/serverless-workflow-service-catalog/src/channel/parsers/parseApiContent.ts
  packages/serverless-workflow-text-editor/.eslintrc.js
  pnpm-lock.yaml
Labels: waiting-for-ci, Serverless Workflow

#1864 KOGITO-9609: Separate Chrome extension framework to a new package
  packages/chrome-extension-pack-kogito-kie-editors/it-tests/tests/BpmnFullScreenTest.ts
  packages/chrome-extension-pack-kogito-kie-editors/it-tests/tests/BpmnPrTest.ts
  packages/chrome-extension-pack-kogito-kie-editors/it-tests/tests/BpmnTest.ts
  packages/chrome-extension-pack-kogito-kie-editors/it-tests/tests/DmnExpressionEditorTest.ts
  packages/chrome-extension-pack-kogito-kie-editors/it-tests/tests/DmnFullScreenTest.ts
  packages/chrome-extension-pack-kogito-kie-editors/it-tests/tests/DmnPrTest.ts
  packages/chrome-extension-pack-kogito-kie-editors/it-tests/tests/DmnTest.ts
  packages/chrome-extension-pack-kogito-kie-editors/package.json
  packages/chrome-extension-test-helper/package.json
  packages/chrome-extension-test-helper/src/framework/Element.ts
  packages/chrome-extension-test-helper/src/framework/Locator.ts
  packages/chrome-extension-test-helper/src/framework/LocatorWaitAction.ts
  packages/chrome-extension-test-helper/src/framework/Page.ts
  packages/chrome-extension-test-helper/src/framework/PageFragment.ts
  packages/chrome-extension-test-helper/src/framework/editor/Editor.ts
  packages/chrome-extension-test-helper/src/framework/editor/EditorPage.ts
  packages/chrome-extension-test-helper/src/framework/editor/Explorer.ts
  packages/chrome-extension-test-helper/src/framework/editor/Properties.ts
  packages/chrome-extension-test-helper/src/framework/editor/SideBar.ts
  packages/chrome-extension-test-helper/src/framework/editor/bpmn/BpmnEditor.ts
  packages/chrome-extension-test-helper/src/framework/editor/bpmn/BpmnPalette.ts
  packages/chrome-extension-test-helper/src/framework/editor/dmn/DecisionNavigator.ts
  packages/chrome-extension-test-helper/src/framework/editor/dmn/DmnEditor.ts
  packages/chrome-extension-test-helper/src/framework/editor/dmn/DmnExpressionEditor.ts
  packages/chrome-extension-test-helper/src/framework/editor/dmn/DmnPalette.ts
  packages/chrome-extension-test-helper/src/framework/editor/dmn/DmnSideBar.ts
  packages/chrome-extension-test-helper/src/framework/fullscreen-editor/FullScreenPage.ts
  packages/chrome-extension-test-helper/src/framework/github-editor/GitHubEditorPage.ts
  packages/chrome-extension-test-helper/src/framework/github-file-list/GitHubListItem.ts
  packages/chrome-extension-test-helper/src/framework/github-file-list/GitHubListPage.ts
  packages/chrome-extension-test-helper/src/framework/github-pr/GitHubPrPage.ts
  packages/chrome-extension-test-helper/src/utils/Tools.ts
  packages/chrome-extension-test-helper/src/utils/tools/Clipboard.ts
  packages/chrome-extension-test-helper/src/utils/tools/Driver.ts
  packages/chrome-extension-test-helper/src/utils/tools/ErrorProcessor.ts
  packages/chrome-extension-test-helper/src/utils/tools/ScreenShot.ts
  packages/chrome-extension-test-helper/src/utils/tools/Window.ts
  packages/chrome-extension-test-helper/tsconfig.json
  pnpm-lock.yaml
  repo/graph.dot
  repo/graph.json
Labels: Foundation

#1871 NO-ISSUE: Prune docker/podman resources on daily dev job to free disk space
  .github/workflows/daily_dev_publish.yml
Labels: waiting-for-ci, Foundation

#1870 KOGITO-9623: Update selenium to version 4.10.0
  package.json
  packages/chrome-extension-pack-kogito-kie-editors/package.json
  packages/chrome-extension-test-helper/package.json
  packages/serverless-workflow-vscode-extension/package.json
  packages/vscode-extension-common-test-helpers/package.json
  packages/vscode-extension-dashbuilder-editor/package.json
  packages/yard-vscode-extension/package.json
  patches/selenium-webdriver@4.10.0.patch
  pnpm-lock.yaml
Labels: Foundation

#1874 KOGITO-9644: Create SWF samples for Chrome extension testing
  packages/chrome-extension-serverless-workflow-editor/it-tests/samples/chrome_sample.sw.json
  packages/chrome-extension-serverless-workflow-editor/it-tests/samples/chrome_sample.sw.yaml
Labels: Serverless Workflow

#1875 KOGITO-9651: Incompatible Chrome version in SW Editor IT tests
  packages/serverless-workflow-diagram-editor/pom.xml
  packages/stunner-editors/pom.xml
Labels: waiting-for-review, Serverless Workflow, dependencies

#1827 KOGITO-9504: SWF Editor - In edit mode, Empty diagram page is shown if properties are edited
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-widgets/src/main/java/org/kie/workbench/common/stunner/client/widgets/notification/NotificationsObserver.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-widgets/src/main/java/org/kie/workbench/common/stunner/client/widgets/presenters/session/impl/SessionCardinalityStateHandler.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-widgets/src/main/java/org/kie/workbench/common/stunner/client/widgets/presenters/session/impl/SessionEditorPresenter.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-widgets/src/main/java/org/kie/workbench/common/stunner/client/widgets/presenters/session/impl/SessionPreviewImpl.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-api/kie-wb-common-stunner-core-api/src/main/java/org/kie/workbench/common/stunner/core/api/JsDefinitionManager.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/main/java/org/kie/workbench/common/stunner/core/client/command/CanvasCommandManagerImpl.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/main/java/org/kie/workbench/common/stunner/core/client/components/toolbox/actions/GeneralCreateNodeAction.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/main/java/org/kie/workbench/common/stunner/core/client/session/command/impl/RedoSessionCommand.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/test/java/org/kie/workbench/common/stunner/core/client/components/toolbox/actions/GeneralCreateNodeActionTest.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/test/java/org/kie/workbench/common/stunner/core/client/session/command/impl/RedoSessionCommandTest.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/marshall/DefinitionTypeUtils.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/marshall/Marshaller.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/marshall/StateMarshalling.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/marshall/TransitionMarshalling.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/java/org/kie/workbench/common/stunner/sw/client/selenium/SWEditorSeleniumIT.java
Labels: waiting-for-review, Serverless Workflow

#1779 KOGITO-9202: SWF Editor - Inline editing text
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/shape/view/wires/StunnerWiresShapeView.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/shape/view/wires/WiresContainerShapeView.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/shape/view/wires/WiresShapeView.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/shape/view/wires/ext/TextWrapperProvider.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/shape/view/wires/ext/WiresConnectorViewExt.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/shape/view/wires/ext/WiresLayoutContainerNoTextBoundingBox.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/shape/view/wires/ext/WiresTextDecorator.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/test/java/org/kie/workbench/common/stunner/client/lienzo/canvas/command/LienzoResizeNodeCommandTest.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/test/java/org/kie/workbench/common/stunner/client/lienzo/shape/view/wires/ext/AbstractWiresShapeViewText.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/test/java/org/kie/workbench/common/stunner/client/lienzo/shape/view/wires/ext/TextWrapperProviderTest.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/test/java/org/kie/workbench/common/stunner/client/lienzo/shape/view/wires/ext/WiresConnectorViewExtTest.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/test/java/org/kie/workbench/common/stunner/client/lienzo/shape/view/wires/ext/WiresShapeViewExtTest.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/test/java/org/kie/workbench/common/stunner/client/lienzo/shape/view/wires/ext/WiresTextDecoratorTest.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-api/kie-wb-common-stunner-client-api/src/main/java/org/kie/workbench/common/stunner/core/client/shape/TextWrapperStrategy.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-api/kie-wb-common-stunner-client-api/src/main/java/org/kie/workbench/common/stunner/core/client/shape/view/HasTitle.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/main/java/org/kie/workbench/common/stunner/core/client/canvas/controls/inlineeditor/AbstractCanvasInlineTextEditorControl.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/main/java/org/kie/workbench/common/stunner/core/client/shape/view/handler/FontHandler.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/test/java/org/kie/workbench/common/stunner/core/client/canvas/controls/inlineeditor/AbstractCanvasInlineTextEditorControlTest.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/test/java/org/kie/workbench/common/stunner/core/client/shape/ShapeViewExtStub.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/test/java/org/kie/workbench/common/stunner/core/client/shape/view/FontHandlerTest.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/EndShapeView.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/ServerlessWorkflowShapeView.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/StartShapeView.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/StateShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/StateShapeView.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/main/java/org/kie/workbench/common/stunner/sw/client/editor/StateDetailsPresenter.java
Labels: waiting-for-ci, Serverless Workflow, java

#1881 NO-ISSUE: Bump `JDT.LS` to `1.27`
  packages/vscode-java-code-completion-extension-plugin/pom.xml
Labels: DMN, dependencies, java
