Repository apache/incubator-kie-tools, pull requests merged in 2023-06, with the labels that each got.

#1686 KOGITO-9256: kn-workflow fix reporting and broken test
  packages/kn-plugin-workflow/package.json
  packages/kn-plugin-workflow/pkg/command/quarkus/create_test.go
Labels: Serverless Workflow

#1699 kie-issues#312: kie-tools#1666 breaks the DMN Editor for all DMNs that relies on JSON schema draft 4 to generate the DMN Runner table and form
  packages/dmn-runner/src/constants.ts
  packages/form-dmn/src/DmnValidator.ts
  packages/online-editor/src/dmnRunner/DmnRunnerContextProvider.tsx
  packages/unitables-dmn/src/DmnUnitablesValidator.ts
Labels: waiting-for-ci, DMN/SceSim

#1705 NO-ISSUE: Check test reports on normal CI too, not just in `main`
  .github/workflows/ci_build.yml
Labels: Foundation

#1700 KOGITO-9256: kn-workflow fix reporting and broken test (fixed)
  packages/kn-plugin-workflow/package.json
  packages/kn-plugin-workflow/pkg/command/quarkus/create_test.go
Labels: waiting-for-ci, Serverless Workflow

#1704 KOGITO-9267: Fix clean up recent models when multiple tabs are open
  packages/serverless-logic-web-tools/src/editor/EditorPage.tsx
  packages/serverless-logic-web-tools/src/extension/index.ts
  packages/serverless-logic-web-tools/src/homepage/recentModels/RecentModels.tsx
  packages/serverless-logic-web-tools/src/settings/storage/StorageSettings.tsx
  packages/serverless-logic-web-tools/src/settings/storage/useStorage.tsx
  packages/serverless-logic-web-tools/src/workspace/hooks/WebToolsWorkspaceContextProvider.tsx
Labels: Serverless Workflow

#1708 kie-issue#105: Upgrade node from 16 to LTS (18) on kie-tools
  packages/form-generation-tool/package.json
  packages/git-cors-proxy-image/Containerfile
  packages/image-env-to-json/package.json
  pnpm-lock.yaml
Labels: Foundation, dependencies

#1709 kie-issues#309: User is not able to specify DMN Range constraint for `date and time` and `years and months duration` custom type
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/types/listview/constraint/common/typed/date/time/DateTimeValueConverter.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/types/listview/constraint/common/typed/years/months/YearsMonthsValueConverter.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/test/java/org/kie/workbench/common/dmn/client/editors/types/listview/constraint/common/typed/date/time/DateTimeValueConverterTest.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/test/java/org/kie/workbench/common/dmn/client/editors/types/listview/constraint/common/typed/years/months/YearsMonthsValueConverterTest.java
Labels: DMN/SceSim

#1714 NO-ISSUE: Always convert env var `ONLINE_EDITOR__requireCustomCommitMessage` to boolean
  packages/online-editor/env/index.js
Labels: Foundation

#1702 KOGITO-9275 Jenkins: Switch jobs to use RHEL8
  .ci/jenkins/Jenkinsfile
Labels: Foundation, dependencies

#1713 KOGITO-9288: SWF - Assert the yaml specific differences in IT tests
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/java/org/kie/workbench/common/stunner/sw/client/selenium/yaml/SWEditorYamlSeleniumIT.java
Labels: Serverless Workflow

#1719 kie-issues#319: On the DMN Editor, Expression properties are not correctly persisted
  packages/boxed-expression-component/src/expressions/DecisionTableExpression/DecisionTableExpression.tsx
  packages/boxed-expression-component/src/expressions/RelationExpression/RelationExpression.tsx
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/expressions/ExpressionEditorViewImpl.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/expressions/jsinterop/props/Cell.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/expressions/jsinterop/props/Column.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/expressions/jsinterop/props/EntryInfo.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/expressions/jsinterop/props/InputClauseProps.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/expressions/jsinterop/props/LiteralProps.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/expressions/jsinterop/props/OutputClauseProps.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/expressions/jsinterop/props/RuleEntry.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/expressions/jsinterop/util/ExpressionModelFiller.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/expressions/jsinterop/util/ExpressionPropsFiller.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/test/java/org/kie/workbench/common/dmn/client/editors/expressions/ExpressionEditorViewImplTest.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/test/java/org/kie/workbench/common/dmn/client/editors/expressions/jsinterop/util/ExpressionModelFillerTest.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/test/java/org/kie/workbench/common/dmn/client/editors/expressions/jsinterop/util/ExpressionPropsFillerTest.java
Labels: DMN/SceSim

#1723 kie-issues#321: Change the default user to non-root on KIE Sandbox, Extended Services, and Git CORS Proxy images
  packages/git-cors-proxy-image/Containerfile
  packages/kie-sandbox-extended-services-image/Containerfile
  packages/kie-sandbox-image/Containerfile
Labels: Foundation

#1724 NO-ISSUE: Add JSON Schema draft-4 to DMN validators on DMN Dev deployment form webapp
  packages/form-dmn/src/DmnValidator.ts
  packages/form/src/FormHook.tsx
  packages/unitables-dmn/src/DmnUnitablesValidator.ts
Labels: DMN/SceSim

#1710 kie-issues#296: Fix CVE-2022-3517 in kogito-apps and kie-tools
  packages/chrome-extension/package.json
  packages/editor/package.json
  packages/kie-editors-dev-vscode-extension/package.json
  packages/kie-editors-standalone/package.json
  packages/serverless-logic-web-tools/package.json
  packages/serverless-workflow-standalone-editor/package.json
  packages/vscode-extension/package.json
  packages/workspaces-git-fs/package.json
  pnpm-lock.yaml
Labels: Foundation, dependencies

#1717 KOGITO-9282: Reflect changes from other tabs in Recent Models page
  packages/serverless-logic-web-tools/regex/index.ts
  packages/serverless-logic-web-tools/src/homepage/recentModels/RecentModels.tsx
  packages/serverless-logic-web-tools/src/homepage/recentModels/WorkspacesTable.tsx
  packages/serverless-logic-web-tools/src/homepage/recentModels/WorkspacesTableRow.tsx
  packages/serverless-logic-web-tools/src/homepage/recentModels/hooks/useWorkspacesWithFilesPromise.tsx
  packages/serverless-logic-web-tools/src/homepage/recentModels/workspaceFiles/WorkspaceFilesTable.tsx
  packages/serverless-logic-web-tools/src/homepage/recentModels/workspaceFiles/WorkspaceFilesTableRow.tsx
Labels: waiting-for-qe, Serverless Workflow

#1727 KOGITO-9258: Update QuickStart guides
  packages/serverless-logic-web-tools/src/editor/FileSwitcher.tsx
  packages/serverless-logic-web-tools/src/editor/NotificationsPanel/NotificationsPanel.tsx
  packages/serverless-logic-web-tools/src/editor/NotificationsPanel/NotificationsPanelTabContent.tsx
  packages/serverless-logic-web-tools/src/editor/WebToolsEmbeddedEditor.tsx
  packages/serverless-logic-web-tools/src/openshift/swfDevMode/DevModeContext.tsx
  packages/serverless-logic-web-tools/src/quickstarts-data/ApplicationServicesIntegrationQuickStart.ts
  packages/serverless-logic-web-tools/src/quickstarts-data/GitHubTokenQuickStart.ts
  packages/serverless-logic-web-tools/src/quickstarts-data/OpenShiftIntegrationQuickStart.ts
  packages/serverless-logic-web-tools/src/settings/uiNav/SettingsPageNav.tsx
Labels: Serverless Workflow

#1722 NO-ISSUE: Remove Workspaces Shared Worker ping
  packages/workspaces-git-fs/src/worker/WorkspacesSharedWorker.ts
  packages/workspaces-git-fs/src/worker/api/WorkspacesWorkerChannelApi.ts
  packages/workspaces-git-fs/src/worker/setupWorkerConnection.ts
Labels: waiting-for-ci, Foundation

#1721 NO-ISSUE: Fix relative path parser for files without name
  packages/workspaces-git-fs/src/relativePath/WorkspaceFileRelativePathParser.ts
  packages/workspaces-git-fs/tests/relativePath/WorkspaceFileRelativePathParser.test.ts
Labels: Foundation

#1728 kie-tools#1698: Add Edge as compatible browser for KIE Sandbox
  packages/online-editor/src/workspace/startupBlockers/IncompatibleBrowser.tsx
Labels: Foundation

#1729 kie-issues#326: DMN Editor's Properties Panel changing element selection when blurring out of changed inputs
  packages/stunner-editors-dmn-loader/src/index.tsx
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/commands/general/BaseNavigateCommand.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/commands/general/NavigateToDRGEditorCommand.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/commands/general/NavigateToExpressionEditorCommand.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/expressions/ExpressionContainerGrid.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/expressions/ExpressionEditor.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/expressions/ExpressionEditorView.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/expressions/ExpressionEditorViewImpl.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/js/DMNLoader.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/test/java/org/kie/workbench/common/dmn/client/editors/expressions/ExpressionContainerGridTest.java
Labels: DMN/SceSim

#1711 KOGITO-8707: Cover kn-workflow-plugin CLI with integration tests I.
  packages/kn-plugin-workflow/.vscode/settings.json
  packages/kn-plugin-workflow/go.mod
  packages/kn-plugin-workflow/go.work
  packages/kn-plugin-workflow/go.work.sum
  packages/kn-plugin-workflow/it-tests/create_test.go
  packages/kn-plugin-workflow/it-tests/deploy_test.go
  packages/kn-plugin-workflow/it-tests/helper_test.go
  packages/kn-plugin-workflow/it-tests/main_test.go
  packages/kn-plugin-workflow/it-tests/quarkus_build_test.go
  packages/kn-plugin-workflow/it-tests/quarkus_create_test.go
  packages/kn-plugin-workflow/package.json
  packages/kn-plugin-workflow/pkg/command/deploy.go
  packages/kn-plugin-workflow/pkg/common/create_workflow.go
Labels: waiting-for-review, Serverless Workflow, go

#1736 KOGITO-9257: Add a breadcrumb in the settings pages to go back to home page
  packages/serverless-logic-web-tools/src/homepage/recentModels/workspaceFiles/WorkspaceFiles.tsx
  packages/serverless-logic-web-tools/src/settings/SettingsPageContainer.tsx
  packages/serverless-logic-web-tools/src/settings/extendedServices/ExtendedServicesSettings.tsx
  packages/serverless-logic-web-tools/src/settings/featurePreview/FeaturePreviewSettings.tsx
  packages/serverless-logic-web-tools/src/settings/github/GitHubSettings.tsx
  packages/serverless-logic-web-tools/src/settings/openshift/OpenShiftSettings.tsx
  packages/serverless-logic-web-tools/src/settings/serviceAccount/ServiceAccountSettings.tsx
  packages/serverless-logic-web-tools/src/settings/serviceRegistry/ServiceRegistrySettings.tsx
  packages/serverless-logic-web-tools/src/settings/storage/StorageSettings.tsx
Labels: Serverless Workflow

#1739 kie-issues#328: Fix CVE-2021-23353, CVE-2020-7691 & CVE-2020-7690 (jspdf@1.2.6) in kie-tools
  packages/stunner-editors/pom.xml
  packages/stunner-editors/uberfire-extensions/uberfire-commons-editor/uberfire-commons-editor-client/pom.xml
  packages/stunner-editors/uberfire-extensions/uberfire-commons-editor/uberfire-commons-editor-client/src/main/java/org/uberfire/ext/editor/commons/client/file/exports/FileExportResources.java
  packages/stunner-editors/uberfire-extensions/uberfire-commons-editor/uberfire-commons-editor-client/src/main/java/org/uberfire/ext/editor/commons/client/file/exports/jso/FileExportScriptInjector.java
  packages/stunner-editors/uberfire-extensions/uberfire-commons-editor/uberfire-commons-editor-client/src/main/java/org/uberfire/ext/editor/commons/client/file/exports/jso/JsPdf.java
  packages/stunner-editors/uberfire-extensions/uberfire-commons-editor/uberfire-commons-editor-client/src/test/java/org/uberfire/ext/editor/commons/client/file/exports/jso/FileExportScriptInjectorTest.java
Labels: Foundation

#1740 kie-issues#338: kie-tools - make sure maven.config contains single argument per line
  .github/actions/setup-env/action.yml
  packages/maven-config-setup-helper/index.js
Labels: Foundation

#1652 kie-issues#259: Make DMN Editor's Boxed Expression Editor Context Menu show only relevant operations for specific cells.
  packages/boxed-expression-component/src/api/BeeTable.ts
  packages/boxed-expression-component/src/expressions/ContextExpression/ContextExpression.tsx
  packages/boxed-expression-component/src/expressions/DecisionTableExpression/DecisionTableExpression.tsx
  packages/boxed-expression-component/src/expressions/FunctionExpression/FeelFunctionExpression.tsx
  packages/boxed-expression-component/src/expressions/FunctionExpression/JavaFunctionExpression.tsx
  packages/boxed-expression-component/src/expressions/FunctionExpression/PmmlFunctionExpression.tsx
  packages/boxed-expression-component/src/expressions/InvocationExpression/InvocationExpression.tsx
  packages/boxed-expression-component/src/expressions/ListExpression/ListExpression.tsx
  packages/boxed-expression-component/src/expressions/LiteralExpression/LiteralExpression.tsx
  packages/boxed-expression-component/src/expressions/RelationExpression/RelationExpression.tsx
  packages/boxed-expression-component/src/table/BeeTable/BeeTable.tsx
  packages/boxed-expression-component/src/table/BeeTable/BeeTableContextMenuHandler.tsx
  packages/i18n-common-dictionary/src/CommonI18n.ts
  packages/i18n-common-dictionary/src/locales/en.ts
  packages/unitables-dmn/src/DmnRunnerOutputsTable.tsx
  packages/unitables/src/bee/UnitablesBeeTable.tsx
Labels: DMN/SceSim

#1742 kie-issues#332: KIE Sandbox's logo not showing and sometimes breaking the header entirely on Safari
  packages/online-editor/src/pageTemplate/OnlineEditorPage.tsx
Labels: waiting-for-review, Foundation

#1693 kie-issues#174: Support constrained Data Types on inputs table of DMN Runner
  packages/dmn-runner/package.json
  packages/dmn-runner/src/ajv.ts
  packages/dmn-runner/src/constants.ts
  packages/form-dmn/src/FormDmnValidator.ts
  packages/form-dmn/src/i18n/FormDmnI18n.ts
  packages/form-dmn/src/i18n/locales/en.ts
  packages/online-editor/package.json
  packages/online-editor/src/dmnRunner/DmnRunnerContextProvider.tsx
  packages/unitables/src/uniforms/UnitablesJsonSchemaBridge.tsx
  pnpm-lock.yaml
Labels: DMN/SceSim

#1741 kie-issues#340: DMN Runner add and reset row is adding wrong default values
  packages/online-editor/src/dmnRunner/DmnRunnerContextProvider.tsx
Labels: waiting-for-review, DMN/SceSim

#1743 NO-ISSUE: Fix user for kie-sandbox-extended-services Containerfile
  packages/kie-sandbox-extended-services-image/Containerfile
Labels: Foundation

#1737 KOGITO-7484: Knative CLI Workflow Plugin II - deploy with operator
  packages/kn-plugin-workflow/.gitignore
  packages/kn-plugin-workflow/go.mod
  packages/kn-plugin-workflow/go.sum
  packages/kn-plugin-workflow/go.work.sum
  packages/kn-plugin-workflow/it-tests/deploy_test.go
  packages/kn-plugin-workflow/pkg/command/create.go
  packages/kn-plugin-workflow/pkg/command/deploy.go
  packages/kn-plugin-workflow/pkg/command/quarkus/convert.go
  packages/kn-plugin-workflow/pkg/command/quarkus/create.go
  packages/kn-plugin-workflow/pkg/command/quarkus/deploy.go
  packages/kn-plugin-workflow/pkg/command/quarkus/run.go
  packages/kn-plugin-workflow/pkg/command/run.go
  packages/kn-plugin-workflow/pkg/common/checks.go
  packages/kn-plugin-workflow/pkg/common/containers.go
  packages/kn-plugin-workflow/pkg/common/create_workflow.go
  packages/kn-plugin-workflow/pkg/common/io.go
  packages/kn-plugin-workflow/pkg/common/kubectl.go
  packages/kn-plugin-workflow/pkg/common/operator.go
  packages/kn-plugin-workflow/pkg/common/operator_test.go
  packages/kn-plugin-workflow/pkg/metadata/constants.go
Labels: waiting-for-ci, Serverless Workflow, go

#1745 KOGITO-9261: Add confirm dialog after deleting a single model or file
  packages/serverless-logic-web-tools/src/homepage/recentModels/RecentModels.tsx
  packages/serverless-logic-web-tools/src/homepage/recentModels/WorkspacesTable.tsx
  packages/serverless-logic-web-tools/src/homepage/recentModels/WorkspacesTableRow.tsx
  packages/serverless-logic-web-tools/src/homepage/recentModels/workspaceFiles/WorkspaceFiles.tsx
  packages/serverless-logic-web-tools/src/homepage/recentModels/workspaceFiles/WorkspaceFilesTable.tsx
  packages/serverless-logic-web-tools/src/homepage/recentModels/workspaceFiles/WorkspaceFilesTableRow.tsx
Labels: Serverless Workflow

#1749 KOGITO-9384: [Dashbuilder] Keep order and ignore empty in Join datasets
  packages/dashbuilder/dashbuilder-client/dashbuilder-dataset-client/src/main/java/org/dashbuilder/dataset/client/DataSetReadyCallbackAdapter.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/services/JoinDataSetsService.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/test/java/org/dashbuilder/client/services/JoinDataSetsServiceTest.java
Labels: waiting-for-ci, DashBuilder

#1751 NO-ISSUE: Bump `JDT.LS` to `1.25`
  packages/vscode-java-code-completion-extension-plugin/pom.xml
Labels: DMN/SceSim, java

#1748 kie-issues#343: DMN Runner: Validation error and the calendar icons are overlapping for date base form fields
  packages/form-dmn/src/uniforms/FormDmnJsonSchemaBridge.ts
  packages/form-dmn/tests/__snapshots__/FormDmn.test.tsx.snap
Labels: waiting-for-review, DMN/SceSim

#1761 kie-issues#347: DMN Editor: Duplicate is not working for a relation
  packages/boxed-expression-component/src/expressions/ContextExpression/ContextExpression.tsx
  packages/boxed-expression-component/src/expressions/InvocationExpression/InvocationExpression.tsx
  packages/boxed-expression-component/src/expressions/ListExpression/ListExpression.tsx
  packages/boxed-expression-component/src/expressions/RelationExpression/RelationExpression.tsx
Labels: DMN/SceSim

#1763 NO-ISSUE: Remove gtmId from `dmn-dev-deployment-base-image` and add a description to its README
  .github/workflows/release_build.yml
  .github/workflows/staging_build.yml
  packages/dmn-dev-deployment-base-image/README.md
  packages/dmn-dev-deployment-form-webapp/env/index.js
  packages/dmn-dev-deployment-form-webapp/package.json
  packages/dmn-dev-deployment-form-webapp/static/index.html
  packages/dmn-dev-deployment-form-webapp/webpack.config.js
  pnpm-lock.yaml
Labels: DMN/SceSim, Foundation

#1767 NO-ISSUE: Add Content Security Policy header to `httpd` server
  packages/kie-sandbox-image/Containerfile
Labels: waiting-for-ci, Foundation

#1762 NO-ISSUE: Bump up Golang version to 1.19.8
  .github/actions/setup-env/action.yml
  README.md
  packages/kn-plugin-workflow/README.md
Labels: Foundation, go

#1765 NO-ISSUE: Upgrade git-cors-proxy dependencies and Containerfile to use Node 20.3.0
  packages/git-cors-proxy-image/Containerfile
  packages/git-cors-proxy-image/assets/npm-shrinkwrap.json
  packages/git-cors-proxy-image/package.json
  packages/git-cors-proxy-image/patches/@isomorphic-git+cors-proxy+2.7.1.patch
  pnpm-lock.yaml
Labels: waiting-for-ci, Foundation

#1764 KOGITO-9402: Remove Feature Preview tab from Serverless Logic Web Tools
  packages/serverless-logic-web-tools/src/accelerator/Accelerators.ts
  packages/serverless-logic-web-tools/src/cookies/index.ts
  packages/serverless-logic-web-tools/src/navigation/Routes.ts
  packages/serverless-logic-web-tools/src/settings/featurePreview/FeaturePreviewSettings.tsx
  packages/serverless-logic-web-tools/src/settings/routes/SettingsPageRoutes.tsx
  packages/serverless-logic-web-tools/src/settings/uiNav/SettingsPageNav.tsx
  packages/serverless-logic-web-tools/static/images/kogito_logo_white.png
Labels: waiting-for-ci, Serverless Workflow

#1754 NO-ISSUE: kn-plugin-workflow: Temporarily apply/create warning (quick and dirty)
  packages/kn-plugin-workflow/pkg/common/operator.go
Labels: Serverless Workflow

#1757 kie-issues#345: DMN Editor: Sort function is missing in autocompletions
  packages/feel-input-component/src/FeelConfigs.ts
Labels: DMN/SceSim

#1768 kie-issues#348: DMN Editor: Function header context menus are empty
  packages/boxed-expression-component/src/expressions/FunctionExpression/FeelFunctionExpression.tsx
  packages/boxed-expression-component/src/expressions/FunctionExpression/JavaFunctionExpression.tsx
  packages/boxed-expression-component/src/expressions/FunctionExpression/PmmlFunctionExpression.tsx
Labels: DMN/SceSim

#1753 KOGITO-9389: Support query params in dashbuilder datasets
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/external/ExternalDataSetClientProvider.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/external/ExternalDataSetParserProvider.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/services/JoinDataSetsService.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/services/RuntimeDataSetClientServices.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/test/java/org/dashbuilder/client/services/JoinDataSetsServiceTest.java
  packages/dashbuilder/kie-soup-dataset/kie-soup-dataset-api/src/main/java/org/dashbuilder/dataset/def/ExternalDataSetDef.java
  packages/dashbuilder/kie-soup-dataset/kie-soup-dataset-api/src/main/java/org/dashbuilder/dataset/json/ExternalDataSetJSONParser.java
  packages/dashbuilder/kie-soup-dataset/kie-soup-dataset-api/src/main/java/org/dashbuilder/dataset/json/ExternalDefJSONMarshaller.java
  packages/dashbuilder/kie-soup-dataset/kie-soup-dataset-api/src/test/java/org/dashbuilder/dataset/json/ExternalDataSetParserTest.java
Labels: waiting-for-ci, DashBuilder

#1755 NO-ISSUE: Fix DMN Dev Deployments default values and recursive forms
  packages/dmn-dev-deployment-form-webapp/package.json
  packages/dmn-dev-deployment-form-webapp/src/DmnFormPage.tsx
  packages/dmn-dev-deployment-form-webapp/webpack.config.js
  pnpm-lock.yaml
  repo/graph.dot
  repo/graph.json
Labels: waiting-for-ci, DMN/SceSim

#1769 NO-ISSUE: Switch cors-proxy dependency (maintain original isomorphic-git package-lock dependencies)
  packages/git-cors-proxy-image/package.json
  pnpm-lock.yaml
Labels: Foundation

#1770 NO-ISSUE: Bump up the Golang version 1.19.10
  .github/actions/setup-env/action.yml
  README.md
  packages/kn-plugin-workflow/README.md
Labels: waiting-for-ci, Foundation, go

#1760 KOGITO-9331: Improve error page for invalid workspaces
  packages/serverless-logic-web-tools/src/editor/EditorPage.tsx
  packages/serverless-logic-web-tools/src/editor/EditorPageErrorPage.tsx
  packages/serverless-logic-web-tools/src/error/ErrorPage.tsx
  packages/serverless-logic-web-tools/src/homepage/recentModels/workspaceFiles/WorkspaceFiles.tsx
  packages/serverless-logic-web-tools/src/samples/SamplesCatalog.tsx
  packages/serverless-logic-web-tools/src/samples/SamplesLoadError.tsx
  packages/serverless-logic-web-tools/src/workspace/components/NewWorkspaceFromSample.tsx
  packages/serverless-logic-web-tools/src/workspace/components/NewWorkspaceFromUrlPage.tsx
Labels: Serverless Workflow

#1773 kie-issues#320: Update Kogito Runtimes version to `1.40.0.Final` on kie-tools and kie dependencies to `8.40.0.Final`
  packages/extended-services/package.json
  packages/root-env/env/index.js
  packages/stunner-editors/pom.xml
  pnpm-lock.yaml
Labels: Foundation, dependencies

#1771 KOGITO-9390: Support for Global Datasets declarations in Dashbuilder YAML
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/external/ExternalDataSetClientProvider.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/external/ExternalDataSetParserProvider.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/marshalling/ClientDataSetMetadataJSONMarshaller.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/services/JoinDataSetsService.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/services/RuntimeDataSetClientServices.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-shared/src/main/java/org/dashbuilder/shared/marshalling/GlobalSettingsJSONMarshaller.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-shared/src/main/java/org/dashbuilder/shared/marshalling/RuntimeModelJSONMarshaller.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-shared/src/main/java/org/dashbuilder/shared/model/GlobalSettings.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-shared/src/test/java/org/dashbuilder/shared/marshalling/RuntimeModelJSONMarshallerTest.java
  packages/dashbuilder/kie-soup-dataset/kie-soup-dataset-api/src/main/java/org/dashbuilder/dataset/def/DataSetDef.java
  packages/dashbuilder/kie-soup-dataset/kie-soup-dataset-api/src/main/java/org/dashbuilder/dataset/def/ExternalDataSetDef.java
  packages/dashbuilder/kie-soup-dataset/kie-soup-dataset-api/src/main/java/org/dashbuilder/dataset/json/DataSetDefJSONMarshaller.java
  packages/dashbuilder/kie-soup-dataset/kie-soup-dataset-api/src/main/java/org/dashbuilder/dataset/json/ExternalDefJSONMarshaller.java
  packages/dashbuilder/kie-soup-dataset/kie-soup-dataset-api/src/main/java/org/dashbuilder/dataset/validation/groups/ExternalDataSetDefValidation.java
  packages/dashbuilder/kie-soup-dataset/kie-soup-dataset-api/src/test/java/org/dashbuilder/dataset/json/DataSetDefJsonTest.java
  packages/dashbuilder/kie-soup-dataset/kie-soup-dataset-core/src/main/java/org/dashbuilder/DataSetCore.java
  packages/dashbuilder/kie-soup-dataset/kie-soup-dataset-core/src/main/java/org/dashbuilder/DataSetCoreImpl.java
  packages/dashbuilder/kie-soup-dataset/kie-soup-dataset-core/src/main/java/org/dashbuilder/dataset/DataSetDefDeployer.java
Labels: DashBuilder

#1777 kie-issues#183: Dead keys (E.g., ˜ˆ´¨) are not triggering edit mode correctly on BeeTable cells
  packages/boxed-expression-component/src/table/BeeTable/BeeTableEditableCellContent.tsx
Labels: DMN/SceSim, Foundation

#1776 kie-issues#184: It shouldn't be possible to mutate the selection when selecting text inside a BeeTable cell
  packages/boxed-expression-component/src/selection/BeeTableSelectionContext.tsx
Labels: DMN/SceSim, Foundation

#1781 KOGITO-9425: Make sure that column settings are respected for meters and timeseries in Dashbuilder
  packages/dashbuilder/dashbuilder-client/dashbuilder-renderers/dashbuilder-renderer-echarts/src/main/java/org/dashbuilder/renderer/echarts/client/EChartsMeterChartDisplayer.java
  packages/dashbuilder/dashbuilder-client/dashbuilder-renderers/dashbuilder-renderer-echarts/src/main/java/org/dashbuilder/renderer/echarts/client/EChartsTimeseriesDisplayer.java
Labels: waiting-for-ci, DashBuilder

#1783 NO-ISSUE: Fix no space left on device error during staging and daily dev workflows
  .github/actions/setup-env/action.yml
  .github/workflows/daily_dev_publish.yml
  .github/workflows/staging_build.yml
Labels: Foundation

#1786 kie-issues#359: Unable to connect Bitbucket account to KIE Sandbox on 0.30.0-prerelease
  packages/online-editor/src/accounts/git/ConnectToGitSection.tsx
Labels: Foundation

#1782 KOGITO-9405: Move from Kogito operator to SonataFlow Operator
  packages/kn-plugin-workflow/README.md
  packages/kn-plugin-workflow/env/index.js
  packages/kn-plugin-workflow/go.mod
  packages/kn-plugin-workflow/go.sum
  packages/kn-plugin-workflow/go.work.sum
  packages/kn-plugin-workflow/pkg/command/create.go
  packages/kn-plugin-workflow/pkg/command/deploy.go
  packages/kn-plugin-workflow/pkg/command/deploy_undeploy_common.go
  packages/kn-plugin-workflow/pkg/command/quarkus/build.go
  packages/kn-plugin-workflow/pkg/command/quarkus/convert.go
  packages/kn-plugin-workflow/pkg/command/quarkus/create.go
  packages/kn-plugin-workflow/pkg/command/quarkus/deploy.go
  packages/kn-plugin-workflow/pkg/command/quarkus/quarkus.go
  packages/kn-plugin-workflow/pkg/command/quarkus/run.go
  packages/kn-plugin-workflow/pkg/command/run.go
  packages/kn-plugin-workflow/pkg/command/undeploy.go
  packages/kn-plugin-workflow/pkg/common/checks.go
  packages/kn-plugin-workflow/pkg/common/containers.go
  packages/kn-plugin-workflow/pkg/common/operator.go
  packages/kn-plugin-workflow/pkg/common/operator_test.go
  packages/kn-plugin-workflow/pkg/common/readyCheck.go
  packages/kn-plugin-workflow/pkg/metadata/constants.go
  packages/kn-plugin-workflow/pkg/root/root.go
Labels: waiting-for-qe, Serverless Workflow, go

#1787 KOGITO-9425: Make sure that column settings are respected for meters …
  packages/dashbuilder/dashbuilder-client/dashbuilder-renderers/dashbuilder-renderer-echarts/src/main/java/org/dashbuilder/renderer/echarts/client/EChartsMeterChartDisplayer.java
  packages/dashbuilder/dashbuilder-client/dashbuilder-renderers/dashbuilder-renderer-echarts/src/main/java/org/dashbuilder/renderer/echarts/client/EChartsTimeseriesDisplayer.java
Labels: DashBuilder

#1789 KOGITO-9405: Move from Kogito operator to SonataFlow Operator (#1782)
  packages/kn-plugin-workflow/README.md
  packages/kn-plugin-workflow/env/index.js
  packages/kn-plugin-workflow/go.mod
  packages/kn-plugin-workflow/go.sum
  packages/kn-plugin-workflow/go.work.sum
  packages/kn-plugin-workflow/pkg/command/create.go
  packages/kn-plugin-workflow/pkg/command/deploy.go
  packages/kn-plugin-workflow/pkg/command/deploy_undeploy_common.go
  packages/kn-plugin-workflow/pkg/command/quarkus/build.go
  packages/kn-plugin-workflow/pkg/command/quarkus/convert.go
  packages/kn-plugin-workflow/pkg/command/quarkus/create.go
  packages/kn-plugin-workflow/pkg/command/quarkus/deploy.go
  packages/kn-plugin-workflow/pkg/command/quarkus/quarkus.go
  packages/kn-plugin-workflow/pkg/command/quarkus/run.go
  packages/kn-plugin-workflow/pkg/command/run.go
  packages/kn-plugin-workflow/pkg/command/undeploy.go
  packages/kn-plugin-workflow/pkg/common/checks.go
  packages/kn-plugin-workflow/pkg/common/containers.go
  packages/kn-plugin-workflow/pkg/common/operator.go
  packages/kn-plugin-workflow/pkg/common/operator_test.go
  packages/kn-plugin-workflow/pkg/common/readyCheck.go
  packages/kn-plugin-workflow/pkg/metadata/constants.go
  packages/kn-plugin-workflow/pkg/root/root.go
Labels: Serverless Workflow, cherry-pick 🍒

#1785 NO-ISSUE: Fix serverless workflow dev-webapps
  packages/serverless-workflow-mermaid-viewer/package.json
  packages/serverless-workflow-text-editor/dev-webapp/channel/SwfTextEditorChannelApiImpl.ts
  pnpm-lock.yaml
Labels: Serverless Workflow

#1788 KOGITO-9362: Externalize dev mode image as env parameter
  packages/kn-plugin-workflow/Makefile
  packages/kn-plugin-workflow/env/index.js
  packages/kn-plugin-workflow/package.json
  packages/kn-plugin-workflow/pkg/command/run.go
  packages/kn-plugin-workflow/pkg/common/containers.go
  packages/kn-plugin-workflow/pkg/metadata/constants.go
  packages/kn-plugin-workflow/pkg/metadata/devModeImage.go
Labels: Serverless Workflow

#1732 KOGITO-8603: Add basic tests for dashbuilder autocomplete feature
  packages/vscode-extension-dashbuilder-editor/it-tests/dashbuilder-editor-extension-autocompletion.test.ts
  packages/vscode-extension-dashbuilder-editor/it-tests/helpers/dashbuilder/DashbuilderTextEditorTestHelper.ts
  packages/vscode-extension-dashbuilder-editor/it-tests/resources/autocompletion/autocompletion.dash.yaml
  packages/vscode-extension-dashbuilder-editor/it-tests/resources/autocompletion/empty_file_autocompletion.dash.yaml
  packages/vscode-extension-dashbuilder-editor/it-tests/resources/autocompletion/empty_file_autocompletion.dash.yaml.result
Labels: DashBuilder

#1795 KOGITO-9440: Add prerequisites for running IT tests of `kn-plugin-workflow`
  packages/kn-plugin-workflow/README.md
Labels: DO NOT MERGE, waiting-for-review, Serverless Workflow

#1750 KOGITO-9301: Wrong number of pages and items after a search operation
  packages/serverless-logic-web-tools/src/homepage/recentModels/RecentModels.tsx
  packages/serverless-logic-web-tools/src/homepage/recentModels/WorkspacesTable.tsx
  packages/serverless-logic-web-tools/src/homepage/recentModels/hooks/useAllWorkspacesWithFilesPromise.tsx
  packages/serverless-logic-web-tools/src/homepage/recentModels/workspaceFiles/WorkspaceFiles.tsx
  packages/serverless-logic-web-tools/src/homepage/recentModels/workspaceFiles/WorkspaceFilesTable.tsx
  packages/serverless-logic-web-tools/src/table/TableToolbar.tsx
Labels: Serverless Workflow

#1793 NO-ISSUE: Excluding`dist/tests` folder when unpacking folder of `Patternfly`, in order to don't import vulnerable deps (`moment-2.14.1`)
  packages/stunner-editors/uberfire-workbench/uberfire-workbench-client-views-patternfly/pom.xml
Labels: BPMN/Stunner, DMN/SceSim, dependencies, java

#1784 kie-issues#359: Unable to connect Bitbucket account to KIE Sandbox on 0.30.0-prerelease
  packages/online-editor/src/accounts/git/ConnectToGitSection.tsx
Labels: Foundation

#1778 kie-issues#216: DMN's Editor Boxed Expression Editor: It's not possible to delete a table row in Safari
  packages/boxed-expression-component/src/contextMenu/Hooks.ts
Labels: DMN/SceSim, Foundation

#1630 KOGITO-7733: SWF Editor - Enable & customize toolbox
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/components/toolbox/actions/AbstractActionsToolboxView.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/components/toolbox/actions/GroupActionsToolboxView.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/test/java/org/kie/workbench/common/stunner/client/lienzo/components/toolbox/actions/GroupActionsToolboxViewTest.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-widgets/src/main/java/org/kie/workbench/common/stunner/client/widgets/editor/StunnerEditor.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-widgets/src/test/java/org/kie/workbench/common/stunner/client/widgets/editor/StunnerEditorTest.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-api/kie-wb-common-stunner-core-api/src/main/java/org/kie/workbench/common/stunner/core/api/JsDefinitionManager.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-api/kie-wb-common-stunner-core-api/src/main/java/org/kie/workbench/common/stunner/core/definition/adapter/DefinitionAdapter.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-api/kie-wb-common-stunner-core-api/src/main/java/org/kie/workbench/common/stunner/core/definition/adapter/binding/DefinitionAdapterBindings.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-api/kie-wb-common-stunner-core-api/src/main/java/org/kie/workbench/common/stunner/core/definition/jsadapter/JsDefinitionAdapter.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-api/kie-wb-common-stunner-core-api/src/test/java/org/kie/workbench/common/stunner/core/definition/adapter/binding/DefinitionAdapterBindingsTest.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/main/java/org/kie/workbench/common/stunner/core/client/api/DomainInitializer.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/main/java/org/kie/workbench/common/stunner/core/client/components/toolbox/actions/CreateNodeToolboxAction.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/main/java/org/kie/workbench/common/stunner/core/client/components/toolbox/actions/GeneralCreateNodeAction.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/main/java/org/kie/workbench/common/stunner/core/client/components/toolbox/actions/GroupActionsToolbox.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/main/java/org/kie/workbench/common/stunner/core/client/components/toolbox/actions/GroupActionsToolboxFactory.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/main/java/org/kie/workbench/common/stunner/core/client/components/toolbox/actions/GroupedActionsToolbox.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/test/java/org/kie/workbench/common/stunner/core/client/api/DomainInitializerTest.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/test/java/org/kie/workbench/common/stunner/core/client/components/toolbox/actions/GeneralCreateNodeActionTest.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/test/java/org/kie/workbench/common/stunner/core/client/components/toolbox/actions/GroupActionsToolboxFactoryTest.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/test/java/org/kie/workbench/common/stunner/core/client/components/toolbox/actions/GroupedActionsToolboxTest.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-core-common/src/main/java/org/kie/workbench/common/stunner/core/definition/adapter/binding/BindableDefinitionAdapterImpl.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-core-common/src/main/java/org/kie/workbench/common/stunner/core/definition/adapter/bootstrap/BootstrapDefinitionAdapter.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-core-common/src/test/java/org/kie/workbench/common/stunner/core/StunnerTestingMockAPI.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-core-common/src/test/java/org/kie/workbench/common/stunner/core/definition/adapter/binding/BindableDefinitionAdapterImplTest.java
  packages/serverless-workflow-diagram-editor/lienzo-core/src/main/java/com/ait/lienzo/client/core/shape/toolbox/items/impl/ButtonsFactory.java
  packages/serverless-workflow-diagram-editor/lienzo-core/src/main/java/com/ait/lienzo/client/core/shape/toolbox/items/impl/GroupButtonGridItemImpl.java
  packages/serverless-workflow-diagram-editor/lienzo-core/src/main/java/com/ait/lienzo/client/core/shape/toolbox/items/tooltip/Tooltip.java
  packages/serverless-workflow-diagram-editor/lienzo-tests/src/test/java/com/ait/lienzo/client/core/shape/toolbox/items/impl/GroupButtonGridItemImplTest.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/SWDomainInitializer.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/ShapeFactory.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/config/ToolboxControl.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/resources/GlyphFactory.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/resources/ImageResources.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/resources/org/kie/workbench/common/stunner/sw/client/resources/images/icons/end.png
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/resources/org/kie/workbench/common/stunner/sw/client/resources/images/icons/start.png
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/resources/org/kie/workbench/common/stunner/sw/client/resources/images/icons/state-callback.png
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/resources/org/kie/workbench/common/stunner/sw/client/resources/images/icons/state-event.png
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/resources/org/kie/workbench/common/stunner/sw/client/resources/images/icons/state-foreach.png
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/resources/org/kie/workbench/common/stunner/sw/client/resources/images/icons/state-inject.png
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/resources/org/kie/workbench/common/stunner/sw/client/resources/images/icons/state-operation.png
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/resources/org/kie/workbench/common/stunner/sw/client/resources/images/icons/state-parallel.png
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/resources/org/kie/workbench/common/stunner/sw/client/resources/images/icons/state-sleep.png
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/resources/org/kie/workbench/common/stunner/sw/client/resources/images/icons/state-switch.png
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/resources/org/kie/workbench/common/stunner/sw/client/resources/images/icons/transition-compensation.png
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/resources/org/kie/workbench/common/stunner/sw/client/resources/images/icons/transition-condition.png
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/resources/org/kie/workbench/common/stunner/sw/client/resources/images/icons/transition-data-condition.png
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/resources/org/kie/workbench/common/stunner/sw/client/resources/images/icons/transition-default-condition.png
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/resources/org/kie/workbench/common/stunner/sw/client/resources/images/icons/transition-error.png
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/resources/org/kie/workbench/common/stunner/sw/client/resources/images/icons/transition-event-condition.png
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/resources/org/kie/workbench/common/stunner/sw/client/resources/images/icons/transition.png
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/main/java/org/kie/workbench/common/stunner/sw/client/editor/DiagramEditor.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/main/java/org/kie/workbench/common/stunner/sw/client/services/IncrementalMarshaller.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/java/org/kie/workbench/common/stunner/sw/client/editor/DiagramEditorTest.java
Labels: waiting-for-review, Serverless Workflow

#1794 KOGITO-9441: Bump `vscode-extension-tester` version to 5.8.0
  packages/kie-editors-dev-vscode-extension/package.json
  packages/serverless-workflow-vscode-extension/package.json
  packages/vscode-extension-common-test-helpers/package.json
  packages/vscode-extension-dashbuilder-editor/package.json
  packages/yard-vscode-extension/package.json
  pnpm-lock.yaml
Labels: Serverless Workflow

#1798 KOGITO-9362: Fix operator version to `1.40.0` on kn-plugin-workflow
  packages/kn-plugin-workflow/go.mod
  packages/kn-plugin-workflow/go.sum
Labels: Serverless Workflow

#1802 KOGITO-9362: Fix dev mode image to `quay.io/kiegroup/kogito-swf-devmode:1.40.1` on kn-plugin-workflow
  packages/kn-plugin-workflow/env/index.js
Labels: Serverless Workflow

#1790 NO-ISSUE: Bump up the Golang version 1.20.5
  .github/actions/setup-env/action.yml
  README.md
  examples/commit-message-validation-service/go.mod
  packages/extended-services/go.mod
  packages/kn-plugin-workflow/README.md
  packages/kn-plugin-workflow/go.mod
Labels: go

#1801 KOGITO-9394: Add confirm dialog after deleting a file from its menu
  packages/serverless-logic-web-tools/it-tests/e2e/RecentModel.cy.ts
  packages/serverless-logic-web-tools/src/editor/EditorToolbar.tsx
  packages/serverless-logic-web-tools/src/table/ConfirmDeleteModal.tsx
Labels: Serverless Workflow

#1806 KOGITO-9482: [SWF Editor] Serverless workflow example used in the autocomplete should have no spaces in the workflow id
  packages/serverless-logic-web-tools-swf-deployment-quarkus-app/src/test/resources/assets/invalid.sw.json
  packages/serverless-logic-web-tools/it-tests/e2e/CreateNewFile.cy.ts
  packages/serverless-workflow-language-service/src/assets/code-completion/simple-template.sw.json
  packages/serverless-workflow-language-service/src/assets/code-completions/empty-workflow-completions.ts
  packages/serverless-workflow-language-service/src/assets/code-completions/workflow-completions.ts
  packages/serverless-workflow-language-service/tests/__snapshots__/SwfJsonLanguageService.test.ts.snap
  packages/serverless-workflow-language-service/tests/__snapshots__/SwfYamlLanguageService.test.ts.snap
  packages/serverless-workflow-language-service/tests/expectedResults/emptyfile_autocompletion.sw.json.result
  packages/serverless-workflow-language-service/tests/expectedResults/emptyfile_autocompletion.sw.yaml.result
  packages/serverless-workflow-vscode-extension/it-tests/resources/autocompletion/emptyfile_autocompletion.sw.json.result
  packages/serverless-workflow-vscode-extension/it-tests/resources/autocompletion/emptyfile_autocompletion.sw.yaml.result
  packages/serverless-workflow-vscode-extension/it-tests/resources/autocompletion/emptyworkflow_autocompletion.sw.json.result
Labels: Serverless Workflow

#1805 KOGITO-9362: Fix dev mode image to version 1.40 on kn-plugin-workflow
  packages/kn-plugin-workflow/env/index.js
Labels: Serverless Workflow, cherry-pick 🍒

#1808 KOGITO-9470: Update base image versions for Serverless Logic Web Tools
  packages/dashbuilder-viewer-deployment-webapp/src/components/AppToolbar.tsx
  packages/dashbuilder-viewer-deployment-webapp/src/context/AppContext.tsx
  packages/dashbuilder-viewer-deployment-webapp/src/context/AppContextProvider.tsx
  packages/dashbuilder-viewer-deployment-webapp/src/data/index.ts
  packages/dashbuilder-viewer-deployment-webapp/src/hooks/useAppDataPromise.tsx
  packages/dashbuilder-viewer-deployment-webapp/src/pages/HomePage.tsx
  packages/dashbuilder-viewer-deployment-webapp/static/dashbuilder-viewer-deployment-webapp-data.json
  packages/dashbuilder-viewer-image/Containerfile
  packages/serverless-logic-web-tools-base-builder-image/Containerfile
  packages/serverless-logic-web-tools-base-builder-image/env/index.js
  packages/serverless-logic-web-tools-base-builder-image/package.json
  packages/serverless-logic-web-tools-swf-builder-image/Containerfile
  packages/serverless-logic-web-tools-swf-builder-image/env/index.js
  packages/serverless-logic-web-tools-swf-builder-image/package.json
  packages/serverless-logic-web-tools-swf-deployment-quarkus-app/pom.xml
  packages/serverless-logic-web-tools-swf-deployment-quarkus-app/src/main/java/org/kie/kogito/validation/ServerlessWorkflowValidation.java
  packages/serverless-logic-web-tools-swf-deployment-quarkus-app/src/test/resources/assets/invalid.sw.json
  packages/serverless-logic-web-tools-swf-dev-mode-image/Containerfile
  packages/serverless-logic-web-tools-swf-dev-mode-image/env/index.js
  packages/serverless-logic-web-tools-swf-dev-mode-image/package.json
  packages/serverless-logic-web-tools/src/openshift/deploy/DashbuilderViewerAppData.ts
Labels: Serverless Workflow

#1780 kie-issues#168: In DMN Editor's Boxed Expression Editor Context Menu, make possible to add N rows/columns with a single click
  packages/boxed-expression-component/src/api/BeeTable.ts
  packages/boxed-expression-component/src/expressions/BoxedExpressionEditor/BoxedExpressionEditorContext.css
  packages/boxed-expression-component/src/expressions/ContextExpression/ContextExpression.tsx
  packages/boxed-expression-component/src/expressions/DecisionTableExpression/DecisionTableExpression.tsx
  packages/boxed-expression-component/src/expressions/InvocationExpression/InvocationExpression.tsx
  packages/boxed-expression-component/src/expressions/ListExpression/ListExpression.tsx
  packages/boxed-expression-component/src/expressions/RelationExpression/RelationExpression.tsx
  packages/boxed-expression-component/src/i18n/BoxedExpressionEditorI18n.ts
  packages/boxed-expression-component/src/i18n/locales/de.ts
  packages/boxed-expression-component/src/i18n/locales/en.ts
  packages/boxed-expression-component/src/table/BeeTable/BeeTableContextMenuHandler.css
  packages/boxed-expression-component/src/table/BeeTable/BeeTableContextMenuHandler.tsx
Labels: waiting-for-review, DMN/SceSim

#1799 kie-issues#365: Top-left cell data is getting lost after Cutting and Pasting to the DMN Editor's Boxed Expression Editor
  packages/boxed-expression-component/src/selection/BeeTableSelectionContext.tsx
Labels: DMN/SceSim, Foundation

#1817 NO-ISSUE: Use boolean value in `dashbuilder-viewer-deployment-webapp` data
  packages/dashbuilder-viewer-deployment-webapp/static/dashbuilder-viewer-deployment-webapp-data.json
Labels: DashBuilder

#1812 kie-issues#353: DMN Editor Add documentation to every FEEL function proposed by code completion
  packages/feel-input-component/src/FeelConfigs.ts
Labels: DMN/SceSim, Foundation

#1821 kie-issues#373: DMN's Decision Table: Changing the column data type doens't work after changing Decision node type
  packages/boxed-expression-component/src/expressions/DecisionTableExpression/DecisionTableExpression.tsx
Labels: DMN/SceSim

#1819 kie-issues#375: DMN Editor: Context Menu is empty in List expression header
  packages/boxed-expression-component/src/expressions/ListExpression/ListExpression.tsx
Labels: DMN/SceSim, Foundation
