Repository apache/incubator-kie-tools, pull requests merged in 2023-01, with the labels that each got.

#1396 KOGITO-8008: Fix workspace card not showing all the files
  packages/serverless-logic-web-tools/src/__tests__/extension/index.test.ts
  packages/serverless-logic-web-tools/src/extension/index.ts
  packages/serverless-logic-web-tools/src/home/HomePage.tsx
Labels: Serverless Workflow

#1386 KOGITO-8371: Update Cypress version to 12.2.0
  packages/boxed-expression-component/it-tests/e2e/context_expression.cy.ts
  packages/boxed-expression-component/it-tests/e2e/decision_table_expression.cy.ts
  packages/boxed-expression-component/it-tests/e2e/popover.cy.ts
  packages/boxed-expression-component/it-tests/e2e/relation_expression.cy.ts
  packages/boxed-expression-component/it-tests/tsconfig.json
  packages/boxed-expression-component/package.json
  packages/dashbuilder-editor/package.json
  packages/dashbuilder-viewer/package.json
  packages/import-java-classes-component/README.md
  packages/import-java-classes-component/package.json
  packages/kie-editors-standalone/it-tests/cypress/e2e/bpmn-read-only.cy.ts
  packages/kie-editors-standalone/it-tests/cypress/e2e/bpmn-workitem.cy.ts
  packages/kie-editors-standalone/package.json
  packages/online-editor/package.json
  packages/pmml-editor/package.json
  packages/serverless-logic-web-tools/package.json
  packages/serverless-workflow-combined-editor/package.json
  packages/serverless-workflow-mermaid-viewer/package.json
  packages/serverless-workflow-standalone-editor/package.json
  packages/serverless-workflow-text-editor/package.json
  packages/text-editor/package.json
  packages/yard-editor/package.json
  pnpm-lock.yaml
Labels: Foundation

#1402 kie-tools#1273: Remove hardcoded children count for data tyle list view
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/types/listview/DataTypeListItemView.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/test/java/org/kie/workbench/common/dmn/client/editors/types/listview/DataTypeListItemViewTest.java
Labels: DMN/SceSim

#1372 kie-issues#49: Stunner - Scrolling outside the editing cell closes the Text Editor losing any change
  packages/stunner-editors/drools-wb-screens/drools-wb-scenario-simulation-editor/drools-wb-scenario-simulation-editor-client/src/main/java/org/drools/workbench/screens/scenariosimulation/client/models/AbstractScesimGridModel.java
  packages/stunner-editors/drools-wb-screens/drools-wb-scenario-simulation-editor/drools-wb-scenario-simulation-editor-client/src/main/java/org/drools/workbench/screens/scenariosimulation/client/widgets/ScenarioGridPanel.java
  packages/stunner-editors/drools-wb-screens/drools-wb-scenario-simulation-editor/drools-wb-scenario-simulation-editor-client/src/test/java/org/drools/workbench/screens/scenariosimulation/client/models/AbstractScesimGridModelTest.java
  packages/stunner-editors/drools-wb-screens/drools-wb-scenario-simulation-editor/drools-wb-scenario-simulation-editor-client/src/test/java/org/drools/workbench/screens/scenariosimulation/client/widgets/ScenarioGridPanelTest.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/widgets/panel/DMNGridPanel.java
  packages/stunner-editors/uberfire-extensions/uberfire-wires/uberfire-wires-core/uberfire-wires-core-grids/src/main/java/org/uberfire/ext/wires/core/grids/client/widget/layer/impl/DefaultGridLayer.java
  packages/stunner-editors/uberfire-extensions/uberfire-wires/uberfire-wires-core/uberfire-wires-core-grids/src/test/java/org/uberfire/ext/wires/core/grids/client/widget/layer/impl/DefaultGridLayerTest.java
Labels: BPMN/Stunner, DMN/SceSim, java

#1406 KOGITO-8447:[Dashbuilder]Support MEDIAN aggregation function
  packages/dashbuilder/kie-soup-dataset/kie-soup-dataset-api/src/main/java/org/dashbuilder/dataset/group/AggregateFunctionType.java
  packages/dashbuilder/kie-soup-dataset/kie-soup-dataset-shared/src/main/java/org/dashbuilder/dataset/engine/function/AggregateFunctionManagerImpl.java
  packages/dashbuilder/kie-soup-dataset/kie-soup-dataset-shared/src/main/java/org/dashbuilder/dataset/engine/function/MedianFunction.java
  packages/dashbuilder/kie-soup-dataset/kie-soup-dataset-shared/src/test/java/org/dashbuilder/dataset/engine/function/AggregateFunctionsTest.java
Labels: waiting-for-ci, DashBuilder

#1403 KOGITO-8433: Add junit-report-merger for serverless-logic-web-tools tests
  packages/kie-editors-standalone/package.json
  packages/serverless-logic-web-tools/package.json
  packages/serverless-workflow-standalone-editor/package.json
  pnpm-lock.yaml
Labels: Serverless Workflow

#1383 DROOLS-4640: Reflect DataType constraint into decision table column
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/expressions/types/dtable/DecisionTableEditorDefinitionEnricher.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/types/common/ItemDefinitionUtils.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/test/java/org/kie/workbench/common/dmn/client/editors/expressions/types/dtable/DecisionTableEditorDefinitionEnricherTest.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/test/java/org/kie/workbench/common/dmn/client/editors/types/common/ItemDefinitionUtilsTest.java
Labels: DMN/SceSim

#1405 KOGITO-7962: Configure integration tests of vscode-extensions to run tests twice in case of fails
  packages/vscode-extension-serverless-workflow-editor/.mocharc.json
  packages/vscode-extension-serverless-workflow-editor/it-tests/helpers/VSCodeTestHelper.ts
  packages/vscode-extension-yard-editor/.mocharc.json
Labels: Serverless Workflow

#1397 kie-issues#50 - Uploading local files on KIE Sandbox with an unsupported extension gets stuck on loading
  packages/online-editor/src/home/HomePage.tsx
  packages/online-editor/src/home/UploadCard.tsx
Labels: Foundation

#1401 KOGITO-8345: [SWF Viewer] Icon frome metadata improvements
  packages/.gitignore
  packages/serverless-workflow-diagram-editor/lienzo-core/src/main/java/com/ait/lienzo/client/core/util/Geometry.java
  packages/serverless-workflow-diagram-editor/lienzo-tests/src/main/java/com/ait/lienzo/test/stub/overlays/DomGlobal.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/StateShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/StateShapeView.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/test/java/org/kie/workbench/common/stunner/sw/client/shapes/StateShapeTest.java
Labels: waiting-for-qe, waiting-for-review, Serverless Workflow

#1398 DROOLS-5902: Distinguish builtin and simple custom type in DT input column
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/expressions/types/dtable/DecisionTableEditorDefinitionEnricher.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/test/java/org/kie/workbench/common/dmn/client/editors/expressions/types/dtable/DecisionTableEditorDefinitionEnricherTest.java
Labels: DMN/SceSim

#1412 KOGITO-8366: Swf standalone editor icon fix
  packages/serverless-workflow-standalone-editor/src/swf/resources/SwfTextEditorResources.ts
Labels: Serverless Workflow

#1415 kie-issues #78 Can't have ' (single quote) on a file's name on KIE Sandbox
  packages/online-editor/src/editor/FileSwitcher.tsx
Labels: Foundation

#1409 kie-issues#36: Static validation for BPMN files on KIE Sandbox
  packages/extended-services/package.json
  packages/online-editor/src/editor/DmnRunner/DmnRunnerContext.tsx
  packages/online-editor/src/editor/DmnRunner/DmnRunnerDrawerPanelContent.tsx
  packages/online-editor/src/editor/DmnRunner/DmnRunnerProvider.tsx
  packages/online-editor/src/editor/DmnRunner/DmnRunnerTable.tsx
  packages/online-editor/src/editor/EditorPage.tsx
  packages/online-editor/src/editor/EditorPageDockDrawer.tsx
  packages/online-editor/src/editor/Validation.tsx
  packages/online-editor/src/kieSandboxExtendedServices/KieSandboxExtendedServicesClient.ts
  packages/online-editor/src/kieSandboxExtendedServices/KieSandboxExtendedServicesContext.tsx
  packages/online-editor/src/kieSandboxExtendedServices/KieSandboxExtendedServicesContextProvider.tsx
  packages/root-env/env/index.js
  pnpm-lock.yaml
Labels: BPMN/Stunner

#1414 KOGITO-8501: Fix Dashbuilder model navigation in MultiMode
  packages/dashbuilder-component-map/src/MapComponent.tsx
  packages/dashbuilder-viewer/dev-webapp/App.tsx
  packages/dashbuilder/dashbuilder-client/dashbuilder-displayer-client/src/main/java/org/dashbuilder/displayer/client/widgets/DisplayerError.java
  packages/dashbuilder/dashbuilder-client/dashbuilder-displayer-client/src/main/java/org/dashbuilder/displayer/client/widgets/DisplayerErrorWidget.html
  packages/dashbuilder/dashbuilder-client/dashbuilder-displayer-client/src/main/java/org/dashbuilder/displayer/client/widgets/DisplayerErrorWidget.java
  packages/dashbuilder/dashbuilder-client/dashbuilder-displayer-client/src/main/java/org/dashbuilder/displayer/client/widgets/DisplayerViewer.java
  packages/dashbuilder/dashbuilder-client/dashbuilder-renderers/dashbuilder-renderer-default/src/main/java/org/dashbuilder/renderer/client/metric/MetricDisplayer.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/RuntimeClientLoader.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/external/ExternalDataCallbackCoordinator.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/external/ExternalDataSetClientProvider.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/navbar/DashboardListMenuBuilder.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/resources/i18n/AppConstants.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/screens/EmptyScreen.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/screens/RouterScreen.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/screens/view/EmptyScreenView.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/setup/RuntimeClientSetup.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/widgets/UploadWidget.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/widgets/view/DashboardCardView.css
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/widgets/view/DashboardCardView.html
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/resources/org/dashbuilder/client/resources/i18n/AppConstants.properties
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/webapp/setup.js
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/test/java/org/dashbuilder/client/external/ExternalDataCallbackCoordinatorTest.java
Labels: DashBuilder

#1416 Bump `kie` to `8.32.0` on Stunner Editors
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/pom.xml
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-runtime/pom.xml
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-testing/pom.xml
  packages/stunner-editors/pom.xml
Labels: BPMN/Stunner, DMN/SceSim, dependencies, java

#1422 KOGITO-8531: Bump `vscode-extension-tester` version to 5.3.0
  packages/vscode-extension-pack-kogito-kie-editors/package.json
  packages/vscode-extension-serverless-workflow-editor/package.json
  packages/vscode-extension-yard-editor/package.json
  pnpm-lock.yaml
Labels: Foundation

#1419 KOGITO-8402: Dashbuilder VSCode extension: review open to the side option
  packages/vscode-extension-dashbuilder-editor/package.json
  packages/vscode-extension-dashbuilder-editor/src/extension/commandIds.ts
  packages/vscode-extension-dashbuilder-editor/src/extension/setupDashboardEditorControls.ts
  packages/vscode-extension-dashbuilder-editor/tsconfig.json
  packages/vscode-extension-serverless-workflow-editor/src/extension/setupDiagramEditorCompanionTab.ts
Labels: waiting-for-review, Serverless Workflow, DashBuilder

#1425 kie-issues#95: GWT modules maintenance: Enabling Hot Reload on DMN and BPMN editors
  packages/stunner-editors/kie-wb-common-bom/pom.xml
  packages/stunner-editors/kie-wb-common-dmn/README.md
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-runtime/pom.xml
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-runtime/src/main/webapp/static/sample.dmn
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-runtime/src/main/webapp/test.html
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-testing/README.md
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-testing/pom.xml
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-testing/src/main/java/org/kie/workbench/common/dmn/showcase/client/DMNKogitoTestingEntryPoint.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-testing/src/main/java/org/kie/workbench/common/dmn/showcase/client/alternatives/DMNClientModels.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-testing/src/main/java/org/kie/workbench/common/dmn/showcase/client/alternatives/KogitoResourceContentService.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-testing/src/main/java/org/kie/workbench/common/dmn/showcase/client/editor/DMNDiagramEditor.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-testing/src/main/java/org/kie/workbench/common/dmn/showcase/client/editor/DMNDiagramEditorActivity.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-testing/src/main/java/org/kie/workbench/common/dmn/showcase/client/feel/FEELDemoEditor.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-testing/src/main/java/org/kie/workbench/common/dmn/showcase/client/feel/FEELDemoEditorView.html
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-testing/src/main/java/org/kie/workbench/common/dmn/showcase/client/feel/FEELDemoEditorView.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-testing/src/main/java/org/kie/workbench/common/dmn/showcase/client/feel/FEELDemoEditorView.less
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-testing/src/main/resources/META-INF/ErraiApp.properties
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-testing/src/main/resources/log4j.xml
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-testing/src/main/resources/logback.xml
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-testing/src/main/resources/org/kie/workbench/common/dmn/showcase/DMNKogitoTestingWebapp.gwt.xml
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-testing/src/main/resources/org/kie/workbench/common/dmn/showcase/FastCompiledDMNKogitoTestingWebapp.gwt.xml
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-testing/src/main/webapp/WEB-INF/beans.xml
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-testing/src/main/webapp/WEB-INF/jboss-deployment-structure.xml
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-testing/src/main/webapp/WEB-INF/web.xml
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-testing/src/main/webapp/editor.html
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-testing/src/main/webapp/favicon.ico
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-testing/src/main/webapp/index.html
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-testing/src/main/webapp/model/readme.md
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-testing/src/main/webapp/static/test.js
  packages/stunner-editors/kie-wb-common-dmn/pom.xml
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-kogito-runtime/pom.xml
Labels: BPMN/Stunner, DMN/SceSim

#1428 KOGITO-8266: Use Stunner diagram in VSCode extension tests
  packages/vscode-extension-serverless-workflow-editor/it-tests/helpers/swf/SwfEditorTestHelper.ts
  packages/vscode-extension-serverless-workflow-editor/it-tests/serverless-workflow-editor-extension-autocompletion.test.ts
  packages/vscode-extension-serverless-workflow-editor/it-tests/serverless-workflow-editor-extension-basic-operations.test.ts
  packages/vscode-extension-serverless-workflow-editor/it-tests/serverless-workflow-editor-extension-smoke.test.ts
  packages/vscode-extension-serverless-workflow-editor/it-tests/settings.json
Labels: Serverless Workflow

#1418 kie-issues#12: Enable users to define commit messages on KIE Sandbox
  packages/git-cors-proxy-image/Containerfile
  packages/git-cors-proxy-image/README.md
  packages/kie-sandbox-image/README.md
  packages/online-editor/build/defaultEnvJson.ts
  packages/online-editor/env/index.js
  packages/online-editor/src/App.tsx
  packages/online-editor/src/editor/EditorToolbar.tsx
  packages/online-editor/src/env/EnvJson.ts
  packages/online-editor/src/i18n/OnlineI18n.ts
  packages/online-editor/src/i18n/locales/en.ts
  packages/online-editor/src/workspace/components/PromiseModal.tsx
  packages/online-editor/src/workspace/components/WorkspaceCommitModal.tsx
  packages/online-editor/src/workspace/components/WorkspaceStatusIndicator.tsx
  packages/online-editor/src/workspace/components/WorkspacesContextProviderWithCustomCommitMessagesModal.tsx
  packages/serverless-logic-web-tools/it-tests/e2e/TrySample.cy.ts
  packages/serverless-logic-web-tools/src/App.tsx
  packages/workspaces-git-fs/src/context/WorkspacesContextProvider.tsx
  packages/workspaces-git-fs/src/services/WorkspaceService.tsx
  packages/workspaces-git-fs/src/worker/WorkspacesWorkerApiImpl.ts
  packages/workspaces-git-fs/src/worker/api/WorkspacesWorkerGitApi.ts
Labels: Foundation

#1424 kie-issues#41: DMN\BMPN Editors: The file is kept "dirty" after undoing one copy/paste operation
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/main/java/org/kie/workbench/common/stunner/core/client/session/command/impl/PasteSelectionSessionCommand.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-core/kie-wb-common-stunner-commons/kie-wb-common-stunner-client-common/src/test/java/org/kie/workbench/common/stunner/core/client/session/command/impl/PasteSelectionSessionCommandTest.java
Labels: BPMN/Stunner, DMN/SceSim

#1417 kie-issues#10: Bitbucket support on KIE Sandbox
  packages/i18n-common-dictionary/src/names.ts
  packages/online-editor/build/defaultEnvJson.ts
  packages/online-editor/src/__tests__/switchExpression/switchExpression.test.ts
  packages/online-editor/src/accounts/AccountsContext.tsx
  packages/online-editor/src/accounts/AccountsIcon.tsx
  packages/online-editor/src/accounts/git/ConnectToGitSection.tsx
  packages/online-editor/src/accounts/openshift/ConnectToOpenShiftSection.tsx
  packages/online-editor/src/authProviders/AuthProvidersApi.ts
  packages/online-editor/src/authProviders/AuthProvidersGallery.tsx
  packages/online-editor/src/authSessions/AuthSessionApi.ts
  packages/online-editor/src/authSessions/AuthSessionsContext.tsx
  packages/online-editor/src/authSessions/AuthSessionsList.tsx
  packages/online-editor/src/authSessions/CompatibleAuthSessions.ts
  packages/online-editor/src/bitbucket/Hooks.tsx
  packages/online-editor/src/editor/CreateGistOrSnippetModal.tsx
  packages/online-editor/src/editor/CreateGitHubRepositoryModal.tsx
  packages/online-editor/src/editor/CreateGitRepositoryModal.tsx
  packages/online-editor/src/editor/EditorToolbar.tsx
  packages/online-editor/src/editor/LoadOrganizationsSelect.tsx
  packages/online-editor/src/editor/NewFileDropdownMenu.tsx
  packages/online-editor/src/github/Hooks.tsx
  packages/online-editor/src/i18n/OnlineI18n.ts
  packages/online-editor/src/i18n/locales/en.ts
  packages/online-editor/src/importFromUrl/ImportFromUrlHomePageCard.tsx
  packages/online-editor/src/importFromUrl/ImportableUrlHooks.tsx
  packages/online-editor/src/importFromUrl/NewWorkspaceFromUrlPage.tsx
  packages/online-editor/src/importFromUrl/fetchSingleFileContent.ts
  packages/online-editor/src/switchExpression/switchExpression.ts
  packages/online-editor/src/workspace/components/WorkspaceLabel.tsx
  packages/workspaces-git-fs/src/context/WorkspacesContext.tsx
  packages/workspaces-git-fs/src/context/WorkspacesContextProvider.tsx
  packages/workspaces-git-fs/src/hooks/WorkspaceHooks.tsx
  packages/workspaces-git-fs/src/services/WorkspaceDescriptorService.tsx
  packages/workspaces-git-fs/src/worker/WorkspacesWorkerApiImpl.ts
  packages/workspaces-git-fs/src/worker/api/WorkspaceOrigin.tsx
  packages/workspaces-git-fs/src/worker/api/WorkspacesWorkerGitApi.ts
Labels: Foundation

#1431 KOGITO-8426: Implement a quickstart guide component in the settings section
  packages/serverless-logic-web-tools/package.json
  packages/serverless-logic-web-tools/src/homepage/pageTemplate/OnlineEditorPage.tsx
  packages/serverless-logic-web-tools/src/index.tsx
  packages/serverless-logic-web-tools/src/navigation/RoutesSwitch.tsx
  packages/serverless-logic-web-tools/src/newSettings/extendedServices/KieSandboxExtendedServicesSettings.tsx
  packages/serverless-logic-web-tools/src/newSettings/github/GitHubSettings.tsx
  packages/serverless-logic-web-tools/src/newSettings/kafka/ApacheKafkaSettings.tsx
  packages/serverless-logic-web-tools/src/newSettings/openshift/OpenShiftSettings.tsx
  packages/serverless-logic-web-tools/src/newSettings/openshift/OpenShiftSettingsSimpleConfig.tsx
  packages/serverless-logic-web-tools/src/newSettings/routes/SettingsPageRoutes.tsx
  packages/serverless-logic-web-tools/src/newSettings/serviceAccount/ServiceAccountSettings.tsx
  packages/serverless-logic-web-tools/src/newSettings/serviceRegistry/ServiceRegistrySettings.tsx
  packages/serverless-logic-web-tools/src/newSettings/types.ts
  packages/serverless-logic-web-tools/src/quickstarts-data/ApplicationServicesIntegrationQuickStart.ts
  packages/serverless-logic-web-tools/src/quickstarts-data/GitHubTokenQuickStart.ts
  packages/serverless-logic-web-tools/src/quickstarts-data/OpenShiftIntegrationQuickStart.ts
  packages/serverless-logic-web-tools/src/quickstarts-data/index.ts
  packages/serverless-logic-web-tools/static/images/quickstarts/serverless-logic-web-tools-github-repo.png
  packages/serverless-logic-web-tools/static/images/quickstarts/serverless-logic-web-tools-openshift-info.png
  packages/serverless-logic-web-tools/static/images/quickstarts/serverless-logic-web-tools-openshift-project.png
  packages/serverless-logic-web-tools/static/resources/style.css
  pnpm-lock.yaml
Labels: Serverless Workflow

#1433 KOGITO-8547: Add support for selecting nodes in VSCode extension tests
  packages/vscode-extension-serverless-workflow-editor/it-tests/helpers/swf/SwfEditorTestHelper.ts
  packages/vscode-extension-serverless-workflow-editor/it-tests/resources/diagram-navigation/applicant-request-decision.sw.json
  packages/vscode-extension-serverless-workflow-editor/it-tests/serverless-workflow-editor-extension-diagram-navigation.test.ts
Labels: waiting-for-review, Serverless Workflow
