Repository apache/incubator-kie-tools, pull requests merged in 2023-11, with the labels that each got.

#2019 KOGITO-9907: Enable to use GitHub token without logged in user
  packages/chrome-extension-serverless-workflow-editor/e2e-tests/tests/SwfFullScreenTest.ts
  packages/chrome-extension-serverless-workflow-editor/e2e-tests/tests/SwfTest.ts
  packages/chrome-extension-serverless-workflow-editor/env/index.js
  packages/chrome-extension-test-helper/src/framework/github-repo/GitHubRepoPage.ts
  packages/chrome-extension-test-helper/src/utils/tools/Clipboard.ts
  packages/chrome-extension/src/app/Dependencies.ts
  packages/chrome-extension/src/app/components/common/Main.tsx
Labels: waiting-for-review, Serverless Workflow

#2046 KOGITO-9891: Language Service not available on the SWF Chrome extension
  packages/chrome-extension-serverless-workflow-editor/package.json
  packages/chrome-extension-serverless-workflow-editor/src/api/SwfLanguageServiceChannelApiImpl.ts
  packages/chrome-extension-serverless-workflow-editor/src/github-content-script.ts
  packages/chrome-extension-serverless-workflow-editor/src/languageService/ChromeExtensionSwfLanguageService.ts
  packages/chrome-extension/src/app/components/common/GlobalContext.tsx
  packages/chrome-extension/src/app/components/common/KogitoEditorIframe.tsx
  packages/chrome-extension/src/app/components/common/Main.tsx
  packages/chrome-extension/src/app/components/single/singleEditorEdit.tsx
  packages/chrome-extension/src/index.ts
  pnpm-lock.yaml
Labels: Serverless Workflow

#2048 KOGITO-9925: Workflow definition endpoints double the last slash
  packages/serverless-logic-web-tools/src/__tests__/url/removeTrailingSlashFromUrl.test.ts
  packages/serverless-logic-web-tools/src/settings/runtimeTools/RuntimeToolsSettings.tsx
  packages/serverless-logic-web-tools/src/url/index.ts
Labels: Serverless Workflow

#2045 kie issues#685: DMN Editor: Import Java Classes button is not enabled
  packages/bpmn-vscode-extension/package.json
  packages/import-java-classes-component/src/i18n/locales/en.ts
  packages/vscode-java-code-completion-extension-plugin/pom.xml
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/META-INF/MANIFEST.MF
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/build.properties
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/pom.xml
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/main/java/org/kogito/core/internal/DelegateHandler.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/main/java/org/kogito/core/internal/ExtensionActivator.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/main/java/org/kogito/core/internal/api/GetClassesResult.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/main/java/org/kogito/core/internal/api/GetPublicParameters.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/main/java/org/kogito/core/internal/api/GetPublicResult.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/main/java/org/kogito/core/internal/engine/ActivationChecker.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/main/java/org/kogito/core/internal/engine/ActivationCheckerException.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/main/java/org/kogito/core/internal/engine/ActivationFileVisitor.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/main/java/org/kogito/core/internal/engine/BuildInformation.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/main/java/org/kogito/core/internal/engine/JavaEngine.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/main/java/org/kogito/core/internal/engine/TemplateParameters.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/main/java/org/kogito/core/internal/engine/Templates.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/main/java/org/kogito/core/internal/engine/exceptions/EngineException.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/main/java/org/kogito/core/internal/handlers/AutocompleteHandler.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/main/java/org/kogito/core/internal/handlers/GetAccessorsHandler.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/main/java/org/kogito/core/internal/handlers/GetClassesHandler.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/main/java/org/kogito/core/internal/handlers/Handler.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/main/java/org/kogito/core/internal/handlers/HandlerConstants.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/main/java/org/kogito/core/internal/handlers/IsLanguageServerAvailableHandler.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/main/java/org/kogito/core/internal/util/WorkspaceUtil.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/test/java/org/kogito/core/internal/engine/ActivationCheckerTest.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/test/java/org/kogito/core/internal/engine/ActivationFileVisitorTest.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/test/java/org/kogito/core/internal/engine/JavaEngineTest.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/test/java/org/kogito/core/internal/handlers/GetAccessorsHandlerTest.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/test/java/org/kogito/core/internal/handlers/IsLanguageServerAvailableHandlerTest.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/test/java/org/kogito/core/internal/util/TestUtil.java
Labels: DMN, Foundation

#2057 KOGITO-9953: Update Cypress version to 13.5.1
  packages/kie-editors-standalone/package.json
  packages/pmml-editor/package.json
  packages/serverless-logic-web-tools/package.json
  pnpm-lock.yaml
Labels: waiting-for-review, waiting-for-ci

#2056 NO-ISSUE: Update `guava` to 32.1.3
  packages/serverless-workflow-diagram-editor/pom.xml
  packages/stunner-editors/pom.xml
Labels: BPMN, DMN, Serverless Workflow, dependencies, Test Scenario

#2058 KOGITO-9954: Update selenium to version 4.15.0
  package.json
  packages/chrome-extension-pack-kogito-kie-editors/package.json
  packages/chrome-extension-test-helper/package.json
  packages/serverless-workflow-vscode-extension/package.json
  packages/vscode-extension-common-test-helpers/package.json
  packages/vscode-extension-dashbuilder-editor/package.json
  packages/yard-vscode-extension/package.json
  patches/selenium-webdriver@4.15.0.patch
  pnpm-lock.yaml
Labels: waiting-for-ci

#2062 KOGITO-9959: Bump vscode-extension-tester version to 5.10.0
  examples/base64png-editor-vscode-extension/package.json
  examples/todo-list-view-vscode-extension/package.json
  packages/bpmn-vscode-extension/package.json
  packages/dmn-vscode-extension/package.json
  packages/kie-editors-dev-vscode-extension/package.json
  packages/pmml-vscode-extension/package.json
  packages/serverless-workflow-vscode-extension/package.json
  packages/vscode-extension-common-test-helpers/package.json
  packages/vscode-extension-dashbuilder-editor/package.json
  packages/vscode-extension-kie-ba-bundle/package.json
  packages/vscode-extension-kogito-bundle/package.json
  packages/yard-vscode-extension/package.json
  pnpm-lock.yaml
Labels: dependencies

#2067 KOGITO-9962: Add Temporarily unexpire M118 flags to Chrome extension tests
  README.md
  packages/chrome-extension-test-helper/src/utils/tools/Driver.ts
  packages/stunner-editors/drools-wb-screens/drools-wb-scenario-simulation-editor/drools-wb-scenario-simulation-editor-kogito-runtime/README.md
  packages/stunner-editors/drools-wb-screens/drools-wb-scenario-simulation-editor/drools-wb-scenario-simulation-editor-kogito-testing/README.md
Labels: Foundation

#2038 KOGITO-9928: Add test for creating new Decision tooling file
  packages/serverless-logic-web-tools/e2e-tests/e2e/CreateNewFile.cy.ts
  packages/yard-editor/src/uiEditor/YardUIEditor.tsx
Labels: Serverless Workflow

#2027 KOGITO-8949: Recreate TrySample test for Serverless Logic Web Tools
  packages/serverless-logic-web-tools/e2e-tests/e2e/TrySample.cy.ts
  packages/serverless-logic-web-tools/e2e-tests/support/e2e.ts
  packages/serverless-logic-web-tools/package.json
  packages/serverless-logic-web-tools/src/samples/SamplesCatalog.tsx
  packages/serverless-logic-web-tools/src/settings/SettingsButton.tsx
  packages/serverless-logic-web-tools/src/settings/github/GitHubSettings.tsx
  pnpm-lock.yaml
Labels: Serverless Workflow
