Repository apache/incubator-kie-tools, pull requests merged in 2023-04, with the labels that each got.

#1535 KOGITO-8875: [SWF Editor] Integrate samples from kie-samples
  .github/workflows/release_build.yml
  .github/workflows/staging_build.yml
  packages/serverless-logic-web-tools/env/index.js
  packages/serverless-logic-web-tools/it-tests/e2e/TrySample.cy.ts
  packages/serverless-logic-web-tools/src/App.tsx
  packages/serverless-logic-web-tools/src/editor/NewFileDropdownMenu.tsx
  packages/serverless-logic-web-tools/src/home/HomePage.tsx
  packages/serverless-logic-web-tools/src/home/SampleCard.tsx
  packages/serverless-logic-web-tools/src/home/Showcase.tsx
  packages/serverless-logic-web-tools/src/home/sample/SampleCard.tsx
  packages/serverless-logic-web-tools/src/home/sample/SampleCardSkeleton.css
  packages/serverless-logic-web-tools/src/home/sample/SampleCardSkeleton.tsx
  packages/serverless-logic-web-tools/src/home/sample/SamplesLoadError.tsx
  packages/serverless-logic-web-tools/src/home/sample/Showcase.tsx
  packages/serverless-logic-web-tools/src/home/sample/hooks/SampleContext.tsx
  packages/serverless-logic-web-tools/src/home/sample/sampleApi.ts
  packages/serverless-logic-web-tools/src/navigation/Routes.ts
  packages/serverless-logic-web-tools/src/navigation/RoutesSwitch.tsx
  packages/serverless-logic-web-tools/src/workspace/components/NewWorkspaceFromSample.tsx
  packages/serverless-logic-web-tools/static/samples/compensation/compensation.svg
  packages/serverless-logic-web-tools/static/samples/compensation/compensation.sw.json
  packages/serverless-logic-web-tools/static/samples/greetings-kafka/greetings-kafka.svg
  packages/serverless-logic-web-tools/static/samples/greetings-kafka/greetings-kafka.sw.json
  packages/serverless-logic-web-tools/static/samples/greetings/greetings.svg
  packages/serverless-logic-web-tools/static/samples/greetings/greetings.sw.json
  packages/serverless-logic-web-tools/static/samples/kitchensink/kitchensink.dash.yml
  packages/serverless-logic-web-tools/static/samples/kitchensink/kitchensink.svg
  packages/serverless-logic-web-tools/static/samples/products-dashboard/products-dashboard.dash.yml
  packages/serverless-logic-web-tools/static/samples/products-dashboard/products-dashboard.svg
  packages/serverless-logic-web-tools/static/samples/swf-report/sampleResponse.json
  packages/serverless-logic-web-tools/static/samples/swf-report/swf-report.dash.yml
  packages/serverless-logic-web-tools/static/samples/swf-report/swf-report.svg
  packages/serverless-logic-web-tools/static/samples/traffic-violation/traffic-violation.yard.yaml
  packages/serverless-logic-web-tools/webpack.config.js
Labels: Serverless Workflow

#1542 KOGITO-8946: Missing structureref type for service task in VSCode BPMN editor
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-kogito-runtime/src/test/resources/org/kie/workbench/common/stunner/kogito/client/selenium/basic-process.bpmn2
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-marshalling/src/main/java/org/kie/workbench/common/stunner/bpmn/client/marshall/converters/fromstunner/properties/GenericServiceTaskPropertyWriter.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-marshalling/src/test/java/org/kie/workbench/common/stunner/bpmn/client/marshall/converters/fromstunner/properties/GenericServiceTaskPropertyWriterTest.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-marshalling/src/test/java/org/kie/workbench/common/stunner/bpmn/client/marshall/converters/tostunner/properties/GenericServiceTaskPropertyReaderTest.java
Labels: waiting-for-qe, waiting-for-review, BPMN/Stunner, java

#1547 NO-ISSUE: Fixed typo on `test:it` scripts for VS Code Extensions
  packages/vscode-extension-pack-kogito-kie-editors/package.json
  packages/vscode-extension-serverless-workflow-editor/package.json
  packages/vscode-extension-yard-editor/package.json
Labels: Foundation

#1552 [0.26.1] Bump tycho version to `2.7.5`
  packages/vscode-java-code-completion-extension-plugin/pom.xml
Labels: Foundation

#1555 KOGITO-8968: Resize SVG from sample according to its container
  packages/serverless-logic-web-tools/src/home/sample/SampleCard.tsx
  packages/serverless-logic-web-tools/src/home/sample/SampleCardSkeleton.css
  packages/serverless-logic-web-tools/src/home/sample/SampleCardSkeleton.tsx
  packages/serverless-logic-web-tools/src/home/sample/Showcase.tsx
Labels: Serverless Workflow

#1553 [0.26.1] KOGITO-8946: Missing structureref type for service task in VSCode BPMN editor
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-kogito-runtime/src/test/resources/org/kie/workbench/common/stunner/kogito/client/selenium/basic-process.bpmn2
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-marshalling/src/main/java/org/kie/workbench/common/stunner/bpmn/client/marshall/converters/fromstunner/properties/GenericServiceTaskPropertyWriter.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-marshalling/src/test/java/org/kie/workbench/common/stunner/bpmn/client/marshall/converters/fromstunner/properties/GenericServiceTaskPropertyWriterTest.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-marshalling/src/test/java/org/kie/workbench/common/stunner/bpmn/client/marshall/converters/tostunner/properties/GenericServiceTaskPropertyReaderTest.java
Labels: BPMN/Stunner, java

#1556 kie-issues#157: Connection to Shared Worker is lost when KIE Sandbox tab is frozen by chrome
  packages/online-editor/build/defaultEnvJson.ts
  packages/online-editor/src/env/EnvJson.ts
  packages/online-editor/src/workspace/components/WorkspacesContextProviderWithCustomCommitMessagesModal.tsx
  packages/online-editor/src/workspace/worker/sharedWorker.ts
  packages/serverless-logic-web-tools/src/App.tsx
  packages/workspaces-git-fs/src/context/WorkspacesContextProvider.tsx
  packages/workspaces-git-fs/src/worker/WorkspacesSharedWorker.ts
Labels: Foundation

#1559 KOGITO-8969: Bump `vscode-extension-tester` version to 5.5.2
  packages/vscode-extension-dashbuilder-editor/package.json
  packages/vscode-extension-pack-kogito-kie-editors/package.json
  packages/vscode-extension-serverless-workflow-editor/package.json
  packages/vscode-extension-yard-editor/package.json
  pnpm-lock.yaml
Labels: Foundation

#1561 kie-issues#110: Removing "Supported by Red Hat" logo in DMN Editor Documentation Tab
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/documentation/common/DMNDocumentation.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/documentation/template/dmn-documentation-template.html
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/resources/DMNImageResources.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/resources/DMNSVGGlyphFactory.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/resources/org/kie/workbench/common/dmn/client/resources/images/logos/supported-by-red-hat-logo.svg
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/test/java/org/kie/workbench/common/dmn/client/editors/documentation/common/DMNDocumentationFactoryTest.java
Labels: DMN/SceSim

#1564 KOGITO-8995: Fix interaction between Web Tools and Managed Service Registry
  packages/extended-services/pkg/server.go
Labels: Foundation

#1545 NO-ISSUE: Reverting logs introduced by #1538
  packages/stunner-editors/errai-data-binding/src/main/java/org/jboss/errai/databinding/rebind/BindableProxyLoaderGenerator.java
  packages/stunner-editors/errai-data-binding/src/main/java/org/jboss/errai/databinding/rebind/DataBindingUtil.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-webapp-kogito-runtime/pom.xml
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-kogito-runtime/pom.xml
Labels: Foundation

#1566 KOGITO-9016: Fix Dashbuilder CSV Parser for empty fields
  packages/dashbuilder/dashbuilder-client/dashbuilder-displayer-client/src/main/java/org/dashbuilder/displayer/client/DisplayerCoordinator.java
  packages/dashbuilder/dashbuilder-client/dashbuilder-displayer-client/src/main/java/org/dashbuilder/displayer/client/PerspectiveCoordinator.java
  packages/dashbuilder/dashbuilder-client/dashbuilder-displayer-client/src/main/java/org/dashbuilder/displayer/client/widgets/DisplayerErrorWidget.html
  packages/dashbuilder/dashbuilder-client/dashbuilder-displayer-client/src/main/java/org/dashbuilder/displayer/client/widgets/DisplayerErrorWidget.java
  packages/dashbuilder/dashbuilder-client/dashbuilder-displayer-editor/src/main/java/org/dashbuilder/client/editor/AreaChartDragComponent.java
  packages/dashbuilder/dashbuilder-client/dashbuilder-displayer-editor/src/main/java/org/dashbuilder/client/editor/BarChartDragComponent.java
  packages/dashbuilder/dashbuilder-client/dashbuilder-displayer-editor/src/main/java/org/dashbuilder/client/editor/BubbleChartDragComponent.java
  packages/dashbuilder/dashbuilder-client/dashbuilder-displayer-editor/src/main/java/org/dashbuilder/client/editor/DisplayerDragComponent.java
  packages/dashbuilder/dashbuilder-client/dashbuilder-displayer-editor/src/main/java/org/dashbuilder/client/editor/LineChartDragComponent.java
  packages/dashbuilder/dashbuilder-client/dashbuilder-displayer-editor/src/main/java/org/dashbuilder/client/editor/MapChartDragComponent.java
  packages/dashbuilder/dashbuilder-client/dashbuilder-displayer-editor/src/main/java/org/dashbuilder/client/editor/MeterChartDragComponent.java
  packages/dashbuilder/dashbuilder-client/dashbuilder-displayer-editor/src/main/java/org/dashbuilder/client/editor/MetricDragComponent.java
  packages/dashbuilder/dashbuilder-client/dashbuilder-displayer-editor/src/main/java/org/dashbuilder/client/editor/PieChartDragComponent.java
  packages/dashbuilder/dashbuilder-client/dashbuilder-displayer-editor/src/main/java/org/dashbuilder/client/editor/SelectorDragComponent.java
  packages/dashbuilder/dashbuilder-client/dashbuilder-displayer-editor/src/main/java/org/dashbuilder/client/editor/TableDragComponent.java
  packages/dashbuilder/dashbuilder-client/dashbuilder-displayer-editor/src/main/java/org/dashbuilder/client/editor/external/ExternalDisplayerDragComponent.java
  packages/dashbuilder/dashbuilder-client/dashbuilder-displayer-editor/src/test/java/org/dashbuilder/client/editor/DisplayerDragComponentTest.java
  packages/dashbuilder/dashbuilder-client/dashbuilder-renderers/dashbuilder-renderer-echarts/src/main/java/org/dashbuilder/renderer/echarts/client/EChartsAbstractDisplayer.java
  packages/dashbuilder/dashbuilder-client/dashbuilder-renderers/dashbuilder-renderer-echarts/src/main/java/org/dashbuilder/renderer/echarts/client/EChartsDisplayerView.java
  packages/dashbuilder/dashbuilder-client/dashbuilder-renderers/dashbuilder-renderer-echarts/src/main/java/org/dashbuilder/renderer/echarts/client/EChartsResizeHandlerRegister.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/RuntimeClientLoader.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/RuntimeModelContentListener.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/external/CSVParser.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/external/ExternalDataSetClientProvider.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/external/MetricsParser.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/external/SupportedMimeType.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/test/java/org/dashbuilder/client/external/CSVParserTest.java
  packages/dashbuilder/dashbuilder-shared/dashbuilder-displayer-api/src/main/java/org/dashbuilder/displayer/json/DisplayerSettingsJSONMarshaller.java
  packages/dashbuilder/kie-soup-dataset/kie-soup-dataset-api/src/main/java/org/dashbuilder/dataset/json/DataSetDefJSONMarshaller.java
  packages/dashbuilder/kie-soup-dataset/kie-soup-dataset-api/src/main/java/org/dashbuilder/dataset/json/ExternalDataSetJSONParser.java
Labels: DashBuilder

#1571 kie-issues#138: Create new feature on KIE Sandbox to allow the enabling/disabling of the PMML editors as a supported graphical editor
  packages/kie-sandbox-image/README.md
  packages/online-editor/build/defaultEnvJson.ts
  packages/online-editor/src/App.tsx
  packages/online-editor/src/env/EnvJson.ts
  packages/online-editor/src/envelopeLocator/EditorEnvelopeLocatorApi.ts
  packages/online-editor/src/envelopeLocator/EditorEnvelopeLocatorFactory.ts
  packages/online-editor/src/envelopeLocator/hooks/EditorEnvelopeLocatorContext.tsx
  packages/online-editor/src/home/HomePage.tsx
  packages/online-editor/src/workspace/worker/sharedWorker.ts
Labels: Foundation

#1540 KOGITO-8830: Add integration tests for expression autocompletion
  packages/serverless-logic-web-tools/it-tests/e2e/Expression.cy.ts
  packages/serverless-logic-web-tools/it-tests/fixtures/expression/expression.sw.json
  packages/serverless-logic-web-tools/it-tests/fixtures/expression/expression.sw.yaml
  packages/serverless-logic-web-tools/it-tests/support/commands.ts
  packages/vscode-extension-serverless-workflow-editor/it-tests/resources/expression/expression.sw.json
  packages/vscode-extension-serverless-workflow-editor/it-tests/resources/expression/expression.sw.yaml
  packages/vscode-extension-serverless-workflow-editor/it-tests/resources/expression/schema/schema.json
  packages/vscode-extension-serverless-workflow-editor/it-tests/resources/expression/specs/openapi.json
  packages/vscode-extension-serverless-workflow-editor/it-tests/serverless-workflow-editor-extension-expression.test.ts
Labels: waiting-for-review, Serverless Workflow

#1575 KOGITO-9015: Increase memory limit to prevent heap out of memory error
  .github/workflows/ci_build.yml
Labels: Foundation

#1573 kie-issues#221: Unable to upload/import a bpmn2 file, or any supported file extension containing capital letters, to KIE Sandbox
  packages/workspaces-git-fs/src/constants/ExtensionHelper.ts
  packages/workspaces-git-fs/src/relativePath/WorkspaceFileRelativePathParser.ts
  packages/workspaces-git-fs/tests/relativePath/WorkspaceFileRelativePathParser.test.ts
Labels: BPMN/Stunner, Foundation

#1579 NO-ISSUE: Add option to set step value in the `uniforms-patternfly` NumField component
  packages/uniforms-patternfly/src/NumField.tsx
  packages/uniforms-patternfly/src/__tests__/NumField.test.tsx
Labels: Foundation

#1578 kie-issues#116: Upgrade 3rd party GitHub Actions that are deprecated because of Node 12 on kie-tools
  .github/actions/setup-env/action.yml
  .github/workflows/ci_build.yml
  .github/workflows/daily_dev_publish.yml
  .github/workflows/publish_jitexecutor_native.yml
Labels: order: 3, Foundation

#1582 NO-ISSUE: Fix `supportedDoubleExtensions` regex
  packages/workspaces-git-fs/src/constants/ExtensionHelper.ts
  packages/workspaces-git-fs/tests/relativePath/WorkspaceFileRelativePathParser.test.ts
Labels: Foundation

#1468 KOGITO-8570: Extend kn-workflow-plugin CLI unit tests coverage
  packages/kn-plugin-workflow/go.mod
  packages/kn-plugin-workflow/go.sum
  packages/kn-plugin-workflow/pkg/command/build_test.go
  packages/kn-plugin-workflow/pkg/command/create.go
  packages/kn-plugin-workflow/pkg/command/create_test.go
  packages/kn-plugin-workflow/pkg/command/create_workflow.go
  packages/kn-plugin-workflow/pkg/command/create_workflow_test.go
  packages/kn-plugin-workflow/pkg/command/deploy.go
  packages/kn-plugin-workflow/pkg/command/deploy_test.go
  packages/kn-plugin-workflow/pkg/common/afero.go
  packages/kn-plugin-workflow/pkg/common/checks.go
  packages/kn-plugin-workflow/pkg/common/test_helper.go
Labels: Serverless Workflow

#1586 NO-ISSUE: Quarkus bump on CLI for 2.16.6.Final
  packages/kn-plugin-workflow/env/index.js
Labels: waiting-for-qe, Serverless Workflow

#1585 KOGITO-8817: kn-workflow is creating the project with RESTEasy Reactve dependencies
  packages/kn-plugin-workflow/pkg/command/create.go
  packages/kn-plugin-workflow/pkg/metadata/constants.go
Labels: Serverless Workflow

#1583 KOGITO-9057: Remove Streams for Apache Kafka tab from Serverless Logic Web Tools
  packages/serverless-logic-web-tools/src/editor/Deploy/ConfirmOptions/SwfDeployOptions.tsx
  packages/serverless-logic-web-tools/src/openshift/deploy/strategies/DashboardSingleModelDeployment.ts
  packages/serverless-logic-web-tools/src/openshift/deploy/strategies/DashboardWorkspaceDeployment.ts
  packages/serverless-logic-web-tools/src/openshift/deploy/strategies/KogitoProjectDeployment.ts
  packages/serverless-logic-web-tools/src/openshift/deploy/strategies/KogitoSwfModelDeployment.ts
  packages/serverless-logic-web-tools/src/openshift/deploy/types.ts
  packages/serverless-logic-web-tools/src/openshift/hooks/useDeploymentStrategy.ts
  packages/serverless-logic-web-tools/src/openshift/pipelines/KnativeBuilderPipeline.ts
  packages/serverless-logic-web-tools/src/settings/SettingsContext.tsx
  packages/serverless-logic-web-tools/src/settings/SettingsModalBody.tsx
  packages/serverless-logic-web-tools/src/settings/kafka/ApacheKafkaSettingsTab.tsx
  packages/serverless-logic-web-tools/src/settings/kafka/KafkaSettingsConfig.tsx
  packages/serverless-logic-web-tools/src/settings/serviceAccount/ServiceAccountSettingsTab.tsx
Labels: Serverless Workflow

#1592 KOGITO-9076: Retrieve Dashbuilder DataSet Columns information for CSV and Metrics
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/external/ExternalDataSetClientProvider.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/external/SupportedMimeType.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/external/csv/CSVColumnsFunction.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/external/csv/CSVParser.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/external/metrics/MetricsColumnsFunction.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/external/metrics/MetricsParser.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/services/RuntimeDataSetClientServices.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/test/java/org/dashbuilder/client/external/csv/CSVColumnsFunctionTest.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/test/java/org/dashbuilder/client/external/csv/CSVParserTest.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/test/java/org/dashbuilder/client/external/metrics/MetricsParserTest.java
Labels: DashBuilder

#1591 kie-issues#112: DMN Editor - JavaAutocompletion module is not compatible with Java Languages Extension >= `1.17.0`
  packages/vscode-java-code-completion-extension-plugin/pom.xml
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/main/java/org/kogito/core/internal/handlers/GetAccessorsHandler.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/main/java/org/kogito/core/internal/handlers/GetClassesHandler.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/test/java/org/kogito/core/internal/handlers/GetClassesHandlerTest.java
Labels: DMN/SceSim, java

#1587 kie-issue#226: Changing a nested data type will not erase the input value, making it possible to break the DMN Runner
  packages/extended-services-api/src/jsonSchema.ts
  packages/online-editor/src/dmnRunner/DmnRunnerContextProvider.tsx
  packages/online-editor/src/dmnRunner/DmnRunnerDrawer.tsx
  packages/online-editor/src/dmnRunner/DmnRunnerDrawerPanelContent.tsx
  packages/online-editor/src/dmnRunner/DmnRunnerErrorBoundary.tsx
  packages/online-editor/src/dmnRunner/DmnRunnerTable.tsx
  packages/online-editor/src/editor/EditorPage.tsx
  packages/online-editor/src/editor/EditorPageDockContextProvider.tsx
  packages/online-editor/src/editor/EditorPageDockDrawer.tsx
  packages/online-editor/src/i18n/OnlineI18n.ts
  packages/online-editor/src/i18n/locales/en.ts
  packages/online-editor/src/jsonSchema/dereference.ts
  packages/unitables/src/Unitables.tsx
  packages/unitables/src/bee/UnitablesBeeTable.tsx
Labels: waiting-for-review, Foundation

#1569 KOGITO-8888: Show a message in dashbuilder page when displayer configuration is invalid
  packages/dashbuilder/dashbuilder-client/dashbuilder-displayer-editor/src/main/java/org/dashbuilder/client/editor/DisplayerDragComponent.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-shared/src/main/java/org/dashbuilder/shared/marshalling/LayoutTemplateJSONMarshaller.java
  packages/dashbuilder/dashbuilder-shared/dashbuilder-displayer-api/src/main/java/org/dashbuilder/displayer/DisplayerSettings.java
Labels: DashBuilder
