Repository apache/incubator-kie-tools, pull requests merged in 2023-02, with the labels that each got.

#1435 kie-issues#98: Fix create repository modal for GitHub
  packages/online-editor/src/editor/CreateGistOrSnippetModal.tsx
  packages/online-editor/src/editor/CreateGitRepositoryModal.tsx
  packages/online-editor/src/editor/LoadOrganizationsSelect.tsx
Labels: Foundation

#1437 Prevent v7 VS Code extensions to be published to marketplaces for now
  .ci/jenkins/Jenkinsfile.vscode
Labels: Foundation

#1443 kie-issues#15: Create an 'About' modal on KIE Sandbox
  packages/online-editor/src/aboutModal/AboutButton.tsx
  packages/online-editor/src/navigation/Routes.ts
  packages/online-editor/src/pageTemplate/OnlineEditorPage.tsx
  packages/online-editor/static/resources/style.css
  packages/online-editor/webpack.config.ts
Labels: Foundation

#1446 kie-issues#103: Upgrade pnpm from 7.0.0 to latest (7.26.3)
  .github/actions/setup-env/action.yml
  README.md
  package.json
  packages/kn-plugin-workflow/README.md
  packages/monaco-editor/package.json
  packages/webpack-base/package.json
  pnpm-lock.yaml
  scripts/bootstrap/bootstrap.js
Labels: Foundation

#1449 KOGITO-8149: Refactor Home (now Overview) according to UX redesign
  packages/serverless-logic-web-tools/src/homepage/overView/ImportFromUrlCard.tsx
  packages/serverless-logic-web-tools/src/homepage/overView/NewModelCard.tsx
  packages/serverless-logic-web-tools/src/homepage/overView/NewServerlessModelCard.tsx
  packages/serverless-logic-web-tools/src/homepage/overView/Overview.tsx
  packages/serverless-logic-web-tools/src/homepage/overView/UploadCard.tsx
  packages/serverless-logic-web-tools/src/homepage/pageTemplate/OnlineEditorPage.tsx
  packages/serverless-logic-web-tools/src/homepage/routes/HomePageRoutes.tsx
  packages/serverless-logic-web-tools/src/homepage/uiNav/HomePageNav.tsx
  packages/serverless-logic-web-tools/src/index.tsx
  packages/serverless-logic-web-tools/src/navigation/RoutesSwitch.tsx
  packages/serverless-logic-web-tools/static/images/overview-banner-bg.png
  packages/serverless-logic-web-tools/static/resources/application-services.css
  packages/serverless-logic-web-tools/static/resources/style.css
Labels: Serverless Workflow, DashBuilder

#1455 KOGITO-8638: Update Cypress version to 12.5.1
  packages/boxed-expression-component/package.json
  packages/kie-editors-standalone/package.json
  packages/online-editor/package.json
  packages/pmml-editor/package.json
  packages/serverless-logic-web-tools/package.json
  pnpm-lock.yaml
Labels: waiting-for-ci

#1452 kie-issues#30: Stunner - Sometimes nodes are created in duplicity using the mouse
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/components/toolbox/actions/AbstractActionsToolboxView.java
Labels: BPMN/Stunner

#1457 KOGITO-8628: Remove old settings modal
  packages/serverless-logic-web-tools/src/App.tsx
  packages/serverless-logic-web-tools/src/editor/Deploy/DeployDropdownItems.tsx
  packages/serverless-logic-web-tools/src/editor/EditorToolbar.tsx
  packages/serverless-logic-web-tools/src/homepage/pageTemplate/OnlineEditorPage.tsx
  packages/serverless-logic-web-tools/src/kieSandboxExtendedServices/KieSandboxExtendedServicesIcon.tsx
  packages/serverless-logic-web-tools/src/navigation/RoutesSwitch.tsx
  packages/serverless-logic-web-tools/src/newSettings/SettingsButton.tsx
  packages/serverless-logic-web-tools/src/newSettings/SettingsContext.tsx
  packages/serverless-logic-web-tools/src/newSettings/featurePreview/FeaturePreviewConfig.tsx
  packages/serverless-logic-web-tools/src/newSettings/github/Hooks.tsx
  packages/serverless-logic-web-tools/src/newSettings/kafka/KafkaSettingsConfig.tsx
  packages/serverless-logic-web-tools/src/newSettings/openshift/OpenShiftSettingsConfig.tsx
  packages/serverless-logic-web-tools/src/newSettings/serviceAccount/ServiceAccountConfig.tsx
  packages/serverless-logic-web-tools/src/newSettings/serviceRegistry/ServiceRegistryConfig.tsx
  packages/serverless-logic-web-tools/src/openshift/dropdown/OpenshiftDeploymentsDropdown.tsx
  packages/serverless-logic-web-tools/src/settings/SettingsButton.tsx
  packages/serverless-logic-web-tools/src/settings/SettingsContext.tsx
  packages/serverless-logic-web-tools/src/settings/SettingsModalBody.tsx
  packages/serverless-logic-web-tools/src/settings/extendedServices/KieSandboxExtendedServicesSettings.tsx
  packages/serverless-logic-web-tools/src/settings/extendedServices/KieSandboxExtendedServicesSettingsTab.tsx
  packages/serverless-logic-web-tools/src/settings/featurePreview/FeaturePreviewConfig.tsx
  packages/serverless-logic-web-tools/src/settings/featurePreview/FeaturePreviewSettings.tsx
  packages/serverless-logic-web-tools/src/settings/featurePreview/FeaturePreviewSettingsTab.tsx
  packages/serverless-logic-web-tools/src/settings/github/GitHubSettings.tsx
  packages/serverless-logic-web-tools/src/settings/github/GitHubSettingsTab.tsx
  packages/serverless-logic-web-tools/src/settings/kafka/ApacheKafkaSettings.tsx
  packages/serverless-logic-web-tools/src/settings/kafka/ApacheKafkaSettingsTab.tsx
  packages/serverless-logic-web-tools/src/settings/openshift/OpenShiftSettings.tsx
  packages/serverless-logic-web-tools/src/settings/openshift/OpenShiftSettingsSimpleConfig.tsx
  packages/serverless-logic-web-tools/src/settings/openshift/OpenShiftSettingsTab.tsx
  packages/serverless-logic-web-tools/src/settings/openshift/OpenShiftSettingsTabSimpleConfig.tsx
  packages/serverless-logic-web-tools/src/settings/routes/SettingsPageRoutes.tsx
  packages/serverless-logic-web-tools/src/settings/serviceAccount/ServiceAccountConfig.tsx
  packages/serverless-logic-web-tools/src/settings/serviceAccount/ServiceAccountSettings.tsx
  packages/serverless-logic-web-tools/src/settings/serviceAccount/ServiceAccountSettingsTab.tsx
  packages/serverless-logic-web-tools/src/settings/serviceRegistry/ServiceRegistryConfig.tsx
  packages/serverless-logic-web-tools/src/settings/serviceRegistry/ServiceRegistrySettings.tsx
  packages/serverless-logic-web-tools/src/settings/serviceRegistry/ServiceRegistrySettingsTab.tsx
  packages/serverless-logic-web-tools/src/settings/types.ts
  packages/serverless-logic-web-tools/src/settings/uiNav/SettingsPageNav.tsx
Labels: Serverless Workflow, DashBuilder

#1447 KOGITO-8599: Fix Table External Component paging style in Dark Mode
  packages/dashbuilder-component-table/static/index.css
Labels: waiting-for-review, DashBuilder

#1450 kie-issues#100: Remove FS changed blocker modal from KIE Sandbox
  packages/online-editor/src/devDeployments/DevDeploymentsDropdown.tsx
  packages/online-editor/src/index.tsx
  packages/online-editor/src/workspace/startupBlockers/FsChanged.tsx
  packages/online-editor/src/workspace/startupBlockers/IncompatibleBrowser.tsx
  packages/online-editor/src/workspace/startupBlockers/LatestCompatibleVersion.ts
  packages/serverless-logic-web-tools/src/index.tsx
  packages/serverless-logic-web-tools/src/workspace/startupBlockers/FsChanged.tsx
  packages/serverless-logic-web-tools/src/workspace/startupBlockers/IncompatibleBrowser.tsx
  packages/serverless-logic-web-tools/src/workspace/startupBlockers/LatestCompatibleVersion.ts
Labels: Foundation

#1456 DROOLS-7330: Enabling compatibility with drools versions 8.34.0+
  packages/stunner-editors/kie-wb-common-dmn/kie-dmn-feel-gwt/src/main/java/org/kie/dmn/feel/super/org/kie/dmn/feel/lang/ast/visitor/ASTHeuristicCheckerVisitor.java
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/pom.xml
  packages/stunner-editors/kie-wb-common-dmn/kie-wb-common-dmn-client/src/main/java/org/kie/workbench/common/dmn/client/editors/expressions/types/dtable/DecisionTableEditorDefinitionEnricher.java
Labels: Foundation

#1440 KOGITO-8506: SWF Viewer - display timeout and duration property
  packages/serverless-workflow-diagram-editor/lienzo-core/src/main/java/com/ait/lienzo/client/core/shape/toolbox/items/tooltip/Tooltip.java
  packages/serverless-workflow-diagram-editor/lienzo-webapp/src/main/java/org/kie/lienzo/client/BasicWiresExample.java
  packages/serverless-workflow-diagram-editor/lienzo-webapp/src/main/java/org/kie/lienzo/client/EventExample.java
  packages/serverless-workflow-diagram-editor/lienzo-webapp/src/main/java/org/kie/lienzo/client/WiresDockingExample.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/definition/ModelUtils.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/definition/ParallelStateBranch.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/definition/State.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/definition/Timeout.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/marshall/StateMarshalling.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/test/java/org/kie/workbench/common/stunner/sw/marshall/StateMarshallingTest.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/ShapeFactory.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/CallbackStateShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/EndShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/EndShapeView.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/EventStateShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/ForEachStateShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/InjectStateShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/OperationStateShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/ParallelStateShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/ServerlessWorkflowShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/ServerlessWorkflowShapeView.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/SleepStateShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/StartShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/StartShapeView.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/StateShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/StateShapeView.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/SwitchStateShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/TransitionView.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/icons/CornerIcon.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/icons/IconPath.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/test/java/org/kie/workbench/common/stunner/sw/client/shapes/StateNode.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/test/java/org/kie/workbench/common/stunner/sw/client/shapes/StateShapeTest.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/test/java/org/kie/workbench/common/stunner/sw/client/shapes/StateView.java
Labels: waiting-for-qe, waiting-for-review, Serverless Workflow

#1438 kie-issues#39: BPMN Editor: SuperDev mode doesn't work
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-marshalling/src/main/java/org/kie/workbench/common/stunner/bpmn/client/marshall/converters/customproperties/AssociationList.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-marshalling/src/main/java/org/kie/workbench/common/stunner/bpmn/client/marshall/converters/tostunner/processes/ProcessConverterDelegate.java
Labels: BPMN/Stunner

#1454 kie-issues#105: Upgrade `node` from `16` to LTS (`18`) on `kie-tools`
  .github/actions/setup-env/action.yml
  README.md
  package.json
  packages/kn-plugin-workflow/README.md
  pnpm-lock.yaml
Labels: Foundation, dependencies

#1439 KOGITO-8580: Disable JSON support for now
  packages/vscode-extension-yard-editor/README.md
  packages/vscode-extension-yard-editor/it-tests/yard-editor.test.ts
  packages/vscode-extension-yard-editor/package.json
  packages/vscode-extension-yard-editor/src/extension/extension.ts
  packages/vscode-extension-yard-editor/src/extension/setupDiagramEditorControls.ts
  packages/vscode-extension-yard-editor/syntaxes/JSON.tmLanguage.json
  packages/yard-editor/README.md
  packages/yard-editor/dev-webapp/App.tsx
  packages/yard-editor/dev-webapp/EmptyState.tsx
  packages/yard-editor/src/model/YardSerializer.ts
  packages/yard-editor/src/textEditor/YardTextEditor.tsx
Labels: waiting-for-review, yard

#1466 NO-ISSUE: Fix JUnit reports check at the end of builds
  .github/workflows/ci_build.yml
  package.json
  packages/backend/package.json
  packages/backend/src/node/TestScenarioRunnerService.ts
  pnpm-lock.yaml
  repo/graph.dot
  repo/graph.json
  scripts/check-junit-report-results/jest.config.js
  scripts/check-junit-report-results/package.json
  scripts/check-junit-report-results/src/index.js
  scripts/check-junit-report-results/src/parseFile.js
  scripts/check-junit-report-results/tests/index.test.js
  scripts/check-junit-report-results/tests/reports/junit-report__from-cypress.xml
  scripts/check-junit-report-results/tests/reports/junit-report__from-jest.xml
  scripts/check-junit-report-results/tests/reports/junit-report__from-surefire.xml
Labels: Foundation

#1460 KOGITO-8503: Dark mode implementation in victory-charts-component
  packages/dashbuilder-component-victory-charts/dev-webapp/manifest.dev.json
  packages/dashbuilder-component-victory-charts/src/VictoryChartComponent.tsx
  packages/dashbuilder-component-victory-charts/static/index.css
  packages/dashbuilder-component-victory-charts/static/index.html
Labels: DashBuilder

#1462 KOGITO-8639: SWF Viewer - display actions icon
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/CallbackStateShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/EventStateShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/ForEachStateShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/HasAction.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/OperationStateShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/ParallelStateShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/SleepStateShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/SwitchStateShape.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/icons/CornerIcon.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/icons/IconPath.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/main/java/org/kie/workbench/common/stunner/sw/client/shapes/icons/IconPosition.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/test/java/org/kie/workbench/common/stunner/sw/client/shapes/HasActionTest.java
Labels: waiting-for-qe, waiting-for-review, Serverless Workflow, java

#1445 KOGITO-8543: Support Samples Dashboard Repository
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/RuntimeClientLoader.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/parser/JSONRuntimeModelClientParser.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/parser/PropertyReplacementService.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/parser/YAMLRuntimeModelClientParser.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/perspective/SamplesPerspective.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/resources/i18n/AppConstants.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/screens/EmptyScreen.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/screens/RouterScreen.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/screens/SamplesScreen.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/screens/view/EmptyScreenView.html
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/screens/view/EmptyScreenView.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/screens/view/SamplesScreenView.css
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/screens/view/SamplesScreenView.html
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/screens/view/SamplesScreenView.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/services/SamplesService.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/setup/RuntimeClientSetup.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/widgets/SampleCard.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/widgets/SamplesCardRow.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/widgets/view/SampleCardView.css
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/widgets/view/SampleCardView.html
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/widgets/view/SampleCardView.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/widgets/view/SamplesCardRowView.css
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/widgets/view/SamplesCardRowView.html
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/widgets/view/SamplesCardRowView.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/resources/org/dashbuilder/client/resources/i18n/AppConstants.properties
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/webapp/images/samples_brand.png
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/webapp/setup.js
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/test/java/org/dashbuilder/client/RuntimeClientLoaderTest.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/test/java/org/dashbuilder/client/services/SamplesServiceTest.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-shared/src/main/java/org/dashbuilder/shared/marshalling/GlobalSettingsJSONMarshaller.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-shared/src/main/java/org/dashbuilder/shared/marshalling/RuntimeModelJSONMarshaller.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-shared/src/main/java/org/dashbuilder/shared/model/GlobalSettings.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-shared/src/test/java/org/dashbuilder/shared/marshalling/GlobalSettingsJSONMarshallerTest.java
  packages/serverless-logic-web-tools/webpack.config.js
Labels: waiting-for-qe, DashBuilder

#1470 kie-issues#102: BPMN Editor: Zooming in/out does not update the toolbox for correct size
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/components/mediators/ZoomLevelSelector.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/components/toolbox/actions/AbstractActionsToolboxView.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/util/ToolboxRefreshEvent.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/test/java/org/kie/workbench/common/stunner/client/lienzo/components/mediators/ZoomLevelSelectorPresenterTest.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/test/java/org/kie/workbench/common/stunner/client/lienzo/components/mediators/ZoomLevelSelectorTest.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/test/java/org/kie/workbench/common/stunner/client/lienzo/components/toolbox/actions/AbstractActionsToolboxViewTest.java
Labels: BPMN/Stunner

#1471 kie-issues#120: Fix DMN Dev deployments after kie-issues#26
  packages/form-dmn/src/DmnFormResult.tsx
  packages/form-dmn/tests/DmnForm.test.tsx
  packages/form-dmn/tests/__snapshots__/DmnForm.test.tsx.snap
  packages/form/src/FormBase.tsx
  packages/form/src/FormComponent.tsx
  packages/form/src/FormHook.tsx
  packages/online-editor/src/dmnRunnerInputs/DmnRunnerInputsDispatchContext.tsx
  packages/online-editor/src/dmnRunnerInputs/DmnRunnerInputsDispatchContextProvider.tsx
  packages/online-editor/src/dmnRunnerInputs/DmnRunnerInputsHook.tsx
  packages/online-editor/src/dmnRunnerInputs/DmnRunnerInputsService.tsx
  packages/online-editor/src/editor/DmnRunner/DmnRunnerDrawerPanelContent.tsx
  packages/online-editor/src/editor/KieSandboxExtendedServices/KieSandboxExtendedServicesButtons.tsx
Labels: waiting-for-review, Foundation

#1473 KOGITO-8543: Support Samples Dashboard Repository (#1445)
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/RuntimeClientLoader.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/parser/JSONRuntimeModelClientParser.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/parser/PropertyReplacementService.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/parser/YAMLRuntimeModelClientParser.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/perspective/SamplesPerspective.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/resources/i18n/AppConstants.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/screens/EmptyScreen.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/screens/RouterScreen.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/screens/SamplesScreen.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/screens/view/EmptyScreenView.html
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/screens/view/EmptyScreenView.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/screens/view/SamplesScreenView.css
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/screens/view/SamplesScreenView.html
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/screens/view/SamplesScreenView.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/services/SamplesService.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/setup/RuntimeClientSetup.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/widgets/SampleCard.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/widgets/SamplesCardRow.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/widgets/view/SampleCardView.css
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/widgets/view/SampleCardView.html
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/widgets/view/SampleCardView.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/widgets/view/SamplesCardRowView.css
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/widgets/view/SamplesCardRowView.html
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/java/org/dashbuilder/client/widgets/view/SamplesCardRowView.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/resources/org/dashbuilder/client/resources/i18n/AppConstants.properties
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/webapp/images/samples_brand.png
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/main/webapp/setup.js
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/test/java/org/dashbuilder/client/RuntimeClientLoaderTest.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-client/src/test/java/org/dashbuilder/client/services/SamplesServiceTest.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-shared/src/main/java/org/dashbuilder/shared/marshalling/GlobalSettingsJSONMarshaller.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-shared/src/main/java/org/dashbuilder/shared/marshalling/RuntimeModelJSONMarshaller.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-shared/src/main/java/org/dashbuilder/shared/model/GlobalSettings.java
  packages/dashbuilder/dashbuilder-runtime-parent/dashbuilder-runtime-shared/src/test/java/org/dashbuilder/shared/marshalling/GlobalSettingsJSONMarshallerTest.java
  packages/serverless-logic-web-tools/webpack.config.js
Labels: DashBuilder

#1478 KOGITO-8719: kn-workflow-plugin tests reported as successful even if they fail
  packages/kn-plugin-workflow/package.json
Labels: Serverless Workflow

#1464 kie-issues#108: Upgrade patternfly react modules to latest on kie-tools
  examples/base64png-editor/package.json
  examples/uniforms-patternfly/package.json
  examples/webapp/package.json
  packages/boxed-expression-component/it-tests/cypress/snapshots/context_expression.cy.ts/data_cell_focus.snap.png
  packages/boxed-expression-component/it-tests/cypress/snapshots/context_expression.cy.ts/header_cell_focus.snap.png
  packages/boxed-expression-component/it-tests/cypress/snapshots/decision_table_expression.cy.ts/input_header_cell_focus.snap.png
  packages/boxed-expression-component/it-tests/cypress/snapshots/invocation_expression.cy.ts/function_parameter_focus.snap.png
  packages/boxed-expression-component/it-tests/cypress/snapshots/list_expression.cy.ts/data_cell_focus.snap.png
  packages/boxed-expression-component/it-tests/cypress/snapshots/literal_expression.cy.ts/data_cell_focus.snap.png
  packages/boxed-expression-component/it-tests/cypress/snapshots/literal_expression.cy.ts/no_focus.snap.png
  packages/boxed-expression-component/it-tests/cypress/snapshots/relation_expression.cy.ts/data_cell_focus.snap.png
  packages/boxed-expression-component/it-tests/e2e/context_expression.cy.ts
  packages/boxed-expression-component/package.json
  packages/boxed-expression-component/src/components/Table/TableBody.tsx
  packages/dashbuilder-component-table/package.json
  packages/dashbuilder-component-table/src/FilteredTable.tsx
  packages/dashbuilder-component-uniforms/package.json
  packages/dashbuilder-component-victory-charts/package.json
  packages/dashbuilder-editor/package.json
  packages/dashbuilder-viewer-deployment-webapp/package.json
  packages/dashbuilder-viewer/package.json
  packages/dmn-dev-deployment-form-webapp/package.json
  packages/editor/package.json
  packages/editor/tests/envelope/KeyBindingHelpOverlay/__snapshots__/KeyBindingsHelpOverlay.test.tsx.snap
  packages/editor/tests/envelope/LoadingScreen/__snapshots__/LoadingScreen.test.tsx.snap
  packages/editor/tests/envelope/__snapshots__/EditorEnvelopeView.test.tsx.snap
  packages/form-dmn/package.json
  packages/form/package.json
  packages/guided-tour/package.json
  packages/import-java-classes-component/package.json
  packages/import-java-classes-component/src/__tests__/ImportJavaClasses/__snapshots__/ImportJavaClasses.test.tsx.snap
  packages/import-java-classes-component/src/components/ImportJavaClasses/ImportJavaClassesWizardFirstStep.tsx
  packages/kie-bc-editors/package.json
  packages/online-editor/package.json
  packages/online-editor/src/aboutModal/AboutButton.tsx
  packages/online-editor/src/editor/DmnRunner/DmnRunnerDockToggle.tsx
  packages/online-editor/src/editor/EditorPage.tsx
  packages/online-editor/src/editor/EditorPageDockDrawer.tsx
  packages/online-editor/src/home/HomePage.tsx
  packages/online-editor/src/pageTemplate/OnlineEditorPage.tsx
  packages/pmml-editor/package.json
  packages/pmml-editor/tests/editor/components/EditorScorecard/organisms/__snapshots__/AttributesTable.test.tsx.snap
  packages/pmml-editor/tests/editor/components/LandingPage/molecules/__snapshots__/ModelCard.test.tsx.snap
  packages/pmml-editor/tests/editor/components/LandingPage/templates/__snapshots__/LandingPage.test.tsx.snap
  packages/serverless-logic-web-tools-swf-deployment-webapp/package.json
  packages/serverless-logic-web-tools/package.json
  packages/serverless-logic-web-tools/src/editor/EditorPage.tsx
  packages/serverless-workflow-combined-editor/package.json
  packages/serverless-workflow-mermaid-viewer/package.json
  packages/serverless-workflow-text-editor/package.json
  packages/text-editor/package.json
  packages/uniforms-patternfly/package.json
  packages/uniforms-patternfly/src/DateField.tsx
  packages/uniforms-patternfly/src/LongTextField.tsx
  packages/uniforms-patternfly/src/TextField.tsx
  packages/uniforms-patternfly/src/__tests__/DateField.test.tsx
  packages/unitables-dmn/package.json
  packages/unitables/package.json
  packages/yard-editor/package.json
  pnpm-lock.yaml
Labels: order: 1, Foundation, dependencies

#1484 KOGITO-8729: Out of memory error while building dashbuilder-component-swf-editor in development
  packages/serverless-workflow-standalone-editor/package.json
Labels: waiting-for-review, waiting-for-ci, Serverless Workflow

#1489 Revert "KOGITO-7882: Add SWF external component (#1448)"
  packages/dashbuilder-component-assembler/package.json
  packages/dashbuilder-component-assembler/webpack.config.js
  packages/dashbuilder-component-swf-editor/dev-webapp/index.tsx
  packages/dashbuilder-component-swf-editor/dev-webapp/manifest.dev.json
  packages/dashbuilder-component-swf-editor/dev-webapp/webpack.config.js
  packages/dashbuilder-component-swf-editor/env/index.js
  packages/dashbuilder-component-swf-editor/jest.config.js
  packages/dashbuilder-component-swf-editor/package.json
  packages/dashbuilder-component-swf-editor/src/SwfEditorComponent.tsx
  packages/dashbuilder-component-swf-editor/src/SwfStandaloneEditor.tsx
  packages/dashbuilder-component-swf-editor/src/index-dev.tsx
  packages/dashbuilder-component-swf-editor/src/index.tsx
  packages/dashbuilder-component-swf-editor/static/index.html
  packages/dashbuilder-component-swf-editor/static/manifest.json
  packages/dashbuilder-component-swf-editor/tests/jest.setup.ts
  packages/dashbuilder-component-swf-editor/tsconfig.json
  packages/dashbuilder-component-swf-editor/webpack.config.js
  pnpm-lock.yaml
  repo/graph.dot
  repo/graph.json
Labels: waiting-for-ci, DashBuilder

#1485 KOGITO-8730: Show code lenses on VS Code web
  packages/vscode-extension-dashbuilder-editor/src/browser/extension.ts
  packages/vscode-extension-dashbuilder-editor/src/extension/builtInVsCodeEditorDashbuilderContributions.ts
  packages/vscode-extension-serverless-workflow-editor/src/extension/builtInVsCodeEditorSwfContributions.ts
Labels: waiting-for-review, Serverless Workflow, DashBuilder

#1476 KOGITO-8716: [SWF Viewer] Backward orthogonal Lines should not overlap states
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/main/java/org/kie/workbench/common/stunner/sw/autolayout/AutoLayout.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-api/src/test/java/org/kie/workbench/common/stunner/sw/autolayout/AutoLayoutTest.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/java/org/kie/workbench/common/stunner/sw/client/selenium/SWEditorSeleniumIT.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/test/resources/org/kie/workbench/common/stunner/sw/client/selenium/LoanBroker.sw.json
Labels: Serverless Workflow

#1494 KOGITO-8756: Replace generic patternfly imports to specific ones
  examples/base64png-editor/src/Base64PngEditor.tsx
  examples/uniforms-patternfly/src/App.tsx
  examples/webapp/src/App.tsx
  examples/webapp/src/Home.tsx
  examples/webapp/src/Pages/Base64Png/Base64PngGallery.tsx
  examples/webapp/src/Pages/Base64Png/Base64PngPage.tsx
  examples/webapp/src/Pages/KogitoEditors/BpmnPage.tsx
  examples/webapp/src/Pages/KogitoEditors/DmnPage.tsx
  examples/webapp/src/Pages/KogitoEditors/Sidebar.tsx
  examples/webapp/src/Pages/PingPong/Angular/PingPongAngularDivViewsPage.tsx
  examples/webapp/src/Pages/PingPong/Angular/PingPongAngularIFrameViewsPage.tsx
  examples/webapp/src/Pages/PingPong/Mixed/PingPongMixedViewsPage.tsx
  examples/webapp/src/Pages/PingPong/React/PingPongReactDivViewsPage.tsx
  examples/webapp/src/Pages/PingPong/React/PingPongReactIFrameViewsPage.tsx
  examples/webapp/src/Pages/PingPong/StatsSidebar.tsx
  examples/webapp/src/Pages/StandaloneEditors/DmnStandaloneEditorPage.tsx
  examples/webapp/src/Pages/StandaloneEditors/SwfStandaloneDiagramOnlyEditorPage.tsx
  examples/webapp/src/Pages/StandaloneEditors/SwfStandaloneEditorPage.tsx
  examples/webapp/src/Pages/StandaloneEditors/SwfStandaloneTextOnlyEditorPage.tsx
  examples/webapp/src/Pages/TodoList/TodoListViewPage.tsx
  packages/boxed-expression-component/showcase/index.tsx
  packages/boxed-expression-component/src/components/DecisionTableExpression/HitPolicySelector.tsx
  packages/boxed-expression-component/src/components/EditExpressionMenu/DataTypeSelector.tsx
  packages/boxed-expression-component/src/components/EditExpressionMenu/EditExpressionMenu.tsx
  packages/boxed-expression-component/src/components/FunctionExpression/EditParameters.tsx
  packages/boxed-expression-component/src/components/FunctionExpression/FunctionKindSelector.tsx
  packages/boxed-expression-component/src/components/LiteralExpression/PMMLLiteralExpression.tsx
  packages/boxed-expression-component/src/components/LogicTypeSelector/LogicTypeSelector.tsx
  packages/boxed-expression-component/src/components/PopoverMenu/PopoverMenu.tsx
  packages/boxed-expression-component/src/components/Table/TableHandler.tsx
  packages/boxed-expression-component/src/components/Table/TableHandlerMenu.tsx
  packages/dashbuilder-component-table/src/FilteredTable.tsx
  packages/dashbuilder-component-uniforms/src/UniformsComponent.tsx
  packages/dashbuilder-component-victory-charts/src/VictoryChartComponent.tsx
  packages/eslint/.eslintrc.js
  packages/import-java-classes-component/src/components/ImportJavaClasses/ImportJavaClassesWizard.tsx
  packages/import-java-classes-component/src/components/ImportJavaClasses/ImportJavaClassesWizardFieldListTable.tsx
  packages/import-java-classes-component/src/components/ImportJavaClasses/ImportJavaClassesWizardFirstStep.tsx
  packages/import-java-classes-component/src/components/ImportJavaClasses/ImportJavaClassesWizardSecondStep.tsx
  packages/online-editor/src/authSessions/AuthSessionSelect.tsx
  packages/online-editor/src/editor/CreateGistOrSnippetModal.tsx
  packages/online-editor/src/editor/CreateGitRepositoryModal.tsx
  packages/online-editor/src/editor/EditorToolbar.tsx
  packages/online-editor/src/editor/LoadOrganizationsSelect.tsx
  packages/online-editor/src/importFromUrl/ImportFromUrlHomePageCard.tsx
  packages/online-editor/src/pageTemplate/OnlineEditorPage.tsx
  packages/serverless-logic-web-tools/src/editor/EditorPageErrorPage.tsx
  packages/uniforms-patternfly/src/BaseForm.tsx
  packages/unitables/src/Unitables.tsx
  packages/yard-editor/src/editor/YardEditor.tsx
  packages/yard-editor/src/uiEditor/YardUIEditor.tsx
Labels: waiting-for-ci, Foundation

#1486 kie-issues#126: Drill-down menus not working on KIE Sandbox after PatternFly upgrade (kie-issues#108)
  packages/online-editor/src/editor/FileSwitcher.tsx
  packages/online-editor/src/editor/NewFileDropdownMenu.tsx
  packages/online-editor/static/resources/style.css
  packages/serverless-logic-web-tools/src/editor/FileSwitcher.tsx
  packages/serverless-logic-web-tools/src/editor/NewFileDropdownMenu.tsx
  packages/serverless-logic-web-tools/static/resources/style.css
Labels: order: 1, Foundation
