Repository apache/incubator-kie-tools, pull requests merged in 2024-05, with the labels that each got.

#2195 kie-issues#959: Create example apps that use the Quarkus Dev UIs directly on the examples directory of `kie-tools`
  examples/drools-process-usertasks-quarkus-example/README.md
  examples/drools-process-usertasks-quarkus-example/docs/images/diagramProperties.png
  examples/drools-process-usertasks-quarkus-example/docs/images/diagramProperties3.png
  examples/drools-process-usertasks-quarkus-example/docs/images/firstLineApprovalUserTask.png
  examples/drools-process-usertasks-quarkus-example/docs/images/firstLineApprovalUserTask2.png
  examples/drools-process-usertasks-quarkus-example/docs/images/firstLineApprovalUserTaskAssignments.png
  examples/drools-process-usertasks-quarkus-example/docs/images/process.png
  examples/drools-process-usertasks-quarkus-example/docs/images/secondLineApprovalUserTask.png
  examples/drools-process-usertasks-quarkus-example/docs/images/secondLineApprovalUserTaskAssignments.png
  examples/drools-process-usertasks-quarkus-example/env/index.js
  examples/drools-process-usertasks-quarkus-example/install.js
  examples/drools-process-usertasks-quarkus-example/package.json
  examples/drools-process-usertasks-quarkus-example/pom.xml
  examples/drools-process-usertasks-quarkus-example/src/main/docker/Dockerfile.jvm
  examples/drools-process-usertasks-quarkus-example/src/main/docker/Dockerfile.native
  examples/drools-process-usertasks-quarkus-example/src/main/java/org/acme/travels/Address.java
  examples/drools-process-usertasks-quarkus-example/src/main/java/org/acme/travels/Traveller.java
  examples/drools-process-usertasks-quarkus-example/src/main/resources/META-INF/resources/index.html
  examples/drools-process-usertasks-quarkus-example/src/main/resources/application.properties
  examples/drools-process-usertasks-quarkus-example/src/main/resources/org/acme/travels/approval.bpmn
  examples/drools-process-usertasks-quarkus-example/src/test/java/org/acme/travels/quarkus/ApprovalsProcessTest.java
  examples/drools-process-usertasks-quarkus-example/src/test/resources/application.properties
  examples/sonataflow-greeting-quarkus-example/README.md
  examples/sonataflow-greeting-quarkus-example/env/index.js
  examples/sonataflow-greeting-quarkus-example/install.js
  examples/sonataflow-greeting-quarkus-example/package.json
  examples/sonataflow-greeting-quarkus-example/pom.xml
  examples/sonataflow-greeting-quarkus-example/src/main/resources/application.properties
  examples/sonataflow-greeting-quarkus-example/src/main/resources/jsongreet.sw.json
  examples/sonataflow-greeting-quarkus-example/src/main/resources/yamlgreet.sw.yml
  examples/sonataflow-greeting-quarkus-example/src/test/java/org/kie/kogito/examples/GreetRestIT.java
  packages/jbpm-quarkus-devui/pom.xml
  packages/maven-base/pom.xml
  packages/sonataflow-quarkus-devui/pom.xml
  pnpm-lock.yaml
  repo/graph.dot
  repo/graph.json
Labels: waiting-for-review, BPMN, DMN, Serverless Workflow

#2288 kie-issues#1143: DMN Editor throws an error when deleting Unknown nodes
  packages/dmn-editor/src/mutations/deleteNode.ts
Labels: DMN

#2296 kie-issue#1134: Autocomplete and colorize should support local variable in iterator expressions (for, every, some)
  packages/dmn-feel-antlr4-parser/src/parser/FeelSyntacticSymbolNature.ts
  packages/dmn-feel-antlr4-parser/src/parser/FeelVariablesParser.ts
  packages/dmn-feel-antlr4-parser/src/parser/VariableContext.ts
  packages/dmn-feel-antlr4-parser/src/parser/VariablesRepository.ts
  packages/dmn-feel-antlr4-parser/src/parser/grammar/ParserHelper.ts
  packages/dmn-feel-antlr4-parser/src/parser/grammar/Scope.ts
  packages/dmn-feel-antlr4-parser/src/parser/grammar/ScopeImpl.ts
  packages/dmn-feel-antlr4-parser/src/parser/grammar/VariableSymbol.ts
  packages/feel-input-component/src/FeelConfigs.ts
  packages/feel-input-component/src/FeelInput.tsx
  packages/feel-input-component/src/themes/Element.ts
Labels: waiting-for-review, waiting-for-ci, DMN

#2272 kie-issue#958: Quarkus LTS Upgrade to 3.8.4
  packages/dmn-marshaller/tests/dmnSemanticComparison.test.ts
  packages/dmn-marshaller/tests/dmnValidation.test.ts
  packages/extended-services/package.json
  packages/kn-plugin-workflow/e2e-tests/quarkus_convert_test.go
  packages/kn-plugin-workflow/e2e-tests/quarkus_create_test.go
  packages/kn-plugin-workflow/pkg/command/quarkus/quarkus_project.go
  packages/kn-plugin-workflow/pkg/metadata/constants.go
  packages/maven-base/pom.xml
  packages/root-env/env/index.js
  packages/serverless-logic-web-tools-base-builder-image/env/index.js
  packages/serverless-logic-web-tools-swf-deployment-quarkus-app/install.js
  packages/serverless-logic-web-tools-swf-deployment-quarkus-app/pom.xml
  packages/serverless-logic-web-tools-swf-dev-mode-image/env/index.js
  pnpm-lock.yaml
Labels: order: 1

#2270 kie-issues#1123:unify maven projects configuration
  packages/maven-base/pom.xml
Labels: order: 2, Foundation, dependencies, java

#2365 NO-ISSUE: Removing an Included Model should remove all references of it on the current model
  packages/dmn-editor/src/includedModels/IncludedModels.tsx
  packages/dmn-editor/src/mutations/deleteImport.ts
  packages/dmn-editor/src/store/computed/computeDiagramData.ts
Labels: waiting-for-review, DMN

#2379 NO-ISSUE: DMN Editor: Blank screen with DMN models 1.1
  packages/dmn-editor-envelope/package.json
  packages/dmn-editor-envelope/src/DmnEditorRoot.tsx
  packages/dmn-editor/src/DmnEditorErrorFallback.tsx
  pnpm-lock.yaml
Labels: DMN

#2389 NO-ISSUE: Adding `maven-m2-repo-via-http-image` to allow Maven projects to be built inside container image builds while referring to JARs built/downloaded in the host environment
  packages/dev-deployment-kogito-quarkus-blank-app-image/Containerfile
  packages/dev-deployment-kogito-quarkus-blank-app-image/env/index.js
  packages/dev-deployment-kogito-quarkus-blank-app-image/package.json
  packages/image-builder/README.md
  packages/image-builder/src/bin.ts
  packages/maven-m2-repo-via-http-image/Containerfile
  packages/maven-m2-repo-via-http-image/README.md
  packages/maven-m2-repo-via-http-image/env/index.js
  packages/maven-m2-repo-via-http-image/package.json
  packages/maven-m2-repo-via-http-image/settings.xml.envsubst
  pnpm-lock.yaml
  repo/graph.dot
  repo/graph.json
Labels: BPMN, DMN, Foundation

#2392 NO-ISSUE: DMN Editor Boxed Expression Types help icon is not working as expected
  packages/boxed-expression-component/src/contextMenu/MenuWithHelp/MenuItemWithHelp.tsx
Labels: waiting-for-review, DMN
