Repository apache/incubator-kie-tools, pull requests merged in 2024-07, with the labels that each got.

#2453 kie-issues#114: JavaCodeCompletion module fails to compile because of API change
  packages/import-java-classes-component/src/components/ImportJavaClasses/ImportJavaClassesWizardFieldListTable.tsx
  packages/import-java-classes-component/tests/ImportJavaClasses/ImportJavaClasses.test.tsx
  packages/import-java-classes-component/tests/ImportJavaClasses/__snapshots__/ImportJavaClasses.test.tsx.snap
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/main/java/org/kogito/core/internal/DelegateHandler.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/main/java/org/kogito/core/internal/api/GetPublicResult.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/main/java/org/kogito/core/internal/engine/JavaEngine.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/main/java/org/kogito/core/internal/handlers/AutocompleteHandler.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/main/java/org/kogito/core/internal/handlers/GetAccessorsHandler.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/main/java/org/kogito/core/internal/handlers/TypeHierarchyHandler.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/main/resources/templates/templateAccessors.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/main/resources/templates/templateClass.java
  packages/vscode-java-code-completion-extension-plugin/vscode-java-code-completion-extension-plugin-core/src/test/java/org/kogito/core/internal/handlers/GetAccessorsHandlerTest.java
Labels: area:dmn, lang:java

#2470 kie-issues#1390: Upgrade Playwright to version 1.45.2
  packages/boxed-expression-component/package.json
  packages/boxed-expression-component/tests-e2e/__screenshots__/webkit/boxedExpressions/context/boxed-context-pre-bureau-risk-category.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/webkit/boxedExpressions/function/boxed-function-affordability-calculation.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/webkit/boxedExpressions/function/boxed-java-function.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/webkit/boxedExpressions/relation/relation-people.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/webkit/boxedExpressions/relation/relation.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/webkit/useCases/application-risk-score-expression.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/webkit/useCases/bureau-strategy-decision-service-pre-bureau-risk-category-expression.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/webkit/useCases/employees-expression.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/webkit/useCases/function-affordability-calculation-expression.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/webkit/useCases/routing-decision-service-post-bureau-risk-category-expression.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/webkit/useCases/routing-decision-service-routing-expression.png
  packages/dmn-editor/package.json
  packages/online-editor/package.json
  packages/online-editor/tests-e2e/createFiles/newFile.spec.ts
  packages/online-editor/tests-e2e/createFiles/samples.spec.ts
  packages/online-editor/tests-e2e/upload/upload.spec.ts
  packages/playwright-base/package.json
  packages/scesim-editor/package.json
  packages/scesim-editor/tests-e2e/__fixtures__/table.ts
  pnpm-lock.yaml
Labels: area:dependencies, area:monorepo, area:tests

#2476 [10.0.x] incubator-kie-tools#2475: Include the bump of variable tagVersion in version.go via the bump-version.sh script
  packages/sonataflow-operator/hack/bump-version.sh
  packages/sonataflow-operator/version/version.go
Labels: area:sonataflow

#2458 kie-issues#1374: KIE Sandbox: Resizing columns of Loan Pre-qualification Decision Table on Sample.dmn is breaking the model parsing
  packages/boxed-expression-component/src/expressions/ContextExpression/ContextExpression.tsx
  packages/boxed-expression-component/src/expressions/DecisionTableExpression/DecisionTableExpression.tsx
  packages/boxed-expression-component/src/expressions/FunctionExpression/JavaFunctionExpression.tsx
  packages/boxed-expression-component/src/expressions/InvocationExpression/InvocationExpression.tsx
  packages/boxed-expression-component/src/expressions/RelationExpression/RelationExpression.tsx
  packages/boxed-expression-component/stories/boxedExpressionStoriesWrapper.tsx
  packages/boxed-expression-component/stories/boxedExpressions/DecisionTable/DecisionTable.stories.tsx
  packages/boxed-expression-component/tests-e2e/__fixtures__/base.ts
  packages/boxed-expression-component/tests-e2e/__fixtures__/jsonModel.ts
  packages/boxed-expression-component/tests-e2e/__fixtures__/stories.ts
  packages/boxed-expression-component/tests-e2e/boxedExpressions/filter/filterExpression.spec.ts
  packages/boxed-expression-component/tests-e2e/boxedExpressions/invocation/populate.spec.ts
  packages/boxed-expression-component/tests-e2e/features/resizing/resizing.spec.ts
  packages/online-editor/static/samples/Sample.dmn
Labels: pr: waiting-for-review, pr: waiting-for-ci, area:dmn

#2492 kie-tools-2483: sonataflow-quarkus-devui: send the DevUI webapp a parameter to recognize we are in a local cluster
  packages/sonataflow-quarkus-devui/sonataflow-quarkus-devui-deployment/pom.xml
  packages/sonataflow-quarkus-devui/sonataflow-quarkus-devui-deployment/src/main/java/org/kie/sonataflow/swf/tools/deployment/DevConsoleProcessor.java
  packages/sonataflow-quarkus-devui/sonataflow-quarkus-devui-deployment/src/main/resources/dev-ui/qwc-sonataflow-quarkus-devui.js
  packages/sonataflow-quarkus-devui/sonataflow-quarkus-devui/src/main/java/org/kie/sonataflow/swf/tools/runtime/rpc/SonataFlowQuarkusExtensionJsonRPCService.java
Labels: area:sonataflow

#2494 kie-issues #882: On the DMN Editor, going back to the diagram after editing a Boxed Expression should render the diagram at the position it was before entering the BEE.
  packages/dmn-editor/src/diagram/Diagram.tsx
  packages/dmn-editor/src/store/Store.ts
  packages/dmn-editor/tests-e2e/__fixtures__/diagram.ts
  packages/dmn-editor/tests-e2e/__screenshots__/Google-Chrome/fit-to-view-diagram.png
  packages/dmn-editor/tests-e2e/__screenshots__/Google-Chrome/keep-view-settings-after-swap-tabs.png
  packages/dmn-editor/tests-e2e/__screenshots__/Google-Chrome/zoom-in-diagram.png
  packages/dmn-editor/tests-e2e/__screenshots__/Google-Chrome/zoom-out-diagram.png
  packages/dmn-editor/tests-e2e/__screenshots__/chromium/fit-to-view-diagram.png
  packages/dmn-editor/tests-e2e/__screenshots__/chromium/keep-view-settings-after-swap-tabs.png
  packages/dmn-editor/tests-e2e/__screenshots__/chromium/zoom-in-diagram.png
  packages/dmn-editor/tests-e2e/__screenshots__/chromium/zoom-out-diagram.png
  packages/dmn-editor/tests-e2e/__screenshots__/webkit/fit-to-view-diagram.png
  packages/dmn-editor/tests-e2e/__screenshots__/webkit/keep-view-settings-after-swap-tabs.png
  packages/dmn-editor/tests-e2e/__screenshots__/webkit/zoom-in-diagram.png
  packages/dmn-editor/tests-e2e/__screenshots__/webkit/zoom-out-diagram.png
  packages/dmn-editor/tests-e2e/zoomDiagram.spec.ts
Labels: area:dmn

#2501 NO-ISSUE: upgrade fast-xml-parser to version 4.4.1 (fixes CVE-2024-41818)
  packages/backend/package.json
  pnpm-lock.yaml
  scripts/check-junit-report-results/package.json
Labels: area:dependencies
