Repository apache/incubator-kie-tools, pull requests merged in 2024-08, with the labels that each got.

#2493 NO-ISSUE: Upgrade Angular to v18 and use local BPMN editor on `examples/webapp`
  .syncpackrc.json
  examples/ping-pong-view-angular/angular.json
  examples/ping-pong-view-angular/package.json
  examples/ping-pong-view-angular/src/app/app.module.ts
  examples/ping-pong-view-angular/src/app/ping-pong/ping-pong-api.service.ts
  examples/ping-pong-view-angular/src/app/ping-pong/ping-pong.component.html
  examples/ping-pong-view-angular/src/app/ping-pong/ping-pong.component.ts
  examples/ping-pong-view-angular/src/app/ping-pong/ping-pong.module.ts
  examples/ping-pong-view-angular/src/app/web-component/web-component.component.ts
  examples/ping-pong-view-angular/src/app/web-component/web-component.main.ts
  examples/ping-pong-view-angular/src/polyfills.ts
  examples/ping-pong-view-angular/tsconfig.lib.json
  examples/webapp/envelope/bpmn-editor.html
  examples/webapp/package.json
  examples/webapp/src/Pages/KogitoEditors/BpmnPage.tsx
  examples/webapp/src/envelope/bpmn-editor.ts
  examples/webapp/webpack.config.js
  pnpm-lock.yaml
Labels: area:bpmn, area:monorepo

#2481 kie-issues#1336: kn workflow quarkus deploy should have a namespace flag
  packages/kn-plugin-workflow/pkg/command/quarkus/deploy.go
Labels: area:sonataflow

#2499 [10.0.x] kie-tools-2483: sonataflow-quarkus-devui: send the DevUI webapp a parameter to recognize we are in a local cluster
  packages/sonataflow-quarkus-devui/sonataflow-quarkus-devui-deployment/pom.xml
  packages/sonataflow-quarkus-devui/sonataflow-quarkus-devui-deployment/src/main/java/org/kie/sonataflow/swf/tools/deployment/DevConsoleProcessor.java
  packages/sonataflow-quarkus-devui/sonataflow-quarkus-devui-deployment/src/main/resources/dev-ui/qwc-sonataflow-quarkus-devui.js
  packages/sonataflow-quarkus-devui/sonataflow-quarkus-devui/src/main/java/org/kie/sonataflow/swf/tools/runtime/rpc/SonataFlowQuarkusExtensionJsonRPCService.java
Labels: area:sonataflow

#2468 kie-issues#1386: Improve pom.xml generated by kn-workflow-plugin
  packages/kn-plugin-workflow/e2e-tests/quarkus_build_test.go
  packages/kn-plugin-workflow/pkg/command/quarkus/quarkus_project.go
  packages/kn-plugin-workflow/pkg/command/quarkus/quarkus_project_test.go
  packages/kn-plugin-workflow/pkg/command/quarkus/testdata/pom1-expected.xml_no_auto_formatting
  packages/kn-plugin-workflow/pkg/metadata/constants.go
Labels: area:sonataflow

#2510 kie-tools-2483: sonataflow-quarkus-devui: send the DevUI webapp a parameter to recognize we are in a local cluster
  packages/sonataflow-quarkus-devui/sonataflow-quarkus-devui-deployment/src/main/java/org/kie/sonataflow/swf/tools/deployment/DevConsoleProcessor.java
  packages/sonataflow-quarkus-devui/sonataflow-quarkus-devui-deployment/src/main/resources/dev-ui/qwc-sonataflow-quarkus-devui.js
  packages/sonataflow-quarkus-devui/sonataflow-quarkus-devui/src/main/java/org/kie/sonataflow/swf/tools/runtime/rpc/SonataFlowQuarkusExtensionJsonRPCService.java
Labels: area:sonataflow

#2462 kie-issues#947: Playwright expansion phase - part 3 - DRDs
  packages/dmn-editor/src/diagram/DrdSelectorPanel.tsx
  packages/dmn-editor/src/diagram/Palette.tsx
  packages/dmn-editor/src/propertiesPanel/ShapeOptions.tsx
  packages/dmn-editor/tests-e2e/__fixtures__/base.ts
  packages/dmn-editor/tests-e2e/__fixtures__/drds.ts
  packages/dmn-editor/tests-e2e/__fixtures__/drgNodes.ts
  packages/dmn-editor/tests-e2e/__fixtures__/propertiesPanel/parts/shapeProperties.ts
  packages/dmn-editor/tests-e2e/__screenshots__/Google-Chrome/drds/drds-decision-missing-dependency.png
  packages/dmn-editor/tests-e2e/__screenshots__/Google-Chrome/drds/drds-decision-no-missing-dependency.png
  packages/dmn-editor/tests-e2e/__screenshots__/chromium/drds/drds-decision-missing-dependency.png
  packages/dmn-editor/tests-e2e/__screenshots__/chromium/drds/drds-decision-no-missing-dependency.png
  packages/dmn-editor/tests-e2e/__screenshots__/webkit/drds/drds-decision-missing-dependency.png
  packages/dmn-editor/tests-e2e/__screenshots__/webkit/drds/drds-decision-no-missing-dependency.png
  packages/dmn-editor/tests-e2e/drds/modelDecisionServicesInDrds.spec.ts
  packages/dmn-editor/tests-e2e/drds/modelDrd.spec.ts
Labels: area:dmn, area:tests

#2522 incubator-kie-tools#2475: Include the bump of variable tagVersion in version.go via the bump-version.sh script
  packages/sonataflow-operator/hack/bump-version.sh
Labels: area:sonataflow

#2336 kie-issues#1161: Add end-to-end tests for Conditional Expression on the Boxed Expression Component
  packages/boxed-expression-component/src/expressions/ConditionalExpression/ConditionalExpression.tsx
  packages/boxed-expression-component/src/expressions/LiteralExpression/LiteralExpression.tsx
  packages/boxed-expression-component/stories/boxedExpressions/BoxedExpressions.mdx
  packages/boxed-expression-component/stories/boxedExpressions/Conditional/Conditional.mdx
  packages/boxed-expression-component/stories/boxedExpressions/Conditional/Conditional.stories.tsx
  packages/boxed-expression-component/tests-e2e/__fixtures__/stories.ts
  packages/boxed-expression-component/tests-e2e/__screenshots__/Google-Chrome/boxedExpressions/conditional/boxed-conditional--reset-state.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/Google-Chrome/boxedExpressions/conditional/boxed-conditional-copy-and-paste-recursively.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/Google-Chrome/boxedExpressions/conditional/boxed-conditional-monthly-fee.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/Google-Chrome/boxedExpressions/conditional/boxed-conditional-with-nested-other-expressions.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/Google-Chrome/boxedExpressions/conditional/nested-boxed-conditional--reset-state.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/Google-Chrome/boxedExpressions/conditional/nested-boxed-conditional.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/Google-Chrome/features/resizing/boxed-conditionald-resized-using-else.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/Google-Chrome/features/resizing/boxed-conditionald-resized-using-if.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/Google-Chrome/features/resizing/boxed-conditionald-resized-using-root.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/Google-Chrome/features/resizing/boxed-conditionald-resized-using-then.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/chromium/boxedExpressions/conditional/boxed-conditional--reset-state.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/chromium/boxedExpressions/conditional/boxed-conditional-copy-and-paste-recursively.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/chromium/boxedExpressions/conditional/boxed-conditional-monthly-fee.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/chromium/boxedExpressions/conditional/boxed-conditional-with-nested-other-expressions.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/chromium/boxedExpressions/conditional/nested-boxed-conditional--reset-state.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/chromium/boxedExpressions/conditional/nested-boxed-conditional.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/chromium/features/resizing/boxed-conditionald-resized-using-else.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/chromium/features/resizing/boxed-conditionald-resized-using-if.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/chromium/features/resizing/boxed-conditionald-resized-using-root.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/chromium/features/resizing/boxed-conditionald-resized-using-then.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/webkit/boxedExpressions/conditional/boxed-conditional--reset-state.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/webkit/boxedExpressions/conditional/boxed-conditional-monthly-fee.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/webkit/boxedExpressions/conditional/boxed-conditional-with-nested-other-expressions.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/webkit/boxedExpressions/conditional/nested-boxed-conditional--reset-state.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/webkit/boxedExpressions/conditional/nested-boxed-conditional.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/webkit/features/resizing/boxed-conditionald-resized-using-else.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/webkit/features/resizing/boxed-conditionald-resized-using-if.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/webkit/features/resizing/boxed-conditionald-resized-using-root.png
  packages/boxed-expression-component/tests-e2e/__screenshots__/webkit/features/resizing/boxed-conditionald-resized-using-then.png
  packages/boxed-expression-component/tests-e2e/api/expressions/literalExpressionElement.ts
  packages/boxed-expression-component/tests-e2e/boxedExpressions/conditional/populate.spec.ts
  packages/boxed-expression-component/tests-e2e/features/resizing/resizing.spec.ts
  packages/boxed-expression-component/tests/__mocks__/monacoMock.js
  packages/boxed-expression-component/tests/__mocks__/styleMocks.js
  packages/boxed-expression-component/tests/keysUtils/NavigationKeysUtils.test.ts
Labels: pr: wip, area:dmn, area:tests

#2512 kie-issues#1418: Remove "prod" dependencies from Standalone Editors packages
  packages/dmn-editor-standalone/dts-bundle.config.json
  packages/dmn-editor-standalone/package.json
  packages/dmn-editor-standalone/src/index.ts
  packages/dmn-editor-standalone/stories/DevWebApp.stories.tsx
  packages/dmn-editor-standalone/tests-e2e/__fixtures__/editor.ts
  packages/dmn-editor-standalone/tsconfig.json
  packages/kie-editors-standalone/dts-bundle.config.json
  packages/kie-editors-standalone/package.json
  packages/kie-editors-standalone/src/bpmn/index.ts
  packages/kie-editors-standalone/src/dmn/index.ts
  packages/kie-editors-standalone/tsconfig.json
  packages/kie-editors-standalone/webpack.package-resources.config.js
  pnpm-lock.yaml
  repo/graph.dot
Labels: area:bpmn, area:dmn

#2454 kie-issues#947: Playwright expansion phase - part 2 - Decision Service node
  packages/dmn-editor/src/draggable/Draggable.tsx
  packages/dmn-editor/src/propertiesPanel/DecisionServiceProperties.tsx
  packages/dmn-editor/tests-e2e/__fixtures__/propertiesPanel/decisionServicePropertiesPanel.ts
  packages/dmn-editor/tests-e2e/__screenshots__/Google-Chrome/drgElements/resize-non-empty-decision-service.png
  packages/dmn-editor/tests-e2e/__screenshots__/chromium/drgElements/resize-non-empty-decision-service.png
  packages/dmn-editor/tests-e2e/__screenshots__/webkit/drgElements/resize-non-empty-decision-service.png
  packages/dmn-editor/tests-e2e/drgElements/modelDecisionService.spec.ts
  packages/dmn-editor/tests-e2e/drgElements/resizeDecisionService.spec.ts
Labels: area:dmn, area:tests

#2509 kie-issues#1416: On the DMN Editor's Boxed Expression Editor, FEEL autocompletion does not suggest the type properties - Part 1 of 2
  packages/dmn-feel-antlr4-parser/src/index.ts
  packages/dmn-feel-antlr4-parser/src/parser/BuiltInTypes.ts
  packages/dmn-feel-antlr4-parser/src/parser/VariablesRepository.ts
  packages/feel-input-component/src/FeelInput.tsx
  packages/feel-input-component/src/index.tsx
  packages/feel-input-component/tests/semanticTokensProvider.test.ts
Labels: area:dmn

#2528 kie-issues#982: On the DMN Editor it should be possible Associate a Text Annotation node to a Group node
  packages/dmn-editor/src/diagram/connections/graphStructure.ts
  packages/dmn-editor/src/diagram/nodes/Nodes.tsx
  packages/dmn-editor/tests-e2e/__screenshots__/Google-Chrome/drdArtifacts/add-association-edge-from-text-annotation-node-to-group-node.png
  packages/dmn-editor/tests-e2e/__screenshots__/chromium/drdArtifacts/add-association-edge-from-text-annotation-node-to-group-node.png
  packages/dmn-editor/tests-e2e/__screenshots__/webkit/drdArtifacts/add-association-edge-from-text-annotation-node-to-group-node.png
  packages/dmn-editor/tests-e2e/drdArtifacts/addAssociation.spec.ts
Labels: area:dmn

#2446 kie-issues#1337: kn-plugin-workflow should verify if the cluster has SonataFlow Operator installed
  packages/kn-plugin-workflow/pkg/command/deploy.go
  packages/kn-plugin-workflow/pkg/common/kubectl.go
  packages/kn-plugin-workflow/pkg/metadata/constants.go
Labels: area:sonataflow

#2474 kie-issues#1335: kn workflow build output log should be saved in the target dir
  packages/kn-plugin-workflow/pkg/command/quarkus/build.go
Labels: area:sonataflow

#2473 kie-issues#1391: Sandbox: Gist Integration announce unsuccessful force push as successful
  packages/online-editor/src/editor/Toolbar/GitIntegration/GitIntegrationContextProvider.tsx
Labels: pr: waiting-for-review, lang:typescript

#2533 NO-ISSUE: Add option to disable the extended services wizard
  packages/online-editor/build/defaultEnvJson.ts
  packages/online-editor/env/index.js
  packages/online-editor/src/env/EnvJson.ts
  packages/online-editor/src/extendedServices/ExtendedServicesModal.tsx
  packages/online-editor/src/i18n/OnlineI18n.ts
  packages/online-editor/src/i18n/locales/de.ts
  packages/online-editor/src/i18n/locales/en.ts
Labels: area:core

#2525 kie-issues#981: On the DMN Editor it should be possible to create or associate a Knowledge Source node to a Text Annotation node
  packages/dmn-editor/src/diagram/connections/graphStructure.ts
  packages/dmn-editor/tests-e2e/__screenshots__/Google-Chrome/drdArtifacts/add-association-edge-from-knowledge-source-node-to-text-annotation-node.png
  packages/dmn-editor/tests-e2e/__screenshots__/Google-Chrome/drdArtifacts/add-text-annotation-from-knowledge-source.png
  packages/dmn-editor/tests-e2e/__screenshots__/chromium/drdArtifacts/add-association-edge-from-knowledge-source-node-to-text-annotation-node.png
  packages/dmn-editor/tests-e2e/__screenshots__/chromium/drdArtifacts/add-text-annotation-from-knowledge-source.png
  packages/dmn-editor/tests-e2e/__screenshots__/webkit/drdArtifacts/add-association-edge-from-knowledge-source-node-to-text-annotation-node.png
  packages/dmn-editor/tests-e2e/__screenshots__/webkit/drdArtifacts/add-text-annotation-from-knowledge-source.png
  packages/dmn-editor/tests-e2e/drdArtifacts/addAssociation.spec.ts
  packages/dmn-editor/tests-e2e/drdArtifacts/addTextAnnotation.spec.ts
Labels: area:dmn

#2540 NO-ISSUE: upgrade axios to version 1.7.4 (fixes CVE-2024-39338)
  packages/backend/package.json
  packages/runtime-tools-components/package.json
  packages/runtime-tools-management-console-webapp/package.json
  packages/runtime-tools-process-dev-ui-webapp/package.json
  packages/runtime-tools-process-gateway-api/package.json
  packages/runtime-tools-process-webapp-components/package.json
  packages/runtime-tools-swf-gateway-api/package.json
  packages/runtime-tools-task-console-webapp/package.json
  packages/serverless-logic-web-tools/package.json
  pnpm-lock.yaml
Labels: area:dependencies

#2536 kie-issues#1443: Change JBPM DevUI to not use current host origin to generate GraphQL URL to be consumed by the frontend
  packages/jbpm-quarkus-devui/README.md
  packages/jbpm-quarkus-devui/dev/pom.xml
  packages/jbpm-quarkus-devui/dev/src/main/resources/Sample.bpmn
  packages/jbpm-quarkus-devui/dev/src/main/resources/Sample.dmn
  packages/jbpm-quarkus-devui/dev/src/main/resources/application.properties
  packages/jbpm-quarkus-devui/jbpm-quarkus-devui-deployment/src/main/java/org/jbpm/quarkus/devui/deployment/DevConsoleProcessor.java
  packages/jbpm-quarkus-devui/jbpm-quarkus-devui-deployment/src/main/resources/dev-ui/qwc-jbpm-quarkus-devui.js
  packages/jbpm-quarkus-devui/jbpm-quarkus-devui-runtime/src/main/java/org/jbpm/quarkus/devui/runtime/rpc/JBPMDevuiJsonRPCService.java
  packages/jbpm-quarkus-devui/package.json
  packages/runtime-tools-process-dev-ui-webapp/env/index.js
  packages/runtime-tools-process-dev-ui-webapp/src/api/RuntimeToolsDevUIEnvelopeApi.ts
  packages/runtime-tools-process-dev-ui-webapp/src/channel/FormDetails/FormDetailsContextProvider.tsx
  packages/runtime-tools-process-dev-ui-webapp/src/channel/FormDetails/FormDetailsGatewayApi.ts
  packages/runtime-tools-process-dev-ui-webapp/src/channel/FormsList/FormsListContextProvider.tsx
  packages/runtime-tools-process-dev-ui-webapp/src/channel/FormsList/FormsListGatewayApi.ts
  packages/runtime-tools-process-dev-ui-webapp/src/channel/ProcessDefinitionList/ProcessDefinitionListContextProvider.tsx
  packages/runtime-tools-process-dev-ui-webapp/src/channel/ProcessDefinitionList/ProcessDefinitionListQueries.ts
  packages/runtime-tools-process-dev-ui-webapp/src/components/DevUI/DevUILayout/DevUILayout.tsx
  packages/runtime-tools-process-dev-ui-webapp/src/components/DevUI/RuntimeTools/RuntimeTools.tsx
  packages/runtime-tools-process-dev-ui-webapp/src/components/contexts/DevUIAppContext.tsx
  packages/runtime-tools-process-dev-ui-webapp/src/components/contexts/DevUIAppContextProvider.tsx
  packages/runtime-tools-process-dev-ui-webapp/src/components/contexts/ProcessContextProvider.tsx
  packages/runtime-tools-process-dev-ui-webapp/src/components/contexts/TaskFormContextProvider.tsx
  packages/runtime-tools-process-dev-ui-webapp/src/envelope/RuntimeToolsDevUIEnvelopeApiImpl.ts
  packages/runtime-tools-process-dev-ui-webapp/src/envelope/RuntimeToolsDevUIEnvelopeView.tsx
  packages/runtime-tools-process-dev-ui-webapp/src/envelope/RuntimeToolsDevUIEnvelopeViewApi.ts
  packages/runtime-tools-process-dev-ui-webapp/src/standalone/standalone.ts
  packages/runtime-tools-process-dev-ui-webapp/webpack.config.js
  packages/runtime-tools-process-gateway-api/src/gatewayApi/apis.tsx
  packages/runtime-tools-process-webapp-components/src/ProcessDetails/ProcessDetailsContextProvider.tsx
  packages/runtime-tools-process-webapp-components/src/ProcessDetails/ProcessDetailsQueries.ts
  packages/runtime-tools-process-webapp-components/src/ProcessList/ProcessListContextProvider.tsx
  packages/runtime-tools-process-webapp-components/src/ProcessList/ProcessListQueries.ts
Labels: area:bpmn

#2526 kie-issues#1417: Helm Charts for Task and Management Consoles
  .ci/jenkins/Jenkinsfile.daily-dev-publish
  .ci/jenkins/Jenkinsfile.release-build
  .ci/jenkins/Jenkinsfile.release-dry-run
  .ci/jenkins/Jenkinsfile.release-publish
  .ci/jenkins/release-jobs/Jenkinsfile.runtime-tools-consoles-helm-chart
  packages/kogito-management-console/README.md
  packages/runtime-tools-consoles-helm-chart/LICENSE
  packages/runtime-tools-consoles-helm-chart/README.md
  packages/runtime-tools-consoles-helm-chart/env/index.js
  packages/runtime-tools-consoles-helm-chart/install.js
  packages/runtime-tools-consoles-helm-chart/package.json
  packages/runtime-tools-consoles-helm-chart/scripts/README.md.gotmpl
  packages/runtime-tools-consoles-helm-chart/scripts/update-readmes.js
  packages/runtime-tools-consoles-helm-chart/src/.helmignore
  packages/runtime-tools-consoles-helm-chart/src/Chart.lock
  packages/runtime-tools-consoles-helm-chart/src/Chart.yaml
  packages/runtime-tools-consoles-helm-chart/src/README.md
  packages/runtime-tools-consoles-helm-chart/src/charts/management-console/Chart.yaml
  packages/runtime-tools-consoles-helm-chart/src/charts/management-console/README.md
  packages/runtime-tools-consoles-helm-chart/src/charts/management-console/templates/_helpers.tpl
  packages/runtime-tools-consoles-helm-chart/src/charts/management-console/templates/deployment.yaml.helm
  packages/runtime-tools-consoles-helm-chart/src/charts/management-console/templates/hpa.yaml.helm
  packages/runtime-tools-consoles-helm-chart/src/charts/management-console/templates/ingress.yaml.helm
  packages/runtime-tools-consoles-helm-chart/src/charts/management-console/templates/route.yaml.helm
  packages/runtime-tools-consoles-helm-chart/src/charts/management-console/templates/service.yaml.helm
  packages/runtime-tools-consoles-helm-chart/src/charts/management-console/templates/serviceaccount.yaml.helm
  packages/runtime-tools-consoles-helm-chart/src/charts/management-console/values.yaml
  packages/runtime-tools-consoles-helm-chart/src/charts/task-console/Chart.yaml
  packages/runtime-tools-consoles-helm-chart/src/charts/task-console/README.md
  packages/runtime-tools-consoles-helm-chart/src/charts/task-console/templates/_helpers.tpl
  packages/runtime-tools-consoles-helm-chart/src/charts/task-console/templates/deployment.yaml.helm
  packages/runtime-tools-consoles-helm-chart/src/charts/task-console/templates/hpa.yaml.helm
  packages/runtime-tools-consoles-helm-chart/src/charts/task-console/templates/ingress.yaml.helm
  packages/runtime-tools-consoles-helm-chart/src/charts/task-console/templates/route.yaml.helm
  packages/runtime-tools-consoles-helm-chart/src/charts/task-console/templates/service.yaml.helm
  packages/runtime-tools-consoles-helm-chart/src/charts/task-console/templates/serviceaccount.yaml.helm
  packages/runtime-tools-consoles-helm-chart/src/charts/task-console/tests/test-connection.yaml.helm
  packages/runtime-tools-consoles-helm-chart/src/charts/task-console/values.yaml
  packages/runtime-tools-consoles-helm-chart/src/templates/NOTES.txt
  packages/runtime-tools-consoles-helm-chart/src/templates/_helpers.tpl
  packages/runtime-tools-consoles-helm-chart/src/values-kubernetes.yaml
  packages/runtime-tools-consoles-helm-chart/src/values-minikube-nginx.yaml
  packages/runtime-tools-consoles-helm-chart/src/values-openshift.yaml
  packages/runtime-tools-consoles-helm-chart/src/values.yaml
  pnpm-lock.yaml
  repo/graph.dot
  repo/graph.json
Labels: area:core

#2541 [kie-issues#1446] BPMN Editor - Decision name UI field removal
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-api/src/main/java/org/kie/workbench/common/stunner/bpmn/definition/property/task/BusinessRuleTaskExecutionSet.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-api/src/main/java/org/kie/workbench/common/stunner/bpmn/definition/property/task/DecisionName.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-api/src/main/resources/org/kie/workbench/common/stunner/bpmn/resources/i18n/StunnerBPMNConstants.properties
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-api/src/main/resources/org/kie/workbench/common/stunner/bpmn/resources/i18n/StunnerBPMNConstants_es.properties
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-api/src/main/resources/org/kie/workbench/common/stunner/bpmn/resources/i18n/StunnerBPMNConstants_fr.properties
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-api/src/main/resources/org/kie/workbench/common/stunner/bpmn/resources/i18n/StunnerBPMNConstants_ja.properties
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-api/src/test/java/org/kie/workbench/common/stunner/bpmn/definition/HashCodeAndEqualityTest.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-client/src/main/java/org/kie/workbench/common/stunner/bpmn/client/dataproviders/DecisionNameFormProvider.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-client/src/main/java/org/kie/workbench/common/stunner/bpmn/client/documentation/ClientBPMNDocumentationService.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-client/src/main/java/org/kie/workbench/common/stunner/bpmn/client/forms/changeHandlers/businessRuleTask/BusinessRuleTaskChangeHandler.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-client/src/main/java/org/kie/workbench/common/stunner/bpmn/client/forms/filters/RuleLanguageFilterProvider.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-marshalling/src/main/java/org/kie/workbench/common/stunner/bpmn/client/marshall/converters/fromstunner/properties/BusinessRuleTaskPropertyWriter.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-marshalling/src/main/java/org/kie/workbench/common/stunner/bpmn/client/marshall/converters/fromstunner/tasks/TaskConverter.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-marshalling/src/main/java/org/kie/workbench/common/stunner/bpmn/client/marshall/converters/tostunner/properties/BusinessRuleTaskPropertyReader.java
  packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-marshalling/src/main/java/org/kie/workbench/common/stunner/bpmn/client/marshall/converters/tostunner/tasks/BaseTaskConverter.java
Labels: area:bpmn

#2543 kie-issues#1447: Create a new example package on kie-tools to showcase how to use the new DMN Editor Standalone
  examples/dmn-editor-standalone-examples/README.md
  examples/dmn-editor-standalone-examples/env/index.js
  examples/dmn-editor-standalone-examples/package.json
  examples/dmn-editor-standalone-examples/src/fileLoader.ts
  examples/dmn-editor-standalone-examples/src/readOnly/index.html
  examples/dmn-editor-standalone-examples/src/readOnly/index.ts
  examples/dmn-editor-standalone-examples/src/stateControl/index.html
  examples/dmn-editor-standalone-examples/src/stateControl/index.ts
  examples/dmn-editor-standalone-examples/src/withIncludedModels/index.html
  examples/dmn-editor-standalone-examples/src/withIncludedModels/index.ts
  examples/dmn-editor-standalone-examples/static/models/can-drive-types.dmn
  examples/dmn-editor-standalone-examples/static/models/can-drive.dmn
  examples/dmn-editor-standalone-examples/static/models/empty-drd.dmn
  examples/dmn-editor-standalone-examples/static/models/empty.dmn
  examples/dmn-editor-standalone-examples/static/models/find-employees.dmn
  examples/dmn-editor-standalone-examples/static/models/loan-pre-qualification.dmn
  examples/dmn-editor-standalone-examples/tsconfig.json
  examples/dmn-editor-standalone-examples/webpack.config.js
  packages/boxed-expression-component/tests-e2e/boxedExpressions/conditional/populate.spec.ts
  packages/dmn-editor-standalone/src/DmnEditorStandaloneChannelApiImpl.ts
  pnpm-lock.yaml
  repo/graph.dot
  repo/graph.json
Labels: area:dmn, area:monorepo
