Repository apache/incubator-kie-tools, pull requests merged in 2024-06, with the labels that each got.

#2403 NO-ISSUE: Update `JDT.LS` to `1.34`
  packages/vscode-java-code-completion-extension-plugin/pom.xml
Labels: dependencies

#2410 NO-ISSUE: DMN Editor: Remove `index` and `dmnElementRefQName` from `dmnShape`
  packages/dmn-editor/src/mutations/addExistingDecisionServiceToDrd.ts
Labels: DMN

#2373 kie-issues#1269: kn-plugin-workflow: Improve gen-manifests
  packages/kn-plugin-workflow/e2e-tests/gen_manifest_test.go
  packages/kn-plugin-workflow/go.mod
  packages/kn-plugin-workflow/pkg/command/deploy_undeploy_common.go
  packages/kn-plugin-workflow/pkg/command/gen_manifest.go
  packages/sonataflow-operator/workflowproj/workflowproj.go
Labels: Serverless Workflow

#2451 kie-issues#1357: Align java and maven versions on CI across all KIE repositories
  .ci/incubator-kie-tools-ci-build.Dockerfile
  .github/actions/setup-env/action.yml
Labels: area:dependencies, area:cicd
