Repository apache/incubator-kie-tools, pull requests merged in 2025-05, with the labels that each got.

#3095 [NO-ISSUE] `onChange` events fixes after PatternFly v5 upgrade
  packages/jbpm-quarkus-devui/dev/src/main/resources/custom-forms-dev/hiring.tsx
  packages/runtime-tools-process-dev-ui-webapp/server/MockData/forms/examples/hiring.tsx
  packages/runtime-tools-process-dev-ui-webapp/server/MockData/forms/examples/react_hiring_HRInterview.tsx
  packages/runtime-tools-process-dev-ui-webapp/server/MockData/forms/examples/react_hiring_ITInterview.tsx
  packages/serverless-logic-web-tools/src/editor/FileSwitcher.tsx
  packages/serverless-logic-web-tools/src/homepage/recentModels/workspaceFiles/WorkspaceFiles.tsx
  packages/serverless-logic-web-tools/src/settings/openshift/OpenShiftSettingsSimpleConfig.tsx
  packages/serverless-logic-web-tools/src/settings/runtimeTools/RuntimeToolsSettings.tsx
  packages/serverless-logic-web-tools/src/settings/serviceAccount/ServiceAccountSettings.tsx
  packages/serverless-logic-web-tools/src/settings/serviceRegistry/ServiceRegistrySettings.tsx
  packages/serverless-logic-web-tools/src/workspace/components/ImportFromUrlForm.tsx
Labels: area:bpmn, area:sonataflow

#3108 kie-issues#1947: Fix `form-code-generator-patternfly-theme` with new PatternFly v5 event handlers for components
  packages/form-code-generator-patternfly-theme/src/api/types.ts
  packages/form-code-generator-patternfly-theme/src/uniforms/AutoForm.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/BoolField.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/DateField.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/ListField.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/NestField.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/NumField.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/SelectField.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/TextField.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/rendering/ListItemField.tsx
  packages/form-code-generator-patternfly-theme/tests/AutoField.test.tsx
  packages/form-code-generator-patternfly-theme/tests/ListField.test.tsx
  packages/form-code-generator-patternfly-theme/tests/NestField.test.tsx
  packages/form-code-generator-patternfly-theme/tests/SelectField.test.tsx
  packages/form-code-generator-patternfly-theme/tests/TextField.test.tsx
  packages/form-code-generator-patternfly-theme/tests/__snapshots__/AutoForm.test.tsx.snap
  packages/form-code-generator-patternfly-theme/tests/__snapshots__/BoolField.test.tsx.snap
  packages/form-code-generator-patternfly-theme/tests/__snapshots__/DateField.test.tsx.snap
  packages/form-code-generator-patternfly-theme/tests/__snapshots__/ListField.test.tsx.snap
  packages/form-code-generator-patternfly-theme/tests/__snapshots__/NestField.test.tsx.snap
  packages/form-code-generator-patternfly-theme/tests/__snapshots__/NumField.test.tsx.snap
  packages/form-code-generator-patternfly-theme/tests/__snapshots__/TextField.test.tsx.snap
  packages/runtime-tools-shared-enveloped-components/src/formDisplayer/envelope/components/ReactFormRenderer/ReactFormRenderer.tsx
  packages/runtime-tools-shared-enveloped-components/src/formDisplayer/utils/utils.tsx
Labels: area:bpmn

#3033 kie-issues#1142: DMN Editor: Data Type searching mechanism should not be startsWith only
  packages/dmn-editor/src/dataTypes/DataTypes.tsx
  packages/dmn-editor/src/dataTypes/TypeRefSelector.tsx
Labels: area:dmn

#3125 NO-ISSUE: Fix BpmnFullScreenTest failing on `chrome-extension-pack-kogito-kie-editors`
  packages/chrome-extension-pack-kogito-kie-editors/e2e-tests/tests/BpmnFullScreenTest.ts
  packages/chrome-extension-test-helper/src/framework/github-editor/GitHubEditorPage.ts
Labels: area:tests

#3121 [sonataflow-operator] - NO-ISSUE: replace operator tag version with platform version
  packages/sonataflow-operator/env/index.js
  packages/sonataflow-operator/hack/bump-version.sh
  packages/sonataflow-operator/version/version.go
Labels: area:sonataflow

#2943 kie-issues#315: DMN Runner table view should display validation messages
  packages/extended-services-api/src/dmnResult.ts
  packages/online-editor/src/dmnRunner/DmnRunnerContextProvider.tsx
  packages/online-editor/src/extendedServices/ExtendedServicesClient.ts
Labels: area:dmn

#3135 kie-issues-1962: jBPM Quarkus Dev UI: Enable syntax highlighting for React and HTML code in the form code editor
  packages/runtime-tools-process-dev-ui-webapp/webpack.config.js
  packages/runtime-tools-process-enveloped-components/src/formDetails/envelope/components/FormEditor/FormEditorController.tsx
Labels: area:bpmn

#3126 kie-issues#1954: DMN Editor: Question mark character is marked as invalid by syntax highlighting
  packages/dmn-feel-antlr4-parser/src/parser/IdentifiersRepository.ts
  packages/feel-input-component/tests-data/variables-inside-decision-tables/questionMark.dmn
  packages/feel-input-component/tests/semanticTokensProvider.test.ts
Labels: area:dmn

#3146 [incubator-kie-issues#1970] Make jBPM Quarkus Dev UI counters not rely on a specific Quarkus profile
  packages/jbpm-quarkus-devui/jbpm-quarkus-devui-deployment/src/main/java/org/jbpm/quarkus/devui/deployment/DevConsoleProcessor.java
  packages/jbpm-quarkus-devui/jbpm-quarkus-devui-runtime/src/main/java/org/jbpm/quarkus/devui/runtime/rpc/JBPMDevUIEventPublisher.java
  packages/jbpm-quarkus-devui/jbpm-quarkus-devui-runtime/src/main/java/org/jbpm/quarkus/devui/runtime/rpc/JBPMDevUIJsonRPCService.java
  packages/jbpm-quarkus-devui/jbpm-quarkus-devui-runtime/src/main/java/org/jbpm/quarkus/devui/runtime/rpc/events/JBPMDevUIEventPublisher.java
  packages/jbpm-quarkus-devui/jbpm-quarkus-devui-runtime/src/test/java/org/jbpm/quarkus/devui/runtime/rpc/events/JBPMDevUIEventPublisherTest.java
Labels: area:bpmn

#3147 NO-ISSUE: Bump `io.github.bonigarcia:webdrivermanager`
  packages/serverless-workflow-diagram-editor/pom.xml
  packages/stunner-editors/pom.xml
Labels: area:dependencies

#3148 kie-issues#1971: Upgrading axios to 1.8.4
  packages/runtime-tools-components/package.json
  packages/runtime-tools-management-console-webapp/package.json
  packages/runtime-tools-process-dev-ui-webapp/package.json
  packages/runtime-tools-process-gateway-api/package.json
  packages/runtime-tools-process-webapp-components/package.json
  packages/runtime-tools-swf-gateway-api/package.json
  packages/serverless-logic-web-tools/package.json
  pnpm-lock.yaml
Labels: area:dependencies

#3134 kie-issues#1961: DMN Editor can not change node Data Type from Boxed Expression Editor
  packages/boxed-expression-component/src/contextMenu/PopoverMenu/PopoverMenu.tsx
  packages/boxed-expression-component/src/expressionVariable/ExpressionVariableMenu.tsx
  packages/boxed-expression-component/src/expressions/DecisionTableExpression/HitPolicySelector.tsx
  packages/boxed-expression-component/src/expressions/FunctionExpression/FunctionKindSelector.tsx
  packages/boxed-expression-component/tests-e2e/api/nameAndDataTypeCell.ts
  packages/boxed-expression-component/tests-e2e/boxedExpressions/conditional/populate.spec.ts
  packages/boxed-expression-component/tests-e2e/boxedExpressions/context/populate.spec.ts
  packages/boxed-expression-component/tests-e2e/boxedExpressions/decisionTable/populate.spec.ts
  packages/boxed-expression-component/tests-e2e/boxedExpressions/filter/filterExpression.spec.ts
  packages/boxed-expression-component/tests-e2e/boxedExpressions/filter/populate.spec.ts
  packages/boxed-expression-component/tests-e2e/boxedExpressions/invocation/populate.spec.ts
  packages/boxed-expression-component/tests-e2e/boxedExpressions/list/populate.spec.ts
  packages/boxed-expression-component/tests-e2e/boxedExpressions/literal/populate.spec.ts
  packages/boxed-expression-component/tests-e2e/boxedExpressions/relation/populate.spec.ts
  packages/boxed-expression-component/tests-e2e/features/changeExpressionNameAndDataType.spec.ts
  packages/dmn-editor/tests-e2e/checkDecisionTableCellsDataType.spec.ts
Labels: area:dmn

#3133 kie-issues#1963: Edges are not being auto-generated in special case of using namespace in href
  packages/dmn-editor/src/normalization/autoGenerateDrd.ts
Labels: area:dmn

#3046 kie-issues#892: Collapsing and expanding Decision Services
  packages/dmn-editor/src/DmnEditor.css
  packages/dmn-editor/src/diagram/Diagram.tsx
  packages/dmn-editor/src/diagram/nodes/Nodes.tsx
  packages/dmn-editor/src/mutations/addExistingDecisionServiceToDrd.ts
  packages/dmn-editor/src/mutations/setDecisionServiceVisiblity.ts
  packages/dmn-editor/src/store/Store.ts
  packages/dmn-editor/src/store/computed/computeConflictedDecisionServices.ts
  packages/dmn-editor/src/store/computed/initial.ts
  packages/dmn-editor/tests-e2e/__fixtures__/nodes.ts
  packages/dmn-editor/tests-e2e/__screenshots__/Google-Chrome/drds/add-conflicting-decision-service.png
  packages/dmn-editor/tests-e2e/__screenshots__/Google-Chrome/drds/collapse-decision-service.png
  packages/dmn-editor/tests-e2e/__screenshots__/Google-Chrome/drds/decision-service-from-other-drd.png
  packages/dmn-editor/tests-e2e/__screenshots__/Google-Chrome/drgElements/reset-decision-service-font.png
  packages/dmn-editor/tests-e2e/__screenshots__/Google-Chrome/drgElements/resize-non-empty-decision-service.png
  packages/dmn-editor/tests-e2e/__screenshots__/chromium/drds/add-conflicting-decision-service.png
  packages/dmn-editor/tests-e2e/__screenshots__/chromium/drds/collapse-decision-service.png
  packages/dmn-editor/tests-e2e/__screenshots__/chromium/drds/decision-service-from-other-drd.png
  packages/dmn-editor/tests-e2e/__screenshots__/chromium/drgElements/change-decision-service-font.png
  packages/dmn-editor/tests-e2e/__screenshots__/chromium/drgElements/change-decision-service-position.png
  packages/dmn-editor/tests-e2e/__screenshots__/chromium/drgElements/reset-decision-service-font.png
  packages/dmn-editor/tests-e2e/__screenshots__/chromium/drgElements/resize-non-empty-decision-service.png
  packages/dmn-editor/tests-e2e/__screenshots__/webkit/drds/add-conflicting-decision-service.png
  packages/dmn-editor/tests-e2e/__screenshots__/webkit/drds/collapse-decision-service.png
  packages/dmn-editor/tests-e2e/__screenshots__/webkit/drds/decision-service-from-other-drd.png
  packages/dmn-editor/tests-e2e/__screenshots__/webkit/drgElements/change-decision-service-font.png
  packages/dmn-editor/tests-e2e/__screenshots__/webkit/drgElements/change-decision-service-position.png
  packages/dmn-editor/tests-e2e/__screenshots__/webkit/drgElements/reset-decision-service-font.png
  packages/dmn-editor/tests-e2e/__screenshots__/webkit/drgElements/resize-non-empty-decision-service.png
  packages/dmn-editor/tests-e2e/drds/modelDecisionServicesInDrds.spec.ts
Labels: area:dmn

#3028 kie-issues#1887: [kn-workflow-plugin] should persist workflow '*.sw.{json, yaml, yml}' in the docker image
  packages/kn-plugin-workflow/pkg/command/quarkus/quarkus_project.go
  packages/kn-plugin-workflow/pkg/command/quarkus/quarkus_project_test.go
Labels: area:sonataflow

#3160 NO-ISSUE: bump golang.org/x/net from 0.28.0 to 0.38.0 in /packages/sonataflow-operator/container-builder
  packages/kn-plugin-workflow/go.mod
  packages/kn-plugin-workflow/go.sum
  packages/sonataflow-operator/api/go.mod
  packages/sonataflow-operator/api/go.sum
  packages/sonataflow-operator/container-builder/go.mod
  packages/sonataflow-operator/container-builder/go.sum
  packages/sonataflow-operator/go.mod
  packages/sonataflow-operator/go.sum
  packages/sonataflow-operator/workflowproj/go.mod
  packages/sonataflow-operator/workflowproj/go.sum
Labels: area:sonataflow

#3157 kie-issues#889: DMN Editor: Moving or resizing a Decision contained by a Decision Service
  packages/dmn-editor/src/diagram/Diagram.tsx
  packages/dmn-editor/src/diagram/nodes/Nodes.tsx
  packages/dmn-editor/tests-e2e/__screenshots__/Google-Chrome/drds/repositioned-decision.png
  packages/dmn-editor/tests-e2e/__screenshots__/Google-Chrome/drds/resized-decision.png
  packages/dmn-editor/tests-e2e/__screenshots__/chromium/drds/repositioned-decision.png
  packages/dmn-editor/tests-e2e/__screenshots__/chromium/drds/resized-decision.png
  packages/dmn-editor/tests-e2e/__screenshots__/webkit/drds/repositioned-decision.png
  packages/dmn-editor/tests-e2e/__screenshots__/webkit/drds/resized-decision.png
  packages/dmn-editor/tests-e2e/drds/modelDecisionServicesInDrds.spec.ts
Labels: area:dmn

#3159 NO-ISSUE: Bumps github.com/getkin/kin-openapi from 0.128.0 to 0.131.0
  packages/kn-plugin-workflow/go.mod
  packages/kn-plugin-workflow/go.sum
Labels: area:sonataflow

#3155 kie-issues#1977: Import types from Java class - replace external data type should not be possible
  packages/dmn-editor/src/dataTypes/DataTypes.tsx
  packages/dmn-editor/src/dataTypes/ImportJavaClasses.tsx
  packages/dmn-editor/src/dataTypes/useImportJavaClasses.ts
Labels: area:dmn
