Repository apache/incubator-kie-tools, pull requests merged in 2025-03, with the labels that each got.

#2948 kie-issues#1852: Load custom forms in jBPM Quarkus Dev UI extension’s Tasks page
  .rat-excludes
  packages/jbpm-quarkus-devui/dev/src/main/resources/custom-forms-dev/hiring.config
  packages/jbpm-quarkus-devui/dev/src/main/resources/custom-forms-dev/hiring.tsx
  packages/jbpm-quarkus-devui/dev/src/main/resources/custom-forms-dev/hiring_ITInterview.config
  packages/jbpm-quarkus-devui/dev/src/main/resources/custom-forms-dev/hiring_ITInterview.html
  packages/jbpm-quarkus-devui/jbpm-quarkus-devui-runtime/src/main/java/org/jbpm/quarkus/devui/runtime/forms/impl/FormsStorageImpl.java
  packages/jbpm-quarkus-devui/package.json
  packages/runtime-tools-process-enveloped-components/src/taskForm/envelope/components/CustomTaskFormDisplayer/CustomTaskFormDisplayer.tsx
  packages/runtime-tools-process-webapp-components/src/TaskForms/TaskFormGatewayApi.ts
  packages/runtime-tools-shared-enveloped-components/src/formDetails/envelope/components/FormEditor/FormEditor.tsx
  packages/runtime-tools-shared-enveloped-components/src/formDisplayer/api/types.ts
  packages/runtime-tools-shared-enveloped-components/src/formDisplayer/embedded/EmbeddedFormDisplayer.tsx
  packages/runtime-tools-shared-enveloped-components/src/formDisplayer/envelope/components/FormDisplayer/FormDisplayer.tsx
  packages/runtime-tools-shared-enveloped-components/src/formDisplayer/envelope/components/HtmlFormRenderer/HtmlFormRenderer.tsx
  packages/runtime-tools-shared-enveloped-components/src/formDisplayer/envelope/components/ReactFormRenderer/ReactFormRenderer.tsx
  packages/runtime-tools-shared-enveloped-components/src/formDisplayer/envelope/components/ResourcesContainer/ResourcesContainer.tsx
Labels: area:bpmn

#2953 NO-ISSUE: Make sure README.md files are updated on Test Scenario-related packages
  packages/scesim-editor-envelope/README.md
  packages/scesim-editor/README.md
  packages/scesim-marshaller/README.md
Labels: area:scesim, area:monorepo

#2952 No-Issue: Enhancing Business calendar flexibility
  examples/process-business-calendar/README.md
  examples/process-business-calendar/docs/images/CustomCalendarClass.png
Labels: area:bpmn, area:examples

#2939 kie-tools-1846: [kn-plugin-workflow] tests, created by quarkus create…
  packages/kn-plugin-workflow/pkg/command/quarkus/quarkus_project.go
Labels: area:sonataflow

#2954 kie-issues#1855: New Test Scenario Editor doesn't implement the multiple rows/columns addition feature
  packages/boxed-expression-component/src/api/BeeTable.ts
  packages/scesim-editor/src/table/TestScenarioTable.tsx
Labels: area:scesim

#2962 Improve compatibility of BPMN and DMN VS Code extensions with `src/main/resources/META-INF/processSVG` directory
  packages/bpmn-vscode-extension/README.md
  packages/bpmn-vscode-extension/package.json
  packages/dmn-vscode-extension/README.md
  packages/dmn-vscode-extension/package.json
  packages/extended-services-vscode-extension/package.json
  packages/kie-editors-dev-vscode-extension/package.json
  packages/vscode-extension/src/VsCodeRecommendation.ts
  packages/vscode-extension/src/generateSvg.ts
Labels: area:bpmn, area:dmn, area:scesim

#2961 NO-ISSUE: Add support for more OIDC paramaters in the Management Console
  packages/runtime-tools-management-console-webapp/README.md
  packages/runtime-tools-management-console-webapp/dev-webapp/secured-runtime/src/main/resources/application.properties
  packages/runtime-tools-management-console-webapp/package.json
  packages/runtime-tools-management-console-webapp/src/authSessions/AuthSessionApi.ts
  packages/runtime-tools-management-console-webapp/src/authSessions/AuthSessionMigrations.ts
  packages/runtime-tools-management-console-webapp/src/authSessions/AuthSessionsContext.tsx
  packages/runtime-tools-management-console-webapp/src/authSessions/AuthSessionsService.ts
  packages/runtime-tools-management-console-webapp/src/authSessions/components/AuthSessionsList.tsx
  packages/runtime-tools-management-console-webapp/src/authSessions/components/NewAuthSessionLoginSuccessPage.tsx
  packages/runtime-tools-management-console-webapp/src/authSessions/components/NewAuthSessionModal.tsx
  packages/runtime-tools-management-console-webapp/src/runtime/RuntimeContext.tsx
  pnpm-lock.yaml
Labels: area:bpmn

#2967 NO-ISSUE: Dev deployment DMN form webapp not working when Dev deployment contains BPMN models
  packages/dev-deployment-dmn-form-webapp/src/DmnDevDeploymentFormWebAppDataApi.tsx
Labels: area:bpmn, area:dmn

#2958 NO-ISSUE: `form-code-generator-patternfly-theme` doesn't support nested ListField
  packages/form-code-generator-patternfly-theme/src/api/types.ts
  packages/form-code-generator-patternfly-theme/src/resources/checkboxGroupFunctions.txt
  packages/form-code-generator-patternfly-theme/src/resources/dateFunctions.txt
  packages/form-code-generator-patternfly-theme/src/resources/multipleSelectFunctions.txt
  packages/form-code-generator-patternfly-theme/src/resources/resources.d.ts
  packages/form-code-generator-patternfly-theme/src/resources/selectFunctions.txt
  packages/form-code-generator-patternfly-theme/src/resources/timeFunctions.txt
  packages/form-code-generator-patternfly-theme/src/uniforms/AutoForm.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/BoolField.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/CheckBoxGroupField.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/DateField.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/ListField.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/NestField.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/NumField.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/RadioField.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/SelectField.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/TextField.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/UnsupportedField.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/rendering/ListItemField.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/staticCode/staticCodeBlocks.ts
  packages/form-code-generator-patternfly-theme/src/uniforms/utils/Utils.tsx
  packages/form-code-generator-patternfly-theme/tests/AutoField.test.tsx
  packages/form-code-generator-patternfly-theme/tests/AutoForm.test.tsx
  packages/form-code-generator-patternfly-theme/tests/BoolField.test.tsx
  packages/form-code-generator-patternfly-theme/tests/CheckBoxGroupField.test.tsx
  packages/form-code-generator-patternfly-theme/tests/DateField.test.tsx
  packages/form-code-generator-patternfly-theme/tests/ListField.test.tsx
  packages/form-code-generator-patternfly-theme/tests/NestField.test.tsx
  packages/form-code-generator-patternfly-theme/tests/NumField.test.tsx
  packages/form-code-generator-patternfly-theme/tests/RadioField.test.tsx
  packages/form-code-generator-patternfly-theme/tests/SelectField.test.tsx
  packages/form-code-generator-patternfly-theme/tests/TextField.test.tsx
  packages/form-code-generator-patternfly-theme/tests/UnsupportedField.test.tsx
  packages/form-code-generator-patternfly-theme/tests/__snapshots__/AutoForm.test.tsx.snap
  packages/form-code-generator-patternfly-theme/tests/__snapshots__/BoolField.test.tsx.snap
  packages/form-code-generator-patternfly-theme/tests/__snapshots__/CheckBoxGroupField.test.tsx.snap
  packages/form-code-generator-patternfly-theme/tests/__snapshots__/DateField.test.tsx.snap
  packages/form-code-generator-patternfly-theme/tests/__snapshots__/ListField.test.tsx.snap
  packages/form-code-generator-patternfly-theme/tests/__snapshots__/NestField.test.tsx.snap
  packages/form-code-generator-patternfly-theme/tests/__snapshots__/NumField.test.tsx.snap
  packages/form-code-generator-patternfly-theme/tests/__snapshots__/RadioField.test.tsx.snap
  packages/form-code-generator-patternfly-theme/tests/__snapshots__/SelectField.test.tsx.snap
  packages/form-code-generator-patternfly-theme/tests/__snapshots__/TextField.test.tsx.snap
  packages/form-code-generator-patternfly-theme/tests/__snapshots__/UnsupportedField.test.tsx.snap
  packages/form-code-generator-patternfly-theme/webpack.config.js
Labels: area:bpmn

#2960 kie-issues#1851: DMN Editor nested Decision tables output column data type can not be changed.
  packages/boxed-expression-component/src/expressions/DecisionTableExpression/DecisionTableExpression.tsx
  packages/dmn-editor/src/boxedExpressions/BoxedExpressionScreen.tsx
  packages/dmn-editor/tests-e2e/checkDecisionTableCellsDataType.spec.ts
  packages/dmn-feel-antlr4-parser/src/parser/IdentifiersRepository.ts
Labels: area:dmn

#2968 [NO-ISSUE] Upgrade FEEL namespaces when automatically upgrading DMN models to newer versions on `dmn-marshaller`
  packages/dmn-marshaller/src/index.ts
  packages/dmn-marshaller/tests/automaticMigrations.test.ts
Labels: area:dmn

#2965 [NO-ISSUE] Add missing dependencies to `dev-deployment-kogito-quarkus-blank-app`
  packages/dev-deployment-kogito-quarkus-blank-app-image/Containerfile
  packages/dev-deployment-kogito-quarkus-blank-app-image/package.json
  packages/dev-deployment-kogito-quarkus-blank-app/pom.xml
  packages/dev-deployment-kogito-quarkus-blank-app/src/main/resources/application.properties
  packages/online-editor/src/accounts/kubernetes/ConnectToLocalKubernetesClusterWizard.tsx
  packages/online-editor/src/devDeployments/services/deploymentOptions/kogitoQuarkusBlankApp/DeploymentYaml.ts
  packages/online-editor/src/devDeployments/services/kubernetes/KubernetesDeploymentOptions.ts
Labels: pr: order: 1, area:bpmn

#2959 [NO-ISSUE] [kn-plugin-workflow] Fix dependencies #2854 #2879 #2840
  packages/kn-plugin-workflow/go.mod
  packages/kn-plugin-workflow/go.sum
  packages/kn-plugin-workflow/pkg/common/checks.go
  packages/kn-plugin-workflow/pkg/common/containers.go
  packages/kn-plugin-workflow/pkg/common/containers_test.go
Labels: area:sonataflow

#2974 [NO-ISSUE] Adjusting `CHANGELOG.md` files for all VS Code extensions and wording on the new Form generation command for the BPMN Editor VS Code extension
  packages/bpmn-vscode-extension/CHANGELOG.md
  packages/bpmn-vscode-extension/package.json
  packages/dmn-vscode-extension/CHANGELOG.md
  packages/form-code-generator-vscode-command/src/generateFormCodeCommand.ts
  packages/kie-editors-dev-vscode-extension/package.json
  packages/pmml-vscode-extension/CHANGELOG.md
  packages/runtime-tools-process-enveloped-components/src/processDetails/envelope/components/ProcessDetailsTimelinePanel/ProcessDetailsTimelinePanel.tsx
  packages/serverless-workflow-vscode-extension/CHANGELOG.md
  packages/vscode-extension-dashbuilder-editor/CHANGELOG.md
  packages/vscode-extension-kie-ba-bundle/CHANGELOG.md
  packages/vscode-extension-kogito-bundle/CHANGELOG.md
  packages/yard-vscode-extension/CHANGELOG.md
Labels: area:bpmn, area:dmn, area:sonataflow, area:yard, area:pmml

#2972 kie-issues#1864: Renaming a Decision node using the Boxed Expression Editor makes DMN model invalid by breaking Decision Table
  packages/boxed-expression-component/src/contextMenu/PopoverMenu/PopoverMenu.tsx
  packages/boxed-expression-component/src/expressionVariable/ExpressionVariableMenu.tsx
  packages/dmn-feel-antlr4-parser/src/parser/Expression.ts
Labels: area:dmn

#2971 NO-ISSUE: Rename DMN Runner 'Execution' to 'Evaluation'
  packages/dmn-editor/src/DmnEditor.tsx
  packages/form-dmn/src/FormDmnOutputs.tsx
  packages/form-dmn/tests/FormDmnOutputs.test.tsx
  packages/i18n-common-dictionary/src/CommonI18n.ts
  packages/i18n-common-dictionary/src/locales/de.ts
  packages/i18n-common-dictionary/src/locales/en.ts
  packages/online-editor/src/dmnRunner/DmnRunnerContextProvider.tsx
  packages/online-editor/src/dmnRunner/DmnRunnerDrawerPanelContent.tsx
  packages/online-editor/src/editor/EditorPageDockContextProvider.tsx
  packages/online-editor/src/editor/NotificationsPanel/NotificationsPanelTabContent.tsx
  packages/online-editor/src/i18n/locales/de.ts
  packages/online-editor/src/i18n/locales/en.ts
  packages/serverless-logic-web-tools/src/editor/EditorPageDockDrawer.tsx
  packages/serverless-logic-web-tools/src/editor/NotificationsPanel/NotificationsPanelTabContent.tsx
Labels: area:dmn

#2970 kie-issues#1353: New Test Scenario Editor: It's not possible to remove the Last column of a GIVEN / EXPECT group
  packages/scesim-editor/src/mutations/addColumn.ts
  packages/scesim-editor/src/table/TestScenarioTable.tsx
  packages/scesim-editor/tests-e2e/features/selection/contextMenu.spec.ts
  packages/scesim-editor/tests-e2e/scesimEditor/backgroundTable/contextMenu.spec.ts
  packages/scesim-editor/tests-e2e/scesimEditor/testScenarioTable/contextMenu.spec.ts
Labels: area:scesim

#2976 [kie-issues#1866] Update postgres and pgadmin images in docker compose files
  examples/process-accelerator/docker-compose.yml
  examples/process-compact-architecture/docker-compose.yml
  examples/process-security/docker-compose.yml
  examples/process-user-tasks-subsystem/docker-compose.yml
Labels: area:bpmn

#2978 [NO-ISSUE] Add base URL transform to runtime endpoints in jBPM Quarkus DevUI and Management Console
  packages/jbpm-quarkus-devui/dev/src/main/resources/application.properties
  packages/runtime-tools-management-console-webapp/README.md
  packages/runtime-tools-management-console-webapp/dev-webapp/secured-runtime/src/main/resources/application.properties
  packages/runtime-tools-management-console-webapp/src/authSessions/AuthSessionsService.ts
  packages/runtime-tools-management-console-webapp/src/runtime/RuntimeContext.tsx
  packages/runtime-tools-process-dev-ui-webapp/src/channel/FormDetails/FormDetailsContextProvider.tsx
  packages/runtime-tools-process-dev-ui-webapp/src/channel/FormsList/FormsListContextProvider.tsx
  packages/runtime-tools-process-dev-ui-webapp/src/channel/ProcessDefinitionList/ProcessDefinitionListContextProvider.tsx
  packages/runtime-tools-process-dev-ui-webapp/src/channel/ProcessDefinitionList/ProcessDefinitionListQueries.ts
  packages/runtime-tools-process-dev-ui-webapp/src/components/DevUI/DevUILayout/DevUILayout.tsx
  packages/runtime-tools-process-dev-ui-webapp/src/components/contexts/DevUIAppContext.tsx
  packages/runtime-tools-process-dev-ui-webapp/src/components/contexts/ProcessContextProvider.tsx
  packages/runtime-tools-process-dev-ui-webapp/src/components/contexts/TaskFormContextProvider.tsx
  packages/runtime-tools-process-webapp-components/src/ProcessDetails/ProcessDetailsContextProvider.tsx
  packages/runtime-tools-process-webapp-components/src/ProcessDetails/ProcessDetailsQueries.ts
  packages/runtime-tools-process-webapp-components/src/ProcessList/ProcessListContextProvider.tsx
  packages/runtime-tools-process-webapp-components/src/ProcessList/ProcessListQueries.ts
  packages/runtime-tools-process-webapp-components/src/TaskForms/TaskFormContextProvider.tsx
  packages/runtime-tools-process-webapp-components/src/TaskForms/TaskFormGatewayApi.ts
  packages/runtime-tools-process-webapp-components/src/TaskInbox/TaskInboxContextProvider.tsx
Labels: area:bpmn

#2973 NO-ISSUE: Fix `pnpm bootstrap` in Windows.
  packages/image-env-to-json/go.mod
Labels: area:core, area:dependencies, area:monorepo

#2975 kie-issues#1865: On the DMN Editor, the identifiers rename is not being applied to Inputs in Decision Tables.
  packages/dmn-feel-antlr4-parser/src/parser/IdentifiersRepository.ts
Labels: area:dmn

#2979 NO-ISSUE: In the jBPM Quarkus Dev UI Form Editor, saving a new connection code changes the form source code
  packages/runtime-tools-shared-enveloped-components/src/formDetails/envelope/components/FormDetails/FormDetails.tsx
  packages/runtime-tools-shared-enveloped-components/src/formDetails/envelope/components/FormEditor/FormEditor.tsx
Labels: area:bpmn

#2935 kie-issues#2925: kn-workflows quarkus run hangs forever
  packages/kn-plugin-workflow/pkg/common/helper.go
Labels: area:sonataflow

#2989 kie-tools-issues#2988: "Command Line Too Long" Error in pnpm partitioning on Windows CI
  .github/supporting-files/ci/build-partitioning/build_partitioning.ts
  .github/workflows/ci_build.yml
Labels: area:monorepo, area:cicd

#2990 NO-ISSUE: Replace new Test Scenario editor `console.log` and `console.trace` to `console.debug`
  packages/scesim-editor/src/TestScenarioEditor.tsx
  packages/scesim-editor/src/creation/TestScenarioCreationPanel.tsx
  packages/scesim-editor/src/drawer/TestScenarioDrawerDataSelectorPanel.tsx
  packages/scesim-editor/src/drawer/TestScenarioDrawerSettingsPanel.tsx
  packages/scesim-editor/src/store/TestScenarioEditorStore.ts
  packages/scesim-editor/src/table/TestScenarioTable.tsx
Labels: area:scesim

#2986 NO-ISSUE: Add light gray color to overflow scroll bar for new Test Scenario and DMN Editors
  packages/dmn-editor/src/DmnEditor.css
  packages/scesim-editor/src/TestScenarioEditor.css
  packages/scesim-editor/src/TestScenarioEditor.tsx
Labels: area:dmn, area:scesim

#2993 [NO-ISSUE] Small cosmetic changes to DMN Editor highlights and rename modal
  packages/dmn-editor/src/evaluationHighlights/EvaluationHighlightsBadge.tsx
  packages/dmn-editor/src/refactor/RefactorConfirmationDialog.tsx
  packages/form-dmn/src/FormDmnOutputs.tsx
Labels: area:dmn

#2997 NO-ISSUE: New Test Scenario Editor can't assign "value" property after assigning Instance column
  packages/scesim-editor/src/drawer/TestScenarioDrawerDataSelectorPanel.tsx
Labels: area:scesim

#2985 kie-issues#1870: New Test Scenario Editor: Add error page for invalid scesim file
  packages/scesim-editor-envelope/src/TestScenarioEditorRoot.tsx
  packages/scesim-editor/src/TestScenarioEditor.tsx
Labels: area:scesim

#2992 [NO-ISSUE] Always switch to Editor tab when programmatically opening a Boxed Expression in the DMN Editor
  packages/dmn-editor/src/DmnEditor.tsx
Labels: area:dmn

#2912 kie-issues#2548: Cannot add a new record within an empty Decision Table
  packages/boxed-expression-component/src/expressions/DecisionTableExpression/DecisionTableExpression.tsx
Labels: area:dmn

#3000 NO-ISSUE: Fix `form-code-generator-bootstrap4-theme` disabled ListField
  packages/form-code-generator-bootstrap4-theme/src/resources/templates/form.template
  packages/form-code-generator-bootstrap4-theme/src/resources/templates/listField.writeModelData.template
  packages/form-code-generator-bootstrap4-theme/src/resources/templates/nestField.writeModelData.template
  packages/form-code-generator-bootstrap4-theme/src/uniforms/templates/ListFieldTemplate.ts
  packages/form-code-generator-bootstrap4-theme/src/uniforms/templates/NestFieldTemplate.ts
  packages/form-code-generator-bootstrap4-theme/tests/NestField.test.tsx
  packages/form-code-generator-bootstrap4-theme/tests/__snapshots__/ListField.test.tsx.snap
  packages/form-code-generator-bootstrap4-theme/tests/__snapshots__/NestField.test.tsx.snap
Labels: area:bpmn

#3002 kie-issues#1873: The `boxed-expression-component` "Copy, Cut and Paste expressions" tests are flaky on Google Chrome
  packages/boxed-expression-component/tests-e2e/features/copyPasteExpressions.spec.ts
Labels: area:tests

#3005 NO-ISSUE: DMN Editor highlights are showing for all Input Rows of DMN Runner even in Form mode when only a single Input Row is displayed
  packages/online-editor/src/dmnRunner/DmnRunnerContextProvider.tsx
Labels: area:dmn

#3004 NO-ISSUE: Rename KOGITO_MANAGEMENT_CONSOLE_IMAGE env var and remove unused properties/build-envs
  examples/process-compact-architecture/README.md
  examples/process-compact-architecture/docker-compose.yml
  examples/process-compact-architecture/env/index.js
  examples/process-compact-architecture/install.js
  examples/process-security/README.md
  examples/process-security/docker-compose.yml
  examples/process-security/env/index.js
  examples/process-security/install.js
  examples/process-user-tasks-subsystem/README.md
  examples/process-user-tasks-subsystem/docker-compose.yml
  examples/process-user-tasks-subsystem/env/index.js
  examples/process-user-tasks-subsystem/install.js
Labels: area:examples

#3008 kie-issues#1875: It's not possible to visualize all files in the New Test Scenario Editor "Select DMN"
  packages/scesim-editor/src/creation/TestScenarioCreationPanel.tsx
  packages/scesim-editor/src/drawer/TestScenarioDrawerSettingsPanel.tsx
Labels: area:scesim

#3006 [NO-ISSUE] Disclaimer for increasing memory for Docker VM in `process-security` example
  examples/process-security/README.md
Labels: area:examples

#2822 kie-issues#1750: Try Maven Central before hitting `repository.apache.org`
  packages/kn-plugin-workflow/pkg/command/quarkus/quarkus_project.go
  packages/kn-plugin-workflow/pkg/command/quarkus/testdata/pom1-expected.xml_no_auto_formatting
  packages/sonataflow-image-common/resources/modules/kogito-maven/common/maven/settings.xml
Labels: pr: waiting-for-review, area:monorepo, area:cicd

#2874 kie-issues#1586: [kn-plugin-workflow] Evaluate if we should install operator via cli
  packages/kn-plugin-workflow/Makefile
  packages/kn-plugin-workflow/e2e-tests/main_test.go
  packages/kn-plugin-workflow/e2e-tests/operator_helper.go
  packages/kn-plugin-workflow/pkg/command/deploy_undeploy_common.go
  packages/kn-plugin-workflow/pkg/command/gen_manifest.go
  packages/kn-plugin-workflow/pkg/command/operator/install.go
  packages/kn-plugin-workflow/pkg/command/operator/operator.go
  packages/kn-plugin-workflow/pkg/command/operator/status.go
  packages/kn-plugin-workflow/pkg/command/operator/uninstall.go
  packages/kn-plugin-workflow/pkg/command/quarkus/deploy_test.go
  packages/kn-plugin-workflow/pkg/common/k8sclient/fake.go
  packages/kn-plugin-workflow/pkg/common/k8sclient/goapi.go
  packages/kn-plugin-workflow/pkg/common/kubectl.go
  packages/kn-plugin-workflow/pkg/common/operator.go
  packages/kn-plugin-workflow/pkg/metadata/constants.go
  packages/kn-plugin-workflow/pkg/openshift/operation.go
  packages/kn-plugin-workflow/pkg/root/root.go
  packages/kn-plugin-workflow/pkg/root/root_test.go
Labels: area:sonataflow

#3012 kie-issues#1880: Update kie-tools runtime version to 999-20250316-SNAPSHOT
  packages/maven-base/pom.xml
  packages/root-env/env/index.js
Labels: dependencies

#3015 kie-issues#1883: New Test Scenario wrongly manages empty cells
  packages/scesim-editor/src/mutations/addColumn.ts
  packages/scesim-editor/src/mutations/addRow.ts
  packages/scesim-editor/src/mutations/updateCell.ts
Labels: pr: waiting-for-review, area:scesim

#3010 NO-ISSUE: Enable Test Scenario Editor Classic compatibility with the new Test Scenario Editor
  packages/stunner-editors/drools-wb-screens/drools-wb-scenario-simulation-editor/drools-wb-scenario-simulation-editor-kogito-client/src/main/java/org/drools/workbench/screens/scenariosimulation/kogito/client/editor/ScenarioSimulationEditorKogitoWrapper.java
Labels: pr: waiting-for-review, area:scesim

#3020 [sonataflow-operator] NO-ISSUE: Removed hard-coded control-plane labels from operator manifests
  packages/sonataflow-operator/Makefile
  packages/sonataflow-operator/config/default/kustomization.yaml
  packages/sonataflow-operator/config/manager/manager.yaml
  packages/sonataflow-operator/config/prometheus/monitor.yaml
  packages/sonataflow-operator/config/rbac/auth_proxy_service.yaml
  packages/sonataflow-operator/operator.yaml
  packages/sonataflow-operator/package.json
Labels: area:sonataflow

#2911 kie-tools-2910: Update workflow metadata upon deployment events
  packages/sonataflow-operator/api/v1alpha08/sonataflow_types.go
  packages/sonataflow-operator/api/v1alpha08/zz_generated.deepcopy.go
  packages/sonataflow-operator/cmd/main.go
  packages/sonataflow-operator/config/manifests/bases/sonataflow-operator.clusterserviceversion.yaml
  packages/sonataflow-operator/go.mod
  packages/sonataflow-operator/images/modules/org.apache.kie.sonataflow.operatorBuilder/module.yaml
  packages/sonataflow-operator/internal/controller/builder/builder.go
  packages/sonataflow-operator/internal/controller/builder/kogitoserverlessbuild_manager.go
  packages/sonataflow-operator/internal/controller/eventing/workflowdef_events.go
  packages/sonataflow-operator/internal/controller/knative/knative.go
  packages/sonataflow-operator/internal/controller/platform/platform.go
  packages/sonataflow-operator/internal/controller/platform/services/services.go
  packages/sonataflow-operator/internal/controller/profiles/common/constants/reconcile.go
  packages/sonataflow-operator/internal/controller/profiles/common/constants/workflows.go
  packages/sonataflow-operator/internal/controller/profiles/common/properties/managed.go
  packages/sonataflow-operator/internal/controller/profiles/common/reconciler.go
  packages/sonataflow-operator/internal/controller/profiles/dev/states_dev.go
  packages/sonataflow-operator/internal/controller/profiles/preview/deployment_handler.go
  packages/sonataflow-operator/internal/controller/profiles/preview/deployment_handler_test.go
  packages/sonataflow-operator/internal/controller/profiles/preview/states_preview.go
  packages/sonataflow-operator/internal/controller/sonataflow_controller.go
  packages/sonataflow-operator/internal/controller/workflowdef/events.go
  packages/sonataflow-operator/internal/manager/worker.go
  packages/sonataflow-operator/operator.yaml
  packages/sonataflow-operator/utils/events.go
Labels: area:sonataflow

#2902 kie-issues#1459: Decision and BKM nodes properties cannot be edited from inside BEE due to focus being lost after a character is typed
  packages/dmn-editor/src/propertiesPanel/BkmProperties.tsx
  packages/dmn-editor/src/propertiesPanel/BoxedExpressionPropertiesPanelComponents/DecisionTableInputHeaderCell.tsx
  packages/dmn-editor/src/propertiesPanel/BoxedExpressionPropertiesPanelComponents/DecisionTableInputRuleCell.tsx
  packages/dmn-editor/src/propertiesPanel/BoxedExpressionPropertiesPanelComponents/DecisionTableOutputHeaderCell.tsx
  packages/dmn-editor/src/propertiesPanel/BoxedExpressionPropertiesPanelComponents/DecisionTableOutputRuleCell.tsx
  packages/dmn-editor/src/propertiesPanel/BoxedExpressionPropertiesPanelComponents/DecisionTableRootCell.tsx
  packages/dmn-editor/src/propertiesPanel/BoxedExpressionPropertiesPanelComponents/ExpressionRootCell.tsx
  packages/dmn-editor/src/propertiesPanel/BoxedExpressionPropertiesPanelComponents/FunctionDefinitionParametersCell.tsx
  packages/dmn-editor/src/propertiesPanel/BoxedExpressionPropertiesPanelComponents/FunctionDefinitionRootCell.tsx
  packages/dmn-editor/src/propertiesPanel/BoxedExpressionPropertiesPanelComponents/InformationItemCell.tsx
  packages/dmn-editor/src/propertiesPanel/BoxedExpressionPropertiesPanelComponents/InvocationFunctionCallCell.tsx
  packages/dmn-editor/src/propertiesPanel/BoxedExpressionPropertiesPanelComponents/IteratorVariableCell.tsx
  packages/dmn-editor/src/propertiesPanel/BoxedExpressionPropertiesPanelComponents/LiteralExpressionContentCell.tsx
  packages/dmn-editor/src/propertiesPanel/DecisionProperties.tsx
  packages/dmn-editor/src/propertiesPanel/Fields.tsx
  packages/dmn-editor/tests-e2e/__fixtures__/propertiesPanel/bee/bkmPropertiesPanel.ts
  packages/dmn-editor/tests-e2e/__fixtures__/propertiesPanel/bee/decisionPropertiesPanel.ts
  packages/dmn-editor/tests-e2e/__fixtures__/propertiesPanel/beePropertiesPanel.ts
  packages/dmn-editor/tests-e2e/__fixtures__/propertiesPanel/decisionPropertiesPanel.ts
  packages/dmn-editor/tests-e2e/__fixtures__/propertiesPanel/parts/allowedAnswersProperties.ts
  packages/dmn-editor/tests-e2e/__fixtures__/propertiesPanel/parts/questionProperties.ts
  packages/dmn-editor/tests-e2e/drgElements/changeBkmProperties.spec.ts
  packages/dmn-editor/tests-e2e/drgElements/changeDecisionProperties.spec.ts
Labels: area:dmn

#3036 kie-tools-issues#3034: [serverless-workflow-editor-standalone-on-webapp] Text editor syntax highlight is not loaded
  packages/serverless-workflow-standalone-editor/src/swf/resources/SwfTextEditorResources.ts
  packages/serverless-workflow-standalone-editor/webpack.editor-resources.config.js
Labels: area:sonataflow
