Repository apache/incubator-kie-tools, pull requests merged in 2025-02, with the labels that each got.

#2834 kie-issues#1466: A Decision Table with a single output column shouldn't have a name
  packages/boxed-expression-component/src/expressions/DecisionTableExpression/DecisionTableExpression.tsx
  packages/dmn-editor/src/boxedExpressions/getDefaultBoxedExpression.tsx
  packages/dmn-editor/src/propertiesPanel/BoxedExpressionPropertiesPanelComponents/DecisionTableOutputHeaderCell.tsx
  packages/dmn-editor/tests-e2e/checkDecisionTableCellsDataType.spec.ts
Labels: area:dmn

#2888 kie-issues#1581: New DMN Editor is getting crashed when working with Decision Table Annotation
  packages/boxed-expression-component/src/expressions/DecisionTableExpression/DecisionTableExpression.tsx
Labels: area:dmn

#2725 kie-issues#1526: [kn-plugin-workflow] kn-workflow-plugin should persist workflow in the docker image
  .rat-excludes
  packages/kn-plugin-workflow/pkg/command/quarkus/quarkus_project.go
  packages/kn-plugin-workflow/pkg/command/quarkus/quarkus_project_test.go
  packages/kn-plugin-workflow/pkg/command/quarkus/testdata/docker/Dockerfile.jvm
  packages/kn-plugin-workflow/pkg/command/quarkus/testdata/docker/Dockerfile.legacy-jar
  packages/kn-plugin-workflow/pkg/command/quarkus/testdata/docker/Dockerfile.native
  packages/kn-plugin-workflow/pkg/command/quarkus/testdata/docker/Dockerfile.native-micro
  packages/kn-plugin-workflow/pkg/command/quarkus/testdata/dockerignore
Labels: area:sonataflow

#2763 kie-tools#2630: Extend kn-workflow CLI to Generate K8s secrets for workflows
  packages/kn-plugin-workflow/pkg/command/deploy_undeploy_common.go
  packages/kn-plugin-workflow/pkg/metadata/constants.go
  packages/sonataflow-operator/workflowproj/go.mod
  packages/sonataflow-operator/workflowproj/go.sum
  packages/sonataflow-operator/workflowproj/operator.go
  packages/sonataflow-operator/workflowproj/testdata/workflows/secret.properties
  packages/sonataflow-operator/workflowproj/workflowproj.go
  packages/sonataflow-operator/workflowproj/workflowproj_test.go
Labels: area:sonataflow

#2878 NO-ISSUE: Add an extra check on CI for uncommitted files right after `bootstrap`
  .github/workflows/ci_build.yml
  packages/sonataflow-operator/hack/bump-version.sh
  packages/sonataflow-operator/package.json
Labels: area:monorepo, area:cicd

#2896 kie-tools-issues#2889: [Serverless Logic Web Tools] Data-index not responding in normal deployments
  packages/serverless-logic-web-tools/src/openshift/deploy/BaseContainerImages.ts
  packages/sonataflow-builder-image/resources/modules/sonataflow/builder/build-config/module.yaml
  packages/sonataflow-builder-image/test-resources/tests/features/sonataflow-builder.feature
Labels: area:sonataflow

#2898 kie-tools-issues#2897: [Serverless Logic Web Tools] remove addons-quarkus-jobs-knative-eventing from sonataflow-builder-image
  packages/sonataflow-builder-image/resources/modules/sonataflow/builder/build-config/module.yaml
Labels: area:sonataflow

#2892 NO-ISSUE: Update quarkus to 3.15.3 LTS and kogito to 999-20250128-SNAPSHOT
  .rat-excludes
  _intellij-project/.idea/misc.xml
  _intellij-project/.idea/modules.xml
  packages/jbpm-quarkus-devui/README.md
  packages/jbpm-quarkus-devui/dev/src/main/resources/application.properties
  packages/jbpm-quarkus-devui/jbpm-quarkus-devui-deployment/pom.xml
  packages/jbpm-quarkus-devui/jbpm-quarkus-devui-deployment/src/main/java/org/jbpm/quarkus/devui/deployment/DevConsoleProcessor.java
  packages/jbpm-quarkus-devui/jbpm-quarkus-devui-runtime/pom.xml
  packages/jbpm-quarkus-devui/jbpm-quarkus-devui-runtime/src/main/java/org/jbpm/quarkus/devui/runtime/config/DevConsoleRuntimeConfig.java
  packages/jbpm-quarkus-devui/jbpm-quarkus-devui-runtime/src/main/java/org/jbpm/quarkus/devui/runtime/config/DevUIStaticArtifactsRecorder.java
  packages/jbpm-quarkus-devui/jbpm-quarkus-devui-runtime/src/main/java/org/jbpm/quarkus/devui/runtime/config/UserConfig.java
  packages/kogito-db-migrator-tool/kogito-db-migrator-tool.iml
  packages/kogito-db-migrator-tool/src/test/java/org/kie/kogito/migrator/postgresql/MigrationServiceTest.java
  packages/kogito-jobs-service-allinone-image/test-resources/tests/features/kogito-jobs-service-all-in-one.feature
  packages/kogito-jobs-service-postgresql-image/test-resources/tests/features/kogito-jobs-service-postgresql.feature
  packages/maven-base/pom.xml
  packages/root-env/env/index.js
  packages/sonataflow-devmode-image/resources/modules/sonataflow/devmode/runtime/common/added/run-app-devmode.sh
  packages/sonataflow-devmode-image/test-resources/tests/features/sonataflow-devmode.feature
  packages/sonataflow-image-common/resources/modules/kogito-maven/common/configure
  packages/sonataflow-image-common/resources/modules/kogito-maven/common/module.yaml
  packages/sonataflow-image-common/resources/modules/sonataflow/common/build/added/cleanup_project.sh
  packages/sonataflow-image-common/resources/modules/sonataflow/common/scripts/added/build-app.sh
  packages/sonataflow-image-common/resources/modules/sonataflow/common/scripts/added/create-app.sh
  packages/sonataflow-image-common/resources/modules/sonataflow/common/scripts/added/quarkus-mvn-plugin.sh
  packages/sonataflow-image-common/resources/scripts/build-kogito-apps-components.sh
  packages/sonataflow-quarkus-devui/sonataflow-quarkus-devui-deployment/pom.xml
  packages/sonataflow-quarkus-devui/sonataflow-quarkus-devui-deployment/src/main/java/org/kie/sonataflow/swf/tools/deployment/DevConsoleProcessor.java
  packages/sonataflow-quarkus-devui/sonataflow-quarkus-devui/pom.xml
  packages/sonataflow-quarkus-devui/sonataflow-quarkus-devui/src/main/java/org/kie/sonataflow/swf/tools/runtime/config/DevUIStaticArtifactsRecorder.java
Labels: area:dependencies, area:monorepo

#2900 NO-ISSUE: Update to Node.js 22 on top-level `README.md`
  README.md
Labels: area:monorepo

#2826 kie-issues#1542: Implement ListField in the “form-code-generator-patternfly-theme” package
  .rat-excludes
  packages/form-code-generator-patternfly-theme/src/api/types.ts
  packages/form-code-generator-patternfly-theme/src/uniforms/AutoField.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/AutoForm.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/BoolField.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/CheckBoxGroupField.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/DateField.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/ListField.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/NestField.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/NumField.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/RadioField.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/SelectField.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/TextField.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/UnsupportedField.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/index.ts
  packages/form-code-generator-patternfly-theme/src/uniforms/rendering/ListItemField.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/rendering/NestedFieldInput.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/rendering/RenderingUtils.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/utils/Utils.tsx
  packages/form-code-generator-patternfly-theme/src/uniforms/utils/dataTypes.ts
  packages/form-code-generator-patternfly-theme/tests/AutoField.test.tsx
  packages/form-code-generator-patternfly-theme/tests/CheckBoxGroupField.test.tsx
  packages/form-code-generator-patternfly-theme/tests/ListField.test.tsx
  packages/form-code-generator-patternfly-theme/tests/NestField.test.tsx
  packages/form-code-generator-patternfly-theme/tests/__snapshots__/AutoForm.test.tsx.snap
  packages/form-code-generator-patternfly-theme/tests/__snapshots__/CheckBoxGroupField.test.tsx.snap
  packages/form-code-generator-patternfly-theme/tests/__snapshots__/ListField.test.tsx.snap
  packages/form-code-generator-patternfly-theme/tests/__snapshots__/NestField.test.tsx.snap
  packages/form-code-generator-patternfly-theme/tests/__snapshots__/SelectField.test.tsx.snap
  packages/runtime-tools-shared-enveloped-components/src/formDisplayer/envelope/components/ReactFormRenderer/ReactFormRenderer.tsx
  packages/runtime-tools-shared-enveloped-components/src/formDisplayer/utils/utils.tsx
Labels: area:bpmn

#2849 kie-issues#1741: Sandbox: Add “Open Boxed Expression Editor” button in the DMN Runner table output columns
  packages/boxed-expression-component/src/@types/react-table.ts
  packages/boxed-expression-component/src/resizing/WidthsToFitData.ts
  packages/boxed-expression-component/src/table/BeeTable/BeeTable.css
  packages/boxed-expression-component/src/table/BeeTable/BeeTableHeader.tsx
  packages/dmn-editor/src/boxedExpressions/BoxedExpressionScreen.tsx
  packages/dmn-editor/src/boxedExpressions/getDefaultColumnWidth.tsx
  packages/dmn-editor/src/diagram/Diagram.tsx
  packages/form-dmn/src/FormDmnOutputs.tsx
  packages/online-editor/src/dmnRunner/DmnRunnerContext.tsx
  packages/online-editor/src/dmnRunner/DmnRunnerContextProvider.tsx
  packages/online-editor/src/dmnRunner/DmnRunnerDrawerPanelContent.tsx
  packages/online-editor/src/dmnRunner/DmnRunnerTable.tsx
  packages/online-editor/src/editor/EditorPage.tsx
  packages/online-editor/src/editor/EditorPageDockContextProvider.tsx
  packages/unitables-dmn/src/DmnRunnerOutputsTable.tsx
Labels: area:dmn

#2903 NO-ISSUE: Bump jQuery and Bootstrap version
  packages/form-code-generator-bootstrap4-theme/src/theme.ts
  packages/jbpm-quarkus-devui/dev/src/main/resources/application.properties
  packages/jbpm-quarkus-devui/jbpm-quarkus-devui-runtime/src/test/resources/custom-forms-dev/hiring_HRInterview.config
  packages/jbpm-quarkus-devui/jbpm-quarkus-devui-runtime/src/test/resources/custom-forms-dev/hiring_ITInterview.config
  packages/runtime-tools-process-dev-ui-webapp/server/MockData/forms/examples/html_hiring_HRInterview.config
  packages/runtime-tools-process-dev-ui-webapp/server/MockData/forms/examples/html_hiring_ITInterview.config
  packages/sonataflow-dev-app/src/MockData/forms/examples/html_hiring_HRInterview.config
  packages/sonataflow-dev-app/src/MockData/forms/examples/html_hiring_ITInterview.config
Labels: area:dependencies

#2905 NO-ISSUE: Enable Maven's local repo tail mechanism for safer dependency relationship between Maven-based packages
  .github/actions/setup-env/action.yml
  .github/workflows/ci_build.yml
  packages/kie-sandbox-accelerator-quarkus/install.js
  packages/kie-sandbox-accelerator-quarkus/package.json
  pnpm-lock.yaml
Labels: area:monorepo

#2851 kie-issues#1635: DMN Editor can not reopen List expression
  packages/boxed-expression-component/src/expressions/ListExpression/ListExpression.tsx
  packages/boxed-expression-component/src/resizing/WidthMaths.ts
Labels: area:dmn

#2909 NO-ISSUE: update go from 1.22.9 to 1.22.12 to address recently CVEs
  .ci/incubator-kie-tools-ci-build.Dockerfile
  .github/actions/setup-env/action.yml
  README.md
  devbox.json
  devbox.lock
  packages/kn-plugin-workflow/README.md
  repo/build-dependencies-versions.json
Labels: area:dependencies, area:monorepo

#2915 NO-ISSUE: upgrade @patternfly/quickstarts to version 2.4.4 (fixes CVE-2024-1899)
  packages/serverless-logic-web-tools/package.json
  pnpm-lock.yaml
Labels: area:dependencies

#2922 kie-issues#1843: "Save" button on jBPM Quarkus Dev UI Form page does nothing
  packages/runtime-tools-shared-enveloped-components/src/formDetails/envelope/components/FormDetails/FormDetails.tsx
  packages/runtime-tools-shared-enveloped-components/src/formDetails/envelope/components/FormEditor/FormEditor.tsx
  packages/runtime-tools-shared-enveloped-components/src/formDetails/envelope/containers/FormDisplayerContainer/FormDisplayerContainer.tsx
Labels: area:bpmn

#2923 NO-ISSUE: Add missing Apache header to `process-business-calendar` example
  examples/process-business-calendar/README.md
Labels: area:examples

#2921 kie-issues#1842: DMN Editor does not distinguish original and copied data type
  packages/dmn-editor/src/dataTypes/DataTypes.tsx
Labels: area:dmn

#2929 NO-ISSUE: Remove unnecessary version on `quarkus-maven-plugin` from `process-security` example
  examples/process-security/kie-service-1/pom.xml
  examples/process-security/kie-service-2/pom.xml
  examples/process-security/kie-service-3/pom.xml
Labels: area:examples

#2930 NO-ISSUE: Upgrade Kogito version to 999-20250223-SNAPSHOT
  packages/maven-base/pom.xml
  packages/root-env/env/index.js
Labels: area:dependencies, area:monorepo

#2924 kie-issues#1844: Test Scenario Editor: Extend `@kie-tools/scesim-marshaller` test cases
  packages/scesim-marshaller/tests-data--manual/dmn/TrafficViolationTest.scesim
  packages/scesim-marshaller/tests-data--manual/dmn/collection.scesim
  packages/scesim-marshaller/tests-data--manual/dmn/expression.scesim
  packages/scesim-marshaller/tests-data--manual/dmn/imported.scesim
  packages/scesim-marshaller/tests-data--manual/dmn/simple.dmn
  packages/scesim-marshaller/tests-data--manual/dmn/simple.scesim
  packages/scesim-marshaller/tests-data--manual/dmn/simpleTypes.scesim
  packages/scesim-marshaller/tests-data--manual/dmn/undefined.scesim
  packages/scesim-marshaller/tests-data--manual/rule/OldEnoughTest.scesim
  packages/scesim-marshaller/tests/idempotency.test.ts
  packages/scesim-marshaller/tests/typeSafety.test.ts
  packages/scesim-marshaller/tests/versions.test.ts
Labels: area:dmn, area:scesim, area:tests

#2933 NO-ISSUE: Fix new process examples package.json and docs/images
  .rat-excludes
  examples/process-accelerator/package.json
  examples/process-business-calendar/package.json
  examples/process-compact-architecture/docs/images/g1_1_mc_list.png
  examples/process-compact-architecture/docs/images/g1_2_mc_details.png
  examples/process-compact-architecture/docs/images/g1_3_mc_details_executed_job.png
  examples/process-compact-architecture/docs/images/mc_connect.png
  examples/process-compact-architecture/docs/images/mc_connected.png
  examples/process-compact-architecture/docs/images/mc_welcome.png
  examples/process-compact-architecture/package.json
  examples/process-event-driven/package.json
  examples/process-user-tasks-subsystem/package.json
Labels: area:examples

#2928 kie-issues#2927: [sonataflow-operator] Update db migrator tool image name
  .ci/jenkins/Jenkinsfile.daily-dev-publish
  .ci/jenkins/release-jobs/Jenkinsfile.kogito-db-migrator-tool
  packages/kogito-db-migrator-tool-image/README.md
  packages/kogito-db-migrator-tool-image/env/index.js
  packages/kogito-db-migrator-tool-image/resources/kie-kogito-db-migrator-tool-image.yaml
  packages/sonataflow-image-common/resources/scripts/build-kogito-apps-components.sh
Labels: area:sonataflow

#2945 NO-ISSUE: revert kie tools issues#2889 kie tools issues#2897
  packages/serverless-logic-web-tools/src/openshift/deploy/BaseContainerImages.ts
  packages/sonataflow-builder-image/resources/modules/sonataflow/builder/build-config/module.yaml
  packages/sonataflow-builder-image/test-resources/tests/features/sonataflow-builder.feature
Labels: area:sonataflow

#2947 NO-ISSUE: Fix netty-related CVE. Unify versions to 4.1.118.Final
  packages/maven-base/pom.xml
Labels: area:dependencies, area:monorepo

#2920 kie-issues#204: Decision Tables input header cells on DMN Editor's Boxed Expression Editor should not have a "Name", but rather an "Expression"
  packages/boxed-expression-component/src/@types/react-table.ts
  packages/boxed-expression-component/src/expressionVariable/ExpressionVariableCell.tsx
  packages/boxed-expression-component/src/expressionVariable/ExpressionVariableMenu.tsx
  packages/boxed-expression-component/src/expressionVariable/FeelInputTextbox.css
  packages/boxed-expression-component/src/expressionVariable/FeelInputTextbox.tsx
  packages/boxed-expression-component/src/expressions/DecisionTableExpression/DecisionTableExpression.tsx
  packages/boxed-expression-component/src/i18n/BoxedExpressionEditorI18n.ts
  packages/boxed-expression-component/src/i18n/locales/de.ts
  packages/boxed-expression-component/src/i18n/locales/en.ts
  packages/boxed-expression-component/src/table/BeeTable/BeeTableThResizable.tsx
  packages/boxed-expression-component/tests-e2e/__fixtures__/monaco.ts
  packages/boxed-expression-component/tests-e2e/api/expressions/decisionTableExpressionElement.ts
  packages/boxed-expression-component/tests-e2e/api/nameAndDataTypeCell.ts
  packages/boxed-expression-component/tests-e2e/boxedExpressions/function/populate.spec.ts
  packages/boxed-expression-component/tests-e2e/features/resizing/resizing.spec.ts
  packages/dmn-feel-antlr4-parser/src/parser/IdentifiersRepository.ts
  packages/feel-input-component/package.json
  packages/feel-input-component/src/FeelConfigs.ts
  packages/pmml-editor/package.json
  packages/text-editor/package.json
  packages/text-editor/src/editor/TextEditor.tsx
  packages/text-editor/src/editor/monaco/MonacoEditor.tsx
  packages/text-editor/src/editor/monaco/MonacoEditorController.ts
  pnpm-lock.yaml
  repo/graph.dot
  repo/graph.json
Labels: area:dmn

#2949 NO-ISSUE: Fix TaskForm `transitions` API call when running the jBPM Dev UI in a different host/origin
  packages/jbpm-quarkus-devui/dev/src/main/resources/application.properties
  packages/jbpm-quarkus-devui/package.json
  packages/runtime-tools-process-dev-ui-webapp/src/components/contexts/TaskFormContextProvider.tsx
  packages/runtime-tools-process-webapp-components/src/TaskForms/TaskFormGatewayApi.ts
Labels: area:bpmn
