Repository apache/incubator-kie-tools, pull requests merged in 2025-09, with the labels that each got.

#3274 Review i18n for `form-dmn` package
  packages/form-dmn/src/FormDmnOutputs.tsx
  packages/form-dmn/src/i18n/FormDmnI18n.ts
  packages/form-dmn/src/i18n/locales/en.ts
  packages/form-dmn/src/uniforms/FormDmnNotSupportedField.tsx
Labels: area:dmn

#3220 kie-issues#1982: [kogito-jobs-service-images] Add Jobs Service UI to Images
  packages/kogito-jobs-service-webapp/env/index.js
  packages/kogito-jobs-service-webapp/package.json
  packages/kogito-jobs-service-webapp/src/index.html
  packages/kogito-jobs-service-webapp/src/styles.css
  packages/kogito-jobs-service-webapp/static/favicon.svg
  packages/kogito-jobs-service-webapp/webpack.config.js
  packages/sonataflow-image-common/package.json
  packages/sonataflow-image-common/resources/modules/kogito-jobs-service-common/configure
  packages/sonataflow-image-common/resources/modules/kogito-jobs-service-common/module.yaml
  pnpm-lock.yaml
  repo/graph.dot
  repo/graph.json
Labels: area:sonataflow

#3286 NO-ISSUE: Remove unexpected 'T' from Scenario Simulation cheatsheet
  packages/scesim-editor/src/drawer/TestScenarioDrawerCheatSheetPanel.tsx
Labels: area:scesim

#3282 kie-issues#2101 cors-proxy: Improve CORS handling by supporting origin configuration
  packages/cors-proxy/src/proxy/server.ts
Labels: area:core

#3284 kie-issues#2097: jbpm-quarkus-devui extension: Unable to save the form changes in source fields
  packages/runtime-tools-process-enveloped-components/src/formDetails/envelope/components/FormEditor/FormEditorController.tsx
Labels: area:bpmn, area:dmn

#3261 kie-issues#3241: Parameterize logo and links for DI and JS webapp
  package.json
  packages/kogito-data-index-webapp/README.md
  packages/kogito-data-index-webapp/env/index.js
  packages/kogito-data-index-webapp/package.json
  packages/kogito-data-index-webapp/src/index.html
  packages/kogito-data-index-webapp/webpack.config.js
  packages/kogito-jobs-service-webapp/README.md
  packages/kogito-jobs-service-webapp/env/index.js
  packages/kogito-jobs-service-webapp/package.json
  packages/kogito-jobs-service-webapp/src/index.html
  packages/kogito-jobs-service-webapp/webpack.config.js
  pnpm-lock.yaml
Labels: area:bpmn, area:sonataflow

#3255 kie-issues#3254: Add i18n for feel-input-component package
  packages/boxed-expression-component/src/expressionVariable/FeelInputTextbox.tsx
  packages/boxed-expression-component/src/table/BeeTable/BeeTableEditableCellContent.tsx
  packages/dmn-editor/src/dataTypes/ConstraintsExpression.tsx
  packages/feel-input-component/showcase/index.tsx
  packages/feel-input-component/src/FeelConfigs.ts
  packages/feel-input-component/src/FeelInput.tsx
  packages/feel-input-component/src/i18n/FeelInputComponentI18n.ts
  packages/feel-input-component/src/i18n/index.ts
  packages/feel-input-component/src/i18n/locales/en.ts
  packages/feel-input-component/src/i18n/locales/index.ts
  packages/feel-input-component/src/i18n/setup.ts
Labels: area:dmn, area:i18n
