Repository apache/incubator-kie-tools, pull requests merged in 2025-06, with the labels that each got.

#3172 [sonataflow-image-common] NO-ISSUE: Add env var to update Quarkus config.yaml on build:dev
  packages/sonataflow-image-common/env/index.js
  packages/sonataflow-image-common/package.json
  packages/sonataflow-image-common/resources/modules/sonataflow/common/quarkus/registry/.quarkus/config.yaml
  packages/sonataflow-image-common/resources/scripts/update_quarkus_config.py
Labels: area:sonataflow

#3169 [sonataflow-builder-image] Fix #3168 - Add ADDITIONAL_DEPENDENCIES var to have optional libs in m2
  packages/sonataflow-builder-image/resources/modules/sonataflow/builder/build-config/module.yaml
  packages/sonataflow-builder-image/resources/modules/sonataflow/builder/runtime/added/build-app.sh
  packages/sonataflow-builder-image/test-resources/tests/features/sonataflow-builder-2.feature
  packages/sonataflow-builder-image/test-resources/tests/features/sonataflow-builder-static-checks.feature
  packages/sonataflow-builder-image/test-resources/tests/features/sonataflow-builder.feature
  packages/sonataflow-image-common/resources/modules/sonataflow/common/build/added/cleanup_project.sh
  packages/sonataflow-image-common/resources/modules/sonataflow/common/build/added/create-app.sh
  packages/sonataflow-image-common/resources/modules/sonataflow/common/build/module.yaml
  packages/sonataflow-image-common/resources/modules/sonataflow/common/scripts/module.yaml
Labels: area:sonataflow

#3175 kie-issues#1999: DMN Editor: Boxed Contexts result row should not be part of xml when its expression is undefined
  packages/dmn-editor/src/boxedExpressions/getDefaultBoxedExpression.tsx
  packages/dmn-editor/tests-e2e/checkContextExpressionResultRowInitialValue.spec.ts
Labels: area:dmn

#3177 [NO-ISSUE] Skip `test-e2e` script on Chrome and VS Code extensions for Serverless Workflow due to flaky tests
  packages/chrome-extension-serverless-workflow-editor/package.json
  packages/serverless-workflow-vscode-extension/package.json
Labels: area:sonataflow, area:tests

#3185 kie-tools#3179: Re-enable Chrome Extensions tests for BPMN, DMN, and SWF extensions
  packages/chrome-extension-pack-kogito-kie-editors/package.json
  packages/chrome-extension-serverless-workflow-editor/package.json
  packages/chrome-extension-test-helper/src/utils/tools/Driver.ts
Labels: area:bpmn, area:dmn, area:sonataflow
