Repository apache/incubator-kie-tools, pull requests merged in 2025-08, with the labels that each got.

#3224 NO-ISSUE: Fix dev webapps for Management Console
  packages/maven-base/index.js
  packages/runtime-tools-management-console-webapp/dev-webapp/unsecured-runtime/pom.xml
  packages/runtime-tools-management-console-webapp/install.js
  packages/runtime-tools-management-console-webapp/package.json
  pnpm-lock.yaml
Labels: area:monorepo

#3219 NO-ISSUE: Bump `drools-and-kogito` to `999-20250813-local`
  packages/drools-and-kogito/env/index.js
  packages/maven-base/pom.xml
  packages/root-env/env/index.js
  packages/sonataflow-builder-image/test-resources/tests/features/sonataflow-builder.feature
  repo/KOGITO_UPGRADE_PROCESS.md
Labels: area:core, area:dependencies

#3242 kie-issues#1742: DMN Editor: Option to choose between FEEL and B-FEEL as expression language
  packages/dmn-editor/src/propertiesPanel/ExpressionLanguageSelect.tsx
  packages/dmn-editor/src/propertiesPanel/Fields.tsx
  packages/dmn-editor/src/propertiesPanel/GlobalDiagramProperties.tsx
  packages/dmn-marshaller/src/index.ts
Labels: area:dmn

#3226 kie-issues#3197: enable workflow viewer without requiring unsafe csp …
  packages/serverless-workflow-combined-editor/dev-webapp/webpack.config.js
  packages/serverless-workflow-combined-editor/package.json
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/pom.xml
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/StunnerLienzoCore.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/StyleInjector.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/java/org/kie/workbench/common/stunner/client/lienzo/resources/StunnerLienzoCoreResources.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/resources/org/kie/workbench/common/stunner/client/lienzo/resources/buildin/AlertsView.less
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/resources/org/kie/workbench/common/stunner/client/lienzo/resources/buildin/ErrorPage.css
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/resources/org/kie/workbench/common/stunner/client/lienzo/resources/buildin/InlineTextEditorBox.css
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/resources/org/kie/workbench/common/stunner/client/lienzo/resources/buildin/SessionPresenterView.less
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/resources/org/kie/workbench/common/stunner/client/lienzo/resources/buildin/ZoomLevelSelectorItem.css
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src/main/resources/org/kie/workbench/common/stunner/client/lienzo/resources/buildin/ZoomLevelSelectorView.css
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-widgets/src/main/java/org/kie/workbench/common/stunner/client/widgets/components/glyph/ImageStripDOMGlyphRenderer.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-widgets/src/main/java/org/kie/workbench/common/stunner/client/widgets/components/glyph/StyleInjector.java
  packages/serverless-workflow-diagram-editor/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-widgets/src/main/java/org/kie/workbench/common/stunner/client/widgets/inlineeditor/InlineTextEditorBoxViewImpl.java
  packages/serverless-workflow-diagram-editor/lienzo-core/src/main/java/com/ait/lienzo/client/core/image/JsImageBitmap.java
  packages/serverless-workflow-diagram-editor/pom.xml
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-client/src/test/java/org/kie/workbench/common/stunner/sw/client/shapes/StateShapeTest.java
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/pom.xml
  packages/serverless-workflow-diagram-editor/sw-editor/sw-editor-kogito-app/src/main/resources/org/kie/workbench/common/stunner/sw/resources/public/index.html
  packages/serverless-workflow-diagram-editor/third_party/gwtbootstrap3/extras/src/main/java/org/gwtbootstrap3/extras/animate/client/ui/Animate.java
  packages/serverless-workflow-diagram-editor/third_party/gwtbootstrap3/extras/src/main/java/org/gwtbootstrap3/extras/animate/client/ui/StyleInjector.java
  packages/serverless-workflow-diagram-editor/uberfire-extensions/uberfire-commons-editor/uberfire-commons-editor-client/src/main/java/org/uberfire/ext/editor/commons/client/file/exports/FileExportProducer.java
  packages/serverless-workflow-diagram-editor/uberfire-extensions/uberfire-commons-editor/uberfire-commons-editor-client/src/main/java/org/uberfire/ext/editor/commons/client/file/exports/FileExportResources.java
  packages/serverless-workflow-diagram-editor/uberfire-extensions/uberfire-commons-editor/uberfire-commons-editor-client/src/main/java/org/uberfire/ext/editor/commons/client/file/exports/jso/FileExportScriptInjector.java
  packages/serverless-workflow-diagram-editor/uberfire-extensions/uberfire-commons-editor/uberfire-commons-editor-client/src/test/java/org/uberfire/ext/editor/commons/client/file/exports/FileExportProducerTest.java
  packages/serverless-workflow-diagram-editor/uberfire-extensions/uberfire-commons-editor/uberfire-commons-editor-client/src/test/java/org/uberfire/ext/editor/commons/client/file/exports/jso/FileExportScriptInjectorTest.java
  packages/serverless-workflow-diagram-editor/uberfire-extensions/uberfire-commons-editor/uberfire-commons-editor-client/src/test/java/org/uberfire/ext/editor/commons/client/file/exports/jso/svg/C2SContext2DTest.java
  packages/serverless-workflow-diagram-editor/uberfire-workbench/uberfire-workbench-client/src/main/java/org/uberfire/client/workbench/StyleInjector.java
  packages/serverless-workflow-diagram-editor/uberfire-workbench/uberfire-workbench-client/src/main/java/org/uberfire/client/workbench/WorkbenchEntryPoint.java
  pnpm-lock.yaml
Labels: area:sonataflow

#3243 kie-issues#3238: Review i18n in scesim-editor package
  packages/scesim-editor/src/TestScenarioEditor.tsx
  packages/scesim-editor/src/TestScenarioEditorErrorFallback.tsx
  packages/scesim-editor/src/creation/TestScenarioCreationPanel.tsx
  packages/scesim-editor/src/i18n/TestScenarioEditorI18n.ts
  packages/scesim-editor/src/i18n/locales/en.ts
Labels: area:i18n, area:scesim

#3237 kie-issues#3236: Review i18n in editor package
  packages/editor/src/embedded/embedded/EmbeddedEditor.tsx
  packages/editor/src/envelope/i18n/EditorEnvelopeI18n.ts
  packages/editor/src/envelope/i18n/locales/de.ts
  packages/editor/src/envelope/i18n/locales/en.ts
  packages/online-editor/src/editor/EditorPage.tsx
  packages/online-editor/src/i18n/locales/de.ts
Labels: area:core, area:i18n
